<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<title><%- text %></title>
<style type="text/css" media="screen">
@font-face {
    font-family: 'KangxiDictU<%- unicode %>';
    src: url('../css/font/KangxiDictU<%- unicode %>.woff') format('woff'), url('../css/font/KangxiDictU<%- unicode %>.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
body { font-size: 100px; font-family: "KangxiDictU<%- unicode %>"; }
</style>
</head>
<body><%- text %></body>
</html>
