@font-face {
    font-family: 'KangxiDictU80FE';
    src: url('../../css/font/KangxiDictU80FE.woff') format('woff'), url('../../css/font/KangxiDictU80FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
