@font-face {
    font-family: 'KangxiDictU6243';
    src: url('../../css/font/KangxiDictU6243.woff') format('woff'), url('../../css/font/KangxiDictU6243.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
