@font-face {
    font-family: 'KangxiDictU9748';
    src: url('../../css/font/KangxiDictU9748.woff') format('woff'), url('../../css/font/KangxiDictU9748.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
