@font-face {
    font-family: 'KangxiDictU92F5';
    src: url('../../css/font/KangxiDictU92F5.woff') format('woff'), url('../../css/font/KangxiDictU92F5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
