@font-face {
    font-family: 'KangxiDictU6069';
    src: url('../../css/font/KangxiDictU6069.woff') format('woff'), url('../../css/font/KangxiDictU6069.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
