@font-face {
    font-family: 'KangxiDictU6C0C';
    src: url('../../css/font/KangxiDictU6C0C.woff') format('woff'), url('../../css/font/KangxiDictU6C0C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
