@font-face {
    font-family: 'KangxiDictU8183';
    src: url('../../css/font/KangxiDictU8183.woff') format('woff'), url('../../css/font/KangxiDictU8183.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
