@font-face {
    font-family: 'KangxiDictU7F39';
    src: url('../../css/font/KangxiDictU7F39.woff') format('woff'), url('../../css/font/KangxiDictU7F39.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
