@font-face {
    font-family: 'KangxiDictU7CDE';
    src: url('../../css/font/KangxiDictU7CDE.woff') format('woff'), url('../../css/font/KangxiDictU7CDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
