@font-face {
    font-family: 'KangxiDictU5759';
    src: url('../../css/font/KangxiDictU5759.woff') format('woff'), url('../../css/font/KangxiDictU5759.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
