@font-face {
    font-family: 'KangxiDictU7731';
    src: url('../../css/font/KangxiDictU7731.woff') format('woff'), url('../../css/font/KangxiDictU7731.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
