@font-face {
    font-family: 'KangxiDictU8565';
    src: url('../../css/font/KangxiDictU8565.woff') format('woff'), url('../../css/font/KangxiDictU8565.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
