@font-face {
    font-family: 'KangxiDictU4F35';
    src: url('../../css/font/KangxiDictU4F35.woff') format('woff'), url('../../css/font/KangxiDictU4F35.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
