@font-face {
    font-family: 'KangxiDictU9399';
    src: url('../../css/font/KangxiDictU9399.woff') format('woff'), url('../../css/font/KangxiDictU9399.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
