@font-face {
    font-family: 'KangxiDictU6CCA';
    src: url('../../css/font/KangxiDictU6CCA.woff') format('woff'), url('../../css/font/KangxiDictU6CCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
