@font-face {
    font-family: 'KangxiDictU58C9';
    src: url('../../css/font/KangxiDictU58C9.woff') format('woff'), url('../../css/font/KangxiDictU58C9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
