@font-face {
    font-family: 'KangxiDictU791F';
    src: url('../../css/font/KangxiDictU791F.woff') format('woff'), url('../../css/font/KangxiDictU791F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
