@font-face {
    font-family: 'KangxiDictU6B77';
    src: url('../../css/font/KangxiDictU6B77.woff') format('woff'), url('../../css/font/KangxiDictU6B77.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
