@font-face {
    font-family: 'KangxiDictU97AF';
    src: url('../../css/font/KangxiDictU97AF.woff') format('woff'), url('../../css/font/KangxiDictU97AF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
