@font-face {
    font-family: 'KangxiDictU828D';
    src: url('../../css/font/KangxiDictU828D.woff') format('woff'), url('../../css/font/KangxiDictU828D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
