@font-face {
    font-family: 'KangxiDictU8A91';
    src: url('../../css/font/KangxiDictU8A91.woff') format('woff'), url('../../css/font/KangxiDictU8A91.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
