@font-face {
    font-family: 'KangxiDictU8078';
    src: url('../../css/font/KangxiDictU8078.woff') format('woff'), url('../../css/font/KangxiDictU8078.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
