@font-face {
    font-family: 'KangxiDictU561F';
    src: url('../../css/font/KangxiDictU561F.woff') format('woff'), url('../../css/font/KangxiDictU561F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
