@font-face {
    font-family: 'KangxiDictU6C5F';
    src: url('../../css/font/KangxiDictU6C5F.woff') format('woff'), url('../../css/font/KangxiDictU6C5F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
