@font-face {
    font-family: 'KangxiDictU8419';
    src: url('../../css/font/KangxiDictU8419.woff') format('woff'), url('../../css/font/KangxiDictU8419.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
