@font-face {
    font-family: 'KangxiDictU6775';
    src: url('../../css/font/KangxiDictU6775.woff') format('woff'), url('../../css/font/KangxiDictU6775.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
