@font-face {
    font-family: 'KangxiDictU603B';
    src: url('../../css/font/KangxiDictU603B.woff') format('woff'), url('../../css/font/KangxiDictU603B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
