@font-face {
    font-family: 'KangxiDictUFAF3';
    src: url('../../css/font/KangxiDictUFAF3.woff') format('woff'), url('../../css/font/KangxiDictUFAF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
