@font-face {
    font-family: 'KangxiDictU915F';
    src: url('../../css/font/KangxiDictU915F.woff') format('woff'), url('../../css/font/KangxiDictU915F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
