@font-face {
    font-family: 'KangxiDictU5384';
    src: url('../../css/font/KangxiDictU5384.woff') format('woff'), url('../../css/font/KangxiDictU5384.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
