@font-face {
    font-family: 'KangxiDictU9729';
    src: url('../../css/font/KangxiDictU9729.woff') format('woff'), url('../../css/font/KangxiDictU9729.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
