@font-face {
    font-family: 'KangxiDictU6D42';
    src: url('../../css/font/KangxiDictU6D42.woff') format('woff'), url('../../css/font/KangxiDictU6D42.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
