@font-face {
    font-family: 'KangxiDictU9850';
    src: url('../../css/font/KangxiDictU9850.woff') format('woff'), url('../../css/font/KangxiDictU9850.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
