@font-face {
    font-family: 'KangxiDictU55EF';
    src: url('../../css/font/KangxiDictU55EF.woff') format('woff'), url('../../css/font/KangxiDictU55EF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
