@font-face {
    font-family: 'KangxiDictU7CE2';
    src: url('../../css/font/KangxiDictU7CE2.woff') format('woff'), url('../../css/font/KangxiDictU7CE2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
