@font-face {
    font-family: 'KangxiDictU9A6E';
    src: url('../../css/font/KangxiDictU9A6E.woff') format('woff'), url('../../css/font/KangxiDictU9A6E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
