@font-face {
    font-family: 'KangxiDictU9215';
    src: url('../../css/font/KangxiDictU9215.woff') format('woff'), url('../../css/font/KangxiDictU9215.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
