@font-face {
    font-family: 'KangxiDictU7BBD';
    src: url('../../css/font/KangxiDictU7BBD.woff') format('woff'), url('../../css/font/KangxiDictU7BBD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
