@font-face {
    font-family: 'KangxiDictU5264';
    src: url('../../css/font/KangxiDictU5264.woff') format('woff'), url('../../css/font/KangxiDictU5264.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
