@font-face {
    font-family: 'KangxiDictU9885';
    src: url('../../css/font/KangxiDictU9885.woff') format('woff'), url('../../css/font/KangxiDictU9885.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
