@font-face {
    font-family: 'KangxiDictU6632';
    src: url('../../css/font/KangxiDictU6632.woff') format('woff'), url('../../css/font/KangxiDictU6632.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
