@font-face {
    font-family: 'KangxiDictU8D9A';
    src: url('../../css/font/KangxiDictU8D9A.woff') format('woff'), url('../../css/font/KangxiDictU8D9A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
