@font-face {
    font-family: 'KangxiDictU5560';
    src: url('../../css/font/KangxiDictU5560.woff') format('woff'), url('../../css/font/KangxiDictU5560.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
