@font-face {
    font-family: 'KangxiDictU6119';
    src: url('../../css/font/KangxiDictU6119.woff') format('woff'), url('../../css/font/KangxiDictU6119.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
