@font-face {
    font-family: 'KangxiDictU8775';
    src: url('../../css/font/KangxiDictU8775.woff') format('woff'), url('../../css/font/KangxiDictU8775.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
