@font-face {
    font-family: 'KangxiDictU5DB6';
    src: url('../../css/font/KangxiDictU5DB6.woff') format('woff'), url('../../css/font/KangxiDictU5DB6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
