@font-face {
    font-family: 'KangxiDictU7773';
    src: url('../../css/font/KangxiDictU7773.woff') format('woff'), url('../../css/font/KangxiDictU7773.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
