@font-face {
    font-family: 'KangxiDictU6C08';
    src: url('../../css/font/KangxiDictU6C08.woff') format('woff'), url('../../css/font/KangxiDictU6C08.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
