@font-face {
    font-family: 'KangxiDictU5298';
    src: url('../../css/font/KangxiDictU5298.woff') format('woff'), url('../../css/font/KangxiDictU5298.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
