@font-face {
    font-family: 'KangxiDictU8892';
    src: url('../../css/font/KangxiDictU8892.woff') format('woff'), url('../../css/font/KangxiDictU8892.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
