@font-face {
    font-family: 'KangxiDictU814D';
    src: url('../../css/font/KangxiDictU814D.woff') format('woff'), url('../../css/font/KangxiDictU814D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
