@font-face {
    font-family: 'KangxiDictU6BBF';
    src: url('../../css/font/KangxiDictU6BBF.woff') format('woff'), url('../../css/font/KangxiDictU6BBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
