@font-face {
    font-family: 'KangxiDictU7963';
    src: url('../../css/font/KangxiDictU7963.woff') format('woff'), url('../../css/font/KangxiDictU7963.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
