@font-face {
    font-family: 'KangxiDictU8453';
    src: url('../../css/font/KangxiDictU8453.woff') format('woff'), url('../../css/font/KangxiDictU8453.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
