@font-face {
    font-family: 'KangxiDictU507B';
    src: url('../../css/font/KangxiDictU507B.woff') format('woff'), url('../../css/font/KangxiDictU507B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
