@font-face {
    font-family: 'KangxiDictU912C';
    src: url('../../css/font/KangxiDictU912C.woff') format('woff'), url('../../css/font/KangxiDictU912C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
