@font-face {
    font-family: 'KangxiDictU5980';
    src: url('../../css/font/KangxiDictU5980.woff') format('woff'), url('../../css/font/KangxiDictU5980.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
