@font-face {
    font-family: 'KangxiDictU8553';
    src: url('../../css/font/KangxiDictU8553.woff') format('woff'), url('../../css/font/KangxiDictU8553.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
