@font-face {
    font-family: 'KangxiDictU7951';
    src: url('../../css/font/KangxiDictU7951.woff') format('woff'), url('../../css/font/KangxiDictU7951.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
