@font-face {
    font-family: 'KangxiDictU5645';
    src: url('../../css/font/KangxiDictU5645.woff') format('woff'), url('../../css/font/KangxiDictU5645.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
