@font-face {
    font-family: 'KangxiDictU8591';
    src: url('../../css/font/KangxiDictU8591.woff') format('woff'), url('../../css/font/KangxiDictU8591.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
