@font-face {
    font-family: 'KangxiDictU7D84';
    src: url('../../css/font/KangxiDictU7D84.woff') format('woff'), url('../../css/font/KangxiDictU7D84.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
