@font-face {
    font-family: 'KangxiDictU7DEE';
    src: url('../../css/font/KangxiDictU7DEE.woff') format('woff'), url('../../css/font/KangxiDictU7DEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
