@font-face {
    font-family: 'KangxiDictU6BB0';
    src: url('../../css/font/KangxiDictU6BB0.woff') format('woff'), url('../../css/font/KangxiDictU6BB0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
