@font-face {
    font-family: 'KangxiDictU607A';
    src: url('../../css/font/KangxiDictU607A.woff') format('woff'), url('../../css/font/KangxiDictU607A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
