@font-face {
    font-family: 'KangxiDictU9048';
    src: url('../../css/font/KangxiDictU9048.woff') format('woff'), url('../../css/font/KangxiDictU9048.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
