@font-face {
    font-family: 'KangxiDictU9130';
    src: url('../../css/font/KangxiDictU9130.woff') format('woff'), url('../../css/font/KangxiDictU9130.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
