@font-face {
    font-family: 'KangxiDictU6514';
    src: url('../../css/font/KangxiDictU6514.woff') format('woff'), url('../../css/font/KangxiDictU6514.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
