@font-face {
    font-family: 'KangxiDictU7196';
    src: url('../../css/font/KangxiDictU7196.woff') format('woff'), url('../../css/font/KangxiDictU7196.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
