@font-face {
    font-family: 'KangxiDictU51BF';
    src: url('../../css/font/KangxiDictU51BF.woff') format('woff'), url('../../css/font/KangxiDictU51BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
