@font-face {
    font-family: 'KangxiDictU8437';
    src: url('../../css/font/KangxiDictU8437.woff') format('woff'), url('../../css/font/KangxiDictU8437.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
