@font-face {
    font-family: 'KangxiDictU7173';
    src: url('../../css/font/KangxiDictU7173.woff') format('woff'), url('../../css/font/KangxiDictU7173.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
