@font-face {
    font-family: 'KangxiDictU5296';
    src: url('../../css/font/KangxiDictU5296.woff') format('woff'), url('../../css/font/KangxiDictU5296.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
