@font-face {
    font-family: 'KangxiDictU6201';
    src: url('../../css/font/KangxiDictU6201.woff') format('woff'), url('../../css/font/KangxiDictU6201.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
