@font-face {
    font-family: 'KangxiDictU810C';
    src: url('../../css/font/KangxiDictU810C.woff') format('woff'), url('../../css/font/KangxiDictU810C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
