@font-face {
    font-family: 'KangxiDictU6865';
    src: url('../../css/font/KangxiDictU6865.woff') format('woff'), url('../../css/font/KangxiDictU6865.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
