@font-face {
    font-family: 'KangxiDictU9393';
    src: url('../../css/font/KangxiDictU9393.woff') format('woff'), url('../../css/font/KangxiDictU9393.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
