@font-face {
    font-family: 'KangxiDictU5700';
    src: url('../../css/font/KangxiDictU5700.woff') format('woff'), url('../../css/font/KangxiDictU5700.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
