@font-face {
    font-family: 'KangxiDictUF954';
    src: url('../../css/font/KangxiDictUF954.woff') format('woff'), url('../../css/font/KangxiDictUF954.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
