@font-face {
    font-family: 'KangxiDictU6533';
    src: url('../../css/font/KangxiDictU6533.woff') format('woff'), url('../../css/font/KangxiDictU6533.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
