@font-face {
    font-family: 'KangxiDictU8563';
    src: url('../../css/font/KangxiDictU8563.woff') format('woff'), url('../../css/font/KangxiDictU8563.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
