@font-face {
    font-family: 'KangxiDictU8461';
    src: url('../../css/font/KangxiDictU8461.woff') format('woff'), url('../../css/font/KangxiDictU8461.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
