@font-face {
    font-family: 'KangxiDictU575B';
    src: url('../../css/font/KangxiDictU575B.woff') format('woff'), url('../../css/font/KangxiDictU575B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
