@font-face {
    font-family: 'KangxiDictU7D76';
    src: url('../../css/font/KangxiDictU7D76.woff') format('woff'), url('../../css/font/KangxiDictU7D76.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
