@font-face {
    font-family: 'KangxiDictU6042';
    src: url('../../css/font/KangxiDictU6042.woff') format('woff'), url('../../css/font/KangxiDictU6042.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
