@font-face {
    font-family: 'KangxiDictU84F6';
    src: url('../../css/font/KangxiDictU84F6.woff') format('woff'), url('../../css/font/KangxiDictU84F6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
