@font-face {
    font-family: 'KangxiDictU5049';
    src: url('../../css/font/KangxiDictU5049.woff') format('woff'), url('../../css/font/KangxiDictU5049.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
