@font-face {
    font-family: 'KangxiDictU8AFB';
    src: url('../../css/font/KangxiDictU8AFB.woff') format('woff'), url('../../css/font/KangxiDictU8AFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
