@font-face {
    font-family: 'KangxiDictU6208';
    src: url('../../css/font/KangxiDictU6208.woff') format('woff'), url('../../css/font/KangxiDictU6208.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
