@font-face {
    font-family: 'KangxiDictU7741';
    src: url('../../css/font/KangxiDictU7741.woff') format('woff'), url('../../css/font/KangxiDictU7741.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
