@font-face {
    font-family: 'KangxiDictU9946';
    src: url('../../css/font/KangxiDictU9946.woff') format('woff'), url('../../css/font/KangxiDictU9946.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
