@font-face {
    font-family: 'KangxiDictU876C';
    src: url('../../css/font/KangxiDictU876C.woff') format('woff'), url('../../css/font/KangxiDictU876C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
