@font-face {
    font-family: 'KangxiDictU622C';
    src: url('../../css/font/KangxiDictU622C.woff') format('woff'), url('../../css/font/KangxiDictU622C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
