@font-face {
    font-family: 'KangxiDictU9833';
    src: url('../../css/font/KangxiDictU9833.woff') format('woff'), url('../../css/font/KangxiDictU9833.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
