@font-face {
    font-family: 'KangxiDictU95CC';
    src: url('../../css/font/KangxiDictU95CC.woff') format('woff'), url('../../css/font/KangxiDictU95CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
