@font-face {
    font-family: 'KangxiDictU6B30';
    src: url('../../css/font/KangxiDictU6B30.woff') format('woff'), url('../../css/font/KangxiDictU6B30.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
