@font-face {
    font-family: 'KangxiDictU5D2A';
    src: url('../../css/font/KangxiDictU5D2A.woff') format('woff'), url('../../css/font/KangxiDictU5D2A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
