@font-face {
    font-family: 'KangxiDictU6FA6';
    src: url('../../css/font/KangxiDictU6FA6.woff') format('woff'), url('../../css/font/KangxiDictU6FA6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
