@font-face {
    font-family: 'KangxiDictU5D87';
    src: url('../../css/font/KangxiDictU5D87.woff') format('woff'), url('../../css/font/KangxiDictU5D87.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
