@font-face {
    font-family: 'KangxiDictU7D81';
    src: url('../../css/font/KangxiDictU7D81.woff') format('woff'), url('../../css/font/KangxiDictU7D81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
