@font-face {
    font-family: 'KangxiDictU6738';
    src: url('../../css/font/KangxiDictU6738.woff') format('woff'), url('../../css/font/KangxiDictU6738.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
