@font-face {
    font-family: 'KangxiDictU7108';
    src: url('../../css/font/KangxiDictU7108.woff') format('woff'), url('../../css/font/KangxiDictU7108.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
