@font-face {
    font-family: 'KangxiDictU9404';
    src: url('../../css/font/KangxiDictU9404.woff') format('woff'), url('../../css/font/KangxiDictU9404.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
