@font-face {
    font-family: 'KangxiDictUF973';
    src: url('../../css/font/KangxiDictUF973.woff') format('woff'), url('../../css/font/KangxiDictUF973.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
