@font-face {
    font-family: 'KangxiDictU9962';
    src: url('../../css/font/KangxiDictU9962.woff') format('woff'), url('../../css/font/KangxiDictU9962.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
