@font-face {
    font-family: 'KangxiDictU5ABF';
    src: url('../../css/font/KangxiDictU5ABF.woff') format('woff'), url('../../css/font/KangxiDictU5ABF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
