@font-face {
    font-family: 'KangxiDictU9449';
    src: url('../../css/font/KangxiDictU9449.woff') format('woff'), url('../../css/font/KangxiDictU9449.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
