@font-face {
    font-family: 'KangxiDictU7DCD';
    src: url('../../css/font/KangxiDictU7DCD.woff') format('woff'), url('../../css/font/KangxiDictU7DCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
