@font-face {
    font-family: 'KangxiDictU7FCC';
    src: url('../../css/font/KangxiDictU7FCC.woff') format('woff'), url('../../css/font/KangxiDictU7FCC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
