@font-face {
    font-family: 'KangxiDictU5D48';
    src: url('../../css/font/KangxiDictU5D48.woff') format('woff'), url('../../css/font/KangxiDictU5D48.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
