@font-face {
    font-family: 'KangxiDictU5411';
    src: url('../../css/font/KangxiDictU5411.woff') format('woff'), url('../../css/font/KangxiDictU5411.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
