@font-face {
    font-family: 'KangxiDictU9387';
    src: url('../../css/font/KangxiDictU9387.woff') format('woff'), url('../../css/font/KangxiDictU9387.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
