@font-face {
    font-family: 'KangxiDictU621F';
    src: url('../../css/font/KangxiDictU621F.woff') format('woff'), url('../../css/font/KangxiDictU621F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
