@font-face {
    font-family: 'KangxiDictU4F9A';
    src: url('../../css/font/KangxiDictU4F9A.woff') format('woff'), url('../../css/font/KangxiDictU4F9A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
