@font-face {
    font-family: 'KangxiDictU7064';
    src: url('../../css/font/KangxiDictU7064.woff') format('woff'), url('../../css/font/KangxiDictU7064.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
