@font-face {
    font-family: 'KangxiDictU58AE';
    src: url('../../css/font/KangxiDictU58AE.woff') format('woff'), url('../../css/font/KangxiDictU58AE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
