@font-face {
    font-family: 'KangxiDictU9676';
    src: url('../../css/font/KangxiDictU9676.woff') format('woff'), url('../../css/font/KangxiDictU9676.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
