@font-face {
    font-family: 'KangxiDictU7521';
    src: url('../../css/font/KangxiDictU7521.woff') format('woff'), url('../../css/font/KangxiDictU7521.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
