@font-face {
    font-family: 'KangxiDictU7238';
    src: url('../../css/font/KangxiDictU7238.woff') format('woff'), url('../../css/font/KangxiDictU7238.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
