@font-face {
    font-family: 'KangxiDictU8528';
    src: url('../../css/font/KangxiDictU8528.woff') format('woff'), url('../../css/font/KangxiDictU8528.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
