@font-face {
    font-family: 'KangxiDictUF937';
    src: url('../../css/font/KangxiDictUF937.woff') format('woff'), url('../../css/font/KangxiDictUF937.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
