@font-face {
    font-family: 'KangxiDictU7FA9';
    src: url('../../css/font/KangxiDictU7FA9.woff') format('woff'), url('../../css/font/KangxiDictU7FA9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
