@font-face {
    font-family: 'KangxiDictU7485';
    src: url('../../css/font/KangxiDictU7485.woff') format('woff'), url('../../css/font/KangxiDictU7485.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
