@font-face {
    font-family: 'KangxiDictU72E0';
    src: url('../../css/font/KangxiDictU72E0.woff') format('woff'), url('../../css/font/KangxiDictU72E0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
