@font-face {
    font-family: 'KangxiDictU7854';
    src: url('../../css/font/KangxiDictU7854.woff') format('woff'), url('../../css/font/KangxiDictU7854.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
