@font-face {
    font-family: 'KangxiDictU6899';
    src: url('../../css/font/KangxiDictU6899.woff') format('woff'), url('../../css/font/KangxiDictU6899.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
