@font-face {
    font-family: 'KangxiDictU92E4';
    src: url('../../css/font/KangxiDictU92E4.woff') format('woff'), url('../../css/font/KangxiDictU92E4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
