@font-face {
    font-family: 'KangxiDictU6526';
    src: url('../../css/font/KangxiDictU6526.woff') format('woff'), url('../../css/font/KangxiDictU6526.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
