@font-face {
    font-family: 'KangxiDictU7703';
    src: url('../../css/font/KangxiDictU7703.woff') format('woff'), url('../../css/font/KangxiDictU7703.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
