@font-face {
    font-family: 'KangxiDictU8180';
    src: url('../../css/font/KangxiDictU8180.woff') format('woff'), url('../../css/font/KangxiDictU8180.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
