@font-face {
    font-family: 'KangxiDictU978D';
    src: url('../../css/font/KangxiDictU978D.woff') format('woff'), url('../../css/font/KangxiDictU978D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
