@font-face {
    font-family: 'KangxiDictU7164';
    src: url('../../css/font/KangxiDictU7164.woff') format('woff'), url('../../css/font/KangxiDictU7164.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
