@font-face {
    font-family: 'KangxiDictU7168';
    src: url('../../css/font/KangxiDictU7168.woff') format('woff'), url('../../css/font/KangxiDictU7168.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
