@font-face {
    font-family: 'KangxiDictU666C';
    src: url('../../css/font/KangxiDictU666C.woff') format('woff'), url('../../css/font/KangxiDictU666C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
