@font-face {
    font-family: 'KangxiDictU649B';
    src: url('../../css/font/KangxiDictU649B.woff') format('woff'), url('../../css/font/KangxiDictU649B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
