@font-face {
    font-family: 'KangxiDictU9578';
    src: url('../../css/font/KangxiDictU9578.woff') format('woff'), url('../../css/font/KangxiDictU9578.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
