@font-face {
    font-family: 'KangxiDictU8754';
    src: url('../../css/font/KangxiDictU8754.woff') format('woff'), url('../../css/font/KangxiDictU8754.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
