@font-face {
    font-family: 'KangxiDictU8DAD';
    src: url('../../css/font/KangxiDictU8DAD.woff') format('woff'), url('../../css/font/KangxiDictU8DAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
