@font-face {
    font-family: 'KangxiDictU4FF0';
    src: url('../../css/font/KangxiDictU4FF0.woff') format('woff'), url('../../css/font/KangxiDictU4FF0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
