@font-face {
    font-family: 'KangxiDictU5781';
    src: url('../../css/font/KangxiDictU5781.woff') format('woff'), url('../../css/font/KangxiDictU5781.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
