@font-face {
    font-family: 'KangxiDictU9724';
    src: url('../../css/font/KangxiDictU9724.woff') format('woff'), url('../../css/font/KangxiDictU9724.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
