@font-face {
    font-family: 'KangxiDictU7126';
    src: url('../../css/font/KangxiDictU7126.woff') format('woff'), url('../../css/font/KangxiDictU7126.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
