@font-face {
    font-family: 'KangxiDictU9687';
    src: url('../../css/font/KangxiDictU9687.woff') format('woff'), url('../../css/font/KangxiDictU9687.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
