@font-face {
    font-family: 'KangxiDictU86AB';
    src: url('../../css/font/KangxiDictU86AB.woff') format('woff'), url('../../css/font/KangxiDictU86AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
