@font-face {
    font-family: 'KangxiDictU788B';
    src: url('../../css/font/KangxiDictU788B.woff') format('woff'), url('../../css/font/KangxiDictU788B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
