@font-face {
    font-family: 'KangxiDictU7679';
    src: url('../../css/font/KangxiDictU7679.woff') format('woff'), url('../../css/font/KangxiDictU7679.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
