@font-face {
    font-family: 'KangxiDictU76FD';
    src: url('../../css/font/KangxiDictU76FD.woff') format('woff'), url('../../css/font/KangxiDictU76FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
