@font-face {
    font-family: 'KangxiDictU8E36';
    src: url('../../css/font/KangxiDictU8E36.woff') format('woff'), url('../../css/font/KangxiDictU8E36.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
