@font-face {
    font-family: 'KangxiDictU9730';
    src: url('../../css/font/KangxiDictU9730.woff') format('woff'), url('../../css/font/KangxiDictU9730.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
