@font-face {
    font-family: 'KangxiDictU6611';
    src: url('../../css/font/KangxiDictU6611.woff') format('woff'), url('../../css/font/KangxiDictU6611.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
