@font-face {
    font-family: 'KangxiDictUF9DE';
    src: url('../../css/font/KangxiDictUF9DE.woff') format('woff'), url('../../css/font/KangxiDictUF9DE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
