@font-face {
    font-family: 'KangxiDictU8649';
    src: url('../../css/font/KangxiDictU8649.woff') format('woff'), url('../../css/font/KangxiDictU8649.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
