@font-face {
    font-family: 'KangxiDictU8A1F';
    src: url('../../css/font/KangxiDictU8A1F.woff') format('woff'), url('../../css/font/KangxiDictU8A1F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
