@font-face {
    font-family: 'KangxiDictU8F31';
    src: url('../../css/font/KangxiDictU8F31.woff') format('woff'), url('../../css/font/KangxiDictU8F31.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
