@font-face {
    font-family: 'KangxiDictU8983';
    src: url('../../css/font/KangxiDictU8983.woff') format('woff'), url('../../css/font/KangxiDictU8983.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
