@font-face {
    font-family: 'KangxiDictU6422';
    src: url('../../css/font/KangxiDictU6422.woff') format('woff'), url('../../css/font/KangxiDictU6422.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
