@font-face {
    font-family: 'KangxiDictU7C31';
    src: url('../../css/font/KangxiDictU7C31.woff') format('woff'), url('../../css/font/KangxiDictU7C31.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
