@font-face {
    font-family: 'KangxiDictU8435';
    src: url('../../css/font/KangxiDictU8435.woff') format('woff'), url('../../css/font/KangxiDictU8435.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
