@font-face {
    font-family: 'KangxiDictU8B45';
    src: url('../../css/font/KangxiDictU8B45.woff') format('woff'), url('../../css/font/KangxiDictU8B45.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
