@font-face {
    font-family: 'KangxiDictU866A';
    src: url('../../css/font/KangxiDictU866A.woff') format('woff'), url('../../css/font/KangxiDictU866A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
