@font-face {
    font-family: 'KangxiDictUFAED';
    src: url('../../css/font/KangxiDictUFAED.woff') format('woff'), url('../../css/font/KangxiDictUFAED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
