@font-face {
    font-family: 'KangxiDictU7AAF';
    src: url('../../css/font/KangxiDictU7AAF.woff') format('woff'), url('../../css/font/KangxiDictU7AAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
