@font-face {
    font-family: 'KangxiDictU5F06';
    src: url('../../css/font/KangxiDictU5F06.woff') format('woff'), url('../../css/font/KangxiDictU5F06.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
