@font-face {
    font-family: 'KangxiDictU5EDC';
    src: url('../../css/font/KangxiDictU5EDC.woff') format('woff'), url('../../css/font/KangxiDictU5EDC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
