@font-face {
    font-family: 'KangxiDictU64AD';
    src: url('../../css/font/KangxiDictU64AD.woff') format('woff'), url('../../css/font/KangxiDictU64AD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
