@font-face {
    font-family: 'KangxiDictU7BCC';
    src: url('../../css/font/KangxiDictU7BCC.woff') format('woff'), url('../../css/font/KangxiDictU7BCC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
