@font-face {
    font-family: 'KangxiDictUF9E2';
    src: url('../../css/font/KangxiDictUF9E2.woff') format('woff'), url('../../css/font/KangxiDictUF9E2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
