@font-face {
    font-family: 'KangxiDictU5A26';
    src: url('../../css/font/KangxiDictU5A26.woff') format('woff'), url('../../css/font/KangxiDictU5A26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
