@font-face {
    font-family: 'KangxiDictU7758';
    src: url('../../css/font/KangxiDictU7758.woff') format('woff'), url('../../css/font/KangxiDictU7758.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
