@font-face {
    font-family: 'KangxiDictU75CC';
    src: url('../../css/font/KangxiDictU75CC.woff') format('woff'), url('../../css/font/KangxiDictU75CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
