@font-face {
    font-family: 'KangxiDictU578D';
    src: url('../../css/font/KangxiDictU578D.woff') format('woff'), url('../../css/font/KangxiDictU578D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
