@font-face {
    font-family: 'KangxiDictU8972';
    src: url('../../css/font/KangxiDictU8972.woff') format('woff'), url('../../css/font/KangxiDictU8972.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
