@font-face {
    font-family: 'KangxiDictU5774';
    src: url('../../css/font/KangxiDictU5774.woff') format('woff'), url('../../css/font/KangxiDictU5774.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
