@font-face {
    font-family: 'KangxiDictU8537';
    src: url('../../css/font/KangxiDictU8537.woff') format('woff'), url('../../css/font/KangxiDictU8537.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
