@font-face {
    font-family: 'KangxiDictU7C37';
    src: url('../../css/font/KangxiDictU7C37.woff') format('woff'), url('../../css/font/KangxiDictU7C37.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
