@font-face {
    font-family: 'KangxiDictU91A5';
    src: url('../../css/font/KangxiDictU91A5.woff') format('woff'), url('../../css/font/KangxiDictU91A5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
