@font-face {
    font-family: 'KangxiDictU874C';
    src: url('../../css/font/KangxiDictU874C.woff') format('woff'), url('../../css/font/KangxiDictU874C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
