@font-face {
    font-family: 'KangxiDictU6008';
    src: url('../../css/font/KangxiDictU6008.woff') format('woff'), url('../../css/font/KangxiDictU6008.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
