@font-face {
    font-family: 'KangxiDictU56E4';
    src: url('../../css/font/KangxiDictU56E4.woff') format('woff'), url('../../css/font/KangxiDictU56E4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
