@font-face {
    font-family: 'KangxiDictU65CE';
    src: url('../../css/font/KangxiDictU65CE.woff') format('woff'), url('../../css/font/KangxiDictU65CE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
