@font-face {
    font-family: 'KangxiDictU8568';
    src: url('../../css/font/KangxiDictU8568.woff') format('woff'), url('../../css/font/KangxiDictU8568.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
