@font-face {
    font-family: 'KangxiDictU52C9';
    src: url('../../css/font/KangxiDictU52C9.woff') format('woff'), url('../../css/font/KangxiDictU52C9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
