@font-face {
    font-family: 'KangxiDictU5275';
    src: url('../../css/font/KangxiDictU5275.woff') format('woff'), url('../../css/font/KangxiDictU5275.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
