@font-face {
    font-family: 'KangxiDictU7A1E';
    src: url('../../css/font/KangxiDictU7A1E.woff') format('woff'), url('../../css/font/KangxiDictU7A1E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
