@font-face {
    font-family: 'KangxiDictU5678';
    src: url('../../css/font/KangxiDictU5678.woff') format('woff'), url('../../css/font/KangxiDictU5678.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
