@font-face {
    font-family: 'KangxiDictU876F';
    src: url('../../css/font/KangxiDictU876F.woff') format('woff'), url('../../css/font/KangxiDictU876F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
