@font-face {
    font-family: 'KangxiDictU549E';
    src: url('../../css/font/KangxiDictU549E.woff') format('woff'), url('../../css/font/KangxiDictU549E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
