@font-face {
    font-family: 'KangxiDictU644F';
    src: url('../../css/font/KangxiDictU644F.woff') format('woff'), url('../../css/font/KangxiDictU644F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
