@font-face {
    font-family: 'KangxiDictU65CB';
    src: url('../../css/font/KangxiDictU65CB.woff') format('woff'), url('../../css/font/KangxiDictU65CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
