@font-face {
    font-family: 'KangxiDictU51A3';
    src: url('../../css/font/KangxiDictU51A3.woff') format('woff'), url('../../css/font/KangxiDictU51A3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
