@font-face {
    font-family: 'KangxiDictU813F';
    src: url('../../css/font/KangxiDictU813F.woff') format('woff'), url('../../css/font/KangxiDictU813F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
