@font-face {
    font-family: 'KangxiDictU7EA9';
    src: url('../../css/font/KangxiDictU7EA9.woff') format('woff'), url('../../css/font/KangxiDictU7EA9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
