@font-face {
    font-family: 'KangxiDictU9458';
    src: url('../../css/font/KangxiDictU9458.woff') format('woff'), url('../../css/font/KangxiDictU9458.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
