@font-face {
    font-family: 'KangxiDictU65D2';
    src: url('../../css/font/KangxiDictU65D2.woff') format('woff'), url('../../css/font/KangxiDictU65D2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
