@font-face {
    font-family: 'KangxiDictU8872';
    src: url('../../css/font/KangxiDictU8872.woff') format('woff'), url('../../css/font/KangxiDictU8872.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
