@font-face {
    font-family: 'KangxiDictU5B26';
    src: url('../../css/font/KangxiDictU5B26.woff') format('woff'), url('../../css/font/KangxiDictU5B26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
