@font-face {
    font-family: 'KangxiDictU91B7';
    src: url('../../css/font/KangxiDictU91B7.woff') format('woff'), url('../../css/font/KangxiDictU91B7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
