@font-face {
    font-family: 'KangxiDictU5169';
    src: url('../../css/font/KangxiDictU5169.woff') format('woff'), url('../../css/font/KangxiDictU5169.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
