@font-face {
    font-family: 'KangxiDictU55AD';
    src: url('../../css/font/KangxiDictU55AD.woff') format('woff'), url('../../css/font/KangxiDictU55AD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
