@font-face {
    font-family: 'KangxiDictU6317';
    src: url('../../css/font/KangxiDictU6317.woff') format('woff'), url('../../css/font/KangxiDictU6317.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
