@font-face {
    font-family: 'KangxiDictU8D01';
    src: url('../../css/font/KangxiDictU8D01.woff') format('woff'), url('../../css/font/KangxiDictU8D01.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
