@font-face {
    font-family: 'KangxiDictU4F4C';
    src: url('../../css/font/KangxiDictU4F4C.woff') format('woff'), url('../../css/font/KangxiDictU4F4C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
