@font-face {
    font-family: 'KangxiDictU9AF7';
    src: url('../../css/font/KangxiDictU9AF7.woff') format('woff'), url('../../css/font/KangxiDictU9AF7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
