@font-face {
    font-family: 'KangxiDictU5322';
    src: url('../../css/font/KangxiDictU5322.woff') format('woff'), url('../../css/font/KangxiDictU5322.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
