@font-face {
    font-family: 'KangxiDictU7129';
    src: url('../../css/font/KangxiDictU7129.woff') format('woff'), url('../../css/font/KangxiDictU7129.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
