@font-face {
    font-family: 'KangxiDictU5494';
    src: url('../../css/font/KangxiDictU5494.woff') format('woff'), url('../../css/font/KangxiDictU5494.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
