@font-face {
    font-family: 'KangxiDictUF988';
    src: url('../../css/font/KangxiDictUF988.woff') format('woff'), url('../../css/font/KangxiDictUF988.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
