@font-face {
    font-family: 'KangxiDictU7A86';
    src: url('../../css/font/KangxiDictU7A86.woff') format('woff'), url('../../css/font/KangxiDictU7A86.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
