@font-face {
    font-family: 'KangxiDictUFA09';
    src: url('../../css/font/KangxiDictUFA09.woff') format('woff'), url('../../css/font/KangxiDictUFA09.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
