@font-face {
    font-family: 'KangxiDictU4F71';
    src: url('../../css/font/KangxiDictU4F71.woff') format('woff'), url('../../css/font/KangxiDictU4F71.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
