@font-face {
    font-family: 'KangxiDictU8102';
    src: url('../../css/font/KangxiDictU8102.woff') format('woff'), url('../../css/font/KangxiDictU8102.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
