@font-face {
    font-family: 'KangxiDictU91ED';
    src: url('../../css/font/KangxiDictU91ED.woff') format('woff'), url('../../css/font/KangxiDictU91ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
