@font-face {
    font-family: 'KangxiDictU7699';
    src: url('../../css/font/KangxiDictU7699.woff') format('woff'), url('../../css/font/KangxiDictU7699.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
