@font-face {
    font-family: 'KangxiDictU7FCD';
    src: url('../../css/font/KangxiDictU7FCD.woff') format('woff'), url('../../css/font/KangxiDictU7FCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
