@font-face {
    font-family: 'KangxiDictU7265';
    src: url('../../css/font/KangxiDictU7265.woff') format('woff'), url('../../css/font/KangxiDictU7265.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
