@font-face {
    font-family: 'KangxiDictU5878';
    src: url('../../css/font/KangxiDictU5878.woff') format('woff'), url('../../css/font/KangxiDictU5878.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
