@font-face {
    font-family: 'KangxiDictU9CE8';
    src: url('../../css/font/KangxiDictU9CE8.woff') format('woff'), url('../../css/font/KangxiDictU9CE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
