@font-face {
    font-family: 'KangxiDictU8E4B';
    src: url('../../css/font/KangxiDictU8E4B.woff') format('woff'), url('../../css/font/KangxiDictU8E4B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
