@font-face {
    font-family: 'KangxiDictU6BEB';
    src: url('../../css/font/KangxiDictU6BEB.woff') format('woff'), url('../../css/font/KangxiDictU6BEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
