@font-face {
    font-family: 'KangxiDictU511F';
    src: url('../../css/font/KangxiDictU511F.woff') format('woff'), url('../../css/font/KangxiDictU511F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
