@font-face {
    font-family: 'KangxiDictU6729';
    src: url('../../css/font/KangxiDictU6729.woff') format('woff'), url('../../css/font/KangxiDictU6729.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
