@font-face {
    font-family: 'KangxiDictU6137';
    src: url('../../css/font/KangxiDictU6137.woff') format('woff'), url('../../css/font/KangxiDictU6137.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
