@font-face {
    font-family: 'KangxiDictU8001';
    src: url('../../css/font/KangxiDictU8001.woff') format('woff'), url('../../css/font/KangxiDictU8001.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
