@font-face {
    font-family: 'KangxiDictU9473';
    src: url('../../css/font/KangxiDictU9473.woff') format('woff'), url('../../css/font/KangxiDictU9473.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
