@font-face {
    font-family: 'KangxiDictU6361';
    src: url('../../css/font/KangxiDictU6361.woff') format('woff'), url('../../css/font/KangxiDictU6361.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
