@font-face {
    font-family: 'KangxiDictU565A';
    src: url('../../css/font/KangxiDictU565A.woff') format('woff'), url('../../css/font/KangxiDictU565A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
