@font-face {
    font-family: 'KangxiDictU5CEB';
    src: url('../../css/font/KangxiDictU5CEB.woff') format('woff'), url('../../css/font/KangxiDictU5CEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
