@font-face {
    font-family: 'KangxiDictU7CFF';
    src: url('../../css/font/KangxiDictU7CFF.woff') format('woff'), url('../../css/font/KangxiDictU7CFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
