@font-face {
    font-family: 'KangxiDictU9B59';
    src: url('../../css/font/KangxiDictU9B59.woff') format('woff'), url('../../css/font/KangxiDictU9B59.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
