@font-face {
    font-family: 'KangxiDictU8598';
    src: url('../../css/font/KangxiDictU8598.woff') format('woff'), url('../../css/font/KangxiDictU8598.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
