@font-face {
    font-family: 'KangxiDictUFA36';
    src: url('../../css/font/KangxiDictUFA36.woff') format('woff'), url('../../css/font/KangxiDictUFA36.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
