@font-face {
    font-family: 'KangxiDictU8611';
    src: url('../../css/font/KangxiDictU8611.woff') format('woff'), url('../../css/font/KangxiDictU8611.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
