@font-face {
    font-family: 'KangxiDictUF982';
    src: url('../../css/font/KangxiDictUF982.woff') format('woff'), url('../../css/font/KangxiDictUF982.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
