@font-face {
    font-family: 'KangxiDictU59C9';
    src: url('../../css/font/KangxiDictU59C9.woff') format('woff'), url('../../css/font/KangxiDictU59C9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
