@font-face {
    font-family: 'KangxiDictU6713';
    src: url('../../css/font/KangxiDictU6713.woff') format('woff'), url('../../css/font/KangxiDictU6713.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
