@font-face {
    font-family: 'KangxiDictUF97D';
    src: url('../../css/font/KangxiDictUF97D.woff') format('woff'), url('../../css/font/KangxiDictUF97D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
