@font-face {
    font-family: 'KangxiDictU9923';
    src: url('../../css/font/KangxiDictU9923.woff') format('woff'), url('../../css/font/KangxiDictU9923.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
