@font-face {
    font-family: 'KangxiDictU5933';
    src: url('../../css/font/KangxiDictU5933.woff') format('woff'), url('../../css/font/KangxiDictU5933.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
