@font-face {
    font-family: 'KangxiDictU6D65';
    src: url('../../css/font/KangxiDictU6D65.woff') format('woff'), url('../../css/font/KangxiDictU6D65.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
