@font-face {
    font-family: 'KangxiDictU703D';
    src: url('../../css/font/KangxiDictU703D.woff') format('woff'), url('../../css/font/KangxiDictU703D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
