@font-face {
    font-family: 'KangxiDictU855C';
    src: url('../../css/font/KangxiDictU855C.woff') format('woff'), url('../../css/font/KangxiDictU855C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
