@font-face {
    font-family: 'KangxiDictUF975';
    src: url('../../css/font/KangxiDictUF975.woff') format('woff'), url('../../css/font/KangxiDictUF975.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
