@font-face {
    font-family: 'KangxiDictU7127';
    src: url('../../css/font/KangxiDictU7127.woff') format('woff'), url('../../css/font/KangxiDictU7127.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
