@font-face {
    font-family: 'KangxiDictU78E0';
    src: url('../../css/font/KangxiDictU78E0.woff') format('woff'), url('../../css/font/KangxiDictU78E0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
