@font-face {
    font-family: 'KangxiDictU8424';
    src: url('../../css/font/KangxiDictU8424.woff') format('woff'), url('../../css/font/KangxiDictU8424.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
