@font-face {
    font-family: 'KangxiDictU9536';
    src: url('../../css/font/KangxiDictU9536.woff') format('woff'), url('../../css/font/KangxiDictU9536.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
