@font-face {
    font-family: 'KangxiDictU5099';
    src: url('../../css/font/KangxiDictU5099.woff') format('woff'), url('../../css/font/KangxiDictU5099.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
