@font-face {
    font-family: 'KangxiDictU8662';
    src: url('../../css/font/KangxiDictU8662.woff') format('woff'), url('../../css/font/KangxiDictU8662.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
