@font-face {
    font-family: 'KangxiDictU5CB1';
    src: url('../../css/font/KangxiDictU5CB1.woff') format('woff'), url('../../css/font/KangxiDictU5CB1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
