@font-face {
    font-family: 'KangxiDictU7746';
    src: url('../../css/font/KangxiDictU7746.woff') format('woff'), url('../../css/font/KangxiDictU7746.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
