@font-face {
    font-family: 'KangxiDictU72B5';
    src: url('../../css/font/KangxiDictU72B5.woff') format('woff'), url('../../css/font/KangxiDictU72B5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
