@font-face {
    font-family: 'KangxiDictU9191';
    src: url('../../css/font/KangxiDictU9191.woff') format('woff'), url('../../css/font/KangxiDictU9191.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
