@font-face {
    font-family: 'KangxiDictU5003';
    src: url('../../css/font/KangxiDictU5003.woff') format('woff'), url('../../css/font/KangxiDictU5003.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
