@font-face {
    font-family: 'KangxiDictU9961';
    src: url('../../css/font/KangxiDictU9961.woff') format('woff'), url('../../css/font/KangxiDictU9961.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
