@font-face {
    font-family: 'KangxiDictU65E5';
    src: url('../../css/font/KangxiDictU65E5.woff') format('woff'), url('../../css/font/KangxiDictU65E5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
