@font-face {
    font-family: 'KangxiDictUF9BC';
    src: url('../../css/font/KangxiDictUF9BC.woff') format('woff'), url('../../css/font/KangxiDictUF9BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
