@font-face {
    font-family: 'KangxiDictU676D';
    src: url('../../css/font/KangxiDictU676D.woff') format('woff'), url('../../css/font/KangxiDictU676D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
