@font-face {
    font-family: 'KangxiDictU5615';
    src: url('../../css/font/KangxiDictU5615.woff') format('woff'), url('../../css/font/KangxiDictU5615.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
