@font-face {
    font-family: 'KangxiDictU5FF3';
    src: url('../../css/font/KangxiDictU5FF3.woff') format('woff'), url('../../css/font/KangxiDictU5FF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
