@font-face {
    font-family: 'KangxiDictU620C';
    src: url('../../css/font/KangxiDictU620C.woff') format('woff'), url('../../css/font/KangxiDictU620C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
