@font-face {
    font-family: 'KangxiDictU85CB';
    src: url('../../css/font/KangxiDictU85CB.woff') format('woff'), url('../../css/font/KangxiDictU85CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
