@font-face {
    font-family: 'KangxiDictU9749';
    src: url('../../css/font/KangxiDictU9749.woff') format('woff'), url('../../css/font/KangxiDictU9749.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
