@font-face {
    font-family: 'KangxiDictU8658';
    src: url('../../css/font/KangxiDictU8658.woff') format('woff'), url('../../css/font/KangxiDictU8658.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
