@font-face {
    font-family: 'KangxiDictU7342';
    src: url('../../css/font/KangxiDictU7342.woff') format('woff'), url('../../css/font/KangxiDictU7342.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
