@font-face {
    font-family: 'KangxiDictU5551';
    src: url('../../css/font/KangxiDictU5551.woff') format('woff'), url('../../css/font/KangxiDictU5551.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
