@font-face {
    font-family: 'KangxiDictU5F5B';
    src: url('../../css/font/KangxiDictU5F5B.woff') format('woff'), url('../../css/font/KangxiDictU5F5B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
