@font-face {
    font-family: 'KangxiDictU9F94';
    src: url('../../css/font/KangxiDictU9F94.woff') format('woff'), url('../../css/font/KangxiDictU9F94.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
