@font-face {
    font-family: 'KangxiDictU6FDD';
    src: url('../../css/font/KangxiDictU6FDD.woff') format('woff'), url('../../css/font/KangxiDictU6FDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
