@font-face {
    font-family: 'KangxiDictU8111';
    src: url('../../css/font/KangxiDictU8111.woff') format('woff'), url('../../css/font/KangxiDictU8111.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
