@font-face {
    font-family: 'KangxiDictUF923';
    src: url('../../css/font/KangxiDictUF923.woff') format('woff'), url('../../css/font/KangxiDictUF923.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
