@font-face {
    font-family: 'KangxiDictUFAB8';
    src: url('../../css/font/KangxiDictUFAB8.woff') format('woff'), url('../../css/font/KangxiDictUFAB8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
