@font-face {
    font-family: 'KangxiDictU5997';
    src: url('../../css/font/KangxiDictU5997.woff') format('woff'), url('../../css/font/KangxiDictU5997.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
