@font-face {
    font-family: 'KangxiDictUF98F';
    src: url('../../css/font/KangxiDictUF98F.woff') format('woff'), url('../../css/font/KangxiDictUF98F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
