@font-face {
    font-family: 'KangxiDictU8333';
    src: url('../../css/font/KangxiDictU8333.woff') format('woff'), url('../../css/font/KangxiDictU8333.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
