@font-face {
    font-family: 'KangxiDictU6642';
    src: url('../../css/font/KangxiDictU6642.woff') format('woff'), url('../../css/font/KangxiDictU6642.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
