@font-face {
    font-family: 'KangxiDictU68E2';
    src: url('../../css/font/KangxiDictU68E2.woff') format('woff'), url('../../css/font/KangxiDictU68E2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
