@font-face {
    font-family: 'KangxiDictU6244';
    src: url('../../css/font/KangxiDictU6244.woff') format('woff'), url('../../css/font/KangxiDictU6244.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
