@font-face {
    font-family: 'KangxiDictU78CF';
    src: url('../../css/font/KangxiDictU78CF.woff') format('woff'), url('../../css/font/KangxiDictU78CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
