@font-face {
    font-family: 'KangxiDictU6C77';
    src: url('../../css/font/KangxiDictU6C77.woff') format('woff'), url('../../css/font/KangxiDictU6C77.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
