@font-face {
    font-family: 'KangxiDictU7769';
    src: url('../../css/font/KangxiDictU7769.woff') format('woff'), url('../../css/font/KangxiDictU7769.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
