@font-face {
    font-family: 'KangxiDictU6FCA';
    src: url('../../css/font/KangxiDictU6FCA.woff') format('woff'), url('../../css/font/KangxiDictU6FCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
