@font-face {
    font-family: 'KangxiDictU4EF4';
    src: url('../../css/font/KangxiDictU4EF4.woff') format('woff'), url('../../css/font/KangxiDictU4EF4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
