@font-face {
    font-family: 'KangxiDictU7169';
    src: url('../../css/font/KangxiDictU7169.woff') format('woff'), url('../../css/font/KangxiDictU7169.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
