@font-face {
    font-family: 'KangxiDictU55CF';
    src: url('../../css/font/KangxiDictU55CF.woff') format('woff'), url('../../css/font/KangxiDictU55CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
