@font-face {
    font-family: 'KangxiDictU84DB';
    src: url('../../css/font/KangxiDictU84DB.woff') format('woff'), url('../../css/font/KangxiDictU84DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
