@font-face {
    font-family: 'KangxiDictU7EFD';
    src: url('../../css/font/KangxiDictU7EFD.woff') format('woff'), url('../../css/font/KangxiDictU7EFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
