@font-face {
    font-family: 'KangxiDictU6402';
    src: url('../../css/font/KangxiDictU6402.woff') format('woff'), url('../../css/font/KangxiDictU6402.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
