@font-face {
    font-family: 'KangxiDictU5002';
    src: url('../../css/font/KangxiDictU5002.woff') format('woff'), url('../../css/font/KangxiDictU5002.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
