@font-face {
    font-family: 'KangxiDictU696D';
    src: url('../../css/font/KangxiDictU696D.woff') format('woff'), url('../../css/font/KangxiDictU696D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
