@font-face {
    font-family: 'KangxiDictU9BE4';
    src: url('../../css/font/KangxiDictU9BE4.woff') format('woff'), url('../../css/font/KangxiDictU9BE4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
