@font-face {
    font-family: 'KangxiDictUF959';
    src: url('../../css/font/KangxiDictUF959.woff') format('woff'), url('../../css/font/KangxiDictUF959.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
