@font-face {
    font-family: 'KangxiDictU703C';
    src: url('../../css/font/KangxiDictU703C.woff') format('woff'), url('../../css/font/KangxiDictU703C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
