@font-face {
    font-family: 'KangxiDictU7BB6';
    src: url('../../css/font/KangxiDictU7BB6.woff') format('woff'), url('../../css/font/KangxiDictU7BB6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
