@font-face {
    font-family: 'KangxiDictU8120';
    src: url('../../css/font/KangxiDictU8120.woff') format('woff'), url('../../css/font/KangxiDictU8120.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
