@font-face {
    font-family: 'KangxiDictU9342';
    src: url('../../css/font/KangxiDictU9342.woff') format('woff'), url('../../css/font/KangxiDictU9342.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
