@font-face {
    font-family: 'KangxiDictU9840';
    src: url('../../css/font/KangxiDictU9840.woff') format('woff'), url('../../css/font/KangxiDictU9840.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
