@font-face {
    font-family: 'KangxiDictU5816';
    src: url('../../css/font/KangxiDictU5816.woff') format('woff'), url('../../css/font/KangxiDictU5816.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
