@font-face {
    font-family: 'KangxiDictU6AD5';
    src: url('../../css/font/KangxiDictU6AD5.woff') format('woff'), url('../../css/font/KangxiDictU6AD5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
