@font-face {
    font-family: 'KangxiDictU7657';
    src: url('../../css/font/KangxiDictU7657.woff') format('woff'), url('../../css/font/KangxiDictU7657.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
