@font-face {
    font-family: 'KangxiDictU5D77';
    src: url('../../css/font/KangxiDictU5D77.woff') format('woff'), url('../../css/font/KangxiDictU5D77.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
