@font-face {
    font-family: 'KangxiDictU6957';
    src: url('../../css/font/KangxiDictU6957.woff') format('woff'), url('../../css/font/KangxiDictU6957.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
