@font-face {
    font-family: 'KangxiDictU8EDB';
    src: url('../../css/font/KangxiDictU8EDB.woff') format('woff'), url('../../css/font/KangxiDictU8EDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
