@font-face {
    font-family: 'KangxiDictU789F';
    src: url('../../css/font/KangxiDictU789F.woff') format('woff'), url('../../css/font/KangxiDictU789F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
