@font-face {
    font-family: 'KangxiDictU620A';
    src: url('../../css/font/KangxiDictU620A.woff') format('woff'), url('../../css/font/KangxiDictU620A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
