@font-face {
    font-family: 'KangxiDictU4E9C';
    src: url('../../css/font/KangxiDictU4E9C.woff') format('woff'), url('../../css/font/KangxiDictU4E9C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
