@font-face {
    font-family: 'KangxiDictU5078';
    src: url('../../css/font/KangxiDictU5078.woff') format('woff'), url('../../css/font/KangxiDictU5078.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
