@font-face {
    font-family: 'KangxiDictU6CAB';
    src: url('../../css/font/KangxiDictU6CAB.woff') format('woff'), url('../../css/font/KangxiDictU6CAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
