@font-face {
    font-family: 'KangxiDictU8707';
    src: url('../../css/font/KangxiDictU8707.woff') format('woff'), url('../../css/font/KangxiDictU8707.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
