@font-face {
    font-family: 'KangxiDictU856F';
    src: url('../../css/font/KangxiDictU856F.woff') format('woff'), url('../../css/font/KangxiDictU856F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
