@font-face {
    font-family: 'KangxiDictU5C7A';
    src: url('../../css/font/KangxiDictU5C7A.woff') format('woff'), url('../../css/font/KangxiDictU5C7A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
