@font-face {
    font-family: 'KangxiDictU7A12';
    src: url('../../css/font/KangxiDictU7A12.woff') format('woff'), url('../../css/font/KangxiDictU7A12.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
