@font-face {
    font-family: 'KangxiDictU55F4';
    src: url('../../css/font/KangxiDictU55F4.woff') format('woff'), url('../../css/font/KangxiDictU55F4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
