@font-face {
    font-family: 'KangxiDictU8EBB';
    src: url('../../css/font/KangxiDictU8EBB.woff') format('woff'), url('../../css/font/KangxiDictU8EBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
