@font-face {
    font-family: 'KangxiDictU6B94';
    src: url('../../css/font/KangxiDictU6B94.woff') format('woff'), url('../../css/font/KangxiDictU6B94.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
