@font-face {
    font-family: 'KangxiDictU9FAB';
    src: url('../../css/font/KangxiDictU9FAB.woff') format('woff'), url('../../css/font/KangxiDictU9FAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
