@font-face {
    font-family: 'KangxiDictU8209';
    src: url('../../css/font/KangxiDictU8209.woff') format('woff'), url('../../css/font/KangxiDictU8209.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
