@font-face {
    font-family: 'KangxiDictU7830';
    src: url('../../css/font/KangxiDictU7830.woff') format('woff'), url('../../css/font/KangxiDictU7830.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
