@font-face {
    font-family: 'KangxiDictU9116';
    src: url('../../css/font/KangxiDictU9116.woff') format('woff'), url('../../css/font/KangxiDictU9116.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
