@font-face {
    font-family: 'KangxiDictU5082';
    src: url('../../css/font/KangxiDictU5082.woff') format('woff'), url('../../css/font/KangxiDictU5082.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
