@font-face {
    font-family: 'KangxiDictU8755';
    src: url('../../css/font/KangxiDictU8755.woff') format('woff'), url('../../css/font/KangxiDictU8755.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
