@font-face {
    font-family: 'KangxiDictU7210';
    src: url('../../css/font/KangxiDictU7210.woff') format('woff'), url('../../css/font/KangxiDictU7210.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
