@font-face {
    font-family: 'KangxiDictU9A57';
    src: url('../../css/font/KangxiDictU9A57.woff') format('woff'), url('../../css/font/KangxiDictU9A57.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
