@font-face {
    font-family: 'KangxiDictU9537';
    src: url('../../css/font/KangxiDictU9537.woff') format('woff'), url('../../css/font/KangxiDictU9537.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
