@font-face {
    font-family: 'KangxiDictU5031';
    src: url('../../css/font/KangxiDictU5031.woff') format('woff'), url('../../css/font/KangxiDictU5031.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
