@font-face {
    font-family: 'KangxiDictU985A';
    src: url('../../css/font/KangxiDictU985A.woff') format('woff'), url('../../css/font/KangxiDictU985A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
