@font-face {
    font-family: 'KangxiDictU5951';
    src: url('../../css/font/KangxiDictU5951.woff') format('woff'), url('../../css/font/KangxiDictU5951.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
