@font-face {
    font-family: 'KangxiDictUF953';
    src: url('../../css/font/KangxiDictUF953.woff') format('woff'), url('../../css/font/KangxiDictUF953.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
