@font-face {
    font-family: 'KangxiDictU86B6';
    src: url('../../css/font/KangxiDictU86B6.woff') format('woff'), url('../../css/font/KangxiDictU86B6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
