@font-face {
    font-family: 'KangxiDictU61B8';
    src: url('../../css/font/KangxiDictU61B8.woff') format('woff'), url('../../css/font/KangxiDictU61B8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
