@font-face {
    font-family: 'KangxiDictU9194';
    src: url('../../css/font/KangxiDictU9194.woff') format('woff'), url('../../css/font/KangxiDictU9194.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
