@font-face {
    font-family: 'KangxiDictU50FE';
    src: url('../../css/font/KangxiDictU50FE.woff') format('woff'), url('../../css/font/KangxiDictU50FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
