@font-face {
    font-family: 'KangxiDictU5376';
    src: url('../../css/font/KangxiDictU5376.woff') format('woff'), url('../../css/font/KangxiDictU5376.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
