@font-face {
    font-family: 'KangxiDictU714A';
    src: url('../../css/font/KangxiDictU714A.woff') format('woff'), url('../../css/font/KangxiDictU714A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
