@font-face {
    font-family: 'KangxiDictU74CC';
    src: url('../../css/font/KangxiDictU74CC.woff') format('woff'), url('../../css/font/KangxiDictU74CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
