@font-face {
    font-family: 'KangxiDictU6776';
    src: url('../../css/font/KangxiDictU6776.woff') format('woff'), url('../../css/font/KangxiDictU6776.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
