@font-face {
    font-family: 'KangxiDictU9019';
    src: url('../../css/font/KangxiDictU9019.woff') format('woff'), url('../../css/font/KangxiDictU9019.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
