@font-face {
    font-family: 'KangxiDictU548F';
    src: url('../../css/font/KangxiDictU548F.woff') format('woff'), url('../../css/font/KangxiDictU548F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
