@font-face {
    font-family: 'KangxiDictU8526';
    src: url('../../css/font/KangxiDictU8526.woff') format('woff'), url('../../css/font/KangxiDictU8526.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
