@font-face {
    font-family: 'KangxiDictU8AB3';
    src: url('../../css/font/KangxiDictU8AB3.woff') format('woff'), url('../../css/font/KangxiDictU8AB3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
