@font-face {
    font-family: 'KangxiDictU9DE6';
    src: url('../../css/font/KangxiDictU9DE6.woff') format('woff'), url('../../css/font/KangxiDictU9DE6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
