@font-face {
    font-family: 'KangxiDictU5095';
    src: url('../../css/font/KangxiDictU5095.woff') format('woff'), url('../../css/font/KangxiDictU5095.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
