@font-face {
    font-family: 'KangxiDictU6856';
    src: url('../../css/font/KangxiDictU6856.woff') format('woff'), url('../../css/font/KangxiDictU6856.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
