@font-face {
    font-family: 'KangxiDictUF97E';
    src: url('../../css/font/KangxiDictUF97E.woff') format('woff'), url('../../css/font/KangxiDictUF97E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
