@font-face {
    font-family: 'KangxiDictU7291';
    src: url('../../css/font/KangxiDictU7291.woff') format('woff'), url('../../css/font/KangxiDictU7291.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
