@font-face {
    font-family: 'KangxiDictU678A';
    src: url('../../css/font/KangxiDictU678A.woff') format('woff'), url('../../css/font/KangxiDictU678A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
