@font-face {
    font-family: 'KangxiDictU953F';
    src: url('../../css/font/KangxiDictU953F.woff') format('woff'), url('../../css/font/KangxiDictU953F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
