@font-face {
    font-family: 'KangxiDictU5894';
    src: url('../../css/font/KangxiDictU5894.woff') format('woff'), url('../../css/font/KangxiDictU5894.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
