@font-face {
    font-family: 'KangxiDictU6163';
    src: url('../../css/font/KangxiDictU6163.woff') format('woff'), url('../../css/font/KangxiDictU6163.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
