@font-face {
    font-family: 'KangxiDictU6673';
    src: url('../../css/font/KangxiDictU6673.woff') format('woff'), url('../../css/font/KangxiDictU6673.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
