@font-face {
    font-family: 'KangxiDictU5CE3';
    src: url('../../css/font/KangxiDictU5CE3.woff') format('woff'), url('../../css/font/KangxiDictU5CE3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
