@font-face {
    font-family: 'KangxiDictU6489';
    src: url('../../css/font/KangxiDictU6489.woff') format('woff'), url('../../css/font/KangxiDictU6489.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
