@font-face {
    font-family: 'KangxiDictU9867';
    src: url('../../css/font/KangxiDictU9867.woff') format('woff'), url('../../css/font/KangxiDictU9867.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
