@font-face {
    font-family: 'KangxiDictU7799';
    src: url('../../css/font/KangxiDictU7799.woff') format('woff'), url('../../css/font/KangxiDictU7799.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
