@font-face {
    font-family: 'KangxiDictU94E8';
    src: url('../../css/font/KangxiDictU94E8.woff') format('woff'), url('../../css/font/KangxiDictU94E8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
