@font-face {
    font-family: 'KangxiDictU5098';
    src: url('../../css/font/KangxiDictU5098.woff') format('woff'), url('../../css/font/KangxiDictU5098.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
