@font-face {
    font-family: 'KangxiDictU7AED';
    src: url('../../css/font/KangxiDictU7AED.woff') format('woff'), url('../../css/font/KangxiDictU7AED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
