@font-face {
    font-family: 'KangxiDictU7BBA';
    src: url('../../css/font/KangxiDictU7BBA.woff') format('woff'), url('../../css/font/KangxiDictU7BBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
