@font-face {
    font-family: 'KangxiDictUF9E1';
    src: url('../../css/font/KangxiDictUF9E1.woff') format('woff'), url('../../css/font/KangxiDictUF9E1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
