@font-face {
    font-family: 'KangxiDictU8126';
    src: url('../../css/font/KangxiDictU8126.woff') format('woff'), url('../../css/font/KangxiDictU8126.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
