@font-face {
    font-family: 'KangxiDictU5215';
    src: url('../../css/font/KangxiDictU5215.woff') format('woff'), url('../../css/font/KangxiDictU5215.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
