@font-face {
    font-family: 'KangxiDictU8822';
    src: url('../../css/font/KangxiDictU8822.woff') format('woff'), url('../../css/font/KangxiDictU8822.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
