@font-face {
    font-family: 'KangxiDictU9F01';
    src: url('../../css/font/KangxiDictU9F01.woff') format('woff'), url('../../css/font/KangxiDictU9F01.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
