@font-face {
    font-family: 'KangxiDictU5B57';
    src: url('../../css/font/KangxiDictU5B57.woff') format('woff'), url('../../css/font/KangxiDictU5B57.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
