@font-face {
    font-family: 'KangxiDictU5E43';
    src: url('../../css/font/KangxiDictU5E43.woff') format('woff'), url('../../css/font/KangxiDictU5E43.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
