@font-face {
    font-family: 'KangxiDictU7566';
    src: url('../../css/font/KangxiDictU7566.woff') format('woff'), url('../../css/font/KangxiDictU7566.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
