@font-face {
    font-family: 'KangxiDictU7BEA';
    src: url('../../css/font/KangxiDictU7BEA.woff') format('woff'), url('../../css/font/KangxiDictU7BEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
