@font-face {
    font-family: 'KangxiDictU51DC';
    src: url('../../css/font/KangxiDictU51DC.woff') format('woff'), url('../../css/font/KangxiDictU51DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
