@font-face {
    font-family: 'KangxiDictU6085';
    src: url('../../css/font/KangxiDictU6085.woff') format('woff'), url('../../css/font/KangxiDictU6085.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
