@font-face {
    font-family: 'KangxiDictU571A';
    src: url('../../css/font/KangxiDictU571A.woff') format('woff'), url('../../css/font/KangxiDictU571A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
