@font-face {
    font-family: 'KangxiDictU9671';
    src: url('../../css/font/KangxiDictU9671.woff') format('woff'), url('../../css/font/KangxiDictU9671.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
