@font-face {
    font-family: 'KangxiDictU608D';
    src: url('../../css/font/KangxiDictU608D.woff') format('woff'), url('../../css/font/KangxiDictU608D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
