@font-face {
    font-family: 'KangxiDictU8961';
    src: url('../../css/font/KangxiDictU8961.woff') format('woff'), url('../../css/font/KangxiDictU8961.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
