@font-face {
    font-family: 'KangxiDictU6576';
    src: url('../../css/font/KangxiDictU6576.woff') format('woff'), url('../../css/font/KangxiDictU6576.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
