@font-face {
    font-family: 'KangxiDictU7577';
    src: url('../../css/font/KangxiDictU7577.woff') format('woff'), url('../../css/font/KangxiDictU7577.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
