@font-face {
    font-family: 'KangxiDictU9515';
    src: url('../../css/font/KangxiDictU9515.woff') format('woff'), url('../../css/font/KangxiDictU9515.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
