@font-face {
    font-family: 'KangxiDictU719E';
    src: url('../../css/font/KangxiDictU719E.woff') format('woff'), url('../../css/font/KangxiDictU719E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
