@font-face {
    font-family: 'KangxiDictU4E78';
    src: url('../../css/font/KangxiDictU4E78.woff') format('woff'), url('../../css/font/KangxiDictU4E78.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
