@font-face {
    font-family: 'KangxiDictU9FCB';
    src: url('../../css/font/KangxiDictU9FCB.woff') format('woff'), url('../../css/font/KangxiDictU9FCB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
