@font-face {
    font-family: 'KangxiDictU5523';
    src: url('../../css/font/KangxiDictU5523.woff') format('woff'), url('../../css/font/KangxiDictU5523.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
