@font-face {
    font-family: 'KangxiDictU6296';
    src: url('../../css/font/KangxiDictU6296.woff') format('woff'), url('../../css/font/KangxiDictU6296.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
