@font-face {
    font-family: 'KangxiDictU99BA';
    src: url('../../css/font/KangxiDictU99BA.woff') format('woff'), url('../../css/font/KangxiDictU99BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
