@font-face {
    font-family: 'KangxiDictU7ED8';
    src: url('../../css/font/KangxiDictU7ED8.woff') format('woff'), url('../../css/font/KangxiDictU7ED8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
