@font-face {
    font-family: 'KangxiDictU7AEA';
    src: url('../../css/font/KangxiDictU7AEA.woff') format('woff'), url('../../css/font/KangxiDictU7AEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
