@font-face {
    font-family: 'KangxiDictU820F';
    src: url('../../css/font/KangxiDictU820F.woff') format('woff'), url('../../css/font/KangxiDictU820F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
