@font-face {
    font-family: 'KangxiDictU63EB';
    src: url('../../css/font/KangxiDictU63EB.woff') format('woff'), url('../../css/font/KangxiDictU63EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
