@font-face {
    font-family: 'KangxiDictU4FCA';
    src: url('../../css/font/KangxiDictU4FCA.woff') format('woff'), url('../../css/font/KangxiDictU4FCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
