@font-face {
    font-family: 'KangxiDictU8FDE';
    src: url('../../css/font/KangxiDictU8FDE.woff') format('woff'), url('../../css/font/KangxiDictU8FDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
