@font-face {
    font-family: 'KangxiDictU877A';
    src: url('../../css/font/KangxiDictU877A.woff') format('woff'), url('../../css/font/KangxiDictU877A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
