@font-face {
    font-family: 'KangxiDictU7306';
    src: url('../../css/font/KangxiDictU7306.woff') format('woff'), url('../../css/font/KangxiDictU7306.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
