@font-face {
    font-family: 'KangxiDictU8FAA';
    src: url('../../css/font/KangxiDictU8FAA.woff') format('woff'), url('../../css/font/KangxiDictU8FAA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
