@font-face {
    font-family: 'KangxiDictU6789';
    src: url('../../css/font/KangxiDictU6789.woff') format('woff'), url('../../css/font/KangxiDictU6789.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
