@font-face {
    font-family: 'KangxiDictU6C26';
    src: url('../../css/font/KangxiDictU6C26.woff') format('woff'), url('../../css/font/KangxiDictU6C26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
