@font-face {
    font-family: 'KangxiDictU70DD';
    src: url('../../css/font/KangxiDictU70DD.woff') format('woff'), url('../../css/font/KangxiDictU70DD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
