@font-face {
    font-family: 'KangxiDictU6245';
    src: url('../../css/font/KangxiDictU6245.woff') format('woff'), url('../../css/font/KangxiDictU6245.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
