@font-face {
    font-family: 'KangxiDictU530A';
    src: url('../../css/font/KangxiDictU530A.woff') format('woff'), url('../../css/font/KangxiDictU530A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
