@font-face {
    font-family: 'KangxiDictU6B7A';
    src: url('../../css/font/KangxiDictU6B7A.woff') format('woff'), url('../../css/font/KangxiDictU6B7A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
