@font-face {
    font-family: 'KangxiDictU8DDF';
    src: url('../../css/font/KangxiDictU8DDF.woff') format('woff'), url('../../css/font/KangxiDictU8DDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
