@font-face {
    font-family: 'KangxiDictU6011';
    src: url('../../css/font/KangxiDictU6011.woff') format('woff'), url('../../css/font/KangxiDictU6011.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
