@font-face {
    font-family: 'KangxiDictU6316';
    src: url('../../css/font/KangxiDictU6316.woff') format('woff'), url('../../css/font/KangxiDictU6316.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
