@font-face {
    font-family: 'KangxiDictU70FE';
    src: url('../../css/font/KangxiDictU70FE.woff') format('woff'), url('../../css/font/KangxiDictU70FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
