@font-face {
    font-family: 'KangxiDictU6353';
    src: url('../../css/font/KangxiDictU6353.woff') format('woff'), url('../../css/font/KangxiDictU6353.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
