@font-face {
    font-family: 'KangxiDictU5FEE';
    src: url('../../css/font/KangxiDictU5FEE.woff') format('woff'), url('../../css/font/KangxiDictU5FEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
