@font-face {
    font-family: 'KangxiDictU8050';
    src: url('../../css/font/KangxiDictU8050.woff') format('woff'), url('../../css/font/KangxiDictU8050.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
