@font-face {
    font-family: 'KangxiDictU71CA';
    src: url('../../css/font/KangxiDictU71CA.woff') format('woff'), url('../../css/font/KangxiDictU71CA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
