@font-face {
    font-family: 'KangxiDictU4EF0';
    src: url('../../css/font/KangxiDictU4EF0.woff') format('woff'), url('../../css/font/KangxiDictU4EF0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
