@font-face {
    font-family: 'KangxiDictU79AA';
    src: url('../../css/font/KangxiDictU79AA.woff') format('woff'), url('../../css/font/KangxiDictU79AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
