@font-face {
    font-family: 'KangxiDictU7B0B';
    src: url('../../css/font/KangxiDictU7B0B.woff') format('woff'), url('../../css/font/KangxiDictU7B0B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
