@font-face {
    font-family: 'KangxiDictU6522';
    src: url('../../css/font/KangxiDictU6522.woff') format('woff'), url('../../css/font/KangxiDictU6522.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
