@font-face {
    font-family: 'KangxiDictU8434';
    src: url('../../css/font/KangxiDictU8434.woff') format('woff'), url('../../css/font/KangxiDictU8434.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
