@font-face {
    font-family: 'KangxiDictU51C3';
    src: url('../../css/font/KangxiDictU51C3.woff') format('woff'), url('../../css/font/KangxiDictU51C3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
