@font-face {
    font-family: 'KangxiDictU9E6F';
    src: url('../../css/font/KangxiDictU9E6F.woff') format('woff'), url('../../css/font/KangxiDictU9E6F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
