@font-face {
    font-family: 'KangxiDictU6414';
    src: url('../../css/font/KangxiDictU6414.woff') format('woff'), url('../../css/font/KangxiDictU6414.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
