@font-face {
    font-family: 'KangxiDictU8AD8';
    src: url('../../css/font/KangxiDictU8AD8.woff') format('woff'), url('../../css/font/KangxiDictU8AD8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
