@font-face {
    font-family: 'KangxiDictU6153';
    src: url('../../css/font/KangxiDictU6153.woff') format('woff'), url('../../css/font/KangxiDictU6153.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
