@font-face {
    font-family: 'KangxiDictU5173';
    src: url('../../css/font/KangxiDictU5173.woff') format('woff'), url('../../css/font/KangxiDictU5173.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
