@font-face {
    font-family: 'KangxiDictU8FB3';
    src: url('../../css/font/KangxiDictU8FB3.woff') format('woff'), url('../../css/font/KangxiDictU8FB3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
