@font-face {
    font-family: 'KangxiDictU8C71';
    src: url('../../css/font/KangxiDictU8C71.woff') format('woff'), url('../../css/font/KangxiDictU8C71.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
