@font-face {
    font-family: 'KangxiDictU752E';
    src: url('../../css/font/KangxiDictU752E.woff') format('woff'), url('../../css/font/KangxiDictU752E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
