@font-face {
    font-family: 'KangxiDictU79EE';
    src: url('../../css/font/KangxiDictU79EE.woff') format('woff'), url('../../css/font/KangxiDictU79EE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
