@font-face {
    font-family: 'KangxiDictU89DB';
    src: url('../../css/font/KangxiDictU89DB.woff') format('woff'), url('../../css/font/KangxiDictU89DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
