@font-face {
    font-family: 'KangxiDictU8D32';
    src: url('../../css/font/KangxiDictU8D32.woff') format('woff'), url('../../css/font/KangxiDictU8D32.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
