@font-face {
    font-family: 'KangxiDictU7BA4';
    src: url('../../css/font/KangxiDictU7BA4.woff') format('woff'), url('../../css/font/KangxiDictU7BA4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
