@font-face {
    font-family: 'KangxiDictU681C';
    src: url('../../css/font/KangxiDictU681C.woff') format('woff'), url('../../css/font/KangxiDictU681C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
