@font-face {
    font-family: 'KangxiDictU951D';
    src: url('../../css/font/KangxiDictU951D.woff') format('woff'), url('../../css/font/KangxiDictU951D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
