@font-face {
    font-family: 'KangxiDictU7C6F';
    src: url('../../css/font/KangxiDictU7C6F.woff') format('woff'), url('../../css/font/KangxiDictU7C6F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
