@font-face {
    font-family: 'KangxiDictU510F';
    src: url('../../css/font/KangxiDictU510F.woff') format('woff'), url('../../css/font/KangxiDictU510F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
