@font-face {
    font-family: 'KangxiDictU8993';
    src: url('../../css/font/KangxiDictU8993.woff') format('woff'), url('../../css/font/KangxiDictU8993.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
