@font-face {
    font-family: 'KangxiDictU7438';
    src: url('../../css/font/KangxiDictU7438.woff') format('woff'), url('../../css/font/KangxiDictU7438.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
