@font-face {
    font-family: 'KangxiDictU8ED5';
    src: url('../../css/font/KangxiDictU8ED5.woff') format('woff'), url('../../css/font/KangxiDictU8ED5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
