@font-face {
    font-family: 'KangxiDictU7ECD';
    src: url('../../css/font/KangxiDictU7ECD.woff') format('woff'), url('../../css/font/KangxiDictU7ECD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
