@font-face {
    font-family: 'KangxiDictU5228';
    src: url('../../css/font/KangxiDictU5228.woff') format('woff'), url('../../css/font/KangxiDictU5228.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
