@font-face {
    font-family: 'KangxiDictU614C';
    src: url('../../css/font/KangxiDictU614C.woff') format('woff'), url('../../css/font/KangxiDictU614C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
