@font-face {
    font-family: 'KangxiDictU9D16';
    src: url('../../css/font/KangxiDictU9D16.woff') format('woff'), url('../../css/font/KangxiDictU9D16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
