@font-face {
    font-family: 'KangxiDictUFA7C';
    src: url('../../css/font/KangxiDictUFA7C.woff') format('woff'), url('../../css/font/KangxiDictUFA7C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
