@font-face {
    font-family: 'KangxiDictU5975';
    src: url('../../css/font/KangxiDictU5975.woff') format('woff'), url('../../css/font/KangxiDictU5975.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
