@font-face {
    font-family: 'KangxiDictU9079';
    src: url('../../css/font/KangxiDictU9079.woff') format('woff'), url('../../css/font/KangxiDictU9079.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
