@font-face {
    font-family: 'KangxiDictU7CC4';
    src: url('../../css/font/KangxiDictU7CC4.woff') format('woff'), url('../../css/font/KangxiDictU7CC4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
