@font-face {
    font-family: 'KangxiDictU6CC5';
    src: url('../../css/font/KangxiDictU6CC5.woff') format('woff'), url('../../css/font/KangxiDictU6CC5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
