@font-face {
    font-family: 'KangxiDictU7C23';
    src: url('../../css/font/KangxiDictU7C23.woff') format('woff'), url('../../css/font/KangxiDictU7C23.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
