@font-face {
    font-family: 'KangxiDictU9DDA';
    src: url('../../css/font/KangxiDictU9DDA.woff') format('woff'), url('../../css/font/KangxiDictU9DDA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
