@font-face {
    font-family: 'KangxiDictU5209';
    src: url('../../css/font/KangxiDictU5209.woff') format('woff'), url('../../css/font/KangxiDictU5209.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
