@font-face {
    font-family: 'KangxiDictUF970';
    src: url('../../css/font/KangxiDictUF970.woff') format('woff'), url('../../css/font/KangxiDictUF970.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
