@font-face {
    font-family: 'KangxiDictU6750';
    src: url('../../css/font/KangxiDictU6750.woff') format('woff'), url('../../css/font/KangxiDictU6750.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
