@font-face {
    font-family: 'KangxiDictU8D20';
    src: url('../../css/font/KangxiDictU8D20.woff') format('woff'), url('../../css/font/KangxiDictU8D20.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
