@font-face {
    font-family: 'KangxiDictU7E96';
    src: url('../../css/font/KangxiDictU7E96.woff') format('woff'), url('../../css/font/KangxiDictU7E96.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
