@font-face {
    font-family: 'KangxiDictU8ADC';
    src: url('../../css/font/KangxiDictU8ADC.woff') format('woff'), url('../../css/font/KangxiDictU8ADC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
