@font-face {
    font-family: 'KangxiDictU9295';
    src: url('../../css/font/KangxiDictU9295.woff') format('woff'), url('../../css/font/KangxiDictU9295.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
