@font-face {
    font-family: 'KangxiDictU8369';
    src: url('../../css/font/KangxiDictU8369.woff') format('woff'), url('../../css/font/KangxiDictU8369.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
