@font-face {
    font-family: 'KangxiDictU6275';
    src: url('../../css/font/KangxiDictU6275.woff') format('woff'), url('../../css/font/KangxiDictU6275.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
