@font-face {
    font-family: 'KangxiDictUF960';
    src: url('../../css/font/KangxiDictUF960.woff') format('woff'), url('../../css/font/KangxiDictUF960.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
