@font-face {
    font-family: 'KangxiDictU9152';
    src: url('../../css/font/KangxiDictU9152.woff') format('woff'), url('../../css/font/KangxiDictU9152.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
