@font-face {
    font-family: 'KangxiDictU679C';
    src: url('../../css/font/KangxiDictU679C.woff') format('woff'), url('../../css/font/KangxiDictU679C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
