@font-face {
    font-family: 'KangxiDictU8903';
    src: url('../../css/font/KangxiDictU8903.woff') format('woff'), url('../../css/font/KangxiDictU8903.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
