@font-face {
    font-family: 'KangxiDictU61BB';
    src: url('../../css/font/KangxiDictU61BB.woff') format('woff'), url('../../css/font/KangxiDictU61BB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
