@font-face {
    font-family: 'KangxiDictU6CDC';
    src: url('../../css/font/KangxiDictU6CDC.woff') format('woff'), url('../../css/font/KangxiDictU6CDC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
