@font-face {
    font-family: 'KangxiDictU607B';
    src: url('../../css/font/KangxiDictU607B.woff') format('woff'), url('../../css/font/KangxiDictU607B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
