@font-face {
    font-family: 'KangxiDictU8214';
    src: url('../../css/font/KangxiDictU8214.woff') format('woff'), url('../../css/font/KangxiDictU8214.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
