@font-face {
    font-family: 'KangxiDictU650C';
    src: url('../../css/font/KangxiDictU650C.woff') format('woff'), url('../../css/font/KangxiDictU650C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
