@font-face {
    font-family: 'KangxiDictU9478';
    src: url('../../css/font/KangxiDictU9478.woff') format('woff'), url('../../css/font/KangxiDictU9478.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
