@font-face {
    font-family: 'KangxiDictU6529';
    src: url('../../css/font/KangxiDictU6529.woff') format('woff'), url('../../css/font/KangxiDictU6529.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
