@font-face {
    font-family: 'KangxiDictU9F6C';
    src: url('../../css/font/KangxiDictU9F6C.woff') format('woff'), url('../../css/font/KangxiDictU9F6C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
