@font-face {
    font-family: 'KangxiDictU9BF7';
    src: url('../../css/font/KangxiDictU9BF7.woff') format('woff'), url('../../css/font/KangxiDictU9BF7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
