@font-face {
    font-family: 'KangxiDictU4FEA';
    src: url('../../css/font/KangxiDictU4FEA.woff') format('woff'), url('../../css/font/KangxiDictU4FEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
