@font-face {
    font-family: 'KangxiDictU4F58';
    src: url('../../css/font/KangxiDictU4F58.woff') format('woff'), url('../../css/font/KangxiDictU4F58.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
