@font-face {
    font-family: 'KangxiDictU8C2B';
    src: url('../../css/font/KangxiDictU8C2B.woff') format('woff'), url('../../css/font/KangxiDictU8C2B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
