@font-face {
    font-family: 'KangxiDictU6F24';
    src: url('../../css/font/KangxiDictU6F24.woff') format('woff'), url('../../css/font/KangxiDictU6F24.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
