@font-face {
    font-family: 'KangxiDictU875C';
    src: url('../../css/font/KangxiDictU875C.woff') format('woff'), url('../../css/font/KangxiDictU875C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
