@font-face {
    font-family: 'KangxiDictU9EAB';
    src: url('../../css/font/KangxiDictU9EAB.woff') format('woff'), url('../../css/font/KangxiDictU9EAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
