@font-face {
    font-family: 'KangxiDictU9E7D';
    src: url('../../css/font/KangxiDictU9E7D.woff') format('woff'), url('../../css/font/KangxiDictU9E7D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
