@font-face {
    font-family: 'KangxiDictU5FA1';
    src: url('../../css/font/KangxiDictU5FA1.woff') format('woff'), url('../../css/font/KangxiDictU5FA1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
