@font-face {
    font-family: 'KangxiDictU6E72';
    src: url('../../css/font/KangxiDictU6E72.woff') format('woff'), url('../../css/font/KangxiDictU6E72.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
