@font-face {
    font-family: 'KangxiDictU6471';
    src: url('../../css/font/KangxiDictU6471.woff') format('woff'), url('../../css/font/KangxiDictU6471.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
