@font-face {
    font-family: 'KangxiDictU9C47';
    src: url('../../css/font/KangxiDictU9C47.woff') format('woff'), url('../../css/font/KangxiDictU9C47.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
