@font-face {
    font-family: 'KangxiDictU80DC';
    src: url('../../css/font/KangxiDictU80DC.woff') format('woff'), url('../../css/font/KangxiDictU80DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
