@font-face {
    font-family: 'KangxiDictU988C';
    src: url('../../css/font/KangxiDictU988C.woff') format('woff'), url('../../css/font/KangxiDictU988C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
