@font-face {
    font-family: 'KangxiDictU6651';
    src: url('../../css/font/KangxiDictU6651.woff') format('woff'), url('../../css/font/KangxiDictU6651.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
