@font-face {
    font-family: 'KangxiDictU5353';
    src: url('../../css/font/KangxiDictU5353.woff') format('woff'), url('../../css/font/KangxiDictU5353.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
