@font-face {
    font-family: 'KangxiDictU8BB7';
    src: url('../../css/font/KangxiDictU8BB7.woff') format('woff'), url('../../css/font/KangxiDictU8BB7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
