@font-face {
    font-family: 'KangxiDictU5FC8';
    src: url('../../css/font/KangxiDictU5FC8.woff') format('woff'), url('../../css/font/KangxiDictU5FC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
