@font-face {
    font-family: 'KangxiDictU8631';
    src: url('../../css/font/KangxiDictU8631.woff') format('woff'), url('../../css/font/KangxiDictU8631.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
