@font-face {
    font-family: 'KangxiDictU9700';
    src: url('../../css/font/KangxiDictU9700.woff') format('woff'), url('../../css/font/KangxiDictU9700.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
