@font-face {
    font-family: 'KangxiDictU8709';
    src: url('../../css/font/KangxiDictU8709.woff') format('woff'), url('../../css/font/KangxiDictU8709.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
