@font-face {
    font-family: 'KangxiDictU6342';
    src: url('../../css/font/KangxiDictU6342.woff') format('woff'), url('../../css/font/KangxiDictU6342.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
