@font-face {
    font-family: 'KangxiDictU5A17';
    src: url('../../css/font/KangxiDictU5A17.woff') format('woff'), url('../../css/font/KangxiDictU5A17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
