@font-face {
    font-family: 'KangxiDictU8ADD';
    src: url('../../css/font/KangxiDictU8ADD.woff') format('woff'), url('../../css/font/KangxiDictU8ADD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
