@font-face {
    font-family: 'KangxiDictU593C';
    src: url('../../css/font/KangxiDictU593C.woff') format('woff'), url('../../css/font/KangxiDictU593C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
