@font-face {
    font-family: 'KangxiDictU8C16';
    src: url('../../css/font/KangxiDictU8C16.woff') format('woff'), url('../../css/font/KangxiDictU8C16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
