@font-face {
    font-family: 'KangxiDictU4FF9';
    src: url('../../css/font/KangxiDictU4FF9.woff') format('woff'), url('../../css/font/KangxiDictU4FF9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
