@font-face {
    font-family: 'KangxiDictU7BF9';
    src: url('../../css/font/KangxiDictU7BF9.woff') format('woff'), url('../../css/font/KangxiDictU7BF9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
