@font-face {
    font-family: 'KangxiDictU7B75';
    src: url('../../css/font/KangxiDictU7B75.woff') format('woff'), url('../../css/font/KangxiDictU7B75.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
