@font-face {
    font-family: 'KangxiDictU5FDB';
    src: url('../../css/font/KangxiDictU5FDB.woff') format('woff'), url('../../css/font/KangxiDictU5FDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
