@font-face {
    font-family: 'KangxiDictU9435';
    src: url('../../css/font/KangxiDictU9435.woff') format('woff'), url('../../css/font/KangxiDictU9435.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
