@font-face {
    font-family: 'KangxiDictU5271';
    src: url('../../css/font/KangxiDictU5271.woff') format('woff'), url('../../css/font/KangxiDictU5271.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
