@font-face {
    font-family: 'KangxiDictU5B60';
    src: url('../../css/font/KangxiDictU5B60.woff') format('woff'), url('../../css/font/KangxiDictU5B60.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
