@font-face {
    font-family: 'KangxiDictUF925';
    src: url('../../css/font/KangxiDictUF925.woff') format('woff'), url('../../css/font/KangxiDictUF925.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
