@font-face {
    font-family: 'KangxiDictU870B';
    src: url('../../css/font/KangxiDictU870B.woff') format('woff'), url('../../css/font/KangxiDictU870B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
