@font-face {
    font-family: 'KangxiDictU5784';
    src: url('../../css/font/KangxiDictU5784.woff') format('woff'), url('../../css/font/KangxiDictU5784.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
