@font-face {
    font-family: 'KangxiDictU77AE';
    src: url('../../css/font/KangxiDictU77AE.woff') format('woff'), url('../../css/font/KangxiDictU77AE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
