@font-face {
    font-family: 'KangxiDictU9074';
    src: url('../../css/font/KangxiDictU9074.woff') format('woff'), url('../../css/font/KangxiDictU9074.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
