@font-face {
    font-family: 'KangxiDictU9E5A';
    src: url('../../css/font/KangxiDictU9E5A.woff') format('woff'), url('../../css/font/KangxiDictU9E5A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
