@font-face {
    font-family: 'KangxiDictU9E67';
    src: url('../../css/font/KangxiDictU9E67.woff') format('woff'), url('../../css/font/KangxiDictU9E67.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
