@font-face {
    font-family: 'KangxiDictU5A22';
    src: url('../../css/font/KangxiDictU5A22.woff') format('woff'), url('../../css/font/KangxiDictU5A22.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
