@font-face {
    font-family: 'KangxiDictU7336';
    src: url('../../css/font/KangxiDictU7336.woff') format('woff'), url('../../css/font/KangxiDictU7336.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
