@font-face {
    font-family: 'KangxiDictU59A0';
    src: url('../../css/font/KangxiDictU59A0.woff') format('woff'), url('../../css/font/KangxiDictU59A0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
