@font-face {
    font-family: 'KangxiDictU5E1F';
    src: url('../../css/font/KangxiDictU5E1F.woff') format('woff'), url('../../css/font/KangxiDictU5E1F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
