@font-face {
    font-family: 'KangxiDictU738F';
    src: url('../../css/font/KangxiDictU738F.woff') format('woff'), url('../../css/font/KangxiDictU738F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
