@font-face {
    font-family: 'KangxiDictU970A';
    src: url('../../css/font/KangxiDictU970A.woff') format('woff'), url('../../css/font/KangxiDictU970A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
