@font-face {
    font-family: 'KangxiDictU5184';
    src: url('../../css/font/KangxiDictU5184.woff') format('woff'), url('../../css/font/KangxiDictU5184.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
