@font-face {
    font-family: 'KangxiDictU4E6D';
    src: url('../../css/font/KangxiDictU4E6D.woff') format('woff'), url('../../css/font/KangxiDictU4E6D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
