@font-face {
    font-family: 'KangxiDictU6BC6';
    src: url('../../css/font/KangxiDictU6BC6.woff') format('woff'), url('../../css/font/KangxiDictU6BC6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
