@font-face {
    font-family: 'KangxiDictU8121';
    src: url('../../css/font/KangxiDictU8121.woff') format('woff'), url('../../css/font/KangxiDictU8121.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
