@font-face {
    font-family: 'KangxiDictU9818';
    src: url('../../css/font/KangxiDictU9818.woff') format('woff'), url('../../css/font/KangxiDictU9818.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
