@font-face {
    font-family: 'KangxiDictU9283';
    src: url('../../css/font/KangxiDictU9283.woff') format('woff'), url('../../css/font/KangxiDictU9283.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
