@font-face {
    font-family: 'KangxiDictUFF02';
    src: url('../../css/font/KangxiDictUFF02.woff') format('woff'), url('../../css/font/KangxiDictUFF02.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
