@font-face {
    font-family: 'KangxiDictU5243';
    src: url('../../css/font/KangxiDictU5243.woff') format('woff'), url('../../css/font/KangxiDictU5243.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
