@font-face {
    font-family: 'KangxiDictU9BAD';
    src: url('../../css/font/KangxiDictU9BAD.woff') format('woff'), url('../../css/font/KangxiDictU9BAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
