@font-face {
    font-family: 'KangxiDictU7674';
    src: url('../../css/font/KangxiDictU7674.woff') format('woff'), url('../../css/font/KangxiDictU7674.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
