@font-face {
    font-family: 'KangxiDictU9D17';
    src: url('../../css/font/KangxiDictU9D17.woff') format('woff'), url('../../css/font/KangxiDictU9D17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
