@font-face {
    font-family: 'KangxiDictU936F';
    src: url('../../css/font/KangxiDictU936F.woff') format('woff'), url('../../css/font/KangxiDictU936F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
