@font-face {
    font-family: 'KangxiDictU5886';
    src: url('../../css/font/KangxiDictU5886.woff') format('woff'), url('../../css/font/KangxiDictU5886.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
