@font-face {
    font-family: 'KangxiDictU5637';
    src: url('../../css/font/KangxiDictU5637.woff') format('woff'), url('../../css/font/KangxiDictU5637.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
