@font-face {
    font-family: 'KangxiDictU8575';
    src: url('../../css/font/KangxiDictU8575.woff') format('woff'), url('../../css/font/KangxiDictU8575.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
