@font-face {
    font-family: 'KangxiDictU93A8';
    src: url('../../css/font/KangxiDictU93A8.woff') format('woff'), url('../../css/font/KangxiDictU93A8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
