@font-face {
    font-family: 'KangxiDictU7A4D';
    src: url('../../css/font/KangxiDictU7A4D.woff') format('woff'), url('../../css/font/KangxiDictU7A4D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
