@font-face {
    font-family: 'KangxiDictU6699';
    src: url('../../css/font/KangxiDictU6699.woff') format('woff'), url('../../css/font/KangxiDictU6699.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
