@font-face {
    font-family: 'KangxiDictU8DF2';
    src: url('../../css/font/KangxiDictU8DF2.woff') format('woff'), url('../../css/font/KangxiDictU8DF2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
