@font-face {
    font-family: 'KangxiDictU5561';
    src: url('../../css/font/KangxiDictU5561.woff') format('woff'), url('../../css/font/KangxiDictU5561.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
