@font-face {
    font-family: 'KangxiDictU9244';
    src: url('../../css/font/KangxiDictU9244.woff') format('woff'), url('../../css/font/KangxiDictU9244.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
