@font-face {
    font-family: 'KangxiDictU9892';
    src: url('../../css/font/KangxiDictU9892.woff') format('woff'), url('../../css/font/KangxiDictU9892.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
