@font-face {
    font-family: 'KangxiDictU742F';
    src: url('../../css/font/KangxiDictU742F.woff') format('woff'), url('../../css/font/KangxiDictU742F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
