@font-face {
    font-family: 'KangxiDictU9596';
    src: url('../../css/font/KangxiDictU9596.woff') format('woff'), url('../../css/font/KangxiDictU9596.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
