@font-face {
    font-family: 'KangxiDictU7F77';
    src: url('../../css/font/KangxiDictU7F77.woff') format('woff'), url('../../css/font/KangxiDictU7F77.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
