@font-face {
    font-family: 'KangxiDictUF90F';
    src: url('../../css/font/KangxiDictUF90F.woff') format('woff'), url('../../css/font/KangxiDictUF90F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
