@font-face {
    font-family: 'KangxiDictU6EBE';
    src: url('../../css/font/KangxiDictU6EBE.woff') format('woff'), url('../../css/font/KangxiDictU6EBE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
