@font-face {
    font-family: 'KangxiDictU7F66';
    src: url('../../css/font/KangxiDictU7F66.woff') format('woff'), url('../../css/font/KangxiDictU7F66.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
