@font-face {
    font-family: 'KangxiDictU78C6';
    src: url('../../css/font/KangxiDictU78C6.woff') format('woff'), url('../../css/font/KangxiDictU78C6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
