@font-face {
    font-family: 'KangxiDictUFA67';
    src: url('../../css/font/KangxiDictUFA67.woff') format('woff'), url('../../css/font/KangxiDictUFA67.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
