@font-face {
    font-family: 'KangxiDictU6E18';
    src: url('../../css/font/KangxiDictU6E18.woff') format('woff'), url('../../css/font/KangxiDictU6E18.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
