@font-face {
    font-family: 'KangxiDictU9DE8';
    src: url('../../css/font/KangxiDictU9DE8.woff') format('woff'), url('../../css/font/KangxiDictU9DE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
