@font-face {
    font-family: 'KangxiDictU5610';
    src: url('../../css/font/KangxiDictU5610.woff') format('woff'), url('../../css/font/KangxiDictU5610.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
