@font-face {
    font-family: 'KangxiDictU8297';
    src: url('../../css/font/KangxiDictU8297.woff') format('woff'), url('../../css/font/KangxiDictU8297.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
