@font-face {
    font-family: 'KangxiDictU726F';
    src: url('../../css/font/KangxiDictU726F.woff') format('woff'), url('../../css/font/KangxiDictU726F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
