@font-face {
    font-family: 'KangxiDictU8BCC';
    src: url('../../css/font/KangxiDictU8BCC.woff') format('woff'), url('../../css/font/KangxiDictU8BCC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
