@font-face {
    font-family: 'KangxiDictU9C79';
    src: url('../../css/font/KangxiDictU9C79.woff') format('woff'), url('../../css/font/KangxiDictU9C79.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
