@font-face {
    font-family: 'KangxiDictU969B';
    src: url('../../css/font/KangxiDictU969B.woff') format('woff'), url('../../css/font/KangxiDictU969B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
