@font-face {
    font-family: 'KangxiDictU7062';
    src: url('../../css/font/KangxiDictU7062.woff') format('woff'), url('../../css/font/KangxiDictU7062.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
