@font-face {
    font-family: 'KangxiDictU4ECA';
    src: url('../../css/font/KangxiDictU4ECA.woff') format('woff'), url('../../css/font/KangxiDictU4ECA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
