@font-face {
    font-family: 'KangxiDictU6551';
    src: url('../../css/font/KangxiDictU6551.woff') format('woff'), url('../../css/font/KangxiDictU6551.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
