@font-face {
    font-family: 'KangxiDictU89D2';
    src: url('../../css/font/KangxiDictU89D2.woff') format('woff'), url('../../css/font/KangxiDictU89D2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
