@font-face {
    font-family: 'KangxiDictU74BC';
    src: url('../../css/font/KangxiDictU74BC.woff') format('woff'), url('../../css/font/KangxiDictU74BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
