@font-face {
    font-family: 'KangxiDictUFAA7';
    src: url('../../css/font/KangxiDictUFAA7.woff') format('woff'), url('../../css/font/KangxiDictUFAA7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
