@font-face {
    font-family: 'KangxiDictU8BAB';
    src: url('../../css/font/KangxiDictU8BAB.woff') format('woff'), url('../../css/font/KangxiDictU8BAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
