@font-face {
    font-family: 'KangxiDictUFA32';
    src: url('../../css/font/KangxiDictUFA32.woff') format('woff'), url('../../css/font/KangxiDictUFA32.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
