@font-face {
    font-family: 'KangxiDictU8191';
    src: url('../../css/font/KangxiDictU8191.woff') format('woff'), url('../../css/font/KangxiDictU8191.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
