@font-face {
    font-family: 'KangxiDictU504A';
    src: url('../../css/font/KangxiDictU504A.woff') format('woff'), url('../../css/font/KangxiDictU504A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
