@font-face {
    font-family: 'KangxiDictU8DC4';
    src: url('../../css/font/KangxiDictU8DC4.woff') format('woff'), url('../../css/font/KangxiDictU8DC4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
