@font-face {
    font-family: 'KangxiDictU8C4E';
    src: url('../../css/font/KangxiDictU8C4E.woff') format('woff'), url('../../css/font/KangxiDictU8C4E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
