@font-face {
    font-family: 'KangxiDictU5329';
    src: url('../../css/font/KangxiDictU5329.woff') format('woff'), url('../../css/font/KangxiDictU5329.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
