@font-face {
    font-family: 'KangxiDictU9258';
    src: url('../../css/font/KangxiDictU9258.woff') format('woff'), url('../../css/font/KangxiDictU9258.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
