@font-face {
    font-family: 'KangxiDictU8ABD';
    src: url('../../css/font/KangxiDictU8ABD.woff') format('woff'), url('../../css/font/KangxiDictU8ABD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
