@font-face {
    font-family: 'KangxiDictU99D5';
    src: url('../../css/font/KangxiDictU99D5.woff') format('woff'), url('../../css/font/KangxiDictU99D5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
