@font-face {
    font-family: 'KangxiDictU7730';
    src: url('../../css/font/KangxiDictU7730.woff') format('woff'), url('../../css/font/KangxiDictU7730.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
