@font-face {
    font-family: 'KangxiDictU7071';
    src: url('../../css/font/KangxiDictU7071.woff') format('woff'), url('../../css/font/KangxiDictU7071.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
