@font-face {
    font-family: 'KangxiDictU6746';
    src: url('../../css/font/KangxiDictU6746.woff') format('woff'), url('../../css/font/KangxiDictU6746.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
