@font-face {
    font-family: 'KangxiDictU6EF3';
    src: url('../../css/font/KangxiDictU6EF3.woff') format('woff'), url('../../css/font/KangxiDictU6EF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
