@font-face {
    font-family: 'KangxiDictU6368';
    src: url('../../css/font/KangxiDictU6368.woff') format('woff'), url('../../css/font/KangxiDictU6368.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
