@font-face {
    font-family: 'KangxiDictU6371';
    src: url('../../css/font/KangxiDictU6371.woff') format('woff'), url('../../css/font/KangxiDictU6371.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
