@font-face {
    font-family: 'KangxiDictU8021';
    src: url('../../css/font/KangxiDictU8021.woff') format('woff'), url('../../css/font/KangxiDictU8021.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
