@font-face {
    font-family: 'KangxiDictU6C05';
    src: url('../../css/font/KangxiDictU6C05.woff') format('woff'), url('../../css/font/KangxiDictU6C05.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
