@font-face {
    font-family: 'KangxiDictU89AB';
    src: url('../../css/font/KangxiDictU89AB.woff') format('woff'), url('../../css/font/KangxiDictU89AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
