@font-face {
    font-family: 'KangxiDictU7093';
    src: url('../../css/font/KangxiDictU7093.woff') format('woff'), url('../../css/font/KangxiDictU7093.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
