@font-face {
    font-family: 'KangxiDictU9779';
    src: url('../../css/font/KangxiDictU9779.woff') format('woff'), url('../../css/font/KangxiDictU9779.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
