@font-face {
    font-family: 'KangxiDictU5B05';
    src: url('../../css/font/KangxiDictU5B05.woff') format('woff'), url('../../css/font/KangxiDictU5B05.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
