@font-face {
    font-family: 'KangxiDictU7394';
    src: url('../../css/font/KangxiDictU7394.woff') format('woff'), url('../../css/font/KangxiDictU7394.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
