@font-face {
    font-family: 'KangxiDictU665F';
    src: url('../../css/font/KangxiDictU665F.woff') format('woff'), url('../../css/font/KangxiDictU665F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
