@font-face {
    font-family: 'KangxiDictU5495';
    src: url('../../css/font/KangxiDictU5495.woff') format('woff'), url('../../css/font/KangxiDictU5495.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
