@font-face {
    font-family: 'KangxiDictU8B0D';
    src: url('../../css/font/KangxiDictU8B0D.woff') format('woff'), url('../../css/font/KangxiDictU8B0D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
