@font-face {
    font-family: 'KangxiDictU7D55';
    src: url('../../css/font/KangxiDictU7D55.woff') format('woff'), url('../../css/font/KangxiDictU7D55.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
