@font-face {
    font-family: 'KangxiDictU6567';
    src: url('../../css/font/KangxiDictU6567.woff') format('woff'), url('../../css/font/KangxiDictU6567.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
