@font-face {
    font-family: 'KangxiDictU982F';
    src: url('../../css/font/KangxiDictU982F.woff') format('woff'), url('../../css/font/KangxiDictU982F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
