@font-face {
    font-family: 'KangxiDictU5ED6';
    src: url('../../css/font/KangxiDictU5ED6.woff') format('woff'), url('../../css/font/KangxiDictU5ED6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
