@font-face {
    font-family: 'KangxiDictU8DD9';
    src: url('../../css/font/KangxiDictU8DD9.woff') format('woff'), url('../../css/font/KangxiDictU8DD9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
