@font-face {
    font-family: 'KangxiDictU5456';
    src: url('../../css/font/KangxiDictU5456.woff') format('woff'), url('../../css/font/KangxiDictU5456.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
