@font-face {
    font-family: 'KangxiDictU64D8';
    src: url('../../css/font/KangxiDictU64D8.woff') format('woff'), url('../../css/font/KangxiDictU64D8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
