@font-face {
    font-family: 'KangxiDictUFA40';
    src: url('../../css/font/KangxiDictUFA40.woff') format('woff'), url('../../css/font/KangxiDictUFA40.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
