@font-face {
    font-family: 'KangxiDictU9482';
    src: url('../../css/font/KangxiDictU9482.woff') format('woff'), url('../../css/font/KangxiDictU9482.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
