@font-face {
    font-family: 'KangxiDictU67AB';
    src: url('../../css/font/KangxiDictU67AB.woff') format('woff'), url('../../css/font/KangxiDictU67AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
