@font-face {
    font-family: 'KangxiDictU5932';
    src: url('../../css/font/KangxiDictU5932.woff') format('woff'), url('../../css/font/KangxiDictU5932.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
