@font-face {
    font-family: 'KangxiDictU7952';
    src: url('../../css/font/KangxiDictU7952.woff') format('woff'), url('../../css/font/KangxiDictU7952.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
