@font-face {
    font-family: 'KangxiDictU778C';
    src: url('../../css/font/KangxiDictU778C.woff') format('woff'), url('../../css/font/KangxiDictU778C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
