@font-face {
    font-family: 'KangxiDictU5088';
    src: url('../../css/font/KangxiDictU5088.woff') format('woff'), url('../../css/font/KangxiDictU5088.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
