@font-face {
    font-family: 'KangxiDictU5BCC';
    src: url('../../css/font/KangxiDictU5BCC.woff') format('woff'), url('../../css/font/KangxiDictU5BCC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
