@font-face {
    font-family: 'KangxiDictU9530';
    src: url('../../css/font/KangxiDictU9530.woff') format('woff'), url('../../css/font/KangxiDictU9530.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
