@font-face {
    font-family: 'KangxiDictU8315';
    src: url('../../css/font/KangxiDictU8315.woff') format('woff'), url('../../css/font/KangxiDictU8315.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
