@font-face {
    font-family: 'KangxiDictU7382';
    src: url('../../css/font/KangxiDictU7382.woff') format('woff'), url('../../css/font/KangxiDictU7382.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
