@font-face {
    font-family: 'KangxiDictU9454';
    src: url('../../css/font/KangxiDictU9454.woff') format('woff'), url('../../css/font/KangxiDictU9454.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
