@font-face {
    font-family: 'KangxiDictU5BD2';
    src: url('../../css/font/KangxiDictU5BD2.woff') format('woff'), url('../../css/font/KangxiDictU5BD2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
