@font-face {
    font-family: 'KangxiDictU6650';
    src: url('../../css/font/KangxiDictU6650.woff') format('woff'), url('../../css/font/KangxiDictU6650.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
