@font-face {
    font-family: 'KangxiDictU7E39';
    src: url('../../css/font/KangxiDictU7E39.woff') format('woff'), url('../../css/font/KangxiDictU7E39.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
