@font-face {
    font-family: 'KangxiDictU96E3';
    src: url('../../css/font/KangxiDictU96E3.woff') format('woff'), url('../../css/font/KangxiDictU96E3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
