@font-face {
    font-family: 'KangxiDictU5534';
    src: url('../../css/font/KangxiDictU5534.woff') format('woff'), url('../../css/font/KangxiDictU5534.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
