@font-face {
    font-family: 'KangxiDictU8915';
    src: url('../../css/font/KangxiDictU8915.woff') format('woff'), url('../../css/font/KangxiDictU8915.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
