@font-face {
    font-family: 'KangxiDictU797F';
    src: url('../../css/font/KangxiDictU797F.woff') format('woff'), url('../../css/font/KangxiDictU797F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
