@font-face {
    font-family: 'KangxiDictU8BB2';
    src: url('../../css/font/KangxiDictU8BB2.woff') format('woff'), url('../../css/font/KangxiDictU8BB2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
