@font-face {
    font-family: 'KangxiDictU8A1D';
    src: url('../../css/font/KangxiDictU8A1D.woff') format('woff'), url('../../css/font/KangxiDictU8A1D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
