@font-face {
    font-family: 'KangxiDictU6988';
    src: url('../../css/font/KangxiDictU6988.woff') format('woff'), url('../../css/font/KangxiDictU6988.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
