@font-face {
    font-family: 'KangxiDictU9EBE';
    src: url('../../css/font/KangxiDictU9EBE.woff') format('woff'), url('../../css/font/KangxiDictU9EBE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
