@font-face {
    font-family: 'KangxiDictU5449';
    src: url('../../css/font/KangxiDictU5449.woff') format('woff'), url('../../css/font/KangxiDictU5449.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
