@font-face {
    font-family: 'KangxiDictU5471';
    src: url('../../css/font/KangxiDictU5471.woff') format('woff'), url('../../css/font/KangxiDictU5471.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
