@font-face {
    font-family: 'KangxiDictU5E71';
    src: url('../../css/font/KangxiDictU5E71.woff') format('woff'), url('../../css/font/KangxiDictU5E71.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
