@font-face {
    font-family: 'KangxiDictU8805';
    src: url('../../css/font/KangxiDictU8805.woff') format('woff'), url('../../css/font/KangxiDictU8805.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
