@font-face {
    font-family: 'KangxiDictU9098';
    src: url('../../css/font/KangxiDictU9098.woff') format('woff'), url('../../css/font/KangxiDictU9098.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
