@font-face {
    font-family: 'KangxiDictUF980';
    src: url('../../css/font/KangxiDictUF980.woff') format('woff'), url('../../css/font/KangxiDictUF980.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
