@font-face {
    font-family: 'KangxiDictU5E0A';
    src: url('../../css/font/KangxiDictU5E0A.woff') format('woff'), url('../../css/font/KangxiDictU5E0A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
