@font-face {
    font-family: 'KangxiDictU83B8';
    src: url('../../css/font/KangxiDictU83B8.woff') format('woff'), url('../../css/font/KangxiDictU83B8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
