@font-face {
    font-family: 'KangxiDictU7ABB';
    src: url('../../css/font/KangxiDictU7ABB.woff') format('woff'), url('../../css/font/KangxiDictU7ABB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
