@font-face {
    font-family: 'KangxiDictU93CB';
    src: url('../../css/font/KangxiDictU93CB.woff') format('woff'), url('../../css/font/KangxiDictU93CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
