@font-face {
    font-family: 'KangxiDictUF987';
    src: url('../../css/font/KangxiDictUF987.woff') format('woff'), url('../../css/font/KangxiDictUF987.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
