@font-face {
    font-family: 'KangxiDictU9291';
    src: url('../../css/font/KangxiDictU9291.woff') format('woff'), url('../../css/font/KangxiDictU9291.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
