@font-face {
    font-family: 'KangxiDictU8973';
    src: url('../../css/font/KangxiDictU8973.woff') format('woff'), url('../../css/font/KangxiDictU8973.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
