@font-face {
    font-family: 'KangxiDictU79ED';
    src: url('../../css/font/KangxiDictU79ED.woff') format('woff'), url('../../css/font/KangxiDictU79ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
