@font-face {
    font-family: 'KangxiDictU5531';
    src: url('../../css/font/KangxiDictU5531.woff') format('woff'), url('../../css/font/KangxiDictU5531.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
