@font-face {
    font-family: 'KangxiDictU8CCB';
    src: url('../../css/font/KangxiDictU8CCB.woff') format('woff'), url('../../css/font/KangxiDictU8CCB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
