@font-face {
    font-family: 'KangxiDictU7934';
    src: url('../../css/font/KangxiDictU7934.woff') format('woff'), url('../../css/font/KangxiDictU7934.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
