@font-face {
    font-family: 'KangxiDictU6496';
    src: url('../../css/font/KangxiDictU6496.woff') format('woff'), url('../../css/font/KangxiDictU6496.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
