@font-face {
    font-family: 'KangxiDictU7665';
    src: url('../../css/font/KangxiDictU7665.woff') format('woff'), url('../../css/font/KangxiDictU7665.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
