@font-face {
    font-family: 'KangxiDictU5650';
    src: url('../../css/font/KangxiDictU5650.woff') format('woff'), url('../../css/font/KangxiDictU5650.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
