@font-face {
    font-family: 'KangxiDictU8509';
    src: url('../../css/font/KangxiDictU8509.woff') format('woff'), url('../../css/font/KangxiDictU8509.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
