@font-face {
    font-family: 'KangxiDictU653F';
    src: url('../../css/font/KangxiDictU653F.woff') format('woff'), url('../../css/font/KangxiDictU653F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
