@font-face {
    font-family: 'KangxiDictU8504';
    src: url('../../css/font/KangxiDictU8504.woff') format('woff'), url('../../css/font/KangxiDictU8504.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
