@font-face {
    font-family: 'KangxiDictU9609';
    src: url('../../css/font/KangxiDictU9609.woff') format('woff'), url('../../css/font/KangxiDictU9609.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
