@font-face {
    font-family: 'KangxiDictU9ED3';
    src: url('../../css/font/KangxiDictU9ED3.woff') format('woff'), url('../../css/font/KangxiDictU9ED3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
