@font-face {
    font-family: 'KangxiDictU5CAE';
    src: url('../../css/font/KangxiDictU5CAE.woff') format('woff'), url('../../css/font/KangxiDictU5CAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
