@font-face {
    font-family: 'KangxiDictU8DD4';
    src: url('../../css/font/KangxiDictU8DD4.woff') format('woff'), url('../../css/font/KangxiDictU8DD4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
