@font-face {
    font-family: 'KangxiDictU9334';
    src: url('../../css/font/KangxiDictU9334.woff') format('woff'), url('../../css/font/KangxiDictU9334.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
