@font-face {
    font-family: 'KangxiDictU7CE6';
    src: url('../../css/font/KangxiDictU7CE6.woff') format('woff'), url('../../css/font/KangxiDictU7CE6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
