@font-face {
    font-family: 'KangxiDictU5AC9';
    src: url('../../css/font/KangxiDictU5AC9.woff') format('woff'), url('../../css/font/KangxiDictU5AC9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
