@font-face {
    font-family: 'KangxiDictU580E';
    src: url('../../css/font/KangxiDictU580E.woff') format('woff'), url('../../css/font/KangxiDictU580E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
