@font-face {
    font-family: 'KangxiDictU5738';
    src: url('../../css/font/KangxiDictU5738.woff') format('woff'), url('../../css/font/KangxiDictU5738.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
