@font-face {
    font-family: 'KangxiDictU9483';
    src: url('../../css/font/KangxiDictU9483.woff') format('woff'), url('../../css/font/KangxiDictU9483.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
