@font-face {
    font-family: 'KangxiDictU9EBB';
    src: url('../../css/font/KangxiDictU9EBB.woff') format('woff'), url('../../css/font/KangxiDictU9EBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
