@font-face {
    font-family: 'KangxiDictU64F4';
    src: url('../../css/font/KangxiDictU64F4.woff') format('woff'), url('../../css/font/KangxiDictU64F4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
