@font-face {
    font-family: 'KangxiDictU7732';
    src: url('../../css/font/KangxiDictU7732.woff') format('woff'), url('../../css/font/KangxiDictU7732.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
