@font-face {
    font-family: 'KangxiDictU7499';
    src: url('../../css/font/KangxiDictU7499.woff') format('woff'), url('../../css/font/KangxiDictU7499.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
