@font-face {
    font-family: 'KangxiDictU864A';
    src: url('../../css/font/KangxiDictU864A.woff') format('woff'), url('../../css/font/KangxiDictU864A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
