@font-face {
    font-family: 'KangxiDictU8923';
    src: url('../../css/font/KangxiDictU8923.woff') format('woff'), url('../../css/font/KangxiDictU8923.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
