@font-face {
    font-family: 'KangxiDictU8085';
    src: url('../../css/font/KangxiDictU8085.woff') format('woff'), url('../../css/font/KangxiDictU8085.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
