@font-face {
    font-family: 'KangxiDictU91CF';
    src: url('../../css/font/KangxiDictU91CF.woff') format('woff'), url('../../css/font/KangxiDictU91CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
