@font-face {
    font-family: 'KangxiDictU918F';
    src: url('../../css/font/KangxiDictU918F.woff') format('woff'), url('../../css/font/KangxiDictU918F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
