@font-face {
    font-family: 'KangxiDictUFAE7';
    src: url('../../css/font/KangxiDictUFAE7.woff') format('woff'), url('../../css/font/KangxiDictUFAE7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
