@font-face {
    font-family: 'KangxiDictU8518';
    src: url('../../css/font/KangxiDictU8518.woff') format('woff'), url('../../css/font/KangxiDictU8518.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
