@font-face {
    font-family: 'KangxiDictU5917';
    src: url('../../css/font/KangxiDictU5917.woff') format('woff'), url('../../css/font/KangxiDictU5917.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
