@font-face {
    font-family: 'KangxiDictU846B';
    src: url('../../css/font/KangxiDictU846B.woff') format('woff'), url('../../css/font/KangxiDictU846B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
