@font-face {
    font-family: 'KangxiDictU5313';
    src: url('../../css/font/KangxiDictU5313.woff') format('woff'), url('../../css/font/KangxiDictU5313.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
