@font-face {
    font-family: 'KangxiDictU8507';
    src: url('../../css/font/KangxiDictU8507.woff') format('woff'), url('../../css/font/KangxiDictU8507.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
