@font-face {
    font-family: 'KangxiDictU62B2';
    src: url('../../css/font/KangxiDictU62B2.woff') format('woff'), url('../../css/font/KangxiDictU62B2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
