@font-face {
    font-family: 'KangxiDictU5DF4';
    src: url('../../css/font/KangxiDictU5DF4.woff') format('woff'), url('../../css/font/KangxiDictU5DF4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
