@font-face {
    font-family: 'KangxiDictU8DFE';
    src: url('../../css/font/KangxiDictU8DFE.woff') format('woff'), url('../../css/font/KangxiDictU8DFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
