@font-face {
    font-family: 'KangxiDictU5612';
    src: url('../../css/font/KangxiDictU5612.woff') format('woff'), url('../../css/font/KangxiDictU5612.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
