@font-face {
    font-family: 'KangxiDictU7919';
    src: url('../../css/font/KangxiDictU7919.woff') format('woff'), url('../../css/font/KangxiDictU7919.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
