@font-face {
    font-family: 'KangxiDictU7E3C';
    src: url('../../css/font/KangxiDictU7E3C.woff') format('woff'), url('../../css/font/KangxiDictU7E3C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
