@font-face {
    font-family: 'KangxiDictU9FFB';
    src: url('../../css/font/KangxiDictU9FFB.woff') format('woff'), url('../../css/font/KangxiDictU9FFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
