@font-face {
    font-family: 'KangxiDictUF921';
    src: url('../../css/font/KangxiDictUF921.woff') format('woff'), url('../../css/font/KangxiDictUF921.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
