@font-face {
    font-family: 'KangxiDictU9123';
    src: url('../../css/font/KangxiDictU9123.woff') format('woff'), url('../../css/font/KangxiDictU9123.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
