@font-face {
    font-family: 'KangxiDictU5811';
    src: url('../../css/font/KangxiDictU5811.woff') format('woff'), url('../../css/font/KangxiDictU5811.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
