@font-face {
    font-family: 'KangxiDictU5307';
    src: url('../../css/font/KangxiDictU5307.woff') format('woff'), url('../../css/font/KangxiDictU5307.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
