@font-face {
    font-family: 'KangxiDictU632F';
    src: url('../../css/font/KangxiDictU632F.woff') format('woff'), url('../../css/font/KangxiDictU632F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
