@font-face {
    font-family: 'KangxiDictU8876';
    src: url('../../css/font/KangxiDictU8876.woff') format('woff'), url('../../css/font/KangxiDictU8876.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
