@font-face {
    font-family: 'KangxiDictUFA5F';
    src: url('../../css/font/KangxiDictUFA5F.woff') format('woff'), url('../../css/font/KangxiDictUFA5F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
