@font-face {
    font-family: 'KangxiDictUF944';
    src: url('../../css/font/KangxiDictUF944.woff') format('woff'), url('../../css/font/KangxiDictUF944.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
