@font-face {
    font-family: 'KangxiDictUF933';
    src: url('../../css/font/KangxiDictUF933.woff') format('woff'), url('../../css/font/KangxiDictUF933.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
