@font-face {
    font-family: 'KangxiDictU5624';
    src: url('../../css/font/KangxiDictU5624.woff') format('woff'), url('../../css/font/KangxiDictU5624.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
