@font-face {
    font-family: 'KangxiDictU8252';
    src: url('../../css/font/KangxiDictU8252.woff') format('woff'), url('../../css/font/KangxiDictU8252.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
