@font-face {
    font-family: 'KangxiDictU8A73';
    src: url('../../css/font/KangxiDictU8A73.woff') format('woff'), url('../../css/font/KangxiDictU8A73.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
