@font-face {
    font-family: 'KangxiDictU5763';
    src: url('../../css/font/KangxiDictU5763.woff') format('woff'), url('../../css/font/KangxiDictU5763.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
