@font-face {
    font-family: 'KangxiDictU7BC0';
    src: url('../../css/font/KangxiDictU7BC0.woff') format('woff'), url('../../css/font/KangxiDictU7BC0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
