@font-face {
    font-family: 'KangxiDictU8415';
    src: url('../../css/font/KangxiDictU8415.woff') format('woff'), url('../../css/font/KangxiDictU8415.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
