@font-face {
    font-family: 'KangxiDictU5517';
    src: url('../../css/font/KangxiDictU5517.woff') format('woff'), url('../../css/font/KangxiDictU5517.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
