@font-face {
    font-family: 'KangxiDictU6249';
    src: url('../../css/font/KangxiDictU6249.woff') format('woff'), url('../../css/font/KangxiDictU6249.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
