@font-face {
    font-family: 'KangxiDictU7053';
    src: url('../../css/font/KangxiDictU7053.woff') format('woff'), url('../../css/font/KangxiDictU7053.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
