@font-face {
    font-family: 'KangxiDictU6AA9';
    src: url('../../css/font/KangxiDictU6AA9.woff') format('woff'), url('../../css/font/KangxiDictU6AA9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
