@font-face {
    font-family: 'KangxiDictU8112';
    src: url('../../css/font/KangxiDictU8112.woff') format('woff'), url('../../css/font/KangxiDictU8112.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
