@font-face {
    font-family: 'KangxiDictU5051';
    src: url('../../css/font/KangxiDictU5051.woff') format('woff'), url('../../css/font/KangxiDictU5051.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
