@font-face {
    font-family: 'KangxiDictU6112';
    src: url('../../css/font/KangxiDictU6112.woff') format('woff'), url('../../css/font/KangxiDictU6112.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
