@font-face {
    font-family: 'KangxiDictU824A';
    src: url('../../css/font/KangxiDictU824A.woff') format('woff'), url('../../css/font/KangxiDictU824A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
