@font-face {
    font-family: 'KangxiDictU4E39';
    src: url('../../css/font/KangxiDictU4E39.woff') format('woff'), url('../../css/font/KangxiDictU4E39.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
