@font-face {
    font-family: 'KangxiDictU7436';
    src: url('../../css/font/KangxiDictU7436.woff') format('woff'), url('../../css/font/KangxiDictU7436.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
