@font-face {
    font-family: 'KangxiDictU50EC';
    src: url('../../css/font/KangxiDictU50EC.woff') format('woff'), url('../../css/font/KangxiDictU50EC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
