@font-face {
    font-family: 'KangxiDictU7BDF';
    src: url('../../css/font/KangxiDictU7BDF.woff') format('woff'), url('../../css/font/KangxiDictU7BDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
