@font-face {
    font-family: 'KangxiDictU5308';
    src: url('../../css/font/KangxiDictU5308.woff') format('woff'), url('../../css/font/KangxiDictU5308.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
