@font-face {
    font-family: 'KangxiDictU5303';
    src: url('../../css/font/KangxiDictU5303.woff') format('woff'), url('../../css/font/KangxiDictU5303.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
