@font-face {
    font-family: 'KangxiDictU8929';
    src: url('../../css/font/KangxiDictU8929.woff') format('woff'), url('../../css/font/KangxiDictU8929.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
