@font-face {
    font-family: 'KangxiDictU8033';
    src: url('../../css/font/KangxiDictU8033.woff') format('woff'), url('../../css/font/KangxiDictU8033.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
