@font-face {
    font-family: 'KangxiDictU7E81';
    src: url('../../css/font/KangxiDictU7E81.woff') format('woff'), url('../../css/font/KangxiDictU7E81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
