@font-face {
    font-family: 'KangxiDictU9186';
    src: url('../../css/font/KangxiDictU9186.woff') format('woff'), url('../../css/font/KangxiDictU9186.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
