@font-face {
    font-family: 'KangxiDictU4F84';
    src: url('../../css/font/KangxiDictU4F84.woff') format('woff'), url('../../css/font/KangxiDictU4F84.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
