@font-face {
    font-family: 'KangxiDictU55A5';
    src: url('../../css/font/KangxiDictU55A5.woff') format('woff'), url('../../css/font/KangxiDictU55A5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
