@font-face {
    font-family: 'KangxiDictU9289';
    src: url('../../css/font/KangxiDictU9289.woff') format('woff'), url('../../css/font/KangxiDictU9289.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
