@font-face {
    font-family: 'KangxiDictU52AD';
    src: url('../../css/font/KangxiDictU52AD.woff') format('woff'), url('../../css/font/KangxiDictU52AD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
