@font-face {
    font-family: 'KangxiDictU966B';
    src: url('../../css/font/KangxiDictU966B.woff') format('woff'), url('../../css/font/KangxiDictU966B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
