@font-face {
    font-family: 'KangxiDictU8356';
    src: url('../../css/font/KangxiDictU8356.woff') format('woff'), url('../../css/font/KangxiDictU8356.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
