@font-face {
    font-family: 'KangxiDictU610F';
    src: url('../../css/font/KangxiDictU610F.woff') format('woff'), url('../../css/font/KangxiDictU610F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
