@font-face {
    font-family: 'KangxiDictU876B';
    src: url('../../css/font/KangxiDictU876B.woff') format('woff'), url('../../css/font/KangxiDictU876B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
