@font-face {
    font-family: 'KangxiDictU8F34';
    src: url('../../css/font/KangxiDictU8F34.woff') format('woff'), url('../../css/font/KangxiDictU8F34.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
