@font-face {
    font-family: 'KangxiDictU5CCA';
    src: url('../../css/font/KangxiDictU5CCA.woff') format('woff'), url('../../css/font/KangxiDictU5CCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
