@font-face {
    font-family: 'KangxiDictU5682';
    src: url('../../css/font/KangxiDictU5682.woff') format('woff'), url('../../css/font/KangxiDictU5682.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
