@font-face {
    font-family: 'KangxiDictU5856';
    src: url('../../css/font/KangxiDictU5856.woff') format('woff'), url('../../css/font/KangxiDictU5856.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
