@font-face {
    font-family: 'KangxiDictU9096';
    src: url('../../css/font/KangxiDictU9096.woff') format('woff'), url('../../css/font/KangxiDictU9096.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
