@font-face {
    font-family: 'KangxiDictU93EC';
    src: url('../../css/font/KangxiDictU93EC.woff') format('woff'), url('../../css/font/KangxiDictU93EC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
