@font-face {
    font-family: 'KangxiDictU9A36';
    src: url('../../css/font/KangxiDictU9A36.woff') format('woff'), url('../../css/font/KangxiDictU9A36.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
