@font-face {
    font-family: 'KangxiDictU95CE';
    src: url('../../css/font/KangxiDictU95CE.woff') format('woff'), url('../../css/font/KangxiDictU95CE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
