@font-face {
    font-family: 'KangxiDictU9DC4';
    src: url('../../css/font/KangxiDictU9DC4.woff') format('woff'), url('../../css/font/KangxiDictU9DC4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
