@font-face {
    font-family: 'KangxiDictU5A81';
    src: url('../../css/font/KangxiDictU5A81.woff') format('woff'), url('../../css/font/KangxiDictU5A81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
