@font-face {
    font-family: 'KangxiDictU6003';
    src: url('../../css/font/KangxiDictU6003.woff') format('woff'), url('../../css/font/KangxiDictU6003.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
