@font-face {
    font-family: 'KangxiDictU524F';
    src: url('../../css/font/KangxiDictU524F.woff') format('woff'), url('../../css/font/KangxiDictU524F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
