@font-face {
    font-family: 'KangxiDictU723C';
    src: url('../../css/font/KangxiDictU723C.woff') format('woff'), url('../../css/font/KangxiDictU723C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
