@font-face {
    font-family: 'KangxiDictU6DBF';
    src: url('../../css/font/KangxiDictU6DBF.woff') format('woff'), url('../../css/font/KangxiDictU6DBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
