@font-face {
    font-family: 'KangxiDictU9ABF';
    src: url('../../css/font/KangxiDictU9ABF.woff') format('woff'), url('../../css/font/KangxiDictU9ABF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
