@font-face {
    font-family: 'KangxiDictU9F04';
    src: url('../../css/font/KangxiDictU9F04.woff') format('woff'), url('../../css/font/KangxiDictU9F04.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
