@font-face {
    font-family: 'KangxiDictU6004';
    src: url('../../css/font/KangxiDictU6004.woff') format('woff'), url('../../css/font/KangxiDictU6004.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
