@font-face {
    font-family: 'KangxiDictUF97C';
    src: url('../../css/font/KangxiDictUF97C.woff') format('woff'), url('../../css/font/KangxiDictUF97C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
