@font-face {
    font-family: 'KangxiDictU5D84';
    src: url('../../css/font/KangxiDictU5D84.woff') format('woff'), url('../../css/font/KangxiDictU5D84.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
