@font-face {
    font-family: 'KangxiDictU7A29';
    src: url('../../css/font/KangxiDictU7A29.woff') format('woff'), url('../../css/font/KangxiDictU7A29.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
