@font-face {
    font-family: 'KangxiDictU7CAB';
    src: url('../../css/font/KangxiDictU7CAB.woff') format('woff'), url('../../css/font/KangxiDictU7CAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
