@font-face {
    font-family: 'KangxiDictU83EC';
    src: url('../../css/font/KangxiDictU83EC.woff') format('woff'), url('../../css/font/KangxiDictU83EC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
