@font-face {
    font-family: 'KangxiDictU9E09';
    src: url('../../css/font/KangxiDictU9E09.woff') format('woff'), url('../../css/font/KangxiDictU9E09.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
