@font-face {
    font-family: 'KangxiDictU666B';
    src: url('../../css/font/KangxiDictU666B.woff') format('woff'), url('../../css/font/KangxiDictU666B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
