@font-face {
    font-family: 'KangxiDictU76A4';
    src: url('../../css/font/KangxiDictU76A4.woff') format('woff'), url('../../css/font/KangxiDictU76A4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
