@font-face {
    font-family: 'KangxiDictU7512';
    src: url('../../css/font/KangxiDictU7512.woff') format('woff'), url('../../css/font/KangxiDictU7512.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
