@font-face {
    font-family: 'KangxiDictU81DC';
    src: url('../../css/font/KangxiDictU81DC.woff') format('woff'), url('../../css/font/KangxiDictU81DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
