@font-face {
    font-family: 'KangxiDictU4EBD';
    src: url('../../css/font/KangxiDictU4EBD.woff') format('woff'), url('../../css/font/KangxiDictU4EBD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
