@font-face {
    font-family: 'KangxiDictU5D40';
    src: url('../../css/font/KangxiDictU5D40.woff') format('woff'), url('../../css/font/KangxiDictU5D40.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
