@font-face {
    font-family: 'KangxiDictU8767';
    src: url('../../css/font/KangxiDictU8767.woff') format('woff'), url('../../css/font/KangxiDictU8767.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
