@font-face {
    font-family: 'KangxiDictU674F';
    src: url('../../css/font/KangxiDictU674F.woff') format('woff'), url('../../css/font/KangxiDictU674F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
