@font-face {
    font-family: 'KangxiDictU9942';
    src: url('../../css/font/KangxiDictU9942.woff') format('woff'), url('../../css/font/KangxiDictU9942.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
