@font-face {
    font-family: 'KangxiDictU8294';
    src: url('../../css/font/KangxiDictU8294.woff') format('woff'), url('../../css/font/KangxiDictU8294.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
