@font-face {
    font-family: 'KangxiDictU6DC8';
    src: url('../../css/font/KangxiDictU6DC8.woff') format('woff'), url('../../css/font/KangxiDictU6DC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
