@font-face {
    font-family: 'KangxiDictU68BD';
    src: url('../../css/font/KangxiDictU68BD.woff') format('woff'), url('../../css/font/KangxiDictU68BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
