@font-face {
    font-family: 'KangxiDictU5AEE';
    src: url('../../css/font/KangxiDictU5AEE.woff') format('woff'), url('../../css/font/KangxiDictU5AEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
