@font-face {
    font-family: 'KangxiDictU64BD';
    src: url('../../css/font/KangxiDictU64BD.woff') format('woff'), url('../../css/font/KangxiDictU64BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
