@font-face {
    font-family: 'KangxiDictU7017';
    src: url('../../css/font/KangxiDictU7017.woff') format('woff'), url('../../css/font/KangxiDictU7017.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
