@font-face {
    font-family: 'KangxiDictU8067';
    src: url('../../css/font/KangxiDictU8067.woff') format('woff'), url('../../css/font/KangxiDictU8067.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
