@font-face {
    font-family: 'KangxiDictU8170';
    src: url('../../css/font/KangxiDictU8170.woff') format('woff'), url('../../css/font/KangxiDictU8170.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
