@font-face {
    font-family: 'KangxiDictU8C14';
    src: url('../../css/font/KangxiDictU8C14.woff') format('woff'), url('../../css/font/KangxiDictU8C14.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
