@font-face {
    font-family: 'KangxiDictU7908';
    src: url('../../css/font/KangxiDictU7908.woff') format('woff'), url('../../css/font/KangxiDictU7908.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
