@font-face {
    font-family: 'KangxiDictU6DED';
    src: url('../../css/font/KangxiDictU6DED.woff') format('woff'), url('../../css/font/KangxiDictU6DED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
