@font-face {
    font-family: 'KangxiDictU9311';
    src: url('../../css/font/KangxiDictU9311.woff') format('woff'), url('../../css/font/KangxiDictU9311.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
