@font-face {
    font-family: 'KangxiDictU709F';
    src: url('../../css/font/KangxiDictU709F.woff') format('woff'), url('../../css/font/KangxiDictU709F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
