@font-face {
    font-family: 'KangxiDictU9811';
    src: url('../../css/font/KangxiDictU9811.woff') format('woff'), url('../../css/font/KangxiDictU9811.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
