@font-face {
    font-family: 'KangxiDictU790F';
    src: url('../../css/font/KangxiDictU790F.woff') format('woff'), url('../../css/font/KangxiDictU790F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
