@font-face {
    font-family: 'KangxiDictU94E4';
    src: url('../../css/font/KangxiDictU94E4.woff') format('woff'), url('../../css/font/KangxiDictU94E4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
