@font-face {
    font-family: 'KangxiDictU6F38';
    src: url('../../css/font/KangxiDictU6F38.woff') format('woff'), url('../../css/font/KangxiDictU6F38.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
