@font-face {
    font-family: 'KangxiDictU9C7B';
    src: url('../../css/font/KangxiDictU9C7B.woff') format('woff'), url('../../css/font/KangxiDictU9C7B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
