@font-face {
    font-family: 'KangxiDictU7220';
    src: url('../../css/font/KangxiDictU7220.woff') format('woff'), url('../../css/font/KangxiDictU7220.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
