@font-face {
    font-family: 'KangxiDictU8AFD';
    src: url('../../css/font/KangxiDictU8AFD.woff') format('woff'), url('../../css/font/KangxiDictU8AFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
