@font-face {
    font-family: 'KangxiDictU8873';
    src: url('../../css/font/KangxiDictU8873.woff') format('woff'), url('../../css/font/KangxiDictU8873.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
