@font-face {
    font-family: 'KangxiDictU7634';
    src: url('../../css/font/KangxiDictU7634.woff') format('woff'), url('../../css/font/KangxiDictU7634.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
