@font-face {
    font-family: 'KangxiDictU8DFD';
    src: url('../../css/font/KangxiDictU8DFD.woff') format('woff'), url('../../css/font/KangxiDictU8DFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
