@font-face {
    font-family: 'KangxiDictU5C82';
    src: url('../../css/font/KangxiDictU5C82.woff') format('woff'), url('../../css/font/KangxiDictU5C82.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
