@font-face {
    font-family: 'KangxiDictU6264';
    src: url('../../css/font/KangxiDictU6264.woff') format('woff'), url('../../css/font/KangxiDictU6264.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
