@font-face {
    font-family: 'KangxiDictUFA18';
    src: url('../../css/font/KangxiDictUFA18.woff') format('woff'), url('../../css/font/KangxiDictUFA18.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
