@font-face {
    font-family: 'KangxiDictU5ABE';
    src: url('../../css/font/KangxiDictU5ABE.woff') format('woff'), url('../../css/font/KangxiDictU5ABE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
