@font-face {
    font-family: 'KangxiDictU7CF5';
    src: url('../../css/font/KangxiDictU7CF5.woff') format('woff'), url('../../css/font/KangxiDictU7CF5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
