@font-face {
    font-family: 'KangxiDictU6A71';
    src: url('../../css/font/KangxiDictU6A71.woff') format('woff'), url('../../css/font/KangxiDictU6A71.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
