@font-face {
    font-family: 'KangxiDictUF98C';
    src: url('../../css/font/KangxiDictUF98C.woff') format('woff'), url('../../css/font/KangxiDictUF98C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
