@font-face {
    font-family: 'KangxiDictU8605';
    src: url('../../css/font/KangxiDictU8605.woff') format('woff'), url('../../css/font/KangxiDictU8605.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
