@font-face {
    font-family: 'KangxiDictU9914';
    src: url('../../css/font/KangxiDictU9914.woff') format('woff'), url('../../css/font/KangxiDictU9914.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
