@font-face {
    font-family: 'KangxiDictU8AD4';
    src: url('../../css/font/KangxiDictU8AD4.woff') format('woff'), url('../../css/font/KangxiDictU8AD4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
