@font-face {
    font-family: 'KangxiDictU8735';
    src: url('../../css/font/KangxiDictU8735.woff') format('woff'), url('../../css/font/KangxiDictU8735.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
