@font-face {
    font-family: 'KangxiDictU6646';
    src: url('../../css/font/KangxiDictU6646.woff') format('woff'), url('../../css/font/KangxiDictU6646.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
