@font-face {
    font-family: 'KangxiDictU4FE0';
    src: url('../../css/font/KangxiDictU4FE0.woff') format('woff'), url('../../css/font/KangxiDictU4FE0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
