@font-face {
    font-family: 'KangxiDictU9B10';
    src: url('../../css/font/KangxiDictU9B10.woff') format('woff'), url('../../css/font/KangxiDictU9B10.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
