@font-face {
    font-family: 'KangxiDictU5B73';
    src: url('../../css/font/KangxiDictU5B73.woff') format('woff'), url('../../css/font/KangxiDictU5B73.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
