@font-face {
    font-family: 'KangxiDictU6165';
    src: url('../../css/font/KangxiDictU6165.woff') format('woff'), url('../../css/font/KangxiDictU6165.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
