@font-face {
    font-family: 'KangxiDictU9420';
    src: url('../../css/font/KangxiDictU9420.woff') format('woff'), url('../../css/font/KangxiDictU9420.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
