@font-face {
    font-family: 'KangxiDictU9675';
    src: url('../../css/font/KangxiDictU9675.woff') format('woff'), url('../../css/font/KangxiDictU9675.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
