@font-face {
    font-family: 'KangxiDictU9984';
    src: url('../../css/font/KangxiDictU9984.woff') format('woff'), url('../../css/font/KangxiDictU9984.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
