@font-face {
    font-family: 'KangxiDictU7967';
    src: url('../../css/font/KangxiDictU7967.woff') format('woff'), url('../../css/font/KangxiDictU7967.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
