@font-face {
    font-family: 'KangxiDictU6F53';
    src: url('../../css/font/KangxiDictU6F53.woff') format('woff'), url('../../css/font/KangxiDictU6F53.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
