@font-face {
    font-family: 'KangxiDictU6080';
    src: url('../../css/font/KangxiDictU6080.woff') format('woff'), url('../../css/font/KangxiDictU6080.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
