@font-face {
    font-family: 'KangxiDictU94C7';
    src: url('../../css/font/KangxiDictU94C7.woff') format('woff'), url('../../css/font/KangxiDictU94C7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
