@font-face {
    font-family: 'KangxiDictU59AA';
    src: url('../../css/font/KangxiDictU59AA.woff') format('woff'), url('../../css/font/KangxiDictU59AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
