@font-face {
    font-family: 'KangxiDictU6BE7';
    src: url('../../css/font/KangxiDictU6BE7.woff') format('woff'), url('../../css/font/KangxiDictU6BE7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
