@font-face {
    font-family: 'KangxiDictU86CF';
    src: url('../../css/font/KangxiDictU86CF.woff') format('woff'), url('../../css/font/KangxiDictU86CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
