@font-face {
    font-family: 'KangxiDictU573C';
    src: url('../../css/font/KangxiDictU573C.woff') format('woff'), url('../../css/font/KangxiDictU573C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
