@font-face {
    font-family: 'KangxiDictU6135';
    src: url('../../css/font/KangxiDictU6135.woff') format('woff'), url('../../css/font/KangxiDictU6135.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
