@font-face {
    font-family: 'KangxiDictU9735';
    src: url('../../css/font/KangxiDictU9735.woff') format('woff'), url('../../css/font/KangxiDictU9735.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
