@font-face {
    font-family: 'KangxiDictU738B';
    src: url('../../css/font/KangxiDictU738B.woff') format('woff'), url('../../css/font/KangxiDictU738B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
