@font-face {
    font-family: 'KangxiDictU8CBC';
    src: url('../../css/font/KangxiDictU8CBC.woff') format('woff'), url('../../css/font/KangxiDictU8CBC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
