@font-face {
    font-family: 'KangxiDictU6A03';
    src: url('../../css/font/KangxiDictU6A03.woff') format('woff'), url('../../css/font/KangxiDictU6A03.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
