@font-face {
    font-family: 'KangxiDictU93FD';
    src: url('../../css/font/KangxiDictU93FD.woff') format('woff'), url('../../css/font/KangxiDictU93FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
