@font-face {
    font-family: 'KangxiDictU7F90';
    src: url('../../css/font/KangxiDictU7F90.woff') format('woff'), url('../../css/font/KangxiDictU7F90.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
