@font-face {
    font-family: 'KangxiDictU722D';
    src: url('../../css/font/KangxiDictU722D.woff') format('woff'), url('../../css/font/KangxiDictU722D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
