@font-face {
    font-family: 'KangxiDictU9FBF';
    src: url('../../css/font/KangxiDictU9FBF.woff') format('woff'), url('../../css/font/KangxiDictU9FBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
