@font-face {
    font-family: 'KangxiDictU7650';
    src: url('../../css/font/KangxiDictU7650.woff') format('woff'), url('../../css/font/KangxiDictU7650.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
