@font-face {
    font-family: 'KangxiDictU7EBA';
    src: url('../../css/font/KangxiDictU7EBA.woff') format('woff'), url('../../css/font/KangxiDictU7EBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
