@font-face {
    font-family: 'KangxiDictU8B56';
    src: url('../../css/font/KangxiDictU8B56.woff') format('woff'), url('../../css/font/KangxiDictU8B56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
