@font-face {
    font-family: 'KangxiDictU6B07';
    src: url('../../css/font/KangxiDictU6B07.woff') format('woff'), url('../../css/font/KangxiDictU6B07.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
