@font-face {
    font-family: 'KangxiDictU72DF';
    src: url('../../css/font/KangxiDictU72DF.woff') format('woff'), url('../../css/font/KangxiDictU72DF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
