@font-face {
    font-family: 'KangxiDictU9E88';
    src: url('../../css/font/KangxiDictU9E88.woff') format('woff'), url('../../css/font/KangxiDictU9E88.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
