@font-face {
    font-family: 'KangxiDictU8E1C';
    src: url('../../css/font/KangxiDictU8E1C.woff') format('woff'), url('../../css/font/KangxiDictU8E1C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
