@font-face {
    font-family: 'KangxiDictU5160';
    src: url('../../css/font/KangxiDictU5160.woff') format('woff'), url('../../css/font/KangxiDictU5160.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
