@font-face {
    font-family: 'KangxiDictU8AD9';
    src: url('../../css/font/KangxiDictU8AD9.woff') format('woff'), url('../../css/font/KangxiDictU8AD9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
