@font-face {
    font-family: 'KangxiDictU7966';
    src: url('../../css/font/KangxiDictU7966.woff') format('woff'), url('../../css/font/KangxiDictU7966.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
