@font-face {
    font-family: 'KangxiDictU9162';
    src: url('../../css/font/KangxiDictU9162.woff') format('woff'), url('../../css/font/KangxiDictU9162.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
