@font-face {
    font-family: 'KangxiDictU6D46';
    src: url('../../css/font/KangxiDictU6D46.woff') format('woff'), url('../../css/font/KangxiDictU6D46.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
