@font-face {
    font-family: 'KangxiDictU6AFF';
    src: url('../../css/font/KangxiDictU6AFF.woff') format('woff'), url('../../css/font/KangxiDictU6AFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
