@font-face {
    font-family: 'KangxiDictU7157';
    src: url('../../css/font/KangxiDictU7157.woff') format('woff'), url('../../css/font/KangxiDictU7157.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
