@font-face {
    font-family: 'KangxiDictU6171';
    src: url('../../css/font/KangxiDictU6171.woff') format('woff'), url('../../css/font/KangxiDictU6171.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
