@font-face {
    font-family: 'KangxiDictU93BD';
    src: url('../../css/font/KangxiDictU93BD.woff') format('woff'), url('../../css/font/KangxiDictU93BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
