@font-face {
    font-family: 'KangxiDictU744B';
    src: url('../../css/font/KangxiDictU744B.woff') format('woff'), url('../../css/font/KangxiDictU744B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
