@font-face {
    font-family: 'KangxiDictU5202';
    src: url('../../css/font/KangxiDictU5202.woff') format('woff'), url('../../css/font/KangxiDictU5202.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
