@font-face {
    font-family: 'KangxiDictU6F75';
    src: url('../../css/font/KangxiDictU6F75.woff') format('woff'), url('../../css/font/KangxiDictU6F75.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
