@font-face {
    font-family: 'KangxiDictU58C4';
    src: url('../../css/font/KangxiDictU58C4.woff') format('woff'), url('../../css/font/KangxiDictU58C4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
