@font-face {
    font-family: 'KangxiDictU652D';
    src: url('../../css/font/KangxiDictU652D.woff') format('woff'), url('../../css/font/KangxiDictU652D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
