@font-face {
    font-family: 'KangxiDictU7617';
    src: url('../../css/font/KangxiDictU7617.woff') format('woff'), url('../../css/font/KangxiDictU7617.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
