@font-face {
    font-family: 'KangxiDictU5782';
    src: url('../../css/font/KangxiDictU5782.woff') format('woff'), url('../../css/font/KangxiDictU5782.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
