@font-face {
    font-family: 'KangxiDictU917C';
    src: url('../../css/font/KangxiDictU917C.woff') format('woff'), url('../../css/font/KangxiDictU917C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
