@font-face {
    font-family: 'KangxiDictU9667';
    src: url('../../css/font/KangxiDictU9667.woff') format('woff'), url('../../css/font/KangxiDictU9667.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
