@font-face {
    font-family: 'KangxiDictUFA37';
    src: url('../../css/font/KangxiDictUFA37.woff') format('woff'), url('../../css/font/KangxiDictUFA37.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
