@font-face {
    font-family: 'KangxiDictU9936';
    src: url('../../css/font/KangxiDictU9936.woff') format('woff'), url('../../css/font/KangxiDictU9936.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
