@font-face {
    font-family: 'KangxiDictUF984';
    src: url('../../css/font/KangxiDictUF984.woff') format('woff'), url('../../css/font/KangxiDictUF984.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
