@font-face {
    font-family: 'KangxiDictU8338';
    src: url('../../css/font/KangxiDictU8338.woff') format('woff'), url('../../css/font/KangxiDictU8338.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
