@font-face {
    font-family: 'KangxiDictU8B40';
    src: url('../../css/font/KangxiDictU8B40.woff') format('woff'), url('../../css/font/KangxiDictU8B40.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
