@font-face {
    font-family: 'KangxiDictU5E48';
    src: url('../../css/font/KangxiDictU5E48.woff') format('woff'), url('../../css/font/KangxiDictU5E48.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
