@font-face {
    font-family: 'KangxiDictU8DEC';
    src: url('../../css/font/KangxiDictU8DEC.woff') format('woff'), url('../../css/font/KangxiDictU8DEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
