@font-face {
    font-family: 'KangxiDictU6589';
    src: url('../../css/font/KangxiDictU6589.woff') format('woff'), url('../../css/font/KangxiDictU6589.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
