@font-face {
    font-family: 'KangxiDictU9022';
    src: url('../../css/font/KangxiDictU9022.woff') format('woff'), url('../../css/font/KangxiDictU9022.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
