@font-face {
    font-family: 'KangxiDictU6BAF';
    src: url('../../css/font/KangxiDictU6BAF.woff') format('woff'), url('../../css/font/KangxiDictU6BAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
