@font-face {
    font-family: 'KangxiDictU5293';
    src: url('../../css/font/KangxiDictU5293.woff') format('woff'), url('../../css/font/KangxiDictU5293.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
