@font-face {
    font-family: 'KangxiDictU5F28';
    src: url('../../css/font/KangxiDictU5F28.woff') format('woff'), url('../../css/font/KangxiDictU5F28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
