@font-face {
    font-family: 'KangxiDictU53D7';
    src: url('../../css/font/KangxiDictU53D7.woff') format('woff'), url('../../css/font/KangxiDictU53D7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
