@font-face {
    font-family: 'KangxiDictU931C';
    src: url('../../css/font/KangxiDictU931C.woff') format('woff'), url('../../css/font/KangxiDictU931C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
