@font-face {
    font-family: 'KangxiDictU9B03';
    src: url('../../css/font/KangxiDictU9B03.woff') format('woff'), url('../../css/font/KangxiDictU9B03.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
