@font-face {
    font-family: 'KangxiDictU9045';
    src: url('../../css/font/KangxiDictU9045.woff') format('woff'), url('../../css/font/KangxiDictU9045.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
