@font-face {
    font-family: 'KangxiDictU80AA';
    src: url('../../css/font/KangxiDictU80AA.woff') format('woff'), url('../../css/font/KangxiDictU80AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
