@font-face {
    font-family: 'KangxiDictU672A';
    src: url('../../css/font/KangxiDictU672A.woff') format('woff'), url('../../css/font/KangxiDictU672A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
