@font-face {
    font-family: 'KangxiDictU9349';
    src: url('../../css/font/KangxiDictU9349.woff') format('woff'), url('../../css/font/KangxiDictU9349.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
