@font-face {
    font-family: 'KangxiDictU7747';
    src: url('../../css/font/KangxiDictU7747.woff') format('woff'), url('../../css/font/KangxiDictU7747.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
