@font-face {
    font-family: 'KangxiDictU5340';
    src: url('../../css/font/KangxiDictU5340.woff') format('woff'), url('../../css/font/KangxiDictU5340.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
