@font-face {
    font-family: 'KangxiDictU6955';
    src: url('../../css/font/KangxiDictU6955.woff') format('woff'), url('../../css/font/KangxiDictU6955.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
