@font-face {
    font-family: 'KangxiDictU5D0C';
    src: url('../../css/font/KangxiDictU5D0C.woff') format('woff'), url('../../css/font/KangxiDictU5D0C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
