@font-face {
    font-family: 'KangxiDictU967E';
    src: url('../../css/font/KangxiDictU967E.woff') format('woff'), url('../../css/font/KangxiDictU967E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
