@font-face {
    font-family: 'KangxiDictU9617';
    src: url('../../css/font/KangxiDictU9617.woff') format('woff'), url('../../css/font/KangxiDictU9617.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
