@font-face {
    font-family: 'KangxiDictUF928';
    src: url('../../css/font/KangxiDictUF928.woff') format('woff'), url('../../css/font/KangxiDictUF928.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
