@font-face {
    font-family: 'KangxiDictU50CB';
    src: url('../../css/font/KangxiDictU50CB.woff') format('woff'), url('../../css/font/KangxiDictU50CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
