@font-face {
    font-family: 'KangxiDictU8700';
    src: url('../../css/font/KangxiDictU8700.woff') format('woff'), url('../../css/font/KangxiDictU8700.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
