@font-face {
    font-family: 'KangxiDictU70EA';
    src: url('../../css/font/KangxiDictU70EA.woff') format('woff'), url('../../css/font/KangxiDictU70EA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
