@font-face {
    font-family: 'KangxiDictU5BF1';
    src: url('../../css/font/KangxiDictU5BF1.woff') format('woff'), url('../../css/font/KangxiDictU5BF1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
