@font-face {
    font-family: 'KangxiDictU7565';
    src: url('../../css/font/KangxiDictU7565.woff') format('woff'), url('../../css/font/KangxiDictU7565.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
