@font-face {
    font-family: 'KangxiDictU9286';
    src: url('../../css/font/KangxiDictU9286.woff') format('woff'), url('../../css/font/KangxiDictU9286.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
