@font-face {
    font-family: 'KangxiDictU9302';
    src: url('../../css/font/KangxiDictU9302.woff') format('woff'), url('../../css/font/KangxiDictU9302.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
