@font-face {
    font-family: 'KangxiDictU7653';
    src: url('../../css/font/KangxiDictU7653.woff') format('woff'), url('../../css/font/KangxiDictU7653.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
