@font-face {
    font-family: 'KangxiDictU9406';
    src: url('../../css/font/KangxiDictU9406.woff') format('woff'), url('../../css/font/KangxiDictU9406.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
