@font-face {
    font-family: 'KangxiDictU7C17';
    src: url('../../css/font/KangxiDictU7C17.woff') format('woff'), url('../../css/font/KangxiDictU7C17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
