@font-face {
    font-family: 'KangxiDictU5F22';
    src: url('../../css/font/KangxiDictU5F22.woff') format('woff'), url('../../css/font/KangxiDictU5F22.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
