@font-face {
    font-family: 'KangxiDictU9ECB';
    src: url('../../css/font/KangxiDictU9ECB.woff') format('woff'), url('../../css/font/KangxiDictU9ECB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
