@font-face {
    font-family: 'KangxiDictU5143';
    src: url('../../css/font/KangxiDictU5143.woff') format('woff'), url('../../css/font/KangxiDictU5143.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
