@font-face {
    font-family: 'KangxiDictU7AA1';
    src: url('../../css/font/KangxiDictU7AA1.woff') format('woff'), url('../../css/font/KangxiDictU7AA1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
