@font-face {
    font-family: 'KangxiDictU5543';
    src: url('../../css/font/KangxiDictU5543.woff') format('woff'), url('../../css/font/KangxiDictU5543.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
