@font-face {
    font-family: 'KangxiDictU8052';
    src: url('../../css/font/KangxiDictU8052.woff') format('woff'), url('../../css/font/KangxiDictU8052.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
