@font-face {
    font-family: 'KangxiDictU4F6B';
    src: url('../../css/font/KangxiDictU4F6B.woff') format('woff'), url('../../css/font/KangxiDictU4F6B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
