@font-face {
    font-family: 'KangxiDictU8705';
    src: url('../../css/font/KangxiDictU8705.woff') format('woff'), url('../../css/font/KangxiDictU8705.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
