@font-face {
    font-family: 'KangxiDictU5838';
    src: url('../../css/font/KangxiDictU5838.woff') format('woff'), url('../../css/font/KangxiDictU5838.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
