@font-face {
    font-family: 'KangxiDictU9035';
    src: url('../../css/font/KangxiDictU9035.woff') format('woff'), url('../../css/font/KangxiDictU9035.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
