@font-face {
    font-family: 'KangxiDictU885A';
    src: url('../../css/font/KangxiDictU885A.woff') format('woff'), url('../../css/font/KangxiDictU885A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
