@font-face {
    font-family: 'KangxiDictU5484';
    src: url('../../css/font/KangxiDictU5484.woff') format('woff'), url('../../css/font/KangxiDictU5484.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
