@font-face {
    font-family: 'KangxiDictU7AA3';
    src: url('../../css/font/KangxiDictU7AA3.woff') format('woff'), url('../../css/font/KangxiDictU7AA3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
