@font-face {
    font-family: 'KangxiDictU6236';
    src: url('../../css/font/KangxiDictU6236.woff') format('woff'), url('../../css/font/KangxiDictU6236.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
