@font-face {
    font-family: 'KangxiDictU9D5A';
    src: url('../../css/font/KangxiDictU9D5A.woff') format('woff'), url('../../css/font/KangxiDictU9D5A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
