@font-face {
    font-family: 'KangxiDictU8450';
    src: url('../../css/font/KangxiDictU8450.woff') format('woff'), url('../../css/font/KangxiDictU8450.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
