@font-face {
    font-family: 'KangxiDictU5636';
    src: url('../../css/font/KangxiDictU5636.woff') format('woff'), url('../../css/font/KangxiDictU5636.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
