@font-face {
    font-family: 'KangxiDictU7474';
    src: url('../../css/font/KangxiDictU7474.woff') format('woff'), url('../../css/font/KangxiDictU7474.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
