@font-face {
    font-family: 'KangxiDictU7677';
    src: url('../../css/font/KangxiDictU7677.woff') format('woff'), url('../../css/font/KangxiDictU7677.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
