@font-face {
    font-family: 'KangxiDictU9397';
    src: url('../../css/font/KangxiDictU9397.woff') format('woff'), url('../../css/font/KangxiDictU9397.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
