@font-face {
    font-family: 'KangxiDictU5947';
    src: url('../../css/font/KangxiDictU5947.woff') format('woff'), url('../../css/font/KangxiDictU5947.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
