@font-face {
    font-family: 'KangxiDictU6CF3';
    src: url('../../css/font/KangxiDictU6CF3.woff') format('woff'), url('../../css/font/KangxiDictU6CF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
