@font-face {
    font-family: 'KangxiDictU6902';
    src: url('../../css/font/KangxiDictU6902.woff') format('woff'), url('../../css/font/KangxiDictU6902.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
