@font-face {
    font-family: 'KangxiDictU7DAF';
    src: url('../../css/font/KangxiDictU7DAF.woff') format('woff'), url('../../css/font/KangxiDictU7DAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
