@font-face {
    font-family: 'KangxiDictU7B69';
    src: url('../../css/font/KangxiDictU7B69.woff') format('woff'), url('../../css/font/KangxiDictU7B69.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
