@font-face {
    font-family: 'KangxiDictU7D99';
    src: url('../../css/font/KangxiDictU7D99.woff') format('woff'), url('../../css/font/KangxiDictU7D99.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
