@font-face {
    font-family: 'KangxiDictU5954';
    src: url('../../css/font/KangxiDictU5954.woff') format('woff'), url('../../css/font/KangxiDictU5954.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
