@font-face {
    font-family: 'KangxiDictU9715';
    src: url('../../css/font/KangxiDictU9715.woff') format('woff'), url('../../css/font/KangxiDictU9715.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
