@font-face {
    font-family: 'KangxiDictU63AB';
    src: url('../../css/font/KangxiDictU63AB.woff') format('woff'), url('../../css/font/KangxiDictU63AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
