@font-face {
    font-family: 'KangxiDictUF902';
    src: url('../../css/font/KangxiDictUF902.woff') format('woff'), url('../../css/font/KangxiDictUF902.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
