@font-face {
    font-family: 'KangxiDictU86BE';
    src: url('../../css/font/KangxiDictU86BE.woff') format('woff'), url('../../css/font/KangxiDictU86BE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
