@font-face {
    font-family: 'KangxiDictU8B08';
    src: url('../../css/font/KangxiDictU8B08.woff') format('woff'), url('../../css/font/KangxiDictU8B08.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
