@font-face {
    font-family: 'KangxiDictU7A63';
    src: url('../../css/font/KangxiDictU7A63.woff') format('woff'), url('../../css/font/KangxiDictU7A63.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
