@font-face {
    font-family: 'KangxiDictU95EF';
    src: url('../../css/font/KangxiDictU95EF.woff') format('woff'), url('../../css/font/KangxiDictU95EF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
