@font-face {
    font-family: 'KangxiDictU8617';
    src: url('../../css/font/KangxiDictU8617.woff') format('woff'), url('../../css/font/KangxiDictU8617.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
