@font-face {
    font-family: 'KangxiDictU88BB';
    src: url('../../css/font/KangxiDictU88BB.woff') format('woff'), url('../../css/font/KangxiDictU88BB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
