@font-face {
    font-family: 'KangxiDictU4FC9';
    src: url('../../css/font/KangxiDictU4FC9.woff') format('woff'), url('../../css/font/KangxiDictU4FC9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
