@font-face {
    font-family: 'KangxiDictU6691';
    src: url('../../css/font/KangxiDictU6691.woff') format('woff'), url('../../css/font/KangxiDictU6691.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
