@font-face {
    font-family: 'KangxiDictU8026';
    src: url('../../css/font/KangxiDictU8026.woff') format('woff'), url('../../css/font/KangxiDictU8026.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
