@font-face {
    font-family: 'KangxiDictU8816';
    src: url('../../css/font/KangxiDictU8816.woff') format('woff'), url('../../css/font/KangxiDictU8816.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
