@font-face {
    font-family: 'KangxiDictU943D';
    src: url('../../css/font/KangxiDictU943D.woff') format('woff'), url('../../css/font/KangxiDictU943D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
