@font-face {
    font-family: 'KangxiDictU6DDF';
    src: url('../../css/font/KangxiDictU6DDF.woff') format('woff'), url('../../css/font/KangxiDictU6DDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
