@font-face {
    font-family: 'KangxiDictU5249';
    src: url('../../css/font/KangxiDictU5249.woff') format('woff'), url('../../css/font/KangxiDictU5249.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
