@font-face {
    font-family: 'KangxiDictU64C9';
    src: url('../../css/font/KangxiDictU64C9.woff') format('woff'), url('../../css/font/KangxiDictU64C9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
