@font-face {
    font-family: 'KangxiDictU89EF';
    src: url('../../css/font/KangxiDictU89EF.woff') format('woff'), url('../../css/font/KangxiDictU89EF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
