@font-face {
    font-family: 'KangxiDictU9845';
    src: url('../../css/font/KangxiDictU9845.woff') format('woff'), url('../../css/font/KangxiDictU9845.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
