@font-face {
    font-family: 'KangxiDictUFAA0';
    src: url('../../css/font/KangxiDictUFAA0.woff') format('woff'), url('../../css/font/KangxiDictUFAA0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
