@font-face {
    font-family: 'KangxiDictU5798';
    src: url('../../css/font/KangxiDictU5798.woff') format('woff'), url('../../css/font/KangxiDictU5798.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
