@font-face {
    font-family: 'KangxiDictU540E';
    src: url('../../css/font/KangxiDictU540E.woff') format('woff'), url('../../css/font/KangxiDictU540E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
