@font-face {
    font-family: 'KangxiDictU6DBC';
    src: url('../../css/font/KangxiDictU6DBC.woff') format('woff'), url('../../css/font/KangxiDictU6DBC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
