@font-face {
    font-family: 'KangxiDictU6005';
    src: url('../../css/font/KangxiDictU6005.woff') format('woff'), url('../../css/font/KangxiDictU6005.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
