@font-face {
    font-family: 'KangxiDictU83F1';
    src: url('../../css/font/KangxiDictU83F1.woff') format('woff'), url('../../css/font/KangxiDictU83F1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
