@font-face {
    font-family: 'KangxiDictU6831';
    src: url('../../css/font/KangxiDictU6831.woff') format('woff'), url('../../css/font/KangxiDictU6831.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
