@font-face {
    font-family: 'KangxiDictU8966';
    src: url('../../css/font/KangxiDictU8966.woff') format('woff'), url('../../css/font/KangxiDictU8966.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
