@font-face {
    font-family: 'KangxiDictU714C';
    src: url('../../css/font/KangxiDictU714C.woff') format('woff'), url('../../css/font/KangxiDictU714C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
