@font-face {
    font-family: 'KangxiDictU592C';
    src: url('../../css/font/KangxiDictU592C.woff') format('woff'), url('../../css/font/KangxiDictU592C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
