@font-face {
    font-family: 'KangxiDictU67AD';
    src: url('../../css/font/KangxiDictU67AD.woff') format('woff'), url('../../css/font/KangxiDictU67AD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
