@font-face {
    font-family: 'KangxiDictU8812';
    src: url('../../css/font/KangxiDictU8812.woff') format('woff'), url('../../css/font/KangxiDictU8812.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
