@font-face {
    font-family: 'KangxiDictU5C31';
    src: url('../../css/font/KangxiDictU5C31.woff') format('woff'), url('../../css/font/KangxiDictU5C31.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
