@font-face {
    font-family: 'KangxiDictU4E44';
    src: url('../../css/font/KangxiDictU4E44.woff') format('woff'), url('../../css/font/KangxiDictU4E44.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
