@font-face {
    font-family: 'KangxiDictUFA90';
    src: url('../../css/font/KangxiDictUFA90.woff') format('woff'), url('../../css/font/KangxiDictUFA90.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
