@font-face {
    font-family: 'KangxiDictUF961';
    src: url('../../css/font/KangxiDictUF961.woff') format('woff'), url('../../css/font/KangxiDictUF961.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
