@font-face {
    font-family: 'KangxiDictU6182';
    src: url('../../css/font/KangxiDictU6182.woff') format('woff'), url('../../css/font/KangxiDictU6182.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
