@font-face {
    font-family: 'KangxiDictU6754';
    src: url('../../css/font/KangxiDictU6754.woff') format('woff'), url('../../css/font/KangxiDictU6754.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
