@font-face {
    font-family: 'KangxiDictU9640';
    src: url('../../css/font/KangxiDictU9640.woff') format('woff'), url('../../css/font/KangxiDictU9640.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
