@font-face {
    font-family: 'KangxiDictU9C2C';
    src: url('../../css/font/KangxiDictU9C2C.woff') format('woff'), url('../../css/font/KangxiDictU9C2C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
