@font-face {
    font-family: 'KangxiDictU6AFD';
    src: url('../../css/font/KangxiDictU6AFD.woff') format('woff'), url('../../css/font/KangxiDictU6AFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
