@font-face {
    font-family: 'KangxiDictU9E20';
    src: url('../../css/font/KangxiDictU9E20.woff') format('woff'), url('../../css/font/KangxiDictU9E20.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
