@font-face {
    font-family: 'KangxiDictU9390';
    src: url('../../css/font/KangxiDictU9390.woff') format('woff'), url('../../css/font/KangxiDictU9390.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
