@font-face {
    font-family: 'KangxiDictU9367';
    src: url('../../css/font/KangxiDictU9367.woff') format('woff'), url('../../css/font/KangxiDictU9367.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
