@font-face {
    font-family: 'KangxiDictU71E0';
    src: url('../../css/font/KangxiDictU71E0.woff') format('woff'), url('../../css/font/KangxiDictU71E0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
