@font-face {
    font-family: 'KangxiDictU6BF0';
    src: url('../../css/font/KangxiDictU6BF0.woff') format('woff'), url('../../css/font/KangxiDictU6BF0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
