@font-face {
    font-family: 'KangxiDictU5207';
    src: url('../../css/font/KangxiDictU5207.woff') format('woff'), url('../../css/font/KangxiDictU5207.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
