@font-face {
    font-family: 'KangxiDictU6EAB';
    src: url('../../css/font/KangxiDictU6EAB.woff') format('woff'), url('../../css/font/KangxiDictU6EAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
