@font-face {
    font-family: 'KangxiDictU7EEB';
    src: url('../../css/font/KangxiDictU7EEB.woff') format('woff'), url('../../css/font/KangxiDictU7EEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
