@font-face {
    font-family: 'KangxiDictU6B21';
    src: url('../../css/font/KangxiDictU6B21.woff') format('woff'), url('../../css/font/KangxiDictU6B21.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
