@font-face {
    font-family: 'KangxiDictUF999';
    src: url('../../css/font/KangxiDictUF999.woff') format('woff'), url('../../css/font/KangxiDictUF999.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
