@font-face {
    font-family: 'KangxiDictU7EB9';
    src: url('../../css/font/KangxiDictU7EB9.woff') format('woff'), url('../../css/font/KangxiDictU7EB9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
