@font-face {
    font-family: 'KangxiDictU5257';
    src: url('../../css/font/KangxiDictU5257.woff') format('woff'), url('../../css/font/KangxiDictU5257.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
