@font-face {
    font-family: 'KangxiDictU7095';
    src: url('../../css/font/KangxiDictU7095.woff') format('woff'), url('../../css/font/KangxiDictU7095.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
