@font-face {
    font-family: 'KangxiDictU7261';
    src: url('../../css/font/KangxiDictU7261.woff') format('woff'), url('../../css/font/KangxiDictU7261.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
