@font-face {
    font-family: 'KangxiDictU812F';
    src: url('../../css/font/KangxiDictU812F.woff') format('woff'), url('../../css/font/KangxiDictU812F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
