@font-face {
    font-family: 'KangxiDictU5CD7';
    src: url('../../css/font/KangxiDictU5CD7.woff') format('woff'), url('../../css/font/KangxiDictU5CD7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
