@font-face {
    font-family: 'KangxiDictU6901';
    src: url('../../css/font/KangxiDictU6901.woff') format('woff'), url('../../css/font/KangxiDictU6901.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
