@font-face {
    font-family: 'KangxiDictU7319';
    src: url('../../css/font/KangxiDictU7319.woff') format('woff'), url('../../css/font/KangxiDictU7319.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
