@font-face {
    font-family: 'KangxiDictU9278';
    src: url('../../css/font/KangxiDictU9278.woff') format('woff'), url('../../css/font/KangxiDictU9278.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
