@font-face {
    font-family: 'KangxiDictU4FAE';
    src: url('../../css/font/KangxiDictU4FAE.woff') format('woff'), url('../../css/font/KangxiDictU4FAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
