@font-face {
    font-family: 'KangxiDictU6434';
    src: url('../../css/font/KangxiDictU6434.woff') format('woff'), url('../../css/font/KangxiDictU6434.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
