@font-face {
    font-family: 'KangxiDictU6204';
    src: url('../../css/font/KangxiDictU6204.woff') format('woff'), url('../../css/font/KangxiDictU6204.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
