@font-face {
    font-family: 'KangxiDictU82FF';
    src: url('../../css/font/KangxiDictU82FF.woff') format('woff'), url('../../css/font/KangxiDictU82FF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
