@font-face {
    font-family: 'KangxiDictU6AD1';
    src: url('../../css/font/KangxiDictU6AD1.woff') format('woff'), url('../../css/font/KangxiDictU6AD1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
