@font-face {
    font-family: 'KangxiDictU5773';
    src: url('../../css/font/KangxiDictU5773.woff') format('woff'), url('../../css/font/KangxiDictU5773.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
