@font-face {
    font-family: 'KangxiDictU8A70';
    src: url('../../css/font/KangxiDictU8A70.woff') format('woff'), url('../../css/font/KangxiDictU8A70.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
