@font-face {
    font-family: 'KangxiDictU8597';
    src: url('../../css/font/KangxiDictU8597.woff') format('woff'), url('../../css/font/KangxiDictU8597.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
