@font-face {
    font-family: 'KangxiDictUFAD8';
    src: url('../../css/font/KangxiDictUFAD8.woff') format('woff'), url('../../css/font/KangxiDictUFAD8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
