@font-face {
    font-family: 'KangxiDictU5E9B';
    src: url('../../css/font/KangxiDictU5E9B.woff') format('woff'), url('../../css/font/KangxiDictU5E9B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
