@font-face {
    font-family: 'KangxiDictU9448';
    src: url('../../css/font/KangxiDictU9448.woff') format('woff'), url('../../css/font/KangxiDictU9448.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
