@font-face {
    font-family: 'KangxiDictUF9CB';
    src: url('../../css/font/KangxiDictUF9CB.woff') format('woff'), url('../../css/font/KangxiDictUF9CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
