@font-face {
    font-family: 'KangxiDictUFA9D';
    src: url('../../css/font/KangxiDictUFA9D.woff') format('woff'), url('../../css/font/KangxiDictUFA9D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
