@font-face {
    font-family: 'KangxiDictU9487';
    src: url('../../css/font/KangxiDictU9487.woff') format('woff'), url('../../css/font/KangxiDictU9487.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
