@font-face {
    font-family: 'KangxiDictU6945';
    src: url('../../css/font/KangxiDictU6945.woff') format('woff'), url('../../css/font/KangxiDictU6945.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
