@font-face {
    font-family: 'KangxiDictU5478';
    src: url('../../css/font/KangxiDictU5478.woff') format('woff'), url('../../css/font/KangxiDictU5478.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
