@font-face {
    font-family: 'KangxiDictU7C16';
    src: url('../../css/font/KangxiDictU7C16.woff') format('woff'), url('../../css/font/KangxiDictU7C16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
