@font-face {
    font-family: 'KangxiDictU826F';
    src: url('../../css/font/KangxiDictU826F.woff') format('woff'), url('../../css/font/KangxiDictU826F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
