@font-face {
    font-family: 'KangxiDictU8387';
    src: url('../../css/font/KangxiDictU8387.woff') format('woff'), url('../../css/font/KangxiDictU8387.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
