@font-face {
    font-family: 'KangxiDictU8344';
    src: url('../../css/font/KangxiDictU8344.woff') format('woff'), url('../../css/font/KangxiDictU8344.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
