@font-face {
    font-family: 'KangxiDictU7250';
    src: url('../../css/font/KangxiDictU7250.woff') format('woff'), url('../../css/font/KangxiDictU7250.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
