@font-face {
    font-family: 'KangxiDictU9484';
    src: url('../../css/font/KangxiDictU9484.woff') format('woff'), url('../../css/font/KangxiDictU9484.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
