@font-face {
    font-family: 'KangxiDictU8124';
    src: url('../../css/font/KangxiDictU8124.woff') format('woff'), url('../../css/font/KangxiDictU8124.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
