@font-face {
    font-family: 'KangxiDictU983B';
    src: url('../../css/font/KangxiDictU983B.woff') format('woff'), url('../../css/font/KangxiDictU983B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
