@font-face {
    font-family: 'KangxiDictU8608';
    src: url('../../css/font/KangxiDictU8608.woff') format('woff'), url('../../css/font/KangxiDictU8608.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
