@font-face {
    font-family: 'KangxiDictU5971';
    src: url('../../css/font/KangxiDictU5971.woff') format('woff'), url('../../css/font/KangxiDictU5971.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
