@font-face {
    font-family: 'KangxiDictU655B';
    src: url('../../css/font/KangxiDictU655B.woff') format('woff'), url('../../css/font/KangxiDictU655B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
