@font-face {
    font-family: 'KangxiDictU9D37';
    src: url('../../css/font/KangxiDictU9D37.woff') format('woff'), url('../../css/font/KangxiDictU9D37.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
