@font-face {
    font-family: 'KangxiDictU5B40';
    src: url('../../css/font/KangxiDictU5B40.woff') format('woff'), url('../../css/font/KangxiDictU5B40.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
