@font-face {
    font-family: 'KangxiDictU6311';
    src: url('../../css/font/KangxiDictU6311.woff') format('woff'), url('../../css/font/KangxiDictU6311.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
