@font-face {
    font-family: 'KangxiDictUFA33';
    src: url('../../css/font/KangxiDictUFA33.woff') format('woff'), url('../../css/font/KangxiDictUFA33.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
