@font-face {
    font-family: 'KangxiDictU8E55';
    src: url('../../css/font/KangxiDictU8E55.woff') format('woff'), url('../../css/font/KangxiDictU8E55.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
