@font-face {
    font-family: 'KangxiDictU6207';
    src: url('../../css/font/KangxiDictU6207.woff') format('woff'), url('../../css/font/KangxiDictU6207.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
