@font-face {
    font-family: 'KangxiDictU5843';
    src: url('../../css/font/KangxiDictU5843.woff') format('woff'), url('../../css/font/KangxiDictU5843.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
