@font-face {
    font-family: 'KangxiDictU7231';
    src: url('../../css/font/KangxiDictU7231.woff') format('woff'), url('../../css/font/KangxiDictU7231.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
