@font-face {
    font-family: 'KangxiDictU9BFF';
    src: url('../../css/font/KangxiDictU9BFF.woff') format('woff'), url('../../css/font/KangxiDictU9BFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
