@font-face {
    font-family: 'KangxiDictU7970';
    src: url('../../css/font/KangxiDictU7970.woff') format('woff'), url('../../css/font/KangxiDictU7970.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
