@font-face {
    font-family: 'KangxiDictU8DA4';
    src: url('../../css/font/KangxiDictU8DA4.woff') format('woff'), url('../../css/font/KangxiDictU8DA4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
