@font-face {
    font-family: 'KangxiDictU5200';
    src: url('../../css/font/KangxiDictU5200.woff') format('woff'), url('../../css/font/KangxiDictU5200.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
