@font-face {
    font-family: 'KangxiDictU764A';
    src: url('../../css/font/KangxiDictU764A.woff') format('woff'), url('../../css/font/KangxiDictU764A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
