@font-face {
    font-family: 'KangxiDictU9A08';
    src: url('../../css/font/KangxiDictU9A08.woff') format('woff'), url('../../css/font/KangxiDictU9A08.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
