@font-face {
    font-family: 'KangxiDictU6997';
    src: url('../../css/font/KangxiDictU6997.woff') format('woff'), url('../../css/font/KangxiDictU6997.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
