@font-face {
    font-family: 'KangxiDictU9002';
    src: url('../../css/font/KangxiDictU9002.woff') format('woff'), url('../../css/font/KangxiDictU9002.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
