@font-face {
    font-family: 'KangxiDictU50EE';
    src: url('../../css/font/KangxiDictU50EE.woff') format('woff'), url('../../css/font/KangxiDictU50EE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
