@font-face {
    font-family: 'KangxiDictU5E91';
    src: url('../../css/font/KangxiDictU5E91.woff') format('woff'), url('../../css/font/KangxiDictU5E91.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
