@font-face {
    font-family: 'KangxiDictU6A1B';
    src: url('../../css/font/KangxiDictU6A1B.woff') format('woff'), url('../../css/font/KangxiDictU6A1B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
