@font-face {
    font-family: 'KangxiDictU7852';
    src: url('../../css/font/KangxiDictU7852.woff') format('woff'), url('../../css/font/KangxiDictU7852.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
