@font-face {
    font-family: 'KangxiDictU8154';
    src: url('../../css/font/KangxiDictU8154.woff') format('woff'), url('../../css/font/KangxiDictU8154.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
