@font-face {
    font-family: 'KangxiDictU6427';
    src: url('../../css/font/KangxiDictU6427.woff') format('woff'), url('../../css/font/KangxiDictU6427.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
