@font-face {
    font-family: 'KangxiDictU6FE6';
    src: url('../../css/font/KangxiDictU6FE6.woff') format('woff'), url('../../css/font/KangxiDictU6FE6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
