@font-face {
    font-family: 'KangxiDictU5777';
    src: url('../../css/font/KangxiDictU5777.woff') format('woff'), url('../../css/font/KangxiDictU5777.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
