@font-face {
    font-family: 'KangxiDictU5A83';
    src: url('../../css/font/KangxiDictU5A83.woff') format('woff'), url('../../css/font/KangxiDictU5A83.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
