@font-face {
    font-family: 'KangxiDictU5587';
    src: url('../../css/font/KangxiDictU5587.woff') format('woff'), url('../../css/font/KangxiDictU5587.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
