@font-face {
    font-family: 'KangxiDictU4E54';
    src: url('../../css/font/KangxiDictU4E54.woff') format('woff'), url('../../css/font/KangxiDictU4E54.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
