@font-face {
    font-family: 'KangxiDictU5066';
    src: url('../../css/font/KangxiDictU5066.woff') format('woff'), url('../../css/font/KangxiDictU5066.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
