@font-face {
    font-family: 'KangxiDictU9957';
    src: url('../../css/font/KangxiDictU9957.woff') format('woff'), url('../../css/font/KangxiDictU9957.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
