@font-face {
    font-family: 'KangxiDictU71CC';
    src: url('../../css/font/KangxiDictU71CC.woff') format('woff'), url('../../css/font/KangxiDictU71CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
