@font-face {
    font-family: 'KangxiDictU901D';
    src: url('../../css/font/KangxiDictU901D.woff') format('woff'), url('../../css/font/KangxiDictU901D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
