@font-face {
    font-family: 'KangxiDictU6255';
    src: url('../../css/font/KangxiDictU6255.woff') format('woff'), url('../../css/font/KangxiDictU6255.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
