@font-face {
    font-family: 'KangxiDictU5515';
    src: url('../../css/font/KangxiDictU5515.woff') format('woff'), url('../../css/font/KangxiDictU5515.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
