@font-face {
    font-family: 'KangxiDictUF96F';
    src: url('../../css/font/KangxiDictUF96F.woff') format('woff'), url('../../css/font/KangxiDictUF96F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
