@font-face {
    font-family: 'KangxiDictU9BDD';
    src: url('../../css/font/KangxiDictU9BDD.woff') format('woff'), url('../../css/font/KangxiDictU9BDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
