@font-face {
    font-family: 'KangxiDictU6696';
    src: url('../../css/font/KangxiDictU6696.woff') format('woff'), url('../../css/font/KangxiDictU6696.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
