@font-face {
    font-family: 'KangxiDictU9CEC';
    src: url('../../css/font/KangxiDictU9CEC.woff') format('woff'), url('../../css/font/KangxiDictU9CEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
