@font-face {
    font-family: 'KangxiDictU7787';
    src: url('../../css/font/KangxiDictU7787.woff') format('woff'), url('../../css/font/KangxiDictU7787.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
