@font-face {
    font-family: 'KangxiDictU9823';
    src: url('../../css/font/KangxiDictU9823.woff') format('woff'), url('../../css/font/KangxiDictU9823.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
