@font-face {
    font-family: 'KangxiDictU91BA';
    src: url('../../css/font/KangxiDictU91BA.woff') format('woff'), url('../../css/font/KangxiDictU91BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
