@font-face {
    font-family: 'KangxiDictU7FF6';
    src: url('../../css/font/KangxiDictU7FF6.woff') format('woff'), url('../../css/font/KangxiDictU7FF6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
