@font-face {
    font-family: 'KangxiDictU7121';
    src: url('../../css/font/KangxiDictU7121.woff') format('woff'), url('../../css/font/KangxiDictU7121.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
