@font-face {
    font-family: 'KangxiDictU7051';
    src: url('../../css/font/KangxiDictU7051.woff') format('woff'), url('../../css/font/KangxiDictU7051.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
