@font-face {
    font-family: 'KangxiDictU8B79';
    src: url('../../css/font/KangxiDictU8B79.woff') format('woff'), url('../../css/font/KangxiDictU8B79.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
