@font-face {
    font-family: 'KangxiDictU79C5';
    src: url('../../css/font/KangxiDictU79C5.woff') format('woff'), url('../../css/font/KangxiDictU79C5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
