@font-face {
    font-family: 'KangxiDictUFF0E';
    src: url('../../css/font/KangxiDictUFF0E.woff') format('woff'), url('../../css/font/KangxiDictUFF0E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
