@font-face {
    font-family: 'KangxiDictU7F26';
    src: url('../../css/font/KangxiDictU7F26.woff') format('woff'), url('../../css/font/KangxiDictU7F26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
