@font-face {
    font-family: 'KangxiDictU7239';
    src: url('../../css/font/KangxiDictU7239.woff') format('woff'), url('../../css/font/KangxiDictU7239.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
