@font-face {
    font-family: 'KangxiDictU7073';
    src: url('../../css/font/KangxiDictU7073.woff') format('woff'), url('../../css/font/KangxiDictU7073.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
