@font-face {
    font-family: 'KangxiDictU8A94';
    src: url('../../css/font/KangxiDictU8A94.woff') format('woff'), url('../../css/font/KangxiDictU8A94.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
