@font-face {
    font-family: 'KangxiDictU74AC';
    src: url('../../css/font/KangxiDictU74AC.woff') format('woff'), url('../../css/font/KangxiDictU74AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
