@font-face {
    font-family: 'KangxiDictU6D29';
    src: url('../../css/font/KangxiDictU6D29.woff') format('woff'), url('../../css/font/KangxiDictU6D29.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
