@font-face {
    font-family: 'KangxiDictU5E65';
    src: url('../../css/font/KangxiDictU5E65.woff') format('woff'), url('../../css/font/KangxiDictU5E65.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
