@font-face {
    font-family: 'KangxiDictU6E4F';
    src: url('../../css/font/KangxiDictU6E4F.woff') format('woff'), url('../../css/font/KangxiDictU6E4F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
