@font-face {
    font-family: 'KangxiDictU832D';
    src: url('../../css/font/KangxiDictU832D.woff') format('woff'), url('../../css/font/KangxiDictU832D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
