@font-face {
    font-family: 'KangxiDictU5B93';
    src: url('../../css/font/KangxiDictU5B93.woff') format('woff'), url('../../css/font/KangxiDictU5B93.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
