@font-face {
    font-family: 'KangxiDictU7A3B';
    src: url('../../css/font/KangxiDictU7A3B.woff') format('woff'), url('../../css/font/KangxiDictU7A3B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
