@font-face {
    font-family: 'KangxiDictU6630';
    src: url('../../css/font/KangxiDictU6630.woff') format('woff'), url('../../css/font/KangxiDictU6630.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
