@font-face {
    font-family: 'KangxiDictU6836';
    src: url('../../css/font/KangxiDictU6836.woff') format('woff'), url('../../css/font/KangxiDictU6836.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
