@font-face {
    font-family: 'KangxiDictU54BD';
    src: url('../../css/font/KangxiDictU54BD.woff') format('woff'), url('../../css/font/KangxiDictU54BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
