@font-face {
    font-family: 'KangxiDictU91A2';
    src: url('../../css/font/KangxiDictU91A2.woff') format('woff'), url('../../css/font/KangxiDictU91A2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
