@font-face {
    font-family: 'KangxiDictU5254';
    src: url('../../css/font/KangxiDictU5254.woff') format('woff'), url('../../css/font/KangxiDictU5254.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
