@font-face {
    font-family: 'KangxiDictU8A52';
    src: url('../../css/font/KangxiDictU8A52.woff') format('woff'), url('../../css/font/KangxiDictU8A52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
