@font-face {
    font-family: 'KangxiDictU52AF';
    src: url('../../css/font/KangxiDictU52AF.woff') format('woff'), url('../../css/font/KangxiDictU52AF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
