@font-face {
    font-family: 'KangxiDictU9692';
    src: url('../../css/font/KangxiDictU9692.woff') format('woff'), url('../../css/font/KangxiDictU9692.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
