@font-face {
    font-family: 'KangxiDictU6A81';
    src: url('../../css/font/KangxiDictU6A81.woff') format('woff'), url('../../css/font/KangxiDictU6A81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
