@font-face {
    font-family: 'KangxiDictU53C2';
    src: url('../../css/font/KangxiDictU53C2.woff') format('woff'), url('../../css/font/KangxiDictU53C2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
