@font-face {
    font-family: 'KangxiDictU737C';
    src: url('../../css/font/KangxiDictU737C.woff') format('woff'), url('../../css/font/KangxiDictU737C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
