@font-face {
    font-family: 'KangxiDictU5368';
    src: url('../../css/font/KangxiDictU5368.woff') format('woff'), url('../../css/font/KangxiDictU5368.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
