@font-face {
    font-family: 'KangxiDictU5B7F';
    src: url('../../css/font/KangxiDictU5B7F.woff') format('woff'), url('../../css/font/KangxiDictU5B7F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
