@font-face {
    font-family: 'KangxiDictU76CD';
    src: url('../../css/font/KangxiDictU76CD.woff') format('woff'), url('../../css/font/KangxiDictU76CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
