@font-face {
    font-family: 'KangxiDictU6269';
    src: url('../../css/font/KangxiDictU6269.woff') format('woff'), url('../../css/font/KangxiDictU6269.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
