@font-face {
    font-family: 'KangxiDictU6E22';
    src: url('../../css/font/KangxiDictU6E22.woff') format('woff'), url('../../css/font/KangxiDictU6E22.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
