@font-face {
    font-family: 'KangxiDictU75F9';
    src: url('../../css/font/KangxiDictU75F9.woff') format('woff'), url('../../css/font/KangxiDictU75F9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
