@font-face {
    font-family: 'KangxiDictU8864';
    src: url('../../css/font/KangxiDictU8864.woff') format('woff'), url('../../css/font/KangxiDictU8864.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
