@font-face {
    font-family: 'KangxiDictU5E2A';
    src: url('../../css/font/KangxiDictU5E2A.woff') format('woff'), url('../../css/font/KangxiDictU5E2A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
