@font-face {
    font-family: 'KangxiDictU8C59';
    src: url('../../css/font/KangxiDictU8C59.woff') format('woff'), url('../../css/font/KangxiDictU8C59.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
