@font-face {
    font-family: 'KangxiDictU6072';
    src: url('../../css/font/KangxiDictU6072.woff') format('woff'), url('../../css/font/KangxiDictU6072.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
