@font-face {
    font-family: 'KangxiDictU7A08';
    src: url('../../css/font/KangxiDictU7A08.woff') format('woff'), url('../../css/font/KangxiDictU7A08.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
