@font-face {
    font-family: 'KangxiDictU689C';
    src: url('../../css/font/KangxiDictU689C.woff') format('woff'), url('../../css/font/KangxiDictU689C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
