@font-face {
    font-family: 'KangxiDictU8616';
    src: url('../../css/font/KangxiDictU8616.woff') format('woff'), url('../../css/font/KangxiDictU8616.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
