@font-face {
    font-family: 'KangxiDictU7836';
    src: url('../../css/font/KangxiDictU7836.woff') format('woff'), url('../../css/font/KangxiDictU7836.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
