@font-face {
    font-family: 'KangxiDictU6079';
    src: url('../../css/font/KangxiDictU6079.woff') format('woff'), url('../../css/font/KangxiDictU6079.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
