@font-face {
    font-family: 'KangxiDictU8828';
    src: url('../../css/font/KangxiDictU8828.woff') format('woff'), url('../../css/font/KangxiDictU8828.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
