@font-face {
    font-family: 'KangxiDictU9008';
    src: url('../../css/font/KangxiDictU9008.woff') format('woff'), url('../../css/font/KangxiDictU9008.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
