@font-face {
    font-family: 'KangxiDictU5A01';
    src: url('../../css/font/KangxiDictU5A01.woff') format('woff'), url('../../css/font/KangxiDictU5A01.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
