@font-face {
    font-family: 'KangxiDictU5649';
    src: url('../../css/font/KangxiDictU5649.woff') format('woff'), url('../../css/font/KangxiDictU5649.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
