@font-face {
    font-family: 'KangxiDictU79FE';
    src: url('../../css/font/KangxiDictU79FE.woff') format('woff'), url('../../css/font/KangxiDictU79FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
