@font-face {
    font-family: 'KangxiDictU9594';
    src: url('../../css/font/KangxiDictU9594.woff') format('woff'), url('../../css/font/KangxiDictU9594.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
