@font-face {
    font-family: 'KangxiDictU6416';
    src: url('../../css/font/KangxiDictU6416.woff') format('woff'), url('../../css/font/KangxiDictU6416.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
