@font-face {
    font-family: 'KangxiDictU9925';
    src: url('../../css/font/KangxiDictU9925.woff') format('woff'), url('../../css/font/KangxiDictU9925.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
