@font-face {
    font-family: 'KangxiDictU8558';
    src: url('../../css/font/KangxiDictU8558.woff') format('woff'), url('../../css/font/KangxiDictU8558.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
