@font-face {
    font-family: 'KangxiDictU7B83';
    src: url('../../css/font/KangxiDictU7B83.woff') format('woff'), url('../../css/font/KangxiDictU7B83.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
