@font-face {
    font-family: 'KangxiDictU9486';
    src: url('../../css/font/KangxiDictU9486.woff') format('woff'), url('../../css/font/KangxiDictU9486.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
