@font-face {
    font-family: 'KangxiDictU6302';
    src: url('../../css/font/KangxiDictU6302.woff') format('woff'), url('../../css/font/KangxiDictU6302.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
