@font-face {
    font-family: 'KangxiDictU8458';
    src: url('../../css/font/KangxiDictU8458.woff') format('woff'), url('../../css/font/KangxiDictU8458.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
