@font-face {
    font-family: 'KangxiDictU5E75';
    src: url('../../css/font/KangxiDictU5E75.woff') format('woff'), url('../../css/font/KangxiDictU5E75.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
