@font-face {
    font-family: 'KangxiDictU7D61';
    src: url('../../css/font/KangxiDictU7D61.woff') format('woff'), url('../../css/font/KangxiDictU7D61.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
