@font-face {
    font-family: 'KangxiDictU73B7';
    src: url('../../css/font/KangxiDictU73B7.woff') format('woff'), url('../../css/font/KangxiDictU73B7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
