@font-face {
    font-family: 'KangxiDictU585A';
    src: url('../../css/font/KangxiDictU585A.woff') format('woff'), url('../../css/font/KangxiDictU585A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
