@font-face {
    font-family: 'KangxiDictU6547';
    src: url('../../css/font/KangxiDictU6547.woff') format('woff'), url('../../css/font/KangxiDictU6547.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
