@font-face {
    font-family: 'KangxiDictU9711';
    src: url('../../css/font/KangxiDictU9711.woff') format('woff'), url('../../css/font/KangxiDictU9711.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
