@font-face {
    font-family: 'KangxiDictU4EB3';
    src: url('../../css/font/KangxiDictU4EB3.woff') format('woff'), url('../../css/font/KangxiDictU4EB3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
