@font-face {
    font-family: 'KangxiDictU739F';
    src: url('../../css/font/KangxiDictU739F.woff') format('woff'), url('../../css/font/KangxiDictU739F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
