@font-face {
    font-family: 'KangxiDictU5701';
    src: url('../../css/font/KangxiDictU5701.woff') format('woff'), url('../../css/font/KangxiDictU5701.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
