@font-face {
    font-family: 'KangxiDictU6492';
    src: url('../../css/font/KangxiDictU6492.woff') format('woff'), url('../../css/font/KangxiDictU6492.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
