@font-face {
    font-family: 'KangxiDictU5950';
    src: url('../../css/font/KangxiDictU5950.woff') format('woff'), url('../../css/font/KangxiDictU5950.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
