@font-face {
    font-family: 'KangxiDictU8388';
    src: url('../../css/font/KangxiDictU8388.woff') format('woff'), url('../../css/font/KangxiDictU8388.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
