@font-face {
    font-family: 'KangxiDictU6324';
    src: url('../../css/font/KangxiDictU6324.woff') format('woff'), url('../../css/font/KangxiDictU6324.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
