@font-face {
    font-family: 'KangxiDictU8EC9';
    src: url('../../css/font/KangxiDictU8EC9.woff') format('woff'), url('../../css/font/KangxiDictU8EC9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
