@font-face {
    font-family: 'KangxiDictU63E6';
    src: url('../../css/font/KangxiDictU63E6.woff') format('woff'), url('../../css/font/KangxiDictU63E6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
