@font-face {
    font-family: 'KangxiDictU9B25';
    src: url('../../css/font/KangxiDictU9B25.woff') format('woff'), url('../../css/font/KangxiDictU9B25.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
