@font-face {
    font-family: 'KangxiDictU8B2C';
    src: url('../../css/font/KangxiDictU8B2C.woff') format('woff'), url('../../css/font/KangxiDictU8B2C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
