@font-face {
    font-family: 'KangxiDictU579A';
    src: url('../../css/font/KangxiDictU579A.woff') format('woff'), url('../../css/font/KangxiDictU579A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
