@font-face {
    font-family: 'KangxiDictU5262';
    src: url('../../css/font/KangxiDictU5262.woff') format('woff'), url('../../css/font/KangxiDictU5262.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
