@font-face {
    font-family: 'KangxiDictU8727';
    src: url('../../css/font/KangxiDictU8727.woff') format('woff'), url('../../css/font/KangxiDictU8727.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
