@font-face {
    font-family: 'KangxiDictU79EC';
    src: url('../../css/font/KangxiDictU79EC.woff') format('woff'), url('../../css/font/KangxiDictU79EC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
