@font-face {
    font-family: 'KangxiDictU5FBD';
    src: url('../../css/font/KangxiDictU5FBD.woff') format('woff'), url('../../css/font/KangxiDictU5FBD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
