@font-face {
    font-family: 'KangxiDictU82EB';
    src: url('../../css/font/KangxiDictU82EB.woff') format('woff'), url('../../css/font/KangxiDictU82EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
