@font-face {
    font-family: 'KangxiDictU7448';
    src: url('../../css/font/KangxiDictU7448.woff') format('woff'), url('../../css/font/KangxiDictU7448.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
