@font-face {
    font-family: 'KangxiDictU8CDA';
    src: url('../../css/font/KangxiDictU8CDA.woff') format('woff'), url('../../css/font/KangxiDictU8CDA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
