@font-face {
    font-family: 'KangxiDictU9809';
    src: url('../../css/font/KangxiDictU9809.woff') format('woff'), url('../../css/font/KangxiDictU9809.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
