@font-face {
    font-family: 'KangxiDictU512C';
    src: url('../../css/font/KangxiDictU512C.woff') format('woff'), url('../../css/font/KangxiDictU512C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
