@font-face {
    font-family: 'KangxiDictU8642';
    src: url('../../css/font/KangxiDictU8642.woff') format('woff'), url('../../css/font/KangxiDictU8642.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
