@font-face {
    font-family: 'KangxiDictU6BAC';
    src: url('../../css/font/KangxiDictU6BAC.woff') format('woff'), url('../../css/font/KangxiDictU6BAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
