@font-face {
    font-family: 'KangxiDictUFA5D';
    src: url('../../css/font/KangxiDictUFA5D.woff') format('woff'), url('../../css/font/KangxiDictUFA5D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
