@font-face {
    font-family: 'KangxiDictU563B';
    src: url('../../css/font/KangxiDictU563B.woff') format('woff'), url('../../css/font/KangxiDictU563B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
