@font-face {
    font-family: 'KangxiDictU8320';
    src: url('../../css/font/KangxiDictU8320.woff') format('woff'), url('../../css/font/KangxiDictU8320.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
