@font-face {
    font-family: 'KangxiDictU522B';
    src: url('../../css/font/KangxiDictU522B.woff') format('woff'), url('../../css/font/KangxiDictU522B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
