@font-face {
    font-family: 'KangxiDictU9364';
    src: url('../../css/font/KangxiDictU9364.woff') format('woff'), url('../../css/font/KangxiDictU9364.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
