@font-face {
    font-family: 'KangxiDictU852C';
    src: url('../../css/font/KangxiDictU852C.woff') format('woff'), url('../../css/font/KangxiDictU852C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
