@font-face {
    font-family: 'KangxiDictU8337';
    src: url('../../css/font/KangxiDictU8337.woff') format('woff'), url('../../css/font/KangxiDictU8337.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
