@font-face {
    font-family: 'KangxiDictU5868';
    src: url('../../css/font/KangxiDictU5868.woff') format('woff'), url('../../css/font/KangxiDictU5868.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
