@font-face {
    font-family: 'KangxiDictU9011';
    src: url('../../css/font/KangxiDictU9011.woff') format('woff'), url('../../css/font/KangxiDictU9011.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
