@font-face {
    font-family: 'KangxiDictU9059';
    src: url('../../css/font/KangxiDictU9059.woff') format('woff'), url('../../css/font/KangxiDictU9059.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
