@font-face {
    font-family: 'KangxiDictU8291';
    src: url('../../css/font/KangxiDictU8291.woff') format('woff'), url('../../css/font/KangxiDictU8291.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
