@font-face {
    font-family: 'KangxiDictU8549';
    src: url('../../css/font/KangxiDictU8549.woff') format('woff'), url('../../css/font/KangxiDictU8549.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
