@font-face {
    font-family: 'KangxiDictUF9CD';
    src: url('../../css/font/KangxiDictUF9CD.woff') format('woff'), url('../../css/font/KangxiDictUF9CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
