@font-face {
    font-family: 'KangxiDictU8999';
    src: url('../../css/font/KangxiDictU8999.woff') format('woff'), url('../../css/font/KangxiDictU8999.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
