@font-face {
    font-family: 'KangxiDictU7660';
    src: url('../../css/font/KangxiDictU7660.woff') format('woff'), url('../../css/font/KangxiDictU7660.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
