@font-face {
    font-family: 'KangxiDictU5662';
    src: url('../../css/font/KangxiDictU5662.woff') format('woff'), url('../../css/font/KangxiDictU5662.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
