@font-face {
    font-family: 'KangxiDictU5A4D';
    src: url('../../css/font/KangxiDictU5A4D.woff') format('woff'), url('../../css/font/KangxiDictU5A4D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
