@font-face {
    font-family: 'KangxiDictU837F';
    src: url('../../css/font/KangxiDictU837F.woff') format('woff'), url('../../css/font/KangxiDictU837F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
