@font-face {
    font-family: 'KangxiDictU5CBC';
    src: url('../../css/font/KangxiDictU5CBC.woff') format('woff'), url('../../css/font/KangxiDictU5CBC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
