@font-face {
    font-family: 'KangxiDictU9719';
    src: url('../../css/font/KangxiDictU9719.woff') format('woff'), url('../../css/font/KangxiDictU9719.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
