@font-face {
    font-family: 'KangxiDictU7476';
    src: url('../../css/font/KangxiDictU7476.woff') format('woff'), url('../../css/font/KangxiDictU7476.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
