@font-face {
    font-family: 'KangxiDictU6218';
    src: url('../../css/font/KangxiDictU6218.woff') format('woff'), url('../../css/font/KangxiDictU6218.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
