@font-face {
    font-family: 'KangxiDictUF9AA';
    src: url('../../css/font/KangxiDictUF9AA.woff') format('woff'), url('../../css/font/KangxiDictUF9AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
