@font-face {
    font-family: 'KangxiDictU5CCD';
    src: url('../../css/font/KangxiDictU5CCD.woff') format('woff'), url('../../css/font/KangxiDictU5CCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
