@font-face {
    font-family: 'KangxiDictU9203';
    src: url('../../css/font/KangxiDictU9203.woff') format('woff'), url('../../css/font/KangxiDictU9203.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
