@font-face {
    font-family: 'KangxiDictU6385';
    src: url('../../css/font/KangxiDictU6385.woff') format('woff'), url('../../css/font/KangxiDictU6385.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
