@font-face {
    font-family: 'KangxiDictU8144';
    src: url('../../css/font/KangxiDictU8144.woff') format('woff'), url('../../css/font/KangxiDictU8144.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
