@font-face {
    font-family: 'KangxiDictU80AE';
    src: url('../../css/font/KangxiDictU80AE.woff') format('woff'), url('../../css/font/KangxiDictU80AE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
