@font-face {
    font-family: 'KangxiDictU7BAD';
    src: url('../../css/font/KangxiDictU7BAD.woff') format('woff'), url('../../css/font/KangxiDictU7BAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
