@font-face {
    font-family: 'KangxiDictU902C';
    src: url('../../css/font/KangxiDictU902C.woff') format('woff'), url('../../css/font/KangxiDictU902C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
