@font-face {
    font-family: 'KangxiDictU6065';
    src: url('../../css/font/KangxiDictU6065.woff') format('woff'), url('../../css/font/KangxiDictU6065.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
