@font-face {
    font-family: 'KangxiDictU8275';
    src: url('../../css/font/KangxiDictU8275.woff') format('woff'), url('../../css/font/KangxiDictU8275.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
