@font-face {
    font-family: 'KangxiDictU8417';
    src: url('../../css/font/KangxiDictU8417.woff') format('woff'), url('../../css/font/KangxiDictU8417.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
