@font-face {
    font-family: 'KangxiDictU7DBA';
    src: url('../../css/font/KangxiDictU7DBA.woff') format('woff'), url('../../css/font/KangxiDictU7DBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
