@font-face {
    font-family: 'KangxiDictU6B1A';
    src: url('../../css/font/KangxiDictU6B1A.woff') format('woff'), url('../../css/font/KangxiDictU6B1A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
