@font-face {
    font-family: 'KangxiDictU7260';
    src: url('../../css/font/KangxiDictU7260.woff') format('woff'), url('../../css/font/KangxiDictU7260.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
