@font-face {
    font-family: 'KangxiDictU66CD';
    src: url('../../css/font/KangxiDictU66CD.woff') format('woff'), url('../../css/font/KangxiDictU66CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
