@font-face {
    font-family: 'KangxiDictU715F';
    src: url('../../css/font/KangxiDictU715F.woff') format('woff'), url('../../css/font/KangxiDictU715F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
