@font-face {
    font-family: 'KangxiDictU787C';
    src: url('../../css/font/KangxiDictU787C.woff') format('woff'), url('../../css/font/KangxiDictU787C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
