@font-face {
    font-family: 'KangxiDictU5897';
    src: url('../../css/font/KangxiDictU5897.woff') format('woff'), url('../../css/font/KangxiDictU5897.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
