@font-face {
    font-family: 'KangxiDictU6188';
    src: url('../../css/font/KangxiDictU6188.woff') format('woff'), url('../../css/font/KangxiDictU6188.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
