@font-face {
    font-family: 'KangxiDictU6223';
    src: url('../../css/font/KangxiDictU6223.woff') format('woff'), url('../../css/font/KangxiDictU6223.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
