@font-face {
    font-family: 'KangxiDictU7543';
    src: url('../../css/font/KangxiDictU7543.woff') format('woff'), url('../../css/font/KangxiDictU7543.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
