@font-face {
    font-family: 'KangxiDictU7F96';
    src: url('../../css/font/KangxiDictU7F96.woff') format('woff'), url('../../css/font/KangxiDictU7F96.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
