@font-face {
    font-family: 'KangxiDictU50FD';
    src: url('../../css/font/KangxiDictU50FD.woff') format('woff'), url('../../css/font/KangxiDictU50FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
