@font-face {
    font-family: 'KangxiDictUFF0F';
    src: url('../../css/font/KangxiDictUFF0F.woff') format('woff'), url('../../css/font/KangxiDictUFF0F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
