@font-face {
    font-family: 'KangxiDictU7DFC';
    src: url('../../css/font/KangxiDictU7DFC.woff') format('woff'), url('../../css/font/KangxiDictU7DFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
