@font-face {
    font-family: 'KangxiDictU4FEC';
    src: url('../../css/font/KangxiDictU4FEC.woff') format('woff'), url('../../css/font/KangxiDictU4FEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
