@font-face {
    font-family: 'KangxiDictU9338';
    src: url('../../css/font/KangxiDictU9338.woff') format('woff'), url('../../css/font/KangxiDictU9338.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
