@font-face {
    font-family: 'KangxiDictU727F';
    src: url('../../css/font/KangxiDictU727F.woff') format('woff'), url('../../css/font/KangxiDictU727F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
