@font-face {
    font-family: 'KangxiDictU748F';
    src: url('../../css/font/KangxiDictU748F.woff') format('woff'), url('../../css/font/KangxiDictU748F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
