@font-face {
    font-family: 'KangxiDictU5961';
    src: url('../../css/font/KangxiDictU5961.woff') format('woff'), url('../../css/font/KangxiDictU5961.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
