@font-face {
    font-family: 'KangxiDictU5A18';
    src: url('../../css/font/KangxiDictU5A18.woff') format('woff'), url('../../css/font/KangxiDictU5A18.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
