@font-face {
    font-family: 'KangxiDictU7351';
    src: url('../../css/font/KangxiDictU7351.woff') format('woff'), url('../../css/font/KangxiDictU7351.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
