@font-face {
    font-family: 'KangxiDictU5BC3';
    src: url('../../css/font/KangxiDictU5BC3.woff') format('woff'), url('../../css/font/KangxiDictU5BC3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
