@font-face {
    font-family: 'KangxiDictU6259';
    src: url('../../css/font/KangxiDictU6259.woff') format('woff'), url('../../css/font/KangxiDictU6259.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
