@font-face {
    font-family: 'KangxiDictU9A76';
    src: url('../../css/font/KangxiDictU9A76.woff') format('woff'), url('../../css/font/KangxiDictU9A76.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
