@font-face {
    font-family: 'KangxiDictU759E';
    src: url('../../css/font/KangxiDictU759E.woff') format('woff'), url('../../css/font/KangxiDictU759E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
