@font-face {
    font-family: 'KangxiDictU8B6C';
    src: url('../../css/font/KangxiDictU8B6C.woff') format('woff'), url('../../css/font/KangxiDictU8B6C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
