@font-face {
    font-family: 'KangxiDictU6D60';
    src: url('../../css/font/KangxiDictU6D60.woff') format('woff'), url('../../css/font/KangxiDictU6D60.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
