@font-face {
    font-family: 'KangxiDictU8220';
    src: url('../../css/font/KangxiDictU8220.woff') format('woff'), url('../../css/font/KangxiDictU8220.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
