@font-face {
    font-family: 'KangxiDictU964F';
    src: url('../../css/font/KangxiDictU964F.woff') format('woff'), url('../../css/font/KangxiDictU964F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
