@font-face {
    font-family: 'KangxiDictU8A93';
    src: url('../../css/font/KangxiDictU8A93.woff') format('woff'), url('../../css/font/KangxiDictU8A93.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
