@font-face {
    font-family: 'KangxiDictU9B96';
    src: url('../../css/font/KangxiDictU9B96.woff') format('woff'), url('../../css/font/KangxiDictU9B96.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
