@font-face {
    font-family: 'KangxiDictU5272';
    src: url('../../css/font/KangxiDictU5272.woff') format('woff'), url('../../css/font/KangxiDictU5272.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
