@font-face {
    font-family: 'KangxiDictU9D6D';
    src: url('../../css/font/KangxiDictU9D6D.woff') format('woff'), url('../../css/font/KangxiDictU9D6D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
