@font-face {
    font-family: 'KangxiDictU4F82';
    src: url('../../css/font/KangxiDictU4F82.woff') format('woff'), url('../../css/font/KangxiDictU4F82.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
