@font-face {
    font-family: 'KangxiDictU7EAB';
    src: url('../../css/font/KangxiDictU7EAB.woff') format('woff'), url('../../css/font/KangxiDictU7EAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
