@font-face {
    font-family: 'KangxiDictU5E25';
    src: url('../../css/font/KangxiDictU5E25.woff') format('woff'), url('../../css/font/KangxiDictU5E25.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
