@font-face {
    font-family: 'KangxiDictU7648';
    src: url('../../css/font/KangxiDictU7648.woff') format('woff'), url('../../css/font/KangxiDictU7648.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
