@font-face {
    font-family: 'KangxiDictU50DD';
    src: url('../../css/font/KangxiDictU50DD.woff') format('woff'), url('../../css/font/KangxiDictU50DD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
