@font-face {
    font-family: 'KangxiDictU9DC2';
    src: url('../../css/font/KangxiDictU9DC2.woff') format('woff'), url('../../css/font/KangxiDictU9DC2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
