@font-face {
    font-family: 'KangxiDictU8C01';
    src: url('../../css/font/KangxiDictU8C01.woff') format('woff'), url('../../css/font/KangxiDictU8C01.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
