@font-face {
    font-family: 'KangxiDictU8264';
    src: url('../../css/font/KangxiDictU8264.woff') format('woff'), url('../../css/font/KangxiDictU8264.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
