@font-face {
    font-family: 'KangxiDictU8340';
    src: url('../../css/font/KangxiDictU8340.woff') format('woff'), url('../../css/font/KangxiDictU8340.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
