@font-face {
    font-family: 'KangxiDictUF9FC';
    src: url('../../css/font/KangxiDictUF9FC.woff') format('woff'), url('../../css/font/KangxiDictUF9FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
