@font-face {
    font-family: 'KangxiDictU8048';
    src: url('../../css/font/KangxiDictU8048.woff') format('woff'), url('../../css/font/KangxiDictU8048.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
