@font-face {
    font-family: 'KangxiDictU5ECA';
    src: url('../../css/font/KangxiDictU5ECA.woff') format('woff'), url('../../css/font/KangxiDictU5ECA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
