@font-face {
    font-family: 'KangxiDictU6BCC';
    src: url('../../css/font/KangxiDictU6BCC.woff') format('woff'), url('../../css/font/KangxiDictU6BCC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
