@font-face {
    font-family: 'KangxiDictUF957';
    src: url('../../css/font/KangxiDictUF957.woff') format('woff'), url('../../css/font/KangxiDictUF957.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
