@font-face {
    font-family: 'KangxiDictU9310';
    src: url('../../css/font/KangxiDictU9310.woff') format('woff'), url('../../css/font/KangxiDictU9310.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
