@font-face {
    font-family: 'KangxiDictU5BA9';
    src: url('../../css/font/KangxiDictU5BA9.woff') format('woff'), url('../../css/font/KangxiDictU5BA9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
