@font-face {
    font-family: 'KangxiDictU6177';
    src: url('../../css/font/KangxiDictU6177.woff') format('woff'), url('../../css/font/KangxiDictU6177.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
