@font-face {
    font-family: 'KangxiDictU5832';
    src: url('../../css/font/KangxiDictU5832.woff') format('woff'), url('../../css/font/KangxiDictU5832.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
