@font-face {
    font-family: 'KangxiDictU8B35';
    src: url('../../css/font/KangxiDictU8B35.woff') format('woff'), url('../../css/font/KangxiDictU8B35.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
