@font-face {
    font-family: 'KangxiDictU8EBF';
    src: url('../../css/font/KangxiDictU8EBF.woff') format('woff'), url('../../css/font/KangxiDictU8EBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
