@font-face {
    font-family: 'KangxiDictU8A25';
    src: url('../../css/font/KangxiDictU8A25.woff') format('woff'), url('../../css/font/KangxiDictU8A25.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
