@font-face {
    font-family: 'KangxiDictU7EEE';
    src: url('../../css/font/KangxiDictU7EEE.woff') format('woff'), url('../../css/font/KangxiDictU7EEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
