@font-face {
    font-family: 'KangxiDictU706C';
    src: url('../../css/font/KangxiDictU706C.woff') format('woff'), url('../../css/font/KangxiDictU706C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
