@font-face {
    font-family: 'KangxiDictU5C5B';
    src: url('../../css/font/KangxiDictU5C5B.woff') format('woff'), url('../../css/font/KangxiDictU5C5B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
