@font-face {
    font-family: 'KangxiDictU7213';
    src: url('../../css/font/KangxiDictU7213.woff') format('woff'), url('../../css/font/KangxiDictU7213.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
