@font-face {
    font-family: 'KangxiDictU9163';
    src: url('../../css/font/KangxiDictU9163.woff') format('woff'), url('../../css/font/KangxiDictU9163.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
