@font-face {
    font-family: 'KangxiDictU7542';
    src: url('../../css/font/KangxiDictU7542.woff') format('woff'), url('../../css/font/KangxiDictU7542.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
