@font-face {
    font-family: 'KangxiDictU6A99';
    src: url('../../css/font/KangxiDictU6A99.woff') format('woff'), url('../../css/font/KangxiDictU6A99.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
