@font-face {
    font-family: 'KangxiDictU5FE2';
    src: url('../../css/font/KangxiDictU5FE2.woff') format('woff'), url('../../css/font/KangxiDictU5FE2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
