@font-face {
    font-family: 'KangxiDictU8457';
    src: url('../../css/font/KangxiDictU8457.woff') format('woff'), url('../../css/font/KangxiDictU8457.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
