@font-face {
    font-family: 'KangxiDictUFAC3';
    src: url('../../css/font/KangxiDictUFAC3.woff') format('woff'), url('../../css/font/KangxiDictUFAC3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
