@font-face {
    font-family: 'KangxiDictU5123';
    src: url('../../css/font/KangxiDictU5123.woff') format('woff'), url('../../css/font/KangxiDictU5123.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
