@font-face {
    font-family: 'KangxiDictU59EB';
    src: url('../../css/font/KangxiDictU59EB.woff') format('woff'), url('../../css/font/KangxiDictU59EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
