@font-face {
    font-family: 'KangxiDictU908B';
    src: url('../../css/font/KangxiDictU908B.woff') format('woff'), url('../../css/font/KangxiDictU908B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
