@font-face {
    font-family: 'KangxiDictU9742';
    src: url('../../css/font/KangxiDictU9742.woff') format('woff'), url('../../css/font/KangxiDictU9742.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
