@font-face {
    font-family: 'KangxiDictU5D76';
    src: url('../../css/font/KangxiDictU5D76.woff') format('woff'), url('../../css/font/KangxiDictU5D76.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
