@font-face {
    font-family: 'KangxiDictU8953';
    src: url('../../css/font/KangxiDictU8953.woff') format('woff'), url('../../css/font/KangxiDictU8953.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
