@font-face {
    font-family: 'KangxiDictU8496';
    src: url('../../css/font/KangxiDictU8496.woff') format('woff'), url('../../css/font/KangxiDictU8496.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
