@font-face {
    font-family: 'KangxiDictU5CDA';
    src: url('../../css/font/KangxiDictU5CDA.woff') format('woff'), url('../../css/font/KangxiDictU5CDA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
