@font-face {
    font-family: 'KangxiDictU541A';
    src: url('../../css/font/KangxiDictU541A.woff') format('woff'), url('../../css/font/KangxiDictU541A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
