@font-face {
    font-family: 'KangxiDictU9E06';
    src: url('../../css/font/KangxiDictU9E06.woff') format('woff'), url('../../css/font/KangxiDictU9E06.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
