@font-face {
    font-family: 'KangxiDictU7199';
    src: url('../../css/font/KangxiDictU7199.woff') format('woff'), url('../../css/font/KangxiDictU7199.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
