@font-face {
    font-family: 'KangxiDictU58DF';
    src: url('../../css/font/KangxiDictU58DF.woff') format('woff'), url('../../css/font/KangxiDictU58DF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
