@font-face {
    font-family: 'KangxiDictU8746';
    src: url('../../css/font/KangxiDictU8746.woff') format('woff'), url('../../css/font/KangxiDictU8746.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
