@font-face {
    font-family: 'KangxiDictU7766';
    src: url('../../css/font/KangxiDictU7766.woff') format('woff'), url('../../css/font/KangxiDictU7766.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
