@font-face {
    font-family: 'KangxiDictU8794';
    src: url('../../css/font/KangxiDictU8794.woff') format('woff'), url('../../css/font/KangxiDictU8794.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
