@font-face {
    font-family: 'KangxiDictU8396';
    src: url('../../css/font/KangxiDictU8396.woff') format('woff'), url('../../css/font/KangxiDictU8396.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
