@font-face {
    font-family: 'KangxiDictU6180';
    src: url('../../css/font/KangxiDictU6180.woff') format('woff'), url('../../css/font/KangxiDictU6180.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
