@font-face {
    font-family: 'KangxiDictU550A';
    src: url('../../css/font/KangxiDictU550A.woff') format('woff'), url('../../css/font/KangxiDictU550A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
