@font-face {
    font-family: 'KangxiDictU8739';
    src: url('../../css/font/KangxiDictU8739.woff') format('woff'), url('../../css/font/KangxiDictU8739.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
