@font-face {
    font-family: 'KangxiDictU6075';
    src: url('../../css/font/KangxiDictU6075.woff') format('woff'), url('../../css/font/KangxiDictU6075.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
