@font-face {
    font-family: 'KangxiDictU9507';
    src: url('../../css/font/KangxiDictU9507.woff') format('woff'), url('../../css/font/KangxiDictU9507.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
