@font-face {
    font-family: 'KangxiDictU7012';
    src: url('../../css/font/KangxiDictU7012.woff') format('woff'), url('../../css/font/KangxiDictU7012.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
