@font-face {
    font-family: 'KangxiDictU8807';
    src: url('../../css/font/KangxiDictU8807.woff') format('woff'), url('../../css/font/KangxiDictU8807.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
