@font-face {
    font-family: 'KangxiDictU7777';
    src: url('../../css/font/KangxiDictU7777.woff') format('woff'), url('../../css/font/KangxiDictU7777.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
