@font-face {
    font-family: 'KangxiDictU91FC';
    src: url('../../css/font/KangxiDictU91FC.woff') format('woff'), url('../../css/font/KangxiDictU91FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
