@font-face {
    font-family: 'KangxiDictU6933';
    src: url('../../css/font/KangxiDictU6933.woff') format('woff'), url('../../css/font/KangxiDictU6933.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
