@font-face {
    font-family: 'KangxiDictU9E27';
    src: url('../../css/font/KangxiDictU9E27.woff') format('woff'), url('../../css/font/KangxiDictU9E27.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
