@font-face {
    font-family: 'KangxiDictU77CD';
    src: url('../../css/font/KangxiDictU77CD.woff') format('woff'), url('../../css/font/KangxiDictU77CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
