@font-face {
    font-family: 'KangxiDictU7B85';
    src: url('../../css/font/KangxiDictU7B85.woff') format('woff'), url('../../css/font/KangxiDictU7B85.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
