@font-face {
    font-family: 'KangxiDictU6141';
    src: url('../../css/font/KangxiDictU6141.woff') format('woff'), url('../../css/font/KangxiDictU6141.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
