@font-face {
    font-family: 'KangxiDictU9CCE';
    src: url('../../css/font/KangxiDictU9CCE.woff') format('woff'), url('../../css/font/KangxiDictU9CCE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
