@font-face {
    font-family: 'KangxiDictU8ECD';
    src: url('../../css/font/KangxiDictU8ECD.woff') format('woff'), url('../../css/font/KangxiDictU8ECD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
