@font-face {
    font-family: 'KangxiDictU8FC0';
    src: url('../../css/font/KangxiDictU8FC0.woff') format('woff'), url('../../css/font/KangxiDictU8FC0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
