@font-face {
    font-family: 'KangxiDictU7391';
    src: url('../../css/font/KangxiDictU7391.woff') format('woff'), url('../../css/font/KangxiDictU7391.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
