@font-face {
    font-family: 'KangxiDictU4FF3';
    src: url('../../css/font/KangxiDictU4FF3.woff') format('woff'), url('../../css/font/KangxiDictU4FF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
