@font-face {
    font-family: 'KangxiDictU971A';
    src: url('../../css/font/KangxiDictU971A.woff') format('woff'), url('../../css/font/KangxiDictU971A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
