@font-face {
    font-family: 'KangxiDictU6993';
    src: url('../../css/font/KangxiDictU6993.woff') format('woff'), url('../../css/font/KangxiDictU6993.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
