@font-face {
    font-family: 'KangxiDictU8157';
    src: url('../../css/font/KangxiDictU8157.woff') format('woff'), url('../../css/font/KangxiDictU8157.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
