@font-face {
    font-family: 'KangxiDictU5D16';
    src: url('../../css/font/KangxiDictU5D16.woff') format('woff'), url('../../css/font/KangxiDictU5D16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
