@font-face {
    font-family: 'KangxiDictU9D80';
    src: url('../../css/font/KangxiDictU9D80.woff') format('woff'), url('../../css/font/KangxiDictU9D80.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
