@font-face {
    font-family: 'KangxiDictUFA23';
    src: url('../../css/font/KangxiDictUFA23.woff') format('woff'), url('../../css/font/KangxiDictUFA23.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
