@font-face {
    font-family: 'KangxiDictU9BDB';
    src: url('../../css/font/KangxiDictU9BDB.woff') format('woff'), url('../../css/font/KangxiDictU9BDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
