@font-face {
    font-family: 'KangxiDictU6B20';
    src: url('../../css/font/KangxiDictU6B20.woff') format('woff'), url('../../css/font/KangxiDictU6B20.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
