@font-face {
    font-family: 'KangxiDictU6BFE';
    src: url('../../css/font/KangxiDictU6BFE.woff') format('woff'), url('../../css/font/KangxiDictU6BFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
