@font-face {
    font-family: 'KangxiDictU5CBE';
    src: url('../../css/font/KangxiDictU5CBE.woff') format('woff'), url('../../css/font/KangxiDictU5CBE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
