@font-face {
    font-family: 'KangxiDictU9927';
    src: url('../../css/font/KangxiDictU9927.woff') format('woff'), url('../../css/font/KangxiDictU9927.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
