@font-face {
    font-family: 'KangxiDictU70EB';
    src: url('../../css/font/KangxiDictU70EB.woff') format('woff'), url('../../css/font/KangxiDictU70EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
