@font-face {
    font-family: 'KangxiDictU6288';
    src: url('../../css/font/KangxiDictU6288.woff') format('woff'), url('../../css/font/KangxiDictU6288.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
