@font-face {
    font-family: 'KangxiDictU9054';
    src: url('../../css/font/KangxiDictU9054.woff') format('woff'), url('../../css/font/KangxiDictU9054.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
