@font-face {
    font-family: 'KangxiDictU56DC';
    src: url('../../css/font/KangxiDictU56DC.woff') format('woff'), url('../../css/font/KangxiDictU56DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
