@font-face {
    font-family: 'KangxiDictUF911';
    src: url('../../css/font/KangxiDictUF911.woff') format('woff'), url('../../css/font/KangxiDictUF911.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
