@font-face {
    font-family: 'KangxiDictU9695';
    src: url('../../css/font/KangxiDictU9695.woff') format('woff'), url('../../css/font/KangxiDictU9695.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
