@font-face {
    font-family: 'KangxiDictU9EE9';
    src: url('../../css/font/KangxiDictU9EE9.woff') format('woff'), url('../../css/font/KangxiDictU9EE9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
