@font-face {
    font-family: 'KangxiDictU5331';
    src: url('../../css/font/KangxiDictU5331.woff') format('woff'), url('../../css/font/KangxiDictU5331.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
