@font-face {
    font-family: 'KangxiDictU9DBC';
    src: url('../../css/font/KangxiDictU9DBC.woff') format('woff'), url('../../css/font/KangxiDictU9DBC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
