@font-face {
    font-family: 'KangxiDictU5018';
    src: url('../../css/font/KangxiDictU5018.woff') format('woff'), url('../../css/font/KangxiDictU5018.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
