@font-face {
    font-family: 'KangxiDictU6892';
    src: url('../../css/font/KangxiDictU6892.woff') format('woff'), url('../../css/font/KangxiDictU6892.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
