@font-face {
    font-family: 'KangxiDictU8836';
    src: url('../../css/font/KangxiDictU8836.woff') format('woff'), url('../../css/font/KangxiDictU8836.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
