@font-face {
    font-family: 'KangxiDictU86AC';
    src: url('../../css/font/KangxiDictU86AC.woff') format('woff'), url('../../css/font/KangxiDictU86AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
