@font-face {
    font-family: 'KangxiDictU71BC';
    src: url('../../css/font/KangxiDictU71BC.woff') format('woff'), url('../../css/font/KangxiDictU71BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
