@font-face {
    font-family: 'KangxiDictU85BA';
    src: url('../../css/font/KangxiDictU85BA.woff') format('woff'), url('../../css/font/KangxiDictU85BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
