@font-face {
    font-family: 'KangxiDictU7484';
    src: url('../../css/font/KangxiDictU7484.woff') format('woff'), url('../../css/font/KangxiDictU7484.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
