@font-face {
    font-family: 'KangxiDictU8502';
    src: url('../../css/font/KangxiDictU8502.woff') format('woff'), url('../../css/font/KangxiDictU8502.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
