@font-face {
    font-family: 'KangxiDictU5273';
    src: url('../../css/font/KangxiDictU5273.woff') format('woff'), url('../../css/font/KangxiDictU5273.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
