@font-face {
    font-family: 'KangxiDictU6900';
    src: url('../../css/font/KangxiDictU6900.woff') format('woff'), url('../../css/font/KangxiDictU6900.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
