@font-face {
    font-family: 'KangxiDictU5667';
    src: url('../../css/font/KangxiDictU5667.woff') format('woff'), url('../../css/font/KangxiDictU5667.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
