@font-face {
    font-family: 'KangxiDictU7018';
    src: url('../../css/font/KangxiDictU7018.woff') format('woff'), url('../../css/font/KangxiDictU7018.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
