@font-face {
    font-family: 'KangxiDictU5090';
    src: url('../../css/font/KangxiDictU5090.woff') format('woff'), url('../../css/font/KangxiDictU5090.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
