@font-face {
    font-family: 'KangxiDictU9DF9';
    src: url('../../css/font/KangxiDictU9DF9.woff') format('woff'), url('../../css/font/KangxiDictU9DF9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
