@font-face {
    font-family: 'KangxiDictU8398';
    src: url('../../css/font/KangxiDictU8398.woff') format('woff'), url('../../css/font/KangxiDictU8398.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
