@font-face {
    font-family: 'KangxiDictU545A';
    src: url('../../css/font/KangxiDictU545A.woff') format('woff'), url('../../css/font/KangxiDictU545A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
