@font-face {
    font-family: 'KangxiDictU60A8';
    src: url('../../css/font/KangxiDictU60A8.woff') format('woff'), url('../../css/font/KangxiDictU60A8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
