@font-face {
    font-family: 'KangxiDictU6851';
    src: url('../../css/font/KangxiDictU6851.woff') format('woff'), url('../../css/font/KangxiDictU6851.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
