@font-face {
    font-family: 'KangxiDictU4E21';
    src: url('../../css/font/KangxiDictU4E21.woff') format('woff'), url('../../css/font/KangxiDictU4E21.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
