@font-face {
    font-family: 'KangxiDictU5A02';
    src: url('../../css/font/KangxiDictU5A02.woff') format('woff'), url('../../css/font/KangxiDictU5A02.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
