@font-face {
    font-family: 'KangxiDictU87EE';
    src: url('../../css/font/KangxiDictU87EE.woff') format('woff'), url('../../css/font/KangxiDictU87EE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
