@font-face {
    font-family: 'KangxiDictU8A9D';
    src: url('../../css/font/KangxiDictU8A9D.woff') format('woff'), url('../../css/font/KangxiDictU8A9D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
