@font-face {
    font-family: 'KangxiDictU5783';
    src: url('../../css/font/KangxiDictU5783.woff') format('woff'), url('../../css/font/KangxiDictU5783.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
