@font-face {
    font-family: 'KangxiDictU94FC';
    src: url('../../css/font/KangxiDictU94FC.woff') format('woff'), url('../../css/font/KangxiDictU94FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
