@font-face {
    font-family: 'KangxiDictU8CBD';
    src: url('../../css/font/KangxiDictU8CBD.woff') format('woff'), url('../../css/font/KangxiDictU8CBD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
