@font-face {
    font-family: 'KangxiDictU5F52';
    src: url('../../css/font/KangxiDictU5F52.woff') format('woff'), url('../../css/font/KangxiDictU5F52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
