@font-face {
    font-family: 'KangxiDictU813A';
    src: url('../../css/font/KangxiDictU813A.woff') format('woff'), url('../../css/font/KangxiDictU813A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
