@font-face {
    font-family: 'KangxiDictU57B3';
    src: url('../../css/font/KangxiDictU57B3.woff') format('woff'), url('../../css/font/KangxiDictU57B3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
