@font-face {
    font-family: 'KangxiDictU5849';
    src: url('../../css/font/KangxiDictU5849.woff') format('woff'), url('../../css/font/KangxiDictU5849.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
