@font-face {
    font-family: 'KangxiDictU9638';
    src: url('../../css/font/KangxiDictU9638.woff') format('woff'), url('../../css/font/KangxiDictU9638.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
