@font-face {
    font-family: 'KangxiDictU922E';
    src: url('../../css/font/KangxiDictU922E.woff') format('woff'), url('../../css/font/KangxiDictU922E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
