@font-face {
    font-family: 'KangxiDictU5325';
    src: url('../../css/font/KangxiDictU5325.woff') format('woff'), url('../../css/font/KangxiDictU5325.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
