@font-face {
    font-family: 'KangxiDictU7667';
    src: url('../../css/font/KangxiDictU7667.woff') format('woff'), url('../../css/font/KangxiDictU7667.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
