@font-face {
    font-family: 'KangxiDictU6512';
    src: url('../../css/font/KangxiDictU6512.woff') format('woff'), url('../../css/font/KangxiDictU6512.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
