@font-face {
    font-family: 'KangxiDictU9D4C';
    src: url('../../css/font/KangxiDictU9D4C.woff') format('woff'), url('../../css/font/KangxiDictU9D4C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
