@font-face {
    font-family: 'KangxiDictU6081';
    src: url('../../css/font/KangxiDictU6081.woff') format('woff'), url('../../css/font/KangxiDictU6081.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
