@font-face {
    font-family: 'KangxiDictU795D';
    src: url('../../css/font/KangxiDictU795D.woff') format('woff'), url('../../css/font/KangxiDictU795D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
