@font-face {
    font-family: 'KangxiDictU8261';
    src: url('../../css/font/KangxiDictU8261.woff') format('woff'), url('../../css/font/KangxiDictU8261.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
