@font-face {
    font-family: 'KangxiDictU9EDF';
    src: url('../../css/font/KangxiDictU9EDF.woff') format('woff'), url('../../css/font/KangxiDictU9EDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
