@font-face {
    font-family: 'KangxiDictU9438';
    src: url('../../css/font/KangxiDictU9438.woff') format('woff'), url('../../css/font/KangxiDictU9438.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
