@font-face {
    font-family: 'KangxiDictU7AB0';
    src: url('../../css/font/KangxiDictU7AB0.woff') format('woff'), url('../../css/font/KangxiDictU7AB0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
