@font-face {
    font-family: 'KangxiDictU9AC5';
    src: url('../../css/font/KangxiDictU9AC5.woff') format('woff'), url('../../css/font/KangxiDictU9AC5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
