@font-face {
    font-family: 'KangxiDictU8416';
    src: url('../../css/font/KangxiDictU8416.woff') format('woff'), url('../../css/font/KangxiDictU8416.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
