@font-face {
    font-family: 'KangxiDictU8815';
    src: url('../../css/font/KangxiDictU8815.woff') format('woff'), url('../../css/font/KangxiDictU8815.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
