@font-face {
    font-family: 'KangxiDictU92D5';
    src: url('../../css/font/KangxiDictU92D5.woff') format('woff'), url('../../css/font/KangxiDictU92D5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
