@font-face {
    font-family: 'KangxiDictU7BD5';
    src: url('../../css/font/KangxiDictU7BD5.woff') format('woff'), url('../../css/font/KangxiDictU7BD5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
