@font-face {
    font-family: 'KangxiDictU9089';
    src: url('../../css/font/KangxiDictU9089.woff') format('woff'), url('../../css/font/KangxiDictU9089.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
