@font-face {
    font-family: 'KangxiDictU6CD5';
    src: url('../../css/font/KangxiDictU6CD5.woff') format('woff'), url('../../css/font/KangxiDictU6CD5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
