@font-face {
    font-family: 'KangxiDictU9314';
    src: url('../../css/font/KangxiDictU9314.woff') format('woff'), url('../../css/font/KangxiDictU9314.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
