@font-face {
    font-family: 'KangxiDictU83F5';
    src: url('../../css/font/KangxiDictU83F5.woff') format('woff'), url('../../css/font/KangxiDictU83F5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
