@font-face {
    font-family: 'KangxiDictU7856';
    src: url('../../css/font/KangxiDictU7856.woff') format('woff'), url('../../css/font/KangxiDictU7856.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
