@font-face {
    font-family: 'KangxiDictU7744';
    src: url('../../css/font/KangxiDictU7744.woff') format('woff'), url('../../css/font/KangxiDictU7744.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
