@font-face {
    font-family: 'KangxiDictU5BA6';
    src: url('../../css/font/KangxiDictU5BA6.woff') format('woff'), url('../../css/font/KangxiDictU5BA6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
