@font-face {
    font-family: 'KangxiDictU661F';
    src: url('../../css/font/KangxiDictU661F.woff') format('woff'), url('../../css/font/KangxiDictU661F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
