@font-face {
    font-family: 'KangxiDictU6DF1';
    src: url('../../css/font/KangxiDictU6DF1.woff') format('woff'), url('../../css/font/KangxiDictU6DF1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
