@font-face {
    font-family: 'KangxiDictU7E25';
    src: url('../../css/font/KangxiDictU7E25.woff') format('woff'), url('../../css/font/KangxiDictU7E25.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
