@font-face {
    font-family: 'KangxiDictU940F';
    src: url('../../css/font/KangxiDictU940F.woff') format('woff'), url('../../css/font/KangxiDictU940F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
