@font-face {
    font-family: 'KangxiDictU7BCD';
    src: url('../../css/font/KangxiDictU7BCD.woff') format('woff'), url('../../css/font/KangxiDictU7BCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
