@font-face {
    font-family: 'KangxiDictU7515';
    src: url('../../css/font/KangxiDictU7515.woff') format('woff'), url('../../css/font/KangxiDictU7515.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
