@font-face {
    font-family: 'KangxiDictU8D95';
    src: url('../../css/font/KangxiDictU8D95.woff') format('woff'), url('../../css/font/KangxiDictU8D95.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
