@font-face {
    font-family: 'KangxiDictU718D';
    src: url('../../css/font/KangxiDictU718D.woff') format('woff'), url('../../css/font/KangxiDictU718D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
