@font-face {
    font-family: 'KangxiDictU9F1B';
    src: url('../../css/font/KangxiDictU9F1B.woff') format('woff'), url('../../css/font/KangxiDictU9F1B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
