@font-face {
    font-family: 'KangxiDictUF9EF';
    src: url('../../css/font/KangxiDictUF9EF.woff') format('woff'), url('../../css/font/KangxiDictUF9EF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
