@font-face {
    font-family: 'KangxiDictU8FF5';
    src: url('../../css/font/KangxiDictU8FF5.woff') format('woff'), url('../../css/font/KangxiDictU8FF5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
