@font-face {
    font-family: 'KangxiDictU76DA';
    src: url('../../css/font/KangxiDictU76DA.woff') format('woff'), url('../../css/font/KangxiDictU76DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
