@font-face {
    font-family: 'KangxiDictU9F3F';
    src: url('../../css/font/KangxiDictU9F3F.woff') format('woff'), url('../../css/font/KangxiDictU9F3F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
