@font-face {
    font-family: 'KangxiDictU5370';
    src: url('../../css/font/KangxiDictU5370.woff') format('woff'), url('../../css/font/KangxiDictU5370.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
