@font-face {
    font-family: 'KangxiDictU5969';
    src: url('../../css/font/KangxiDictU5969.woff') format('woff'), url('../../css/font/KangxiDictU5969.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
