@font-face {
    font-family: 'KangxiDictU7BD0';
    src: url('../../css/font/KangxiDictU7BD0.woff') format('woff'), url('../../css/font/KangxiDictU7BD0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
