@font-face {
    font-family: 'KangxiDictU7874';
    src: url('../../css/font/KangxiDictU7874.woff') format('woff'), url('../../css/font/KangxiDictU7874.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
