@font-face {
    font-family: 'KangxiDictU4E49';
    src: url('../../css/font/KangxiDictU4E49.woff') format('woff'), url('../../css/font/KangxiDictU4E49.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
