@font-face {
    font-family: 'KangxiDictU8667';
    src: url('../../css/font/KangxiDictU8667.woff') format('woff'), url('../../css/font/KangxiDictU8667.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
