@font-face {
    font-family: 'KangxiDictU8420';
    src: url('../../css/font/KangxiDictU8420.woff') format('woff'), url('../../css/font/KangxiDictU8420.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
