@font-face {
    font-family: 'KangxiDictU5A50';
    src: url('../../css/font/KangxiDictU5A50.woff') format('woff'), url('../../css/font/KangxiDictU5A50.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
