@font-face {
    font-family: 'KangxiDictU5489';
    src: url('../../css/font/KangxiDictU5489.woff') format('woff'), url('../../css/font/KangxiDictU5489.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
