@font-face {
    font-family: 'KangxiDictU5A98';
    src: url('../../css/font/KangxiDictU5A98.woff') format('woff'), url('../../css/font/KangxiDictU5A98.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
