@font-face {
    font-family: 'KangxiDictU9598';
    src: url('../../css/font/KangxiDictU9598.woff') format('woff'), url('../../css/font/KangxiDictU9598.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
