@font-face {
    font-family: 'KangxiDictU9C11';
    src: url('../../css/font/KangxiDictU9C11.woff') format('woff'), url('../../css/font/KangxiDictU9C11.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
