@font-face {
    font-family: 'KangxiDictU8880';
    src: url('../../css/font/KangxiDictU8880.woff') format('woff'), url('../../css/font/KangxiDictU8880.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
