@font-face {
    font-family: 'KangxiDictU5941';
    src: url('../../css/font/KangxiDictU5941.woff') format('woff'), url('../../css/font/KangxiDictU5941.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
