@font-face {
    font-family: 'KangxiDictU8487';
    src: url('../../css/font/KangxiDictU8487.woff') format('woff'), url('../../css/font/KangxiDictU8487.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
