@font-face {
    font-family: 'KangxiDictU70C6';
    src: url('../../css/font/KangxiDictU70C6.woff') format('woff'), url('../../css/font/KangxiDictU70C6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
