@font-face {
    font-family: 'KangxiDictU4E87';
    src: url('../../css/font/KangxiDictU4E87.woff') format('woff'), url('../../css/font/KangxiDictU4E87.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
