@font-face {
    font-family: 'KangxiDictU9760';
    src: url('../../css/font/KangxiDictU9760.woff') format('woff'), url('../../css/font/KangxiDictU9760.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
