@font-face {
    font-family: 'KangxiDictU9A9A';
    src: url('../../css/font/KangxiDictU9A9A.woff') format('woff'), url('../../css/font/KangxiDictU9A9A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
