@font-face {
    font-family: 'KangxiDictU6375';
    src: url('../../css/font/KangxiDictU6375.woff') format('woff'), url('../../css/font/KangxiDictU6375.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
