@font-face {
    font-family: 'KangxiDictU6FFE';
    src: url('../../css/font/KangxiDictU6FFE.woff') format('woff'), url('../../css/font/KangxiDictU6FFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
