@font-face {
    font-family: 'KangxiDictUF992';
    src: url('../../css/font/KangxiDictUF992.woff') format('woff'), url('../../css/font/KangxiDictUF992.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
