@font-face {
    font-family: 'KangxiDictU8905';
    src: url('../../css/font/KangxiDictU8905.woff') format('woff'), url('../../css/font/KangxiDictU8905.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
