@font-face {
    font-family: 'KangxiDictU7877';
    src: url('../../css/font/KangxiDictU7877.woff') format('woff'), url('../../css/font/KangxiDictU7877.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
