@font-face {
    font-family: 'KangxiDictU8464';
    src: url('../../css/font/KangxiDictU8464.woff') format('woff'), url('../../css/font/KangxiDictU8464.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
