@font-face {
    font-family: 'KangxiDictU8CC9';
    src: url('../../css/font/KangxiDictU8CC9.woff') format('woff'), url('../../css/font/KangxiDictU8CC9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
