@font-face {
    font-family: 'KangxiDictU8FE8';
    src: url('../../css/font/KangxiDictU8FE8.woff') format('woff'), url('../../css/font/KangxiDictU8FE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
