@font-face {
    font-family: 'KangxiDictU853F';
    src: url('../../css/font/KangxiDictU853F.woff') format('woff'), url('../../css/font/KangxiDictU853F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
