@font-face {
    font-family: 'KangxiDictU5DBF';
    src: url('../../css/font/KangxiDictU5DBF.woff') format('woff'), url('../../css/font/KangxiDictU5DBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
