@font-face {
    font-family: 'KangxiDictU7404';
    src: url('../../css/font/KangxiDictU7404.woff') format('woff'), url('../../css/font/KangxiDictU7404.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
