@font-face {
    font-family: 'KangxiDictU5DEA';
    src: url('../../css/font/KangxiDictU5DEA.woff') format('woff'), url('../../css/font/KangxiDictU5DEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
