@font-face {
    font-family: 'KangxiDictU9465';
    src: url('../../css/font/KangxiDictU9465.woff') format('woff'), url('../../css/font/KangxiDictU9465.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
