@font-face {
    font-family: 'KangxiDictU51BE';
    src: url('../../css/font/KangxiDictU51BE.woff') format('woff'), url('../../css/font/KangxiDictU51BE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
