@font-face {
    font-family: 'KangxiDictU6246';
    src: url('../../css/font/KangxiDictU6246.woff') format('woff'), url('../../css/font/KangxiDictU6246.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
