@font-face {
    font-family: 'KangxiDictU80E7';
    src: url('../../css/font/KangxiDictU80E7.woff') format('woff'), url('../../css/font/KangxiDictU80E7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
