@font-face {
    font-family: 'KangxiDictU5739';
    src: url('../../css/font/KangxiDictU5739.woff') format('woff'), url('../../css/font/KangxiDictU5739.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
