@font-face {
    font-family: 'KangxiDictU8D04';
    src: url('../../css/font/KangxiDictU8D04.woff') format('woff'), url('../../css/font/KangxiDictU8D04.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
