@font-face {
    font-family: 'KangxiDictU517F';
    src: url('../../css/font/KangxiDictU517F.woff') format('woff'), url('../../css/font/KangxiDictU517F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
