@font-face {
    font-family: 'KangxiDictU69A3';
    src: url('../../css/font/KangxiDictU69A3.woff') format('woff'), url('../../css/font/KangxiDictU69A3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
