@font-face {
    font-family: 'KangxiDictU8506';
    src: url('../../css/font/KangxiDictU8506.woff') format('woff'), url('../../css/font/KangxiDictU8506.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
