@font-face {
    font-family: 'KangxiDictU7CDF';
    src: url('../../css/font/KangxiDictU7CDF.woff') format('woff'), url('../../css/font/KangxiDictU7CDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
