@font-face {
    font-family: 'KangxiDictU9221';
    src: url('../../css/font/KangxiDictU9221.woff') format('woff'), url('../../css/font/KangxiDictU9221.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
