@font-face {
    font-family: 'KangxiDictU8831';
    src: url('../../css/font/KangxiDictU8831.woff') format('woff'), url('../../css/font/KangxiDictU8831.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
