@font-face {
    font-family: 'KangxiDictU80B5';
    src: url('../../css/font/KangxiDictU80B5.woff') format('woff'), url('../../css/font/KangxiDictU80B5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
