@font-face {
    font-family: 'KangxiDictU8664';
    src: url('../../css/font/KangxiDictU8664.woff') format('woff'), url('../../css/font/KangxiDictU8664.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
