@font-face {
    font-family: 'KangxiDictU5717';
    src: url('../../css/font/KangxiDictU5717.woff') format('woff'), url('../../css/font/KangxiDictU5717.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
