@font-face {
    font-family: 'KangxiDictU9872';
    src: url('../../css/font/KangxiDictU9872.woff') format('woff'), url('../../css/font/KangxiDictU9872.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
