@font-face {
    font-family: 'KangxiDictU9974';
    src: url('../../css/font/KangxiDictU9974.woff') format('woff'), url('../../css/font/KangxiDictU9974.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
