@font-face {
    font-family: 'KangxiDictU4F25';
    src: url('../../css/font/KangxiDictU4F25.woff') format('woff'), url('../../css/font/KangxiDictU4F25.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
