@font-face {
    font-family: 'KangxiDictU6DEB';
    src: url('../../css/font/KangxiDictU6DEB.woff') format('woff'), url('../../css/font/KangxiDictU6DEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
