@font-face {
    font-family: 'KangxiDictU660B';
    src: url('../../css/font/KangxiDictU660B.woff') format('woff'), url('../../css/font/KangxiDictU660B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
