@font-face {
    font-family: 'KangxiDictU6910';
    src: url('../../css/font/KangxiDictU6910.woff') format('woff'), url('../../css/font/KangxiDictU6910.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
