@font-face {
    font-family: 'KangxiDictU5C75';
    src: url('../../css/font/KangxiDictU5C75.woff') format('woff'), url('../../css/font/KangxiDictU5C75.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
