@font-face {
    font-family: 'KangxiDictU4EDE';
    src: url('../../css/font/KangxiDictU4EDE.woff') format('woff'), url('../../css/font/KangxiDictU4EDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
