@font-face {
    font-family: 'KangxiDictU5594';
    src: url('../../css/font/KangxiDictU5594.woff') format('woff'), url('../../css/font/KangxiDictU5594.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
