@font-face {
    font-family: 'KangxiDictU6FFA';
    src: url('../../css/font/KangxiDictU6FFA.woff') format('woff'), url('../../css/font/KangxiDictU6FFA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
