@font-face {
    font-family: 'KangxiDictU67CB';
    src: url('../../css/font/KangxiDictU67CB.woff') format('woff'), url('../../css/font/KangxiDictU67CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
