@font-face {
    font-family: 'KangxiDictU6209';
    src: url('../../css/font/KangxiDictU6209.woff') format('woff'), url('../../css/font/KangxiDictU6209.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
