@font-face {
    font-family: 'KangxiDictU65CC';
    src: url('../../css/font/KangxiDictU65CC.woff') format('woff'), url('../../css/font/KangxiDictU65CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
