@font-face {
    font-family: 'KangxiDictU5668';
    src: url('../../css/font/KangxiDictU5668.woff') format('woff'), url('../../css/font/KangxiDictU5668.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
