@font-face {
    font-family: 'KangxiDictU6FCB';
    src: url('../../css/font/KangxiDictU6FCB.woff') format('woff'), url('../../css/font/KangxiDictU6FCB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
