@font-face {
    font-family: 'KangxiDictUF939';
    src: url('../../css/font/KangxiDictUF939.woff') format('woff'), url('../../css/font/KangxiDictUF939.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
