@font-face {
    font-family: 'KangxiDictU6765';
    src: url('../../css/font/KangxiDictU6765.woff') format('woff'), url('../../css/font/KangxiDictU6765.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
