@font-face {
    font-family: 'KangxiDictU9511';
    src: url('../../css/font/KangxiDictU9511.woff') format('woff'), url('../../css/font/KangxiDictU9511.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
