@font-face {
    font-family: 'KangxiDictU5571';
    src: url('../../css/font/KangxiDictU5571.woff') format('woff'), url('../../css/font/KangxiDictU5571.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
