@font-face {
    font-family: 'KangxiDictU7568';
    src: url('../../css/font/KangxiDictU7568.woff') format('woff'), url('../../css/font/KangxiDictU7568.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
