@font-face {
    font-family: 'KangxiDictU9F95';
    src: url('../../css/font/KangxiDictU9F95.woff') format('woff'), url('../../css/font/KangxiDictU9F95.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
