@font-face {
    font-family: 'KangxiDictU5DCE';
    src: url('../../css/font/KangxiDictU5DCE.woff') format('woff'), url('../../css/font/KangxiDictU5DCE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
