@font-face {
    font-family: 'KangxiDictU8477';
    src: url('../../css/font/KangxiDictU8477.woff') format('woff'), url('../../css/font/KangxiDictU8477.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
