@font-face {
    font-family: 'KangxiDictU76FC';
    src: url('../../css/font/KangxiDictU76FC.woff') format('woff'), url('../../css/font/KangxiDictU76FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
