@font-face {
    font-family: 'KangxiDictU887C';
    src: url('../../css/font/KangxiDictU887C.woff') format('woff'), url('../../css/font/KangxiDictU887C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
