@font-face {
    font-family: 'KangxiDictU7F7B';
    src: url('../../css/font/KangxiDictU7F7B.woff') format('woff'), url('../../css/font/KangxiDictU7F7B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
