@font-face {
    font-family: 'KangxiDictU744D';
    src: url('../../css/font/KangxiDictU744D.woff') format('woff'), url('../../css/font/KangxiDictU744D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
