@font-face {
    font-family: 'KangxiDictU7687';
    src: url('../../css/font/KangxiDictU7687.woff') format('woff'), url('../../css/font/KangxiDictU7687.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
