@font-face {
    font-family: 'KangxiDictU5183';
    src: url('../../css/font/KangxiDictU5183.woff') format('woff'), url('../../css/font/KangxiDictU5183.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
