@font-face {
    font-family: 'KangxiDictU4F81';
    src: url('../../css/font/KangxiDictU4F81.woff') format('woff'), url('../../css/font/KangxiDictU4F81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
