@font-face {
    font-family: 'KangxiDictU70BD';
    src: url('../../css/font/KangxiDictU70BD.woff') format('woff'), url('../../css/font/KangxiDictU70BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
