@font-face {
    font-family: 'KangxiDictU7582';
    src: url('../../css/font/KangxiDictU7582.woff') format('woff'), url('../../css/font/KangxiDictU7582.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
