@font-face {
    font-family: 'KangxiDictUFA51';
    src: url('../../css/font/KangxiDictUFA51.woff') format('woff'), url('../../css/font/KangxiDictUFA51.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
