@font-face {
    font-family: 'KangxiDictU9734';
    src: url('../../css/font/KangxiDictU9734.woff') format('woff'), url('../../css/font/KangxiDictU9734.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
