@font-face {
    font-family: 'KangxiDictU6027';
    src: url('../../css/font/KangxiDictU6027.woff') format('woff'), url('../../css/font/KangxiDictU6027.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
