@font-face {
    font-family: 'KangxiDictU5821';
    src: url('../../css/font/KangxiDictU5821.woff') format('woff'), url('../../css/font/KangxiDictU5821.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
