@font-face {
    font-family: 'KangxiDictU5150';
    src: url('../../css/font/KangxiDictU5150.woff') format('woff'), url('../../css/font/KangxiDictU5150.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
