@font-face {
    font-family: 'KangxiDictU6629';
    src: url('../../css/font/KangxiDictU6629.woff') format('woff'), url('../../css/font/KangxiDictU6629.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
