@font-face {
    font-family: 'KangxiDictU9D93';
    src: url('../../css/font/KangxiDictU9D93.woff') format('woff'), url('../../css/font/KangxiDictU9D93.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
