@font-face {
    font-family: 'KangxiDictU6D0D';
    src: url('../../css/font/KangxiDictU6D0D.woff') format('woff'), url('../../css/font/KangxiDictU6D0D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
