@font-face {
    font-family: 'KangxiDictU637E';
    src: url('../../css/font/KangxiDictU637E.woff') format('woff'), url('../../css/font/KangxiDictU637E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
