@font-face {
    font-family: 'KangxiDictU6DAB';
    src: url('../../css/font/KangxiDictU6DAB.woff') format('woff'), url('../../css/font/KangxiDictU6DAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
