@font-face {
    font-family: 'KangxiDictU8D56';
    src: url('../../css/font/KangxiDictU8D56.woff') format('woff'), url('../../css/font/KangxiDictU8D56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
