@font-face {
    font-family: 'KangxiDictU53A8';
    src: url('../../css/font/KangxiDictU53A8.woff') format('woff'), url('../../css/font/KangxiDictU53A8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
