@font-face {
    font-family: 'KangxiDictU6FF4';
    src: url('../../css/font/KangxiDictU6FF4.woff') format('woff'), url('../../css/font/KangxiDictU6FF4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
