@font-face {
    font-family: 'KangxiDictU97E9';
    src: url('../../css/font/KangxiDictU97E9.woff') format('woff'), url('../../css/font/KangxiDictU97E9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
