@font-face {
    font-family: 'KangxiDictU7909';
    src: url('../../css/font/KangxiDictU7909.woff') format('woff'), url('../../css/font/KangxiDictU7909.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
