@font-face {
    font-family: 'KangxiDictU806C';
    src: url('../../css/font/KangxiDictU806C.woff') format('woff'), url('../../css/font/KangxiDictU806C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
