@font-face {
    font-family: 'KangxiDictU6540';
    src: url('../../css/font/KangxiDictU6540.woff') format('woff'), url('../../css/font/KangxiDictU6540.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
