@font-face {
    font-family: 'KangxiDictUFA25';
    src: url('../../css/font/KangxiDictUFA25.woff') format('woff'), url('../../css/font/KangxiDictUFA25.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
