@font-face {
    font-family: 'KangxiDictU7519';
    src: url('../../css/font/KangxiDictU7519.woff') format('woff'), url('../../css/font/KangxiDictU7519.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
