@font-face {
    font-family: 'KangxiDictU6067';
    src: url('../../css/font/KangxiDictU6067.woff') format('woff'), url('../../css/font/KangxiDictU6067.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
