@font-face {
    font-family: 'KangxiDictU6248';
    src: url('../../css/font/KangxiDictU6248.woff') format('woff'), url('../../css/font/KangxiDictU6248.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
