@font-face {
    font-family: 'KangxiDictU7DBB';
    src: url('../../css/font/KangxiDictU7DBB.woff') format('woff'), url('../../css/font/KangxiDictU7DBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
