@font-face {
    font-family: 'KangxiDictU7443';
    src: url('../../css/font/KangxiDictU7443.woff') format('woff'), url('../../css/font/KangxiDictU7443.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
