@font-face {
    font-family: 'KangxiDictU9D27';
    src: url('../../css/font/KangxiDictU9D27.woff') format('woff'), url('../../css/font/KangxiDictU9D27.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
