@font-face {
    font-family: 'KangxiDictU8996';
    src: url('../../css/font/KangxiDictU8996.woff') format('woff'), url('../../css/font/KangxiDictU8996.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
