@font-face {
    font-family: 'KangxiDictU8B39';
    src: url('../../css/font/KangxiDictU8B39.woff') format('woff'), url('../../css/font/KangxiDictU8B39.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
