@font-face {
    font-family: 'KangxiDictU6692';
    src: url('../../css/font/KangxiDictU6692.woff') format('woff'), url('../../css/font/KangxiDictU6692.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
