@font-face {
    font-family: 'KangxiDictU9114';
    src: url('../../css/font/KangxiDictU9114.woff') format('woff'), url('../../css/font/KangxiDictU9114.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
