@font-face {
    font-family: 'KangxiDictU8997';
    src: url('../../css/font/KangxiDictU8997.woff') format('woff'), url('../../css/font/KangxiDictU8997.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
