@font-face {
    font-family: 'KangxiDictU6B18';
    src: url('../../css/font/KangxiDictU6B18.woff') format('woff'), url('../../css/font/KangxiDictU6B18.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
