@font-face {
    font-family: 'KangxiDictU5854';
    src: url('../../css/font/KangxiDictU5854.woff') format('woff'), url('../../css/font/KangxiDictU5854.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
