@font-face {
    font-family: 'KangxiDictU782E';
    src: url('../../css/font/KangxiDictU782E.woff') format('woff'), url('../../css/font/KangxiDictU782E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
