@font-face {
    font-family: 'KangxiDictU5599';
    src: url('../../css/font/KangxiDictU5599.woff') format('woff'), url('../../css/font/KangxiDictU5599.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
