@font-face {
    font-family: 'KangxiDictU8960';
    src: url('../../css/font/KangxiDictU8960.woff') format('woff'), url('../../css/font/KangxiDictU8960.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
