@font-face {
    font-family: 'KangxiDictU9920';
    src: url('../../css/font/KangxiDictU9920.woff') format('woff'), url('../../css/font/KangxiDictU9920.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
