@font-face {
    font-family: 'KangxiDictU8069';
    src: url('../../css/font/KangxiDictU8069.woff') format('woff'), url('../../css/font/KangxiDictU8069.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
