@font-face {
    font-family: 'KangxiDictU9754';
    src: url('../../css/font/KangxiDictU9754.woff') format('woff'), url('../../css/font/KangxiDictU9754.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
