@font-face {
    font-family: 'KangxiDictU6C69';
    src: url('../../css/font/KangxiDictU6C69.woff') format('woff'), url('../../css/font/KangxiDictU6C69.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
