@font-face {
    font-family: 'KangxiDictU639F';
    src: url('../../css/font/KangxiDictU639F.woff') format('woff'), url('../../css/font/KangxiDictU639F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
