@font-face {
    font-family: 'KangxiDictU6626';
    src: url('../../css/font/KangxiDictU6626.woff') format('woff'), url('../../css/font/KangxiDictU6626.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
