@font-face {
    font-family: 'KangxiDictU7681';
    src: url('../../css/font/KangxiDictU7681.woff') format('woff'), url('../../css/font/KangxiDictU7681.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
