@font-face {
    font-family: 'KangxiDictU5848';
    src: url('../../css/font/KangxiDictU5848.woff') format('woff'), url('../../css/font/KangxiDictU5848.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
