@font-face {
    font-family: 'KangxiDictU8544';
    src: url('../../css/font/KangxiDictU8544.woff') format('woff'), url('../../css/font/KangxiDictU8544.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
