@font-face {
    font-family: 'KangxiDictU7201';
    src: url('../../css/font/KangxiDictU7201.woff') format('woff'), url('../../css/font/KangxiDictU7201.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
