@font-face {
    font-family: 'KangxiDictU8289';
    src: url('../../css/font/KangxiDictU8289.woff') format('woff'), url('../../css/font/KangxiDictU8289.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
