@font-face {
    font-family: 'KangxiDictU8DAC';
    src: url('../../css/font/KangxiDictU8DAC.woff') format('woff'), url('../../css/font/KangxiDictU8DAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
