@font-face {
    font-family: 'KangxiDictU7949';
    src: url('../../css/font/KangxiDictU7949.woff') format('woff'), url('../../css/font/KangxiDictU7949.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
