@font-face {
    font-family: 'KangxiDictU54CB';
    src: url('../../css/font/KangxiDictU54CB.woff') format('woff'), url('../../css/font/KangxiDictU54CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
