@font-face {
    font-family: 'KangxiDictU76AB';
    src: url('../../css/font/KangxiDictU76AB.woff') format('woff'), url('../../css/font/KangxiDictU76AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
