@font-face {
    font-family: 'KangxiDictU6D73';
    src: url('../../css/font/KangxiDictU6D73.woff') format('woff'), url('../../css/font/KangxiDictU6D73.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
