@font-face {
    font-family: 'KangxiDictU8EE2';
    src: url('../../css/font/KangxiDictU8EE2.woff') format('woff'), url('../../css/font/KangxiDictU8EE2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
