@font-face {
    font-family: 'KangxiDictU6A61';
    src: url('../../css/font/KangxiDictU6A61.woff') format('woff'), url('../../css/font/KangxiDictU6A61.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
