@font-face {
    font-family: 'KangxiDictU586C';
    src: url('../../css/font/KangxiDictU586C.woff') format('woff'), url('../../css/font/KangxiDictU586C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
