@font-face {
    font-family: 'KangxiDictU6960';
    src: url('../../css/font/KangxiDictU6960.woff') format('woff'), url('../../css/font/KangxiDictU6960.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
