@font-face {
    font-family: 'KangxiDictU8213';
    src: url('../../css/font/KangxiDictU8213.woff') format('woff'), url('../../css/font/KangxiDictU8213.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
