@font-face {
    font-family: 'KangxiDictU9C89';
    src: url('../../css/font/KangxiDictU9C89.woff') format('woff'), url('../../css/font/KangxiDictU9C89.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
