@font-face {
    font-family: 'KangxiDictU7221';
    src: url('../../css/font/KangxiDictU7221.woff') format('woff'), url('../../css/font/KangxiDictU7221.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
