@font-face {
    font-family: 'KangxiDictU5281';
    src: url('../../css/font/KangxiDictU5281.woff') format('woff'), url('../../css/font/KangxiDictU5281.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
