@font-face {
    font-family: 'KangxiDictU7673';
    src: url('../../css/font/KangxiDictU7673.woff') format('woff'), url('../../css/font/KangxiDictU7673.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
