@font-face {
    font-family: 'KangxiDictU9DB2';
    src: url('../../css/font/KangxiDictU9DB2.woff') format('woff'), url('../../css/font/KangxiDictU9DB2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
