@font-face {
    font-family: 'KangxiDictUF99F';
    src: url('../../css/font/KangxiDictUF99F.woff') format('woff'), url('../../css/font/KangxiDictUF99F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
