@font-face {
    font-family: 'KangxiDictU6982';
    src: url('../../css/font/KangxiDictU6982.woff') format('woff'), url('../../css/font/KangxiDictU6982.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
