@font-face {
    font-family: 'KangxiDictU644A';
    src: url('../../css/font/KangxiDictU644A.woff') format('woff'), url('../../css/font/KangxiDictU644A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
