@font-face {
    font-family: 'KangxiDictU7575';
    src: url('../../css/font/KangxiDictU7575.woff') format('woff'), url('../../css/font/KangxiDictU7575.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
