@font-face {
    font-family: 'KangxiDictU76E3';
    src: url('../../css/font/KangxiDictU76E3.woff') format('woff'), url('../../css/font/KangxiDictU76E3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
