@font-face {
    font-family: 'KangxiDictU4FCF';
    src: url('../../css/font/KangxiDictU4FCF.woff') format('woff'), url('../../css/font/KangxiDictU4FCF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
