@font-face {
    font-family: 'KangxiDictU59DB';
    src: url('../../css/font/KangxiDictU59DB.woff') format('woff'), url('../../css/font/KangxiDictU59DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
