@font-face {
    font-family: 'KangxiDictU8E59';
    src: url('../../css/font/KangxiDictU8E59.woff') format('woff'), url('../../css/font/KangxiDictU8E59.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
