@font-face {
    font-family: 'KangxiDictU841C';
    src: url('../../css/font/KangxiDictU841C.woff') format('woff'), url('../../css/font/KangxiDictU841C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
