@font-face {
    font-family: 'KangxiDictU5000';
    src: url('../../css/font/KangxiDictU5000.woff') format('woff'), url('../../css/font/KangxiDictU5000.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
