@font-face {
    font-family: 'KangxiDictU6040';
    src: url('../../css/font/KangxiDictU6040.woff') format('woff'), url('../../css/font/KangxiDictU6040.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
