@font-face {
    font-family: 'KangxiDictU4F99';
    src: url('../../css/font/KangxiDictU4F99.woff') format('woff'), url('../../css/font/KangxiDictU4F99.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
