@font-face {
    font-family: 'KangxiDictU8244';
    src: url('../../css/font/KangxiDictU8244.woff') format('woff'), url('../../css/font/KangxiDictU8244.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
