@font-face {
    font-family: 'KangxiDictU625E';
    src: url('../../css/font/KangxiDictU625E.woff') format('woff'), url('../../css/font/KangxiDictU625E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
