@font-face {
    font-family: 'KangxiDictU847A';
    src: url('../../css/font/KangxiDictU847A.woff') format('woff'), url('../../css/font/KangxiDictU847A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
