@font-face {
    font-family: 'KangxiDictU9932';
    src: url('../../css/font/KangxiDictU9932.woff') format('woff'), url('../../css/font/KangxiDictU9932.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
