@font-face {
    font-family: 'KangxiDictUFA19';
    src: url('../../css/font/KangxiDictUFA19.woff') format('woff'), url('../../css/font/KangxiDictUFA19.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
