@font-face {
    font-family: 'KangxiDictU924F';
    src: url('../../css/font/KangxiDictU924F.woff') format('woff'), url('../../css/font/KangxiDictU924F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
