@font-face {
    font-family: 'KangxiDictU5289';
    src: url('../../css/font/KangxiDictU5289.woff') format('woff'), url('../../css/font/KangxiDictU5289.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
