@font-face {
    font-family: 'KangxiDictU6584';
    src: url('../../css/font/KangxiDictU6584.woff') format('woff'), url('../../css/font/KangxiDictU6584.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
