@font-face {
    font-family: 'KangxiDictU6517';
    src: url('../../css/font/KangxiDictU6517.woff') format('woff'), url('../../css/font/KangxiDictU6517.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
