@font-face {
    font-family: 'KangxiDictU5242';
    src: url('../../css/font/KangxiDictU5242.woff') format('woff'), url('../../css/font/KangxiDictU5242.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
