@font-face {
    font-family: 'KangxiDictU5803';
    src: url('../../css/font/KangxiDictU5803.woff') format('woff'), url('../../css/font/KangxiDictU5803.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
