@font-face {
    font-family: 'KangxiDictU7EF8';
    src: url('../../css/font/KangxiDictU7EF8.woff') format('woff'), url('../../css/font/KangxiDictU7EF8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
