@font-face {
    font-family: 'KangxiDictU5D54';
    src: url('../../css/font/KangxiDictU5D54.woff') format('woff'), url('../../css/font/KangxiDictU5D54.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
