@font-face {
    font-family: 'KangxiDictU7911';
    src: url('../../css/font/KangxiDictU7911.woff') format('woff'), url('../../css/font/KangxiDictU7911.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
