@font-face {
    font-family: 'KangxiDictU8428';
    src: url('../../css/font/KangxiDictU8428.woff') format('woff'), url('../../css/font/KangxiDictU8428.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
