@font-face {
    font-family: 'KangxiDictU5DC3';
    src: url('../../css/font/KangxiDictU5DC3.woff') format('woff'), url('../../css/font/KangxiDictU5DC3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
