@font-face {
    font-family: 'KangxiDictU9653';
    src: url('../../css/font/KangxiDictU9653.woff') format('woff'), url('../../css/font/KangxiDictU9653.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
