@font-face {
    font-family: 'KangxiDictU840A';
    src: url('../../css/font/KangxiDictU840A.woff') format('woff'), url('../../css/font/KangxiDictU840A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
