@font-face {
    font-family: 'KangxiDictU9BEA';
    src: url('../../css/font/KangxiDictU9BEA.woff') format('woff'), url('../../css/font/KangxiDictU9BEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
