@font-face {
    font-family: 'KangxiDictU8110';
    src: url('../../css/font/KangxiDictU8110.woff') format('woff'), url('../../css/font/KangxiDictU8110.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
