@font-face {
    font-family: 'KangxiDictU7343';
    src: url('../../css/font/KangxiDictU7343.woff') format('woff'), url('../../css/font/KangxiDictU7343.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
