@font-face {
    font-family: 'KangxiDictU7251';
    src: url('../../css/font/KangxiDictU7251.woff') format('woff'), url('../../css/font/KangxiDictU7251.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
