@font-face {
    font-family: 'KangxiDictU9ADF';
    src: url('../../css/font/KangxiDictU9ADF.woff') format('woff'), url('../../css/font/KangxiDictU9ADF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
