@font-face {
    font-family: 'KangxiDictU9E28';
    src: url('../../css/font/KangxiDictU9E28.woff') format('woff'), url('../../css/font/KangxiDictU9E28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
