@font-face {
    font-family: 'KangxiDictU5872';
    src: url('../../css/font/KangxiDictU5872.woff') format('woff'), url('../../css/font/KangxiDictU5872.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
