@font-face {
    font-family: 'KangxiDictU5BB9';
    src: url('../../css/font/KangxiDictU5BB9.woff') format('woff'), url('../../css/font/KangxiDictU5BB9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
