@font-face {
    font-family: 'KangxiDictU9780';
    src: url('../../css/font/KangxiDictU9780.woff') format('woff'), url('../../css/font/KangxiDictU9780.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
