@font-face {
    font-family: 'KangxiDictU5D1B';
    src: url('../../css/font/KangxiDictU5D1B.woff') format('woff'), url('../../css/font/KangxiDictU5D1B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
