@font-face {
    font-family: 'KangxiDictU9AF8';
    src: url('../../css/font/KangxiDictU9AF8.woff') format('woff'), url('../../css/font/KangxiDictU9AF8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
