@font-face {
    font-family: 'KangxiDictU7861';
    src: url('../../css/font/KangxiDictU7861.woff') format('woff'), url('../../css/font/KangxiDictU7861.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
