@font-face {
    font-family: 'KangxiDictU8974';
    src: url('../../css/font/KangxiDictU8974.woff') format('woff'), url('../../css/font/KangxiDictU8974.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
