@font-face {
    font-family: 'KangxiDictU5DAC';
    src: url('../../css/font/KangxiDictU5DAC.woff') format('woff'), url('../../css/font/KangxiDictU5DAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
