@font-face {
    font-family: 'KangxiDictU8459';
    src: url('../../css/font/KangxiDictU8459.woff') format('woff'), url('../../css/font/KangxiDictU8459.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
