@font-face {
    font-family: 'KangxiDictU7FD3';
    src: url('../../css/font/KangxiDictU7FD3.woff') format('woff'), url('../../css/font/KangxiDictU7FD3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
