@font-face {
    font-family: 'KangxiDictU6BB8';
    src: url('../../css/font/KangxiDictU6BB8.woff') format('woff'), url('../../css/font/KangxiDictU6BB8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
