@font-face {
    font-family: 'KangxiDictU6B13';
    src: url('../../css/font/KangxiDictU6B13.woff') format('woff'), url('../../css/font/KangxiDictU6B13.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
