@font-face {
    font-family: 'KangxiDictU6887';
    src: url('../../css/font/KangxiDictU6887.woff') format('woff'), url('../../css/font/KangxiDictU6887.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
