@font-face {
    font-family: 'KangxiDictU5989';
    src: url('../../css/font/KangxiDictU5989.woff') format('woff'), url('../../css/font/KangxiDictU5989.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
