@font-face {
    font-family: 'KangxiDictU54AD';
    src: url('../../css/font/KangxiDictU54AD.woff') format('woff'), url('../../css/font/KangxiDictU54AD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
