@font-face {
    font-family: 'KangxiDictU69CF';
    src: url('../../css/font/KangxiDictU69CF.woff') format('woff'), url('../../css/font/KangxiDictU69CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
