@font-face {
    font-family: 'KangxiDictU544A';
    src: url('../../css/font/KangxiDictU544A.woff') format('woff'), url('../../css/font/KangxiDictU544A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
