@font-face {
    font-family: 'KangxiDictU5887';
    src: url('../../css/font/KangxiDictU5887.woff') format('woff'), url('../../css/font/KangxiDictU5887.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
