@font-face {
    font-family: 'KangxiDictUFAB0';
    src: url('../../css/font/KangxiDictUFAB0.woff') format('woff'), url('../../css/font/KangxiDictUFAB0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
