@font-face {
    font-family: 'KangxiDictU8B9A';
    src: url('../../css/font/KangxiDictU8B9A.woff') format('woff'), url('../../css/font/KangxiDictU8B9A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
