@font-face {
    font-family: 'KangxiDictU94B9';
    src: url('../../css/font/KangxiDictU94B9.woff') format('woff'), url('../../css/font/KangxiDictU94B9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
