@font-face {
    font-family: 'KangxiDictU9563';
    src: url('../../css/font/KangxiDictU9563.woff') format('woff'), url('../../css/font/KangxiDictU9563.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
