@font-face {
    font-family: 'KangxiDictUFA35';
    src: url('../../css/font/KangxiDictUFA35.woff') format('woff'), url('../../css/font/KangxiDictUFA35.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
