@font-face {
    font-family: 'KangxiDictU5756';
    src: url('../../css/font/KangxiDictU5756.woff') format('woff'), url('../../css/font/KangxiDictU5756.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
