@font-face {
    font-family: 'KangxiDictU6AEA';
    src: url('../../css/font/KangxiDictU6AEA.woff') format('woff'), url('../../css/font/KangxiDictU6AEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
