@font-face {
    font-family: 'KangxiDictU9190';
    src: url('../../css/font/KangxiDictU9190.woff') format('woff'), url('../../css/font/KangxiDictU9190.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
