@font-face {
    font-family: 'KangxiDictU8309';
    src: url('../../css/font/KangxiDictU8309.woff') format('woff'), url('../../css/font/KangxiDictU8309.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
