@font-face {
    font-family: 'KangxiDictU89BF';
    src: url('../../css/font/KangxiDictU89BF.woff') format('woff'), url('../../css/font/KangxiDictU89BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
