@font-face {
    font-family: 'KangxiDictU8F19';
    src: url('../../css/font/KangxiDictU8F19.woff') format('woff'), url('../../css/font/KangxiDictU8F19.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
