@font-face {
    font-family: 'KangxiDictU7739';
    src: url('../../css/font/KangxiDictU7739.woff') format('woff'), url('../../css/font/KangxiDictU7739.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
