@font-face {
    font-family: 'KangxiDictU5431';
    src: url('../../css/font/KangxiDictU5431.woff') format('woff'), url('../../css/font/KangxiDictU5431.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
