@font-face {
    font-family: 'KangxiDictU71E4';
    src: url('../../css/font/KangxiDictU71E4.woff') format('woff'), url('../../css/font/KangxiDictU71E4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
