@font-face {
    font-family: 'KangxiDictU5C8C';
    src: url('../../css/font/KangxiDictU5C8C.woff') format('woff'), url('../../css/font/KangxiDictU5C8C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
