@font-face {
    font-family: 'KangxiDictU5E15';
    src: url('../../css/font/KangxiDictU5E15.woff') format('woff'), url('../../css/font/KangxiDictU5E15.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
