@font-face {
    font-family: 'KangxiDictU9737';
    src: url('../../css/font/KangxiDictU9737.woff') format('woff'), url('../../css/font/KangxiDictU9737.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
