@font-face {
    font-family: 'KangxiDictU7C5C';
    src: url('../../css/font/KangxiDictU7C5C.woff') format('woff'), url('../../css/font/KangxiDictU7C5C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
