@font-face {
    font-family: 'KangxiDictU9F56';
    src: url('../../css/font/KangxiDictU9F56.woff') format('woff'), url('../../css/font/KangxiDictU9F56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
