@font-face {
    font-family: 'KangxiDictU5EFF';
    src: url('../../css/font/KangxiDictU5EFF.woff') format('woff'), url('../../css/font/KangxiDictU5EFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
