@font-face {
    font-family: 'KangxiDictU8926';
    src: url('../../css/font/KangxiDictU8926.woff') format('woff'), url('../../css/font/KangxiDictU8926.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
