@font-face {
    font-family: 'KangxiDictU8FFD';
    src: url('../../css/font/KangxiDictU8FFD.woff') format('woff'), url('../../css/font/KangxiDictU8FFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
