@font-face {
    font-family: 'KangxiDictU9FBA';
    src: url('../../css/font/KangxiDictU9FBA.woff') format('woff'), url('../../css/font/KangxiDictU9FBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
