@font-face {
    font-family: 'KangxiDictU5743';
    src: url('../../css/font/KangxiDictU5743.woff') format('woff'), url('../../css/font/KangxiDictU5743.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
