@font-face {
    font-family: 'KangxiDictUF916';
    src: url('../../css/font/KangxiDictUF916.woff') format('woff'), url('../../css/font/KangxiDictUF916.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
