@font-face {
    font-family: 'KangxiDictUFACA';
    src: url('../../css/font/KangxiDictUFACA.woff') format('woff'), url('../../css/font/KangxiDictUFACA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
