@font-face {
    font-family: 'KangxiDictU4E00';
    src: url('../../css/font/KangxiDictU4E00.woff') format('woff'), url('../../css/font/KangxiDictU4E00.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
