@font-face {
    font-family: 'KangxiDictUF945';
    src: url('../../css/font/KangxiDictUF945.woff') format('woff'), url('../../css/font/KangxiDictUF945.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
