@font-face {
    font-family: 'KangxiDictUFA45';
    src: url('../../css/font/KangxiDictUFA45.woff') format('woff'), url('../../css/font/KangxiDictUFA45.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
