@font-face {
    font-family: 'KangxiDictU50DE';
    src: url('../../css/font/KangxiDictU50DE.woff') format('woff'), url('../../css/font/KangxiDictU50DE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
