@font-face {
    font-family: 'KangxiDictU6F8A';
    src: url('../../css/font/KangxiDictU6F8A.woff') format('woff'), url('../../css/font/KangxiDictU6F8A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
