@font-face {
    font-family: 'KangxiDictU7B4E';
    src: url('../../css/font/KangxiDictU7B4E.woff') format('woff'), url('../../css/font/KangxiDictU7B4E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
