@font-face {
    font-family: 'KangxiDictU56FB';
    src: url('../../css/font/KangxiDictU56FB.woff') format('woff'), url('../../css/font/KangxiDictU56FB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
