@font-face {
    font-family: 'KangxiDictU9713';
    src: url('../../css/font/KangxiDictU9713.woff') format('woff'), url('../../css/font/KangxiDictU9713.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
