@font-face {
    font-family: 'KangxiDictU5161';
    src: url('../../css/font/KangxiDictU5161.woff') format('woff'), url('../../css/font/KangxiDictU5161.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
