@font-face {
    font-family: 'KangxiDictU5BEB';
    src: url('../../css/font/KangxiDictU5BEB.woff') format('woff'), url('../../css/font/KangxiDictU5BEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
