@font-face {
    font-family: 'KangxiDictU8288';
    src: url('../../css/font/KangxiDictU8288.woff') format('woff'), url('../../css/font/KangxiDictU8288.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
