@font-face {
    font-family: 'KangxiDictU632D';
    src: url('../../css/font/KangxiDictU632D.woff') format('woff'), url('../../css/font/KangxiDictU632D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
