@font-face {
    font-family: 'KangxiDictU9391';
    src: url('../../css/font/KangxiDictU9391.woff') format('woff'), url('../../css/font/KangxiDictU9391.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
