@font-face {
    font-family: 'KangxiDictU66FD';
    src: url('../../css/font/KangxiDictU66FD.woff') format('woff'), url('../../css/font/KangxiDictU66FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
