@font-face {
    font-family: 'KangxiDictU5314';
    src: url('../../css/font/KangxiDictU5314.woff') format('woff'), url('../../css/font/KangxiDictU5314.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
