@font-face {
    font-family: 'KangxiDictU7EAA';
    src: url('../../css/font/KangxiDictU7EAA.woff') format('woff'), url('../../css/font/KangxiDictU7EAA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
