@font-face {
    font-family: 'KangxiDictU9731';
    src: url('../../css/font/KangxiDictU9731.woff') format('woff'), url('../../css/font/KangxiDictU9731.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
