@font-face {
    font-family: 'KangxiDictU5CC1';
    src: url('../../css/font/KangxiDictU5CC1.woff') format('woff'), url('../../css/font/KangxiDictU5CC1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
