@font-face {
    font-family: 'KangxiDictU7094';
    src: url('../../css/font/KangxiDictU7094.woff') format('woff'), url('../../css/font/KangxiDictU7094.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
