@font-face {
    font-family: 'KangxiDictU92AA';
    src: url('../../css/font/KangxiDictU92AA.woff') format('woff'), url('../../css/font/KangxiDictU92AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
