@font-face {
    font-family: 'KangxiDictU7307';
    src: url('../../css/font/KangxiDictU7307.woff') format('woff'), url('../../css/font/KangxiDictU7307.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
