@font-face {
    font-family: 'KangxiDictU8B67';
    src: url('../../css/font/KangxiDictU8B67.woff') format('woff'), url('../../css/font/KangxiDictU8B67.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
