@font-face {
    font-family: 'KangxiDictU9684';
    src: url('../../css/font/KangxiDictU9684.woff') format('woff'), url('../../css/font/KangxiDictU9684.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
