@font-face {
    font-family: 'KangxiDictU4EF5';
    src: url('../../css/font/KangxiDictU4EF5.woff') format('woff'), url('../../css/font/KangxiDictU4EF5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
