@font-face {
    font-family: 'KangxiDictU76CE';
    src: url('../../css/font/KangxiDictU76CE.woff') format('woff'), url('../../css/font/KangxiDictU76CE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
