@font-face {
    font-family: 'KangxiDictU9341';
    src: url('../../css/font/KangxiDictU9341.woff') format('woff'), url('../../css/font/KangxiDictU9341.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
