@font-face {
    font-family: 'KangxiDictU904D';
    src: url('../../css/font/KangxiDictU904D.woff') format('woff'), url('../../css/font/KangxiDictU904D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
