@font-face {
    font-family: 'KangxiDictU74BF';
    src: url('../../css/font/KangxiDictU74BF.woff') format('woff'), url('../../css/font/KangxiDictU74BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
