@font-face {
    font-family: 'KangxiDictU7167';
    src: url('../../css/font/KangxiDictU7167.woff') format('woff'), url('../../css/font/KangxiDictU7167.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
