@font-face {
    font-family: 'KangxiDictU7070';
    src: url('../../css/font/KangxiDictU7070.woff') format('woff'), url('../../css/font/KangxiDictU7070.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
