@font-face {
    font-family: 'KangxiDictU5AFD';
    src: url('../../css/font/KangxiDictU5AFD.woff') format('woff'), url('../../css/font/KangxiDictU5AFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
