@font-face {
    font-family: 'KangxiDictU5BA1';
    src: url('../../css/font/KangxiDictU5BA1.woff') format('woff'), url('../../css/font/KangxiDictU5BA1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
