@font-face {
    font-family: 'KangxiDictU6919';
    src: url('../../css/font/KangxiDictU6919.woff') format('woff'), url('../../css/font/KangxiDictU6919.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
