@font-face {
    font-family: 'KangxiDictU7C28';
    src: url('../../css/font/KangxiDictU7C28.woff') format('woff'), url('../../css/font/KangxiDictU7C28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
