@font-face {
    font-family: 'KangxiDictU702D';
    src: url('../../css/font/KangxiDictU702D.woff') format('woff'), url('../../css/font/KangxiDictU702D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
