@font-face {
    font-family: 'KangxiDictU87B2';
    src: url('../../css/font/KangxiDictU87B2.woff') format('woff'), url('../../css/font/KangxiDictU87B2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
