@font-face {
    font-family: 'KangxiDictU9566';
    src: url('../../css/font/KangxiDictU9566.woff') format('woff'), url('../../css/font/KangxiDictU9566.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
