@font-face {
    font-family: 'KangxiDictU9D19';
    src: url('../../css/font/KangxiDictU9D19.woff') format('woff'), url('../../css/font/KangxiDictU9D19.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
