@font-face {
    font-family: 'KangxiDictU644C';
    src: url('../../css/font/KangxiDictU644C.woff') format('woff'), url('../../css/font/KangxiDictU644C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
