@font-face {
    font-family: 'KangxiDictU6C2B';
    src: url('../../css/font/KangxiDictU6C2B.woff') format('woff'), url('../../css/font/KangxiDictU6C2B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
