@font-face {
    font-family: 'KangxiDictU60A9';
    src: url('../../css/font/KangxiDictU60A9.woff') format('woff'), url('../../css/font/KangxiDictU60A9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
