@font-face {
    font-family: 'KangxiDictUFA24';
    src: url('../../css/font/KangxiDictUFA24.woff') format('woff'), url('../../css/font/KangxiDictUFA24.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
