@font-face {
    font-family: 'KangxiDictU5382';
    src: url('../../css/font/KangxiDictU5382.woff') format('woff'), url('../../css/font/KangxiDictU5382.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
