@font-face {
    font-family: 'KangxiDictU7408';
    src: url('../../css/font/KangxiDictU7408.woff') format('woff'), url('../../css/font/KangxiDictU7408.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
