@font-face {
    font-family: 'KangxiDictU6607';
    src: url('../../css/font/KangxiDictU6607.woff') format('woff'), url('../../css/font/KangxiDictU6607.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
