@font-face {
    font-family: 'KangxiDictU8262';
    src: url('../../css/font/KangxiDictU8262.woff') format('woff'), url('../../css/font/KangxiDictU8262.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
