@font-face {
    font-family: 'KangxiDictU4F76';
    src: url('../../css/font/KangxiDictU4F76.woff') format('woff'), url('../../css/font/KangxiDictU4F76.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
