@font-face {
    font-family: 'KangxiDictU7146';
    src: url('../../css/font/KangxiDictU7146.woff') format('woff'), url('../../css/font/KangxiDictU7146.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
