@font-face {
    font-family: 'KangxiDictU77CF';
    src: url('../../css/font/KangxiDictU77CF.woff') format('woff'), url('../../css/font/KangxiDictU77CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
