@font-face {
    font-family: 'KangxiDictU8241';
    src: url('../../css/font/KangxiDictU8241.woff') format('woff'), url('../../css/font/KangxiDictU8241.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
