@font-face {
    font-family: 'KangxiDictU8963';
    src: url('../../css/font/KangxiDictU8963.woff') format('woff'), url('../../css/font/KangxiDictU8963.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
