@font-face {
    font-family: 'KangxiDictU598C';
    src: url('../../css/font/KangxiDictU598C.woff') format('woff'), url('../../css/font/KangxiDictU598C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
