@font-face {
    font-family: 'KangxiDictU6DFF';
    src: url('../../css/font/KangxiDictU6DFF.woff') format('woff'), url('../../css/font/KangxiDictU6DFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
