@font-face {
    font-family: 'KangxiDictU9172';
    src: url('../../css/font/KangxiDictU9172.woff') format('woff'), url('../../css/font/KangxiDictU9172.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
