@font-face {
    font-family: 'KangxiDictU9539';
    src: url('../../css/font/KangxiDictU9539.woff') format('woff'), url('../../css/font/KangxiDictU9539.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
