@font-face {
    font-family: 'KangxiDictU52BD';
    src: url('../../css/font/KangxiDictU52BD.woff') format('woff'), url('../../css/font/KangxiDictU52BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
