@font-face {
    font-family: 'KangxiDictUF93D';
    src: url('../../css/font/KangxiDictUF93D.woff') format('woff'), url('../../css/font/KangxiDictUF93D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
