@font-face {
    font-family: 'KangxiDictU5521';
    src: url('../../css/font/KangxiDictU5521.woff') format('woff'), url('../../css/font/KangxiDictU5521.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
