@font-face {
    font-family: 'KangxiDictU7113';
    src: url('../../css/font/KangxiDictU7113.woff') format('woff'), url('../../css/font/KangxiDictU7113.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
