@font-face {
    font-family: 'KangxiDictU584A';
    src: url('../../css/font/KangxiDictU584A.woff') format('woff'), url('../../css/font/KangxiDictU584A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
