@font-face {
    font-family: 'KangxiDictU6CF2';
    src: url('../../css/font/KangxiDictU6CF2.woff') format('woff'), url('../../css/font/KangxiDictU6CF2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
