@font-face {
    font-family: 'KangxiDictU9A7F';
    src: url('../../css/font/KangxiDictU9A7F.woff') format('woff'), url('../../css/font/KangxiDictU9A7F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
