@font-face {
    font-family: 'KangxiDictU5260';
    src: url('../../css/font/KangxiDictU5260.woff') format('woff'), url('../../css/font/KangxiDictU5260.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
