@font-face {
    font-family: 'KangxiDictU9EAD';
    src: url('../../css/font/KangxiDictU9EAD.woff') format('woff'), url('../../css/font/KangxiDictU9EAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
