@font-face {
    font-family: 'KangxiDictU507F';
    src: url('../../css/font/KangxiDictU507F.woff') format('woff'), url('../../css/font/KangxiDictU507F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
