@font-face {
    font-family: 'KangxiDictU8921';
    src: url('../../css/font/KangxiDictU8921.woff') format('woff'), url('../../css/font/KangxiDictU8921.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
