@font-face {
    font-family: 'KangxiDictU7860';
    src: url('../../css/font/KangxiDictU7860.woff') format('woff'), url('../../css/font/KangxiDictU7860.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
