@font-face {
    font-family: 'KangxiDictU720F';
    src: url('../../css/font/KangxiDictU720F.woff') format('woff'), url('../../css/font/KangxiDictU720F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
