@font-face {
    font-family: 'KangxiDictU603C';
    src: url('../../css/font/KangxiDictU603C.woff') format('woff'), url('../../css/font/KangxiDictU603C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
