@font-face {
    font-family: 'KangxiDictU7459';
    src: url('../../css/font/KangxiDictU7459.woff') format('woff'), url('../../css/font/KangxiDictU7459.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
