@font-face {
    font-family: 'KangxiDictU6687';
    src: url('../../css/font/KangxiDictU6687.woff') format('woff'), url('../../css/font/KangxiDictU6687.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
