@font-face {
    font-family: 'KangxiDictU7032';
    src: url('../../css/font/KangxiDictU7032.woff') format('woff'), url('../../css/font/KangxiDictU7032.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
