@font-face {
    font-family: 'KangxiDictU8DCA';
    src: url('../../css/font/KangxiDictU8DCA.woff') format('woff'), url('../../css/font/KangxiDictU8DCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
