@font-face {
    font-family: 'KangxiDictUFA4C';
    src: url('../../css/font/KangxiDictUFA4C.woff') format('woff'), url('../../css/font/KangxiDictUFA4C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
