@font-face {
    font-family: 'KangxiDictU8862';
    src: url('../../css/font/KangxiDictU8862.woff') format('woff'), url('../../css/font/KangxiDictU8862.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
