@font-face {
    font-family: 'KangxiDictU9CCC';
    src: url('../../css/font/KangxiDictU9CCC.woff') format('woff'), url('../../css/font/KangxiDictU9CCC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
