@font-face {
    font-family: 'KangxiDictU567C';
    src: url('../../css/font/KangxiDictU567C.woff') format('woff'), url('../../css/font/KangxiDictU567C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
