@font-face {
    font-family: 'KangxiDictU7DF8';
    src: url('../../css/font/KangxiDictU7DF8.woff') format('woff'), url('../../css/font/KangxiDictU7DF8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
