@font-face {
    font-family: 'KangxiDictU88DA';
    src: url('../../css/font/KangxiDictU88DA.woff') format('woff'), url('../../css/font/KangxiDictU88DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
