@font-face {
    font-family: 'KangxiDictU9B0A';
    src: url('../../css/font/KangxiDictU9B0A.woff') format('woff'), url('../../css/font/KangxiDictU9B0A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
