@font-face {
    font-family: 'KangxiDictU7237';
    src: url('../../css/font/KangxiDictU7237.woff') format('woff'), url('../../css/font/KangxiDictU7237.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
