@font-face {
    font-family: 'KangxiDictU73FD';
    src: url('../../css/font/KangxiDictU73FD.woff') format('woff'), url('../../css/font/KangxiDictU73FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
