@font-face {
    font-family: 'KangxiDictU5DD1';
    src: url('../../css/font/KangxiDictU5DD1.woff') format('woff'), url('../../css/font/KangxiDictU5DD1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
