@font-face {
    font-family: 'KangxiDictU9CAE';
    src: url('../../css/font/KangxiDictU9CAE.woff') format('woff'), url('../../css/font/KangxiDictU9CAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
