@font-face {
    font-family: 'KangxiDictU8962';
    src: url('../../css/font/KangxiDictU8962.woff') format('woff'), url('../../css/font/KangxiDictU8962.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
