@font-face {
    font-family: 'KangxiDictU7309';
    src: url('../../css/font/KangxiDictU7309.woff') format('woff'), url('../../css/font/KangxiDictU7309.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
