@font-face {
    font-family: 'KangxiDictU5EB1';
    src: url('../../css/font/KangxiDictU5EB1.woff') format('woff'), url('../../css/font/KangxiDictU5EB1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
