@font-face {
    font-family: 'KangxiDictU7610';
    src: url('../../css/font/KangxiDictU7610.woff') format('woff'), url('../../css/font/KangxiDictU7610.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
