@font-face {
    font-family: 'KangxiDictU53DB';
    src: url('../../css/font/KangxiDictU53DB.woff') format('woff'), url('../../css/font/KangxiDictU53DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
