@font-face {
    font-family: 'KangxiDictU6479';
    src: url('../../css/font/KangxiDictU6479.woff') format('woff'), url('../../css/font/KangxiDictU6479.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
