@font-face {
    font-family: 'KangxiDictU7631';
    src: url('../../css/font/KangxiDictU7631.woff') format('woff'), url('../../css/font/KangxiDictU7631.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
