@font-face {
    font-family: 'KangxiDictU7381';
    src: url('../../css/font/KangxiDictU7381.woff') format('woff'), url('../../css/font/KangxiDictU7381.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
