@font-face {
    font-family: 'KangxiDictU5B0F';
    src: url('../../css/font/KangxiDictU5B0F.woff') format('woff'), url('../../css/font/KangxiDictU5B0F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
