@font-face {
    font-family: 'KangxiDictU6573';
    src: url('../../css/font/KangxiDictU6573.woff') format('woff'), url('../../css/font/KangxiDictU6573.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
