@font-face {
    font-family: 'KangxiDictU8654';
    src: url('../../css/font/KangxiDictU8654.woff') format('woff'), url('../../css/font/KangxiDictU8654.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
