@font-face {
    font-family: 'KangxiDictU7281';
    src: url('../../css/font/KangxiDictU7281.woff') format('woff'), url('../../css/font/KangxiDictU7281.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
