@font-face {
    font-family: 'KangxiDictU7662';
    src: url('../../css/font/KangxiDictU7662.woff') format('woff'), url('../../css/font/KangxiDictU7662.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
