@font-face {
    font-family: 'KangxiDictU9AB5';
    src: url('../../css/font/KangxiDictU9AB5.woff') format('woff'), url('../../css/font/KangxiDictU9AB5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
