@font-face {
    font-family: 'KangxiDictU7FD2';
    src: url('../../css/font/KangxiDictU7FD2.woff') format('woff'), url('../../css/font/KangxiDictU7FD2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
