@font-face {
    font-family: 'KangxiDictUFA85';
    src: url('../../css/font/KangxiDictUFA85.woff') format('woff'), url('../../css/font/KangxiDictUFA85.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
