@font-face {
    font-family: 'KangxiDictU8979';
    src: url('../../css/font/KangxiDictU8979.woff') format('woff'), url('../../css/font/KangxiDictU8979.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
