@font-face {
    font-family: 'KangxiDictU682F';
    src: url('../../css/font/KangxiDictU682F.woff') format('woff'), url('../../css/font/KangxiDictU682F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
