@font-face {
    font-family: 'KangxiDictU994F';
    src: url('../../css/font/KangxiDictU994F.woff') format('woff'), url('../../css/font/KangxiDictU994F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
