@font-face {
    font-family: 'KangxiDictU8DDB';
    src: url('../../css/font/KangxiDictU8DDB.woff') format('woff'), url('../../css/font/KangxiDictU8DDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
