@font-face {
    font-family: 'KangxiDictU850A';
    src: url('../../css/font/KangxiDictU850A.woff') format('woff'), url('../../css/font/KangxiDictU850A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
