@font-face {
    font-family: 'KangxiDictU9445';
    src: url('../../css/font/KangxiDictU9445.woff') format('woff'), url('../../css/font/KangxiDictU9445.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
