@font-face {
    font-family: 'KangxiDictU7EAD';
    src: url('../../css/font/KangxiDictU7EAD.woff') format('woff'), url('../../css/font/KangxiDictU7EAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
