@font-face {
    font-family: 'KangxiDictU6200';
    src: url('../../css/font/KangxiDictU6200.woff') format('woff'), url('../../css/font/KangxiDictU6200.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
