@font-face {
    font-family: 'KangxiDictU6781';
    src: url('../../css/font/KangxiDictU6781.woff') format('woff'), url('../../css/font/KangxiDictU6781.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
