@font-face {
    font-family: 'KangxiDictU6BEA';
    src: url('../../css/font/KangxiDictU6BEA.woff') format('woff'), url('../../css/font/KangxiDictU6BEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
