@font-face {
    font-family: 'KangxiDictU502F';
    src: url('../../css/font/KangxiDictU502F.woff') format('woff'), url('../../css/font/KangxiDictU502F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
