@font-face {
    font-family: 'KangxiDictU546C';
    src: url('../../css/font/KangxiDictU546C.woff') format('woff'), url('../../css/font/KangxiDictU546C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
