@font-face {
    font-family: 'KangxiDictU5643';
    src: url('../../css/font/KangxiDictU5643.woff') format('woff'), url('../../css/font/KangxiDictU5643.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
