@font-face {
    font-family: 'KangxiDictU706A';
    src: url('../../css/font/KangxiDictU706A.woff') format('woff'), url('../../css/font/KangxiDictU706A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
