@font-face {
    font-family: 'KangxiDictU65B4';
    src: url('../../css/font/KangxiDictU65B4.woff') format('woff'), url('../../css/font/KangxiDictU65B4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
