@font-face {
    font-family: 'KangxiDictU9B41';
    src: url('../../css/font/KangxiDictU9B41.woff') format('woff'), url('../../css/font/KangxiDictU9B41.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
