@font-face {
    font-family: 'KangxiDictU720A';
    src: url('../../css/font/KangxiDictU720A.woff') format('woff'), url('../../css/font/KangxiDictU720A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
