@font-face {
    font-family: 'KangxiDictU9797';
    src: url('../../css/font/KangxiDictU9797.woff') format('woff'), url('../../css/font/KangxiDictU9797.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
