@font-face {
    font-family: 'KangxiDictU7A23';
    src: url('../../css/font/KangxiDictU7A23.woff') format('woff'), url('../../css/font/KangxiDictU7A23.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
