@font-face {
    font-family: 'KangxiDictU5425';
    src: url('../../css/font/KangxiDictU5425.woff') format('woff'), url('../../css/font/KangxiDictU5425.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
