@font-face {
    font-family: 'KangxiDictU78F3';
    src: url('../../css/font/KangxiDictU78F3.woff') format('woff'), url('../../css/font/KangxiDictU78F3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
