@font-face {
    font-family: 'KangxiDictU9786';
    src: url('../../css/font/KangxiDictU9786.woff') format('woff'), url('../../css/font/KangxiDictU9786.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
