@font-face {
    font-family: 'KangxiDictU6904';
    src: url('../../css/font/KangxiDictU6904.woff') format('woff'), url('../../css/font/KangxiDictU6904.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
