@font-face {
    font-family: 'KangxiDictU5903';
    src: url('../../css/font/KangxiDictU5903.woff') format('woff'), url('../../css/font/KangxiDictU5903.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
