@font-face {
    font-family: 'KangxiDictU7A26';
    src: url('../../css/font/KangxiDictU7A26.woff') format('woff'), url('../../css/font/KangxiDictU7A26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
