@font-face {
    font-family: 'KangxiDictU6A39';
    src: url('../../css/font/KangxiDictU6A39.woff') format('woff'), url('../../css/font/KangxiDictU6A39.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
