@font-face {
    font-family: 'KangxiDictU7041';
    src: url('../../css/font/KangxiDictU7041.woff') format('woff'), url('../../css/font/KangxiDictU7041.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
