@font-face {
    font-family: 'KangxiDictU72D6';
    src: url('../../css/font/KangxiDictU72D6.woff') format('woff'), url('../../css/font/KangxiDictU72D6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
