@font-face {
    font-family: 'KangxiDictU8793';
    src: url('../../css/font/KangxiDictU8793.woff') format('woff'), url('../../css/font/KangxiDictU8793.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
