@font-face {
    font-family: 'KangxiDictU56DB';
    src: url('../../css/font/KangxiDictU56DB.woff') format('woff'), url('../../css/font/KangxiDictU56DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
