@font-face {
    font-family: 'KangxiDictU9272';
    src: url('../../css/font/KangxiDictU9272.woff') format('woff'), url('../../css/font/KangxiDictU9272.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
