@font-face {
    font-family: 'KangxiDictU6456';
    src: url('../../css/font/KangxiDictU6456.woff') format('woff'), url('../../css/font/KangxiDictU6456.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
