@font-face {
    font-family: 'KangxiDictU8A47';
    src: url('../../css/font/KangxiDictU8A47.woff') format('woff'), url('../../css/font/KangxiDictU8A47.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
