@font-face {
    font-family: 'KangxiDictU5669';
    src: url('../../css/font/KangxiDictU5669.woff') format('woff'), url('../../css/font/KangxiDictU5669.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
