@font-face {
    font-family: 'KangxiDictU6EF7';
    src: url('../../css/font/KangxiDictU6EF7.woff') format('woff'), url('../../css/font/KangxiDictU6EF7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
