@font-face {
    font-family: 'KangxiDictU93CC';
    src: url('../../css/font/KangxiDictU93CC.woff') format('woff'), url('../../css/font/KangxiDictU93CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
