@font-face {
    font-family: 'KangxiDictUFA91';
    src: url('../../css/font/KangxiDictUFA91.woff') format('woff'), url('../../css/font/KangxiDictUFA91.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
