@font-face {
    font-family: 'KangxiDictU8222';
    src: url('../../css/font/KangxiDictU8222.woff') format('woff'), url('../../css/font/KangxiDictU8222.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
