@font-face {
    font-family: 'KangxiDictU6989';
    src: url('../../css/font/KangxiDictU6989.woff') format('woff'), url('../../css/font/KangxiDictU6989.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
