@font-face {
    font-family: 'KangxiDictUF956';
    src: url('../../css/font/KangxiDictUF956.woff') format('woff'), url('../../css/font/KangxiDictUF956.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
