@font-face {
    font-family: 'KangxiDictU7607';
    src: url('../../css/font/KangxiDictU7607.woff') format('woff'), url('../../css/font/KangxiDictU7607.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
