@font-face {
    font-family: 'KangxiDictU7F9E';
    src: url('../../css/font/KangxiDictU7F9E.woff') format('woff'), url('../../css/font/KangxiDictU7F9E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
