@font-face {
    font-family: 'KangxiDictU5233';
    src: url('../../css/font/KangxiDictU5233.woff') format('woff'), url('../../css/font/KangxiDictU5233.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
