@font-face {
    font-family: 'KangxiDictU5967';
    src: url('../../css/font/KangxiDictU5967.woff') format('woff'), url('../../css/font/KangxiDictU5967.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
