@font-face {
    font-family: 'KangxiDictU8FB0';
    src: url('../../css/font/KangxiDictU8FB0.woff') format('woff'), url('../../css/font/KangxiDictU8FB0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
