@font-face {
    font-family: 'KangxiDictU7564';
    src: url('../../css/font/KangxiDictU7564.woff') format('woff'), url('../../css/font/KangxiDictU7564.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
