@font-face {
    font-family: 'KangxiDictU61ED';
    src: url('../../css/font/KangxiDictU61ED.woff') format('woff'), url('../../css/font/KangxiDictU61ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
