@font-face {
    font-family: 'KangxiDictU750F';
    src: url('../../css/font/KangxiDictU750F.woff') format('woff'), url('../../css/font/KangxiDictU750F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
