@font-face {
    font-family: 'KangxiDictU7D8D';
    src: url('../../css/font/KangxiDictU7D8D.woff') format('woff'), url('../../css/font/KangxiDictU7D8D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
