@font-face {
    font-family: 'KangxiDictU7CEF';
    src: url('../../css/font/KangxiDictU7CEF.woff') format('woff'), url('../../css/font/KangxiDictU7CEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
