@font-face {
    font-family: 'KangxiDictU6ACB';
    src: url('../../css/font/KangxiDictU6ACB.woff') format('woff'), url('../../css/font/KangxiDictU6ACB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
