@font-face {
    font-family: 'KangxiDictU7490';
    src: url('../../css/font/KangxiDictU7490.woff') format('woff'), url('../../css/font/KangxiDictU7490.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
