@font-face {
    font-family: 'KangxiDictUFA48';
    src: url('../../css/font/KangxiDictUFA48.woff') format('woff'), url('../../css/font/KangxiDictUFA48.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
