@font-face {
    font-family: 'KangxiDictU6556';
    src: url('../../css/font/KangxiDictU6556.woff') format('woff'), url('../../css/font/KangxiDictU6556.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
