@font-face {
    font-family: 'KangxiDictU6991';
    src: url('../../css/font/KangxiDictU6991.woff') format('woff'), url('../../css/font/KangxiDictU6991.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
