@font-face {
    font-family: 'KangxiDictU9875';
    src: url('../../css/font/KangxiDictU9875.woff') format('woff'), url('../../css/font/KangxiDictU9875.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
