@font-face {
    font-family: 'KangxiDictU6645';
    src: url('../../css/font/KangxiDictU6645.woff') format('woff'), url('../../css/font/KangxiDictU6645.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
