@font-face {
    font-family: 'KangxiDictU61F4';
    src: url('../../css/font/KangxiDictU61F4.woff') format('woff'), url('../../css/font/KangxiDictU61F4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
