@font-face {
    font-family: 'KangxiDictU5585';
    src: url('../../css/font/KangxiDictU5585.woff') format('woff'), url('../../css/font/KangxiDictU5585.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
