@font-face {
    font-family: 'KangxiDictU975B';
    src: url('../../css/font/KangxiDictU975B.woff') format('woff'), url('../../css/font/KangxiDictU975B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
