@font-face {
    font-family: 'KangxiDictU6536';
    src: url('../../css/font/KangxiDictU6536.woff') format('woff'), url('../../css/font/KangxiDictU6536.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
