@font-face {
    font-family: 'KangxiDictU989D';
    src: url('../../css/font/KangxiDictU989D.woff') format('woff'), url('../../css/font/KangxiDictU989D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
