@font-face {
    font-family: 'KangxiDictU7100';
    src: url('../../css/font/KangxiDictU7100.woff') format('woff'), url('../../css/font/KangxiDictU7100.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
