@font-face {
    font-family: 'KangxiDictU8A15';
    src: url('../../css/font/KangxiDictU8A15.woff') format('woff'), url('../../css/font/KangxiDictU8A15.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
