@font-face {
    font-family: 'KangxiDictU7E19';
    src: url('../../css/font/KangxiDictU7E19.woff') format('woff'), url('../../css/font/KangxiDictU7E19.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
