@font-face {
    font-family: 'KangxiDictU8531';
    src: url('../../css/font/KangxiDictU8531.woff') format('woff'), url('../../css/font/KangxiDictU8531.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
