@font-face {
    font-family: 'KangxiDictU6184';
    src: url('../../css/font/KangxiDictU6184.woff') format('woff'), url('../../css/font/KangxiDictU6184.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
