@font-face {
    font-family: 'KangxiDictUFA28';
    src: url('../../css/font/KangxiDictUFA28.woff') format('woff'), url('../../css/font/KangxiDictUFA28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
