@font-face {
    font-family: 'KangxiDictU6777';
    src: url('../../css/font/KangxiDictU6777.woff') format('woff'), url('../../css/font/KangxiDictU6777.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
