@font-face {
    font-family: 'KangxiDictU6185';
    src: url('../../css/font/KangxiDictU6185.woff') format('woff'), url('../../css/font/KangxiDictU6185.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
