@font-face {
    font-family: 'KangxiDictU64FE';
    src: url('../../css/font/KangxiDictU64FE.woff') format('woff'), url('../../css/font/KangxiDictU64FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
