@font-face {
    font-family: 'KangxiDictU976C';
    src: url('../../css/font/KangxiDictU976C.woff') format('woff'), url('../../css/font/KangxiDictU976C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
