@font-face {
    font-family: 'KangxiDictU85BB';
    src: url('../../css/font/KangxiDictU85BB.woff') format('woff'), url('../../css/font/KangxiDictU85BB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
