@font-face {
    font-family: 'KangxiDictU9329';
    src: url('../../css/font/KangxiDictU9329.woff') format('woff'), url('../../css/font/KangxiDictU9329.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
