@font-face {
    font-family: 'KangxiDictU5084';
    src: url('../../css/font/KangxiDictU5084.woff') format('woff'), url('../../css/font/KangxiDictU5084.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
