@font-face {
    font-family: 'KangxiDictU6092';
    src: url('../../css/font/KangxiDictU6092.woff') format('woff'), url('../../css/font/KangxiDictU6092.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
