@font-face {
    font-family: 'KangxiDictU6E68';
    src: url('../../css/font/KangxiDictU6E68.woff') format('woff'), url('../../css/font/KangxiDictU6E68.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
