@font-face {
    font-family: 'KangxiDictU89BD';
    src: url('../../css/font/KangxiDictU89BD.woff') format('woff'), url('../../css/font/KangxiDictU89BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
