@font-face {
    font-family: 'KangxiDictU62DA';
    src: url('../../css/font/KangxiDictU62DA.woff') format('woff'), url('../../css/font/KangxiDictU62DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
