@font-face {
    font-family: 'KangxiDictU816C';
    src: url('../../css/font/KangxiDictU816C.woff') format('woff'), url('../../css/font/KangxiDictU816C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
