@font-face {
    font-family: 'KangxiDictU6E84';
    src: url('../../css/font/KangxiDictU6E84.woff') format('woff'), url('../../css/font/KangxiDictU6E84.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
