@font-face {
    font-family: 'KangxiDictU80DB';
    src: url('../../css/font/KangxiDictU80DB.woff') format('woff'), url('../../css/font/KangxiDictU80DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
