@font-face {
    font-family: 'KangxiDictU7939';
    src: url('../../css/font/KangxiDictU7939.woff') format('woff'), url('../../css/font/KangxiDictU7939.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
