@font-face {
    font-family: 'KangxiDictU7764';
    src: url('../../css/font/KangxiDictU7764.woff') format('woff'), url('../../css/font/KangxiDictU7764.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
