@font-face {
    font-family: 'KangxiDictU5009';
    src: url('../../css/font/KangxiDictU5009.woff') format('woff'), url('../../css/font/KangxiDictU5009.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
