@font-face {
    font-family: 'KangxiDictU9F68';
    src: url('../../css/font/KangxiDictU9F68.woff') format('woff'), url('../../css/font/KangxiDictU9F68.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
