@font-face {
    font-family: 'KangxiDictU8024';
    src: url('../../css/font/KangxiDictU8024.woff') format('woff'), url('../../css/font/KangxiDictU8024.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
