@font-face {
    font-family: 'KangxiDictU507C';
    src: url('../../css/font/KangxiDictU507C.woff') format('woff'), url('../../css/font/KangxiDictU507C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
