@font-face {
    font-family: 'KangxiDictU8E48';
    src: url('../../css/font/KangxiDictU8E48.woff') format('woff'), url('../../css/font/KangxiDictU8E48.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
