@font-face {
    font-family: 'KangxiDictU716F';
    src: url('../../css/font/KangxiDictU716F.woff') format('woff'), url('../../css/font/KangxiDictU716F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
