@font-face {
    font-family: 'KangxiDictU73DA';
    src: url('../../css/font/KangxiDictU73DA.woff') format('woff'), url('../../css/font/KangxiDictU73DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
