@font-face {
    font-family: 'KangxiDictU5C62';
    src: url('../../css/font/KangxiDictU5C62.woff') format('woff'), url('../../css/font/KangxiDictU5C62.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
