@font-face {
    font-family: 'KangxiDictU9868';
    src: url('../../css/font/KangxiDictU9868.woff') format('woff'), url('../../css/font/KangxiDictU9868.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
