@font-face {
    font-family: 'KangxiDictU5957';
    src: url('../../css/font/KangxiDictU5957.woff') format('woff'), url('../../css/font/KangxiDictU5957.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
