@font-face {
    font-family: 'KangxiDictU9A79';
    src: url('../../css/font/KangxiDictU9A79.woff') format('woff'), url('../../css/font/KangxiDictU9A79.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
