@font-face {
    font-family: 'KangxiDictU5337';
    src: url('../../css/font/KangxiDictU5337.woff') format('woff'), url('../../css/font/KangxiDictU5337.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
