@font-face {
    font-family: 'KangxiDictU5727';
    src: url('../../css/font/KangxiDictU5727.woff') format('woff'), url('../../css/font/KangxiDictU5727.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
