@font-face {
    font-family: 'KangxiDictU607D';
    src: url('../../css/font/KangxiDictU607D.woff') format('woff'), url('../../css/font/KangxiDictU607D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
