@font-face {
    font-family: 'KangxiDictU4FE6';
    src: url('../../css/font/KangxiDictU4FE6.woff') format('woff'), url('../../css/font/KangxiDictU4FE6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
