@font-face {
    font-family: 'KangxiDictU7583';
    src: url('../../css/font/KangxiDictU7583.woff') format('woff'), url('../../css/font/KangxiDictU7583.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
