@font-face {
    font-family: 'KangxiDictU538A';
    src: url('../../css/font/KangxiDictU538A.woff') format('woff'), url('../../css/font/KangxiDictU538A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
