@font-face {
    font-family: 'KangxiDictU5450';
    src: url('../../css/font/KangxiDictU5450.woff') format('woff'), url('../../css/font/KangxiDictU5450.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
