@font-face {
    font-family: 'KangxiDictU670B';
    src: url('../../css/font/KangxiDictU670B.woff') format('woff'), url('../../css/font/KangxiDictU670B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
