@font-face {
    font-family: 'KangxiDictU861B';
    src: url('../../css/font/KangxiDictU861B.woff') format('woff'), url('../../css/font/KangxiDictU861B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
