@font-face {
    font-family: 'KangxiDictU4EFD';
    src: url('../../css/font/KangxiDictU4EFD.woff') format('woff'), url('../../css/font/KangxiDictU4EFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
