@font-face {
    font-family: 'KangxiDictU9552';
    src: url('../../css/font/KangxiDictU9552.woff') format('woff'), url('../../css/font/KangxiDictU9552.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
