@font-face {
    font-family: 'KangxiDictU82DE';
    src: url('../../css/font/KangxiDictU82DE.woff') format('woff'), url('../../css/font/KangxiDictU82DE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
