@font-face {
    font-family: 'KangxiDictU9144';
    src: url('../../css/font/KangxiDictU9144.woff') format('woff'), url('../../css/font/KangxiDictU9144.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
