@font-face {
    font-family: 'KangxiDictU913A';
    src: url('../../css/font/KangxiDictU913A.woff') format('woff'), url('../../css/font/KangxiDictU913A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
