@font-face {
    font-family: 'KangxiDictU8280';
    src: url('../../css/font/KangxiDictU8280.woff') format('woff'), url('../../css/font/KangxiDictU8280.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
