@font-face {
    font-family: 'KangxiDictU8234';
    src: url('../../css/font/KangxiDictU8234.woff') format('woff'), url('../../css/font/KangxiDictU8234.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
