@font-face {
    font-family: 'KangxiDictU5532';
    src: url('../../css/font/KangxiDictU5532.woff') format('woff'), url('../../css/font/KangxiDictU5532.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
