@font-face {
    font-family: 'KangxiDictUF9EC';
    src: url('../../css/font/KangxiDictUF9EC.woff') format('woff'), url('../../css/font/KangxiDictUF9EC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
