@font-face {
    font-family: 'KangxiDictU7F8B';
    src: url('../../css/font/KangxiDictU7F8B.woff') format('woff'), url('../../css/font/KangxiDictU7F8B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
