@font-face {
    font-family: 'KangxiDictU689A';
    src: url('../../css/font/KangxiDictU689A.woff') format('woff'), url('../../css/font/KangxiDictU689A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
