@font-face {
    font-family: 'KangxiDictU9985';
    src: url('../../css/font/KangxiDictU9985.woff') format('woff'), url('../../css/font/KangxiDictU9985.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
