@font-face {
    font-family: 'KangxiDictU850F';
    src: url('../../css/font/KangxiDictU850F.woff') format('woff'), url('../../css/font/KangxiDictU850F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
