@font-face {
    font-family: 'KangxiDictU5A4E';
    src: url('../../css/font/KangxiDictU5A4E.woff') format('woff'), url('../../css/font/KangxiDictU5A4E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
