@font-face {
    font-family: 'KangxiDictU8153';
    src: url('../../css/font/KangxiDictU8153.woff') format('woff'), url('../../css/font/KangxiDictU8153.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
