@font-face {
    font-family: 'KangxiDictU5753';
    src: url('../../css/font/KangxiDictU5753.woff') format('woff'), url('../../css/font/KangxiDictU5753.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
