@font-face {
    font-family: 'KangxiDictU7531';
    src: url('../../css/font/KangxiDictU7531.woff') format('woff'), url('../../css/font/KangxiDictU7531.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
