@font-face {
    font-family: 'KangxiDictUF9BF';
    src: url('../../css/font/KangxiDictUF9BF.woff') format('woff'), url('../../css/font/KangxiDictUF9BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
