@font-face {
    font-family: 'KangxiDictU6307';
    src: url('../../css/font/KangxiDictU6307.woff') format('woff'), url('../../css/font/KangxiDictU6307.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
