@font-face {
    font-family: 'KangxiDictUFA44';
    src: url('../../css/font/KangxiDictUFA44.woff') format('woff'), url('../../css/font/KangxiDictUFA44.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
