@font-face {
    font-family: 'KangxiDictU6758';
    src: url('../../css/font/KangxiDictU6758.woff') format('woff'), url('../../css/font/KangxiDictU6758.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
