@font-face {
    font-family: 'KangxiDictU9A78';
    src: url('../../css/font/KangxiDictU9A78.woff') format('woff'), url('../../css/font/KangxiDictU9A78.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
