@font-face {
    font-family: 'KangxiDictU570D';
    src: url('../../css/font/KangxiDictU570D.woff') format('woff'), url('../../css/font/KangxiDictU570D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
