@font-face {
    font-family: 'KangxiDictU6683';
    src: url('../../css/font/KangxiDictU6683.woff') format('woff'), url('../../css/font/KangxiDictU6683.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
