@font-face {
    font-family: 'KangxiDictU7D50';
    src: url('../../css/font/KangxiDictU7D50.woff') format('woff'), url('../../css/font/KangxiDictU7D50.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
