@font-face {
    font-family: 'KangxiDictU7D05';
    src: url('../../css/font/KangxiDictU7D05.woff') format('woff'), url('../../css/font/KangxiDictU7D05.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
