@font-face {
    font-family: 'KangxiDictU4FFF';
    src: url('../../css/font/KangxiDictU4FFF.woff') format('woff'), url('../../css/font/KangxiDictU4FFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
