@font-face {
    font-family: 'KangxiDictU5C41';
    src: url('../../css/font/KangxiDictU5C41.woff') format('woff'), url('../../css/font/KangxiDictU5C41.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
