@font-face {
    font-family: 'KangxiDictU5977';
    src: url('../../css/font/KangxiDictU5977.woff') format('woff'), url('../../css/font/KangxiDictU5977.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
