@font-face {
    font-family: 'KangxiDictU7E8A';
    src: url('../../css/font/KangxiDictU7E8A.woff') format('woff'), url('../../css/font/KangxiDictU7E8A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
