@font-face {
    font-family: 'KangxiDictU6761';
    src: url('../../css/font/KangxiDictU6761.woff') format('woff'), url('../../css/font/KangxiDictU6761.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
