@font-face {
    font-family: 'KangxiDictU5F80';
    src: url('../../css/font/KangxiDictU5F80.woff') format('woff'), url('../../css/font/KangxiDictU5F80.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
