@font-face {
    font-family: 'KangxiDictU7960';
    src: url('../../css/font/KangxiDictU7960.woff') format('woff'), url('../../css/font/KangxiDictU7960.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
