@font-face {
    font-family: 'KangxiDictU8049';
    src: url('../../css/font/KangxiDictU8049.woff') format('woff'), url('../../css/font/KangxiDictU8049.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
