@font-face {
    font-family: 'KangxiDictU9C51';
    src: url('../../css/font/KangxiDictU9C51.woff') format('woff'), url('../../css/font/KangxiDictU9C51.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
