@font-face {
    font-family: 'KangxiDictU95AA';
    src: url('../../css/font/KangxiDictU95AA.woff') format('woff'), url('../../css/font/KangxiDictU95AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
