@font-face {
    font-family: 'KangxiDictU8683';
    src: url('../../css/font/KangxiDictU8683.woff') format('woff'), url('../../css/font/KangxiDictU8683.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
