@font-face {
    font-family: 'KangxiDictU6E6E';
    src: url('../../css/font/KangxiDictU6E6E.woff') format('woff'), url('../../css/font/KangxiDictU6E6E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
