@font-face {
    font-family: 'KangxiDictU7ED4';
    src: url('../../css/font/KangxiDictU7ED4.woff') format('woff'), url('../../css/font/KangxiDictU7ED4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
