@font-face {
    font-family: 'KangxiDictU935A';
    src: url('../../css/font/KangxiDictU935A.woff') format('woff'), url('../../css/font/KangxiDictU935A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
