@font-face {
    font-family: 'KangxiDictU9714';
    src: url('../../css/font/KangxiDictU9714.woff') format('woff'), url('../../css/font/KangxiDictU9714.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
