@font-face {
    font-family: 'KangxiDictU9E9C';
    src: url('../../css/font/KangxiDictU9E9C.woff') format('woff'), url('../../css/font/KangxiDictU9E9C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
