@font-face {
    font-family: 'KangxiDictU6BCF';
    src: url('../../css/font/KangxiDictU6BCF.woff') format('woff'), url('../../css/font/KangxiDictU6BCF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
