@font-face {
    font-family: 'KangxiDictU7798';
    src: url('../../css/font/KangxiDictU7798.woff') format('woff'), url('../../css/font/KangxiDictU7798.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
