@font-face {
    font-family: 'KangxiDictU6359';
    src: url('../../css/font/KangxiDictU6359.woff') format('woff'), url('../../css/font/KangxiDictU6359.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
