@font-face {
    font-family: 'KangxiDictUF9D9';
    src: url('../../css/font/KangxiDictUF9D9.woff') format('woff'), url('../../css/font/KangxiDictUF9D9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
