@font-face {
    font-family: 'KangxiDictU8195';
    src: url('../../css/font/KangxiDictU8195.woff') format('woff'), url('../../css/font/KangxiDictU8195.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
