@font-face {
    font-family: 'KangxiDictU73CF';
    src: url('../../css/font/KangxiDictU73CF.woff') format('woff'), url('../../css/font/KangxiDictU73CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
