@font-face {
    font-family: 'KangxiDictU8405';
    src: url('../../css/font/KangxiDictU8405.woff') format('woff'), url('../../css/font/KangxiDictU8405.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
