@font-face {
    font-family: 'KangxiDictU651A';
    src: url('../../css/font/KangxiDictU651A.woff') format('woff'), url('../../css/font/KangxiDictU651A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
