@font-face {
    font-family: 'KangxiDictU89AA';
    src: url('../../css/font/KangxiDictU89AA.woff') format('woff'), url('../../css/font/KangxiDictU89AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
