@font-face {
    font-family: 'KangxiDictU82C8';
    src: url('../../css/font/KangxiDictU82C8.woff') format('woff'), url('../../css/font/KangxiDictU82C8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
