@font-face {
    font-family: 'KangxiDictU8392';
    src: url('../../css/font/KangxiDictU8392.woff') format('woff'), url('../../css/font/KangxiDictU8392.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
