@font-face {
    font-family: 'KangxiDictUF920';
    src: url('../../css/font/KangxiDictUF920.woff') format('woff'), url('../../css/font/KangxiDictUF920.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
