@font-face {
    font-family: 'KangxiDictU8614';
    src: url('../../css/font/KangxiDictU8614.woff') format('woff'), url('../../css/font/KangxiDictU8614.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
