@font-face {
    font-family: 'KangxiDictU8B4B';
    src: url('../../css/font/KangxiDictU8B4B.woff') format('woff'), url('../../css/font/KangxiDictU8B4B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
