@font-face {
    font-family: 'KangxiDictU6454';
    src: url('../../css/font/KangxiDictU6454.woff') format('woff'), url('../../css/font/KangxiDictU6454.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
