@font-face {
    font-family: 'KangxiDictU6679';
    src: url('../../css/font/KangxiDictU6679.woff') format('woff'), url('../../css/font/KangxiDictU6679.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
