@font-face {
    font-family: 'KangxiDictU7556';
    src: url('../../css/font/KangxiDictU7556.woff') format('woff'), url('../../css/font/KangxiDictU7556.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
