@font-face {
    font-family: 'KangxiDictU5F79';
    src: url('../../css/font/KangxiDictU5F79.woff') format('woff'), url('../../css/font/KangxiDictU5F79.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
