@font-face {
    font-family: 'KangxiDictU7DDC';
    src: url('../../css/font/KangxiDictU7DDC.woff') format('woff'), url('../../css/font/KangxiDictU7DDC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
