@font-face {
    font-family: 'KangxiDictU631B';
    src: url('../../css/font/KangxiDictU631B.woff') format('woff'), url('../../css/font/KangxiDictU631B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
