@font-face {
    font-family: 'KangxiDictU8918';
    src: url('../../css/font/KangxiDictU8918.woff') format('woff'), url('../../css/font/KangxiDictU8918.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
