@font-face {
    font-family: 'KangxiDictU70DA';
    src: url('../../css/font/KangxiDictU70DA.woff') format('woff'), url('../../css/font/KangxiDictU70DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
