@font-face {
    font-family: 'KangxiDictU5942';
    src: url('../../css/font/KangxiDictU5942.woff') format('woff'), url('../../css/font/KangxiDictU5942.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
