@font-face {
    font-family: 'KangxiDictU75FC';
    src: url('../../css/font/KangxiDictU75FC.woff') format('woff'), url('../../css/font/KangxiDictU75FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
