@font-face {
    font-family: 'KangxiDictU9583';
    src: url('../../css/font/KangxiDictU9583.woff') format('woff'), url('../../css/font/KangxiDictU9583.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
