@font-face {
    font-family: 'KangxiDictU6E35';
    src: url('../../css/font/KangxiDictU6E35.woff') format('woff'), url('../../css/font/KangxiDictU6E35.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
