@font-face {
    font-family: 'KangxiDictU7737';
    src: url('../../css/font/KangxiDictU7737.woff') format('woff'), url('../../css/font/KangxiDictU7737.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
