@font-face {
    font-family: 'KangxiDictU96EF';
    src: url('../../css/font/KangxiDictU96EF.woff') format('woff'), url('../../css/font/KangxiDictU96EF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
