@font-face {
    font-family: 'KangxiDictU7110';
    src: url('../../css/font/KangxiDictU7110.woff') format('woff'), url('../../css/font/KangxiDictU7110.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
