@font-face {
    font-family: 'KangxiDictU7368';
    src: url('../../css/font/KangxiDictU7368.woff') format('woff'), url('../../css/font/KangxiDictU7368.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
