@font-face {
    font-family: 'KangxiDictU70FA';
    src: url('../../css/font/KangxiDictU70FA.woff') format('woff'), url('../../css/font/KangxiDictU70FA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
