@font-face {
    font-family: 'KangxiDictU7363';
    src: url('../../css/font/KangxiDictU7363.woff') format('woff'), url('../../css/font/KangxiDictU7363.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
