@font-face {
    font-family: 'KangxiDictU9004';
    src: url('../../css/font/KangxiDictU9004.woff') format('woff'), url('../../css/font/KangxiDictU9004.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
