@font-face {
    font-family: 'KangxiDictU6C7C';
    src: url('../../css/font/KangxiDictU6C7C.woff') format('woff'), url('../../css/font/KangxiDictU6C7C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
