@font-face {
    font-family: 'KangxiDictU9090';
    src: url('../../css/font/KangxiDictU9090.woff') format('woff'), url('../../css/font/KangxiDictU9090.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
