@font-face {
    font-family: 'KangxiDictU6058';
    src: url('../../css/font/KangxiDictU6058.woff') format('woff'), url('../../css/font/KangxiDictU6058.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
