@font-face {
    font-family: 'KangxiDictU5179';
    src: url('../../css/font/KangxiDictU5179.woff') format('woff'), url('../../css/font/KangxiDictU5179.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
