@font-face {
    font-family: 'KangxiDictU8469';
    src: url('../../css/font/KangxiDictU8469.woff') format('woff'), url('../../css/font/KangxiDictU8469.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
