@font-face {
    font-family: 'KangxiDictU7410';
    src: url('../../css/font/KangxiDictU7410.woff') format('woff'), url('../../css/font/KangxiDictU7410.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
