@font-face {
    font-family: 'KangxiDictU5905';
    src: url('../../css/font/KangxiDictU5905.woff') format('woff'), url('../../css/font/KangxiDictU5905.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
