@font-face {
    font-family: 'KangxiDictU5EAC';
    src: url('../../css/font/KangxiDictU5EAC.woff') format('woff'), url('../../css/font/KangxiDictU5EAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
