@font-face {
    font-family: 'KangxiDictU57BE';
    src: url('../../css/font/KangxiDictU57BE.woff') format('woff'), url('../../css/font/KangxiDictU57BE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
