@font-face {
    font-family: 'KangxiDictU7A27';
    src: url('../../css/font/KangxiDictU7A27.woff') format('woff'), url('../../css/font/KangxiDictU7A27.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
