@font-face {
    font-family: 'KangxiDictU5B06';
    src: url('../../css/font/KangxiDictU5B06.woff') format('woff'), url('../../css/font/KangxiDictU5B06.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
