@font-face {
    font-family: 'KangxiDictU5461';
    src: url('../../css/font/KangxiDictU5461.woff') format('woff'), url('../../css/font/KangxiDictU5461.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
