@font-face {
    font-family: 'KangxiDictUF9C7';
    src: url('../../css/font/KangxiDictUF9C7.woff') format('woff'), url('../../css/font/KangxiDictUF9C7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
