@font-face {
    font-family: 'KangxiDictU8634';
    src: url('../../css/font/KangxiDictU8634.woff') format('woff'), url('../../css/font/KangxiDictU8634.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
