@font-face {
    font-family: 'KangxiDictUFA8C';
    src: url('../../css/font/KangxiDictUFA8C.woff') format('woff'), url('../../css/font/KangxiDictUFA8C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
