@font-face {
    font-family: 'KangxiDictU593B';
    src: url('../../css/font/KangxiDictU593B.woff') format('woff'), url('../../css/font/KangxiDictU593B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
