@font-face {
    font-family: 'KangxiDictU7C53';
    src: url('../../css/font/KangxiDictU7C53.woff') format('woff'), url('../../css/font/KangxiDictU7C53.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
