@font-face {
    font-family: 'KangxiDictU8E73';
    src: url('../../css/font/KangxiDictU8E73.woff') format('woff'), url('../../css/font/KangxiDictU8E73.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
