@font-face {
    font-family: 'KangxiDictU8540';
    src: url('../../css/font/KangxiDictU8540.woff') format('woff'), url('../../css/font/KangxiDictU8540.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
