@font-face {
    font-family: 'KangxiDictU8500';
    src: url('../../css/font/KangxiDictU8500.woff') format('woff'), url('../../css/font/KangxiDictU8500.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
