@font-face {
    font-family: 'KangxiDictU5288';
    src: url('../../css/font/KangxiDictU5288.woff') format('woff'), url('../../css/font/KangxiDictU5288.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
