@font-face {
    font-family: 'KangxiDictU9016';
    src: url('../../css/font/KangxiDictU9016.woff') format('woff'), url('../../css/font/KangxiDictU9016.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
