@font-face {
    font-family: 'KangxiDictUFAF2';
    src: url('../../css/font/KangxiDictUFAF2.woff') format('woff'), url('../../css/font/KangxiDictUFAF2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
