@font-face {
    font-family: 'KangxiDictU9175';
    src: url('../../css/font/KangxiDictU9175.woff') format('woff'), url('../../css/font/KangxiDictU9175.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
