@font-face {
    font-family: 'KangxiDictU5846';
    src: url('../../css/font/KangxiDictU5846.woff') format('woff'), url('../../css/font/KangxiDictU5846.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
