@font-face {
    font-family: 'KangxiDictU4E9E';
    src: url('../../css/font/KangxiDictU4E9E.woff') format('woff'), url('../../css/font/KangxiDictU4E9E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
