@font-face {
    font-family: 'KangxiDictUFABF';
    src: url('../../css/font/KangxiDictUFABF.woff') format('woff'), url('../../css/font/KangxiDictUFABF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
