@font-face {
    font-family: 'KangxiDictU681F';
    src: url('../../css/font/KangxiDictU681F.woff') format('woff'), url('../../css/font/KangxiDictU681F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
