@font-face {
    font-family: 'KangxiDictU5142';
    src: url('../../css/font/KangxiDictU5142.woff') format('woff'), url('../../css/font/KangxiDictU5142.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
