@font-face {
    font-family: 'KangxiDictU58ED';
    src: url('../../css/font/KangxiDictU58ED.woff') format('woff'), url('../../css/font/KangxiDictU58ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
