@font-face {
    font-family: 'KangxiDictU875F';
    src: url('../../css/font/KangxiDictU875F.woff') format('woff'), url('../../css/font/KangxiDictU875F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
