@font-face {
    font-family: 'KangxiDictU7D71';
    src: url('../../css/font/KangxiDictU7D71.woff') format('woff'), url('../../css/font/KangxiDictU7D71.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
