@font-face {
    font-family: 'KangxiDictU6DCB';
    src: url('../../css/font/KangxiDictU6DCB.woff') format('woff'), url('../../css/font/KangxiDictU6DCB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
