@font-face {
    font-family: 'KangxiDictU8717';
    src: url('../../css/font/KangxiDictU8717.woff') format('woff'), url('../../css/font/KangxiDictU8717.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
