@font-face {
    font-family: 'KangxiDictU9DEE';
    src: url('../../css/font/KangxiDictU9DEE.woff') format('woff'), url('../../css/font/KangxiDictU9DEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
