@font-face {
    font-family: 'KangxiDictU83BC';
    src: url('../../css/font/KangxiDictU83BC.woff') format('woff'), url('../../css/font/KangxiDictU83BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
