@font-face {
    font-family: 'KangxiDictU7131';
    src: url('../../css/font/KangxiDictU7131.woff') format('woff'), url('../../css/font/KangxiDictU7131.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
