@font-face {
    font-family: 'KangxiDictU8463';
    src: url('../../css/font/KangxiDictU8463.woff') format('woff'), url('../../css/font/KangxiDictU8463.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
