@font-face {
    font-family: 'KangxiDictU600F';
    src: url('../../css/font/KangxiDictU600F.woff') format('woff'), url('../../css/font/KangxiDictU600F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
