@font-face {
    font-family: 'KangxiDictU504F';
    src: url('../../css/font/KangxiDictU504F.woff') format('woff'), url('../../css/font/KangxiDictU504F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
