@font-face {
    font-family: 'KangxiDictU6A04';
    src: url('../../css/font/KangxiDictU6A04.woff') format('woff'), url('../../css/font/KangxiDictU6A04.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
