@font-face {
    font-family: 'KangxiDictU5305';
    src: url('../../css/font/KangxiDictU5305.woff') format('woff'), url('../../css/font/KangxiDictU5305.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
