@font-face {
    font-family: 'KangxiDictU6292';
    src: url('../../css/font/KangxiDictU6292.woff') format('woff'), url('../../css/font/KangxiDictU6292.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
