@font-face {
    font-family: 'KangxiDictU9197';
    src: url('../../css/font/KangxiDictU9197.woff') format('woff'), url('../../css/font/KangxiDictU9197.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
