@font-face {
    font-family: 'KangxiDictU5B38';
    src: url('../../css/font/KangxiDictU5B38.woff') format('woff'), url('../../css/font/KangxiDictU5B38.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
