@font-face {
    font-family: 'KangxiDictU8635';
    src: url('../../css/font/KangxiDictU8635.woff') format('woff'), url('../../css/font/KangxiDictU8635.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
