@font-face {
    font-family: 'KangxiDictU60FD';
    src: url('../../css/font/KangxiDictU60FD.woff') format('woff'), url('../../css/font/KangxiDictU60FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
