@font-face {
    font-family: 'KangxiDictU97EE';
    src: url('../../css/font/KangxiDictU97EE.woff') format('woff'), url('../../css/font/KangxiDictU97EE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
