@font-face {
    font-family: 'KangxiDictU9ABE';
    src: url('../../css/font/KangxiDictU9ABE.woff') format('woff'), url('../../css/font/KangxiDictU9ABE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
