@font-face {
    font-family: 'KangxiDictU5352';
    src: url('../../css/font/KangxiDictU5352.woff') format('woff'), url('../../css/font/KangxiDictU5352.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
