@font-face {
    font-family: 'KangxiDictU71ED';
    src: url('../../css/font/KangxiDictU71ED.woff') format('woff'), url('../../css/font/KangxiDictU71ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
