@font-face {
    font-family: 'KangxiDictU9E50';
    src: url('../../css/font/KangxiDictU9E50.woff') format('woff'), url('../../css/font/KangxiDictU9E50.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
