@font-face {
    font-family: 'KangxiDictU8247';
    src: url('../../css/font/KangxiDictU8247.woff') format('woff'), url('../../css/font/KangxiDictU8247.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
