@font-face {
    font-family: 'KangxiDictU8230';
    src: url('../../css/font/KangxiDictU8230.woff') format('woff'), url('../../css/font/KangxiDictU8230.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
