@font-face {
    font-family: 'KangxiDictU9495';
    src: url('../../css/font/KangxiDictU9495.woff') format('woff'), url('../../css/font/KangxiDictU9495.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
