@font-face {
    font-family: 'KangxiDictU4EED';
    src: url('../../css/font/KangxiDictU4EED.woff') format('woff'), url('../../css/font/KangxiDictU4EED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
