@font-face {
    font-family: 'KangxiDictUF9FD';
    src: url('../../css/font/KangxiDictUF9FD.woff') format('woff'), url('../../css/font/KangxiDictUF9FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
