@font-face {
    font-family: 'KangxiDictU9FED';
    src: url('../../css/font/KangxiDictU9FED.woff') format('woff'), url('../../css/font/KangxiDictU9FED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
