@font-face {
    font-family: 'KangxiDictU9093';
    src: url('../../css/font/KangxiDictU9093.woff') format('woff'), url('../../css/font/KangxiDictU9093.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
