@font-face {
    font-family: 'KangxiDictUFA56';
    src: url('../../css/font/KangxiDictUFA56.woff') format('woff'), url('../../css/font/KangxiDictUFA56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
