@font-face {
    font-family: 'KangxiDictU8732';
    src: url('../../css/font/KangxiDictU8732.woff') format('woff'), url('../../css/font/KangxiDictU8732.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
