@font-face {
    font-family: 'KangxiDictU7313';
    src: url('../../css/font/KangxiDictU7313.woff') format('woff'), url('../../css/font/KangxiDictU7313.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
