@font-face {
    font-family: 'KangxiDictU5C45';
    src: url('../../css/font/KangxiDictU5C45.woff') format('woff'), url('../../css/font/KangxiDictU5C45.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
