@font-face {
    font-family: 'KangxiDictU7374';
    src: url('../../css/font/KangxiDictU7374.woff') format('woff'), url('../../css/font/KangxiDictU7374.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
