@font-face {
    font-family: 'KangxiDictU7C86';
    src: url('../../css/font/KangxiDictU7C86.woff') format('woff'), url('../../css/font/KangxiDictU7C86.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
