@font-face {
    font-family: 'KangxiDictU9166';
    src: url('../../css/font/KangxiDictU9166.woff') format('woff'), url('../../css/font/KangxiDictU9166.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
