@font-face {
    font-family: 'KangxiDictU5592';
    src: url('../../css/font/KangxiDictU5592.woff') format('woff'), url('../../css/font/KangxiDictU5592.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
