@font-face {
    font-family: 'KangxiDictUFA17';
    src: url('../../css/font/KangxiDictUFA17.woff') format('woff'), url('../../css/font/KangxiDictUFA17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
