@font-face {
    font-family: 'KangxiDictU4E31';
    src: url('../../css/font/KangxiDictU4E31.woff') format('woff'), url('../../css/font/KangxiDictU4E31.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
