@font-face {
    font-family: 'KangxiDictU810D';
    src: url('../../css/font/KangxiDictU810D.woff') format('woff'), url('../../css/font/KangxiDictU810D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
