@font-face {
    font-family: 'KangxiDictU70EF';
    src: url('../../css/font/KangxiDictU70EF.woff') format('woff'), url('../../css/font/KangxiDictU70EF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
