@font-face {
    font-family: 'KangxiDictU56F8';
    src: url('../../css/font/KangxiDictU56F8.woff') format('woff'), url('../../css/font/KangxiDictU56F8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
