@font-face {
    font-family: 'KangxiDictU5D06';
    src: url('../../css/font/KangxiDictU5D06.woff') format('woff'), url('../../css/font/KangxiDictU5D06.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
