@font-face {
    font-family: 'KangxiDictU8FA4';
    src: url('../../css/font/KangxiDictU8FA4.woff') format('woff'), url('../../css/font/KangxiDictU8FA4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
