@font-face {
    font-family: 'KangxiDictU8F60';
    src: url('../../css/font/KangxiDictU8F60.woff') format('woff'), url('../../css/font/KangxiDictU8F60.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
