@font-face {
    font-family: 'KangxiDictU9576';
    src: url('../../css/font/KangxiDictU9576.woff') format('woff'), url('../../css/font/KangxiDictU9576.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
