@font-face {
    font-family: 'KangxiDictU656F';
    src: url('../../css/font/KangxiDictU656F.woff') format('woff'), url('../../css/font/KangxiDictU656F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
