@font-face {
    font-family: 'KangxiDictU6FAF';
    src: url('../../css/font/KangxiDictU6FAF.woff') format('woff'), url('../../css/font/KangxiDictU6FAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
