@font-face {
    font-family: 'KangxiDictU5959';
    src: url('../../css/font/KangxiDictU5959.woff') format('woff'), url('../../css/font/KangxiDictU5959.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
