@font-face {
    font-family: 'KangxiDictU60EA';
    src: url('../../css/font/KangxiDictU60EA.woff') format('woff'), url('../../css/font/KangxiDictU60EA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
