@font-face {
    font-family: 'KangxiDictU9B69';
    src: url('../../css/font/KangxiDictU9B69.woff') format('woff'), url('../../css/font/KangxiDictU9B69.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
