@font-face {
    font-family: 'KangxiDictU6516';
    src: url('../../css/font/KangxiDictU6516.woff') format('woff'), url('../../css/font/KangxiDictU6516.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
