@font-face {
    font-family: 'KangxiDictU5138';
    src: url('../../css/font/KangxiDictU5138.woff') format('woff'), url('../../css/font/KangxiDictU5138.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
