@font-face {
    font-family: 'KangxiDictU4F70';
    src: url('../../css/font/KangxiDictU4F70.woff') format('woff'), url('../../css/font/KangxiDictU4F70.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
