@font-face {
    font-family: 'KangxiDictU6980';
    src: url('../../css/font/KangxiDictU6980.woff') format('woff'), url('../../css/font/KangxiDictU6980.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
