@font-face {
    font-family: 'KangxiDictU5156';
    src: url('../../css/font/KangxiDictU5156.woff') format('woff'), url('../../css/font/KangxiDictU5156.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
