@font-face {
    font-family: 'KangxiDictUF90A';
    src: url('../../css/font/KangxiDictUF90A.woff') format('woff'), url('../../css/font/KangxiDictUF90A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
