@font-face {
    font-family: 'KangxiDictU5171';
    src: url('../../css/font/KangxiDictU5171.woff') format('woff'), url('../../css/font/KangxiDictU5171.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
