@font-face {
    font-family: 'KangxiDictU7649';
    src: url('../../css/font/KangxiDictU7649.woff') format('woff'), url('../../css/font/KangxiDictU7649.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
