@font-face {
    font-family: 'KangxiDictU63BF';
    src: url('../../css/font/KangxiDictU63BF.woff') format('woff'), url('../../css/font/KangxiDictU63BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
