@font-face {
    font-family: 'KangxiDictU8882';
    src: url('../../css/font/KangxiDictU8882.woff') format('woff'), url('../../css/font/KangxiDictU8882.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
