@font-face {
    font-family: 'KangxiDictU6757';
    src: url('../../css/font/KangxiDictU6757.woff') format('woff'), url('../../css/font/KangxiDictU6757.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
