@font-face {
    font-family: 'KangxiDictU8693';
    src: url('../../css/font/KangxiDictU8693.woff') format('woff'), url('../../css/font/KangxiDictU8693.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
