@font-face {
    font-family: 'KangxiDictU932A';
    src: url('../../css/font/KangxiDictU932A.woff') format('woff'), url('../../css/font/KangxiDictU932A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
