@font-face {
    font-family: 'KangxiDictU946A';
    src: url('../../css/font/KangxiDictU946A.woff') format('woff'), url('../../css/font/KangxiDictU946A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
