@font-face {
    font-family: 'KangxiDictU6FCD';
    src: url('../../css/font/KangxiDictU6FCD.woff') format('woff'), url('../../css/font/KangxiDictU6FCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
