@font-face {
    font-family: 'KangxiDictU6F0F';
    src: url('../../css/font/KangxiDictU6F0F.woff') format('woff'), url('../../css/font/KangxiDictU6F0F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
