@font-face {
    font-family: 'KangxiDictU5826';
    src: url('../../css/font/KangxiDictU5826.woff') format('woff'), url('../../css/font/KangxiDictU5826.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
