@font-face {
    font-family: 'KangxiDictU8930';
    src: url('../../css/font/KangxiDictU8930.woff') format('woff'), url('../../css/font/KangxiDictU8930.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
