@font-face {
    font-family: 'KangxiDictU573B';
    src: url('../../css/font/KangxiDictU573B.woff') format('woff'), url('../../css/font/KangxiDictU573B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
