@font-face {
    font-family: 'KangxiDictU7D42';
    src: url('../../css/font/KangxiDictU7D42.woff') format('woff'), url('../../css/font/KangxiDictU7D42.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
