@font-face {
    font-family: 'KangxiDictU5C5A';
    src: url('../../css/font/KangxiDictU5C5A.woff') format('woff'), url('../../css/font/KangxiDictU5C5A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
