@font-face {
    font-family: 'KangxiDictU7FDD';
    src: url('../../css/font/KangxiDictU7FDD.woff') format('woff'), url('../../css/font/KangxiDictU7FDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
