@font-face {
    font-family: 'KangxiDictU5A16';
    src: url('../../css/font/KangxiDictU5A16.woff') format('woff'), url('../../css/font/KangxiDictU5A16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
