@font-face {
    font-family: 'KangxiDictU7B52';
    src: url('../../css/font/KangxiDictU7B52.woff') format('woff'), url('../../css/font/KangxiDictU7B52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
