@font-face {
    font-family: 'KangxiDictU98CC';
    src: url('../../css/font/KangxiDictU98CC.woff') format('woff'), url('../../css/font/KangxiDictU98CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
