@font-face {
    font-family: 'KangxiDictU8A62';
    src: url('../../css/font/KangxiDictU8A62.woff') format('woff'), url('../../css/font/KangxiDictU8A62.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
