@font-face {
    font-family: 'KangxiDictU8556';
    src: url('../../css/font/KangxiDictU8556.woff') format('woff'), url('../../css/font/KangxiDictU8556.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
