@font-face {
    font-family: 'KangxiDictU9076';
    src: url('../../css/font/KangxiDictU9076.woff') format('woff'), url('../../css/font/KangxiDictU9076.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
