@font-face {
    font-family: 'KangxiDictU5CFF';
    src: url('../../css/font/KangxiDictU5CFF.woff') format('woff'), url('../../css/font/KangxiDictU5CFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
