@font-face {
    font-family: 'KangxiDictU9853';
    src: url('../../css/font/KangxiDictU9853.woff') format('woff'), url('../../css/font/KangxiDictU9853.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
