@font-face {
    font-family: 'KangxiDictU8256';
    src: url('../../css/font/KangxiDictU8256.woff') format('woff'), url('../../css/font/KangxiDictU8256.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
