@font-face {
    font-family: 'KangxiDictU5261';
    src: url('../../css/font/KangxiDictU5261.woff') format('woff'), url('../../css/font/KangxiDictU5261.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
