@font-face {
    font-family: 'KangxiDictU6B91';
    src: url('../../css/font/KangxiDictU6B91.woff') format('woff'), url('../../css/font/KangxiDictU6B91.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
