@font-face {
    font-family: 'KangxiDictUFA29';
    src: url('../../css/font/KangxiDictUFA29.woff') format('woff'), url('../../css/font/KangxiDictUFA29.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
