@font-face {
    font-family: 'KangxiDictU5265';
    src: url('../../css/font/KangxiDictU5265.woff') format('woff'), url('../../css/font/KangxiDictU5265.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
