@font-face {
    font-family: 'KangxiDictU7CA7';
    src: url('../../css/font/KangxiDictU7CA7.woff') format('woff'), url('../../css/font/KangxiDictU7CA7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
