@font-face {
    font-family: 'KangxiDictU7516';
    src: url('../../css/font/KangxiDictU7516.woff') format('woff'), url('../../css/font/KangxiDictU7516.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
