@font-face {
    font-family: 'KangxiDictU8046';
    src: url('../../css/font/KangxiDictU8046.woff') format('woff'), url('../../css/font/KangxiDictU8046.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
