@font-face {
    font-family: 'KangxiDictU5186';
    src: url('../../css/font/KangxiDictU5186.woff') format('woff'), url('../../css/font/KangxiDictU5186.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
