@font-face {
    font-family: 'KangxiDictU8CF1';
    src: url('../../css/font/KangxiDictU8CF1.woff') format('woff'), url('../../css/font/KangxiDictU8CF1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
