@font-face {
    font-family: 'KangxiDictU5F17';
    src: url('../../css/font/KangxiDictU5F17.woff') format('woff'), url('../../css/font/KangxiDictU5F17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
