@font-face {
    font-family: 'KangxiDictU6571';
    src: url('../../css/font/KangxiDictU6571.woff') format('woff'), url('../../css/font/KangxiDictU6571.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
