@font-face {
    font-family: 'KangxiDictU9290';
    src: url('../../css/font/KangxiDictU9290.woff') format('woff'), url('../../css/font/KangxiDictU9290.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
