@font-face {
    font-family: 'KangxiDictU4E6C';
    src: url('../../css/font/KangxiDictU4E6C.woff') format('woff'), url('../../css/font/KangxiDictU4E6C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
