@font-face {
    font-family: 'KangxiDictU6C76';
    src: url('../../css/font/KangxiDictU6C76.woff') format('woff'), url('../../css/font/KangxiDictU6C76.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
