@font-face {
    font-family: 'KangxiDictU84CC';
    src: url('../../css/font/KangxiDictU84CC.woff') format('woff'), url('../../css/font/KangxiDictU84CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
