@font-face {
    font-family: 'KangxiDictU7A98';
    src: url('../../css/font/KangxiDictU7A98.woff') format('woff'), url('../../css/font/KangxiDictU7A98.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
