@font-face {
    font-family: 'KangxiDictU5211';
    src: url('../../css/font/KangxiDictU5211.woff') format('woff'), url('../../css/font/KangxiDictU5211.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
