@font-face {
    font-family: 'KangxiDictU805A';
    src: url('../../css/font/KangxiDictU805A.woff') format('woff'), url('../../css/font/KangxiDictU805A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
