@font-face {
    font-family: 'KangxiDictU6074';
    src: url('../../css/font/KangxiDictU6074.woff') format('woff'), url('../../css/font/KangxiDictU6074.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
