@font-face {
    font-family: 'KangxiDictU5591';
    src: url('../../css/font/KangxiDictU5591.woff') format('woff'), url('../../css/font/KangxiDictU5591.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
