@font-face {
    font-family: 'KangxiDictU9D47';
    src: url('../../css/font/KangxiDictU9D47.woff') format('woff'), url('../../css/font/KangxiDictU9D47.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
