@font-face {
    font-family: 'KangxiDictU8084';
    src: url('../../css/font/KangxiDictU8084.woff') format('woff'), url('../../css/font/KangxiDictU8084.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
