@font-face {
    font-family: 'KangxiDictU977F';
    src: url('../../css/font/KangxiDictU977F.woff') format('woff'), url('../../css/font/KangxiDictU977F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
