@font-face {
    font-family: 'KangxiDictU9135';
    src: url('../../css/font/KangxiDictU9135.woff') format('woff'), url('../../css/font/KangxiDictU9135.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
