@font-face {
    font-family: 'KangxiDictU8561';
    src: url('../../css/font/KangxiDictU8561.woff') format('woff'), url('../../css/font/KangxiDictU8561.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
