@font-face {
    font-family: 'KangxiDictU9FAE';
    src: url('../../css/font/KangxiDictU9FAE.woff') format('woff'), url('../../css/font/KangxiDictU9FAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
