@font-face {
    font-family: 'KangxiDictU5766';
    src: url('../../css/font/KangxiDictU5766.woff') format('woff'), url('../../css/font/KangxiDictU5766.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
