@font-face {
    font-family: 'KangxiDictU5F29';
    src: url('../../css/font/KangxiDictU5F29.woff') format('woff'), url('../../css/font/KangxiDictU5F29.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
