@font-face {
    font-family: 'KangxiDictU9E93';
    src: url('../../css/font/KangxiDictU9E93.woff') format('woff'), url('../../css/font/KangxiDictU9E93.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
