@font-face {
    font-family: 'KangxiDictU6A05';
    src: url('../../css/font/KangxiDictU6A05.woff') format('woff'), url('../../css/font/KangxiDictU6A05.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
