@font-face {
    font-family: 'KangxiDictU546F';
    src: url('../../css/font/KangxiDictU546F.woff') format('woff'), url('../../css/font/KangxiDictU546F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
