@font-face {
    font-family: 'KangxiDictU8CAA';
    src: url('../../css/font/KangxiDictU8CAA.woff') format('woff'), url('../../css/font/KangxiDictU8CAA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
