@font-face {
    font-family: 'KangxiDictU6730';
    src: url('../../css/font/KangxiDictU6730.woff') format('woff'), url('../../css/font/KangxiDictU6730.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
