@font-face {
    font-family: 'KangxiDictU7D23';
    src: url('../../css/font/KangxiDictU7D23.woff') format('woff'), url('../../css/font/KangxiDictU7D23.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
