@font-face {
    font-family: 'KangxiDictU4FEB';
    src: url('../../css/font/KangxiDictU4FEB.woff') format('woff'), url('../../css/font/KangxiDictU4FEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
