@font-face {
    font-family: 'KangxiDictU8F73';
    src: url('../../css/font/KangxiDictU8F73.woff') format('woff'), url('../../css/font/KangxiDictU8F73.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
