@font-face {
    font-family: 'KangxiDictU6B10';
    src: url('../../css/font/KangxiDictU6B10.woff') format('woff'), url('../../css/font/KangxiDictU6B10.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
