@font-face {
    font-family: 'KangxiDictU7F4D';
    src: url('../../css/font/KangxiDictU7F4D.woff') format('woff'), url('../../css/font/KangxiDictU7F4D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
