@font-face {
    font-family: 'KangxiDictU924A';
    src: url('../../css/font/KangxiDictU924A.woff') format('woff'), url('../../css/font/KangxiDictU924A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
