@font-face {
    font-family: 'KangxiDictU8460';
    src: url('../../css/font/KangxiDictU8460.woff') format('woff'), url('../../css/font/KangxiDictU8460.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
