@font-face {
    font-family: 'KangxiDictU7457';
    src: url('../../css/font/KangxiDictU7457.woff') format('woff'), url('../../css/font/KangxiDictU7457.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
