@font-face {
    font-family: 'KangxiDictU6C66';
    src: url('../../css/font/KangxiDictU6C66.woff') format('woff'), url('../../css/font/KangxiDictU6C66.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
