@font-face {
    font-family: 'KangxiDictU8A46';
    src: url('../../css/font/KangxiDictU8A46.woff') format('woff'), url('../../css/font/KangxiDictU8A46.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
