@font-face {
    font-family: 'KangxiDictU7BE8';
    src: url('../../css/font/KangxiDictU7BE8.woff') format('woff'), url('../../css/font/KangxiDictU7BE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
