@font-face {
    font-family: 'KangxiDictUF9FE';
    src: url('../../css/font/KangxiDictUF9FE.woff') format('woff'), url('../../css/font/KangxiDictUF9FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
