@font-face {
    font-family: 'KangxiDictU8AED';
    src: url('../../css/font/KangxiDictU8AED.woff') format('woff'), url('../../css/font/KangxiDictU8AED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
