@font-face {
    font-family: 'KangxiDictU846A';
    src: url('../../css/font/KangxiDictU846A.woff') format('woff'), url('../../css/font/KangxiDictU846A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
