@font-face {
    font-family: 'KangxiDictU894C';
    src: url('../../css/font/KangxiDictU894C.woff') format('woff'), url('../../css/font/KangxiDictU894C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
