@font-face {
    font-family: 'KangxiDictU8B9D';
    src: url('../../css/font/KangxiDictU8B9D.woff') format('woff'), url('../../css/font/KangxiDictU8B9D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
