@font-face {
    font-family: 'KangxiDictU6120';
    src: url('../../css/font/KangxiDictU6120.woff') format('woff'), url('../../css/font/KangxiDictU6120.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
