@font-face {
    font-family: 'KangxiDictU9366';
    src: url('../../css/font/KangxiDictU9366.woff') format('woff'), url('../../css/font/KangxiDictU9366.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
