@font-face {
    font-family: 'KangxiDictU9CEF';
    src: url('../../css/font/KangxiDictU9CEF.woff') format('woff'), url('../../css/font/KangxiDictU9CEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
