@font-face {
    font-family: 'KangxiDictU5011';
    src: url('../../css/font/KangxiDictU5011.woff') format('woff'), url('../../css/font/KangxiDictU5011.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
