@font-face {
    font-family: 'KangxiDictU7629';
    src: url('../../css/font/KangxiDictU7629.woff') format('woff'), url('../../css/font/KangxiDictU7629.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
