@font-face {
    font-family: 'KangxiDictU5794';
    src: url('../../css/font/KangxiDictU5794.woff') format('woff'), url('../../css/font/KangxiDictU5794.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
