@font-face {
    font-family: 'KangxiDictU7320';
    src: url('../../css/font/KangxiDictU7320.woff') format('woff'), url('../../css/font/KangxiDictU7320.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
