@font-face {
    font-family: 'KangxiDictU9C13';
    src: url('../../css/font/KangxiDictU9C13.woff') format('woff'), url('../../css/font/KangxiDictU9C13.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
