@font-face {
    font-family: 'KangxiDictU9A39';
    src: url('../../css/font/KangxiDictU9A39.woff') format('woff'), url('../../css/font/KangxiDictU9A39.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
