@font-face {
    font-family: 'KangxiDictU91BB';
    src: url('../../css/font/KangxiDictU91BB.woff') format('woff'), url('../../css/font/KangxiDictU91BB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
