@font-face {
    font-family: 'KangxiDictU6563';
    src: url('../../css/font/KangxiDictU6563.woff') format('woff'), url('../../css/font/KangxiDictU6563.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
