@font-face {
    font-family: 'KangxiDictU8C96';
    src: url('../../css/font/KangxiDictU8C96.woff') format('woff'), url('../../css/font/KangxiDictU8C96.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
