@font-face {
    font-family: 'KangxiDictU8C04';
    src: url('../../css/font/KangxiDictU8C04.woff') format('woff'), url('../../css/font/KangxiDictU8C04.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
