@font-face {
    font-family: 'KangxiDictU6610';
    src: url('../../css/font/KangxiDictU6610.woff') format('woff'), url('../../css/font/KangxiDictU6610.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
