@font-face {
    font-family: 'KangxiDictU8AEB';
    src: url('../../css/font/KangxiDictU8AEB.woff') format('woff'), url('../../css/font/KangxiDictU8AEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
