@font-face {
    font-family: 'KangxiDictU7083';
    src: url('../../css/font/KangxiDictU7083.woff') format('woff'), url('../../css/font/KangxiDictU7083.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
