@font-face {
    font-family: 'KangxiDictU88EB';
    src: url('../../css/font/KangxiDictU88EB.woff') format('woff'), url('../../css/font/KangxiDictU88EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
