@font-face {
    font-family: 'KangxiDictU88EA';
    src: url('../../css/font/KangxiDictU88EA.woff') format('woff'), url('../../css/font/KangxiDictU88EA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
