@font-face {
    font-family: 'KangxiDictU7C12';
    src: url('../../css/font/KangxiDictU7C12.woff') format('woff'), url('../../css/font/KangxiDictU7C12.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
