@font-face {
    font-family: 'KangxiDictU7EDE';
    src: url('../../css/font/KangxiDictU7EDE.woff') format('woff'), url('../../css/font/KangxiDictU7EDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
