@font-face {
    font-family: 'KangxiDictU6366';
    src: url('../../css/font/KangxiDictU6366.woff') format('woff'), url('../../css/font/KangxiDictU6366.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
