@font-face {
    font-family: 'KangxiDictU54B1';
    src: url('../../css/font/KangxiDictU54B1.woff') format('woff'), url('../../css/font/KangxiDictU54B1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
