@font-face {
    font-family: 'KangxiDictU9C52';
    src: url('../../css/font/KangxiDictU9C52.woff') format('woff'), url('../../css/font/KangxiDictU9C52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
