@font-face {
    font-family: 'KangxiDictU6686';
    src: url('../../css/font/KangxiDictU6686.woff') format('woff'), url('../../css/font/KangxiDictU6686.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
