@font-face {
    font-family: 'KangxiDictU6C44';
    src: url('../../css/font/KangxiDictU6C44.woff') format('woff'), url('../../css/font/KangxiDictU6C44.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
