@font-face {
    font-family: 'KangxiDictU6509';
    src: url('../../css/font/KangxiDictU6509.woff') format('woff'), url('../../css/font/KangxiDictU6509.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
