@font-face {
    font-family: 'KangxiDictU6872';
    src: url('../../css/font/KangxiDictU6872.woff') format('woff'), url('../../css/font/KangxiDictU6872.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
