@font-face {
    font-family: 'KangxiDictU8042';
    src: url('../../css/font/KangxiDictU8042.woff') format('woff'), url('../../css/font/KangxiDictU8042.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
