@font-face {
    font-family: 'KangxiDictU5234';
    src: url('../../css/font/KangxiDictU5234.woff') format('woff'), url('../../css/font/KangxiDictU5234.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
