@font-face {
    font-family: 'KangxiDictU6071';
    src: url('../../css/font/KangxiDictU6071.woff') format('woff'), url('../../css/font/KangxiDictU6071.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
