@font-face {
    font-family: 'KangxiDictU767C';
    src: url('../../css/font/KangxiDictU767C.woff') format('woff'), url('../../css/font/KangxiDictU767C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
