@font-face {
    font-family: 'KangxiDictU90FC';
    src: url('../../css/font/KangxiDictU90FC.woff') format('woff'), url('../../css/font/KangxiDictU90FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
