@font-face {
    font-family: 'KangxiDictU8C3D';
    src: url('../../css/font/KangxiDictU8C3D.woff') format('woff'), url('../../css/font/KangxiDictU8C3D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
