@font-face {
    font-family: 'KangxiDictU8690';
    src: url('../../css/font/KangxiDictU8690.woff') format('woff'), url('../../css/font/KangxiDictU8690.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
