@font-face {
    font-family: 'KangxiDictU8967';
    src: url('../../css/font/KangxiDictU8967.woff') format('woff'), url('../../css/font/KangxiDictU8967.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
