@font-face {
    font-family: 'KangxiDictU6FFC';
    src: url('../../css/font/KangxiDictU6FFC.woff') format('woff'), url('../../css/font/KangxiDictU6FFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
