@font-face {
    font-family: 'KangxiDictU7588';
    src: url('../../css/font/KangxiDictU7588.woff') format('woff'), url('../../css/font/KangxiDictU7588.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
