@font-face {
    font-family: 'KangxiDictU56EA';
    src: url('../../css/font/KangxiDictU56EA.woff') format('woff'), url('../../css/font/KangxiDictU56EA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
