@font-face {
    font-family: 'KangxiDictU83D1';
    src: url('../../css/font/KangxiDictU83D1.woff') format('woff'), url('../../css/font/KangxiDictU83D1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
