@font-face {
    font-family: 'KangxiDictU6685';
    src: url('../../css/font/KangxiDictU6685.woff') format('woff'), url('../../css/font/KangxiDictU6685.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
