@font-face {
    font-family: 'KangxiDictU6461';
    src: url('../../css/font/KangxiDictU6461.woff') format('woff'), url('../../css/font/KangxiDictU6461.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
