@font-face {
    font-family: 'KangxiDictU65BC';
    src: url('../../css/font/KangxiDictU65BC.woff') format('woff'), url('../../css/font/KangxiDictU65BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
