@font-face {
    font-family: 'KangxiDictU5AB1';
    src: url('../../css/font/KangxiDictU5AB1.woff') format('woff'), url('../../css/font/KangxiDictU5AB1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
