@font-face {
    font-family: 'KangxiDictU5465';
    src: url('../../css/font/KangxiDictU5465.woff') format('woff'), url('../../css/font/KangxiDictU5465.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
