@font-face {
    font-family: 'KangxiDictUFA15';
    src: url('../../css/font/KangxiDictUFA15.woff') format('woff'), url('../../css/font/KangxiDictUFA15.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
