@font-face {
    font-family: 'KangxiDictU682A';
    src: url('../../css/font/KangxiDictU682A.woff') format('woff'), url('../../css/font/KangxiDictU682A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
