@font-face {
    font-family: 'KangxiDictU9909';
    src: url('../../css/font/KangxiDictU9909.woff') format('woff'), url('../../css/font/KangxiDictU9909.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
