@font-face {
    font-family: 'KangxiDictU9627';
    src: url('../../css/font/KangxiDictU9627.woff') format('woff'), url('../../css/font/KangxiDictU9627.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
