@font-face {
    font-family: 'KangxiDictU989E';
    src: url('../../css/font/KangxiDictU989E.woff') format('woff'), url('../../css/font/KangxiDictU989E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
