@font-face {
    font-family: 'KangxiDictU8DC7';
    src: url('../../css/font/KangxiDictU8DC7.woff') format('woff'), url('../../css/font/KangxiDictU8DC7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
