@font-face {
    font-family: 'KangxiDictU7735';
    src: url('../../css/font/KangxiDictU7735.woff') format('woff'), url('../../css/font/KangxiDictU7735.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
