@font-face {
    font-family: 'KangxiDictU5641';
    src: url('../../css/font/KangxiDictU5641.woff') format('woff'), url('../../css/font/KangxiDictU5641.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
