@font-face {
    font-family: 'KangxiDictU8473';
    src: url('../../css/font/KangxiDictU8473.woff') format('woff'), url('../../css/font/KangxiDictU8473.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
