@font-face {
    font-family: 'KangxiDictU5217';
    src: url('../../css/font/KangxiDictU5217.woff') format('woff'), url('../../css/font/KangxiDictU5217.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
