@font-face {
    font-family: 'KangxiDictUF9A5';
    src: url('../../css/font/KangxiDictUF9A5.woff') format('woff'), url('../../css/font/KangxiDictUF9A5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
