@font-face {
    font-family: 'KangxiDictU9DCF';
    src: url('../../css/font/KangxiDictU9DCF.woff') format('woff'), url('../../css/font/KangxiDictU9DCF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
