@font-face {
    font-family: 'KangxiDictU9122';
    src: url('../../css/font/KangxiDictU9122.woff') format('woff'), url('../../css/font/KangxiDictU9122.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
