@font-face {
    font-family: 'KangxiDictU8FD9';
    src: url('../../css/font/KangxiDictU8FD9.woff') format('woff'), url('../../css/font/KangxiDictU8FD9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
