@font-face {
    font-family: 'KangxiDictU8CD7';
    src: url('../../css/font/KangxiDictU8CD7.woff') format('woff'), url('../../css/font/KangxiDictU8CD7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
