@font-face {
    font-family: 'KangxiDictU9AF3';
    src: url('../../css/font/KangxiDictU9AF3.woff') format('woff'), url('../../css/font/KangxiDictU9AF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
