@font-face {
    font-family: 'KangxiDictU535B';
    src: url('../../css/font/KangxiDictU535B.woff') format('woff'), url('../../css/font/KangxiDictU535B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
