@font-face {
    font-family: 'KangxiDictU7077';
    src: url('../../css/font/KangxiDictU7077.woff') format('woff'), url('../../css/font/KangxiDictU7077.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
