@font-face {
    font-family: 'KangxiDictU8CFA';
    src: url('../../css/font/KangxiDictU8CFA.woff') format('woff'), url('../../css/font/KangxiDictU8CFA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
