@font-face {
    font-family: 'KangxiDictU899A';
    src: url('../../css/font/KangxiDictU899A.woff') format('woff'), url('../../css/font/KangxiDictU899A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
