@font-face {
    font-family: 'KangxiDictU73BE';
    src: url('../../css/font/KangxiDictU73BE.woff') format('woff'), url('../../css/font/KangxiDictU73BE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
