@font-face {
    font-family: 'KangxiDictU8EDD';
    src: url('../../css/font/KangxiDictU8EDD.woff') format('woff'), url('../../css/font/KangxiDictU8EDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
