@font-face {
    font-family: 'KangxiDictU5505';
    src: url('../../css/font/KangxiDictU5505.woff') format('woff'), url('../../css/font/KangxiDictU5505.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
