@font-face {
    font-family: 'KangxiDictU59FD';
    src: url('../../css/font/KangxiDictU59FD.woff') format('woff'), url('../../css/font/KangxiDictU59FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
