@font-face {
    font-family: 'KangxiDictU9860';
    src: url('../../css/font/KangxiDictU9860.woff') format('woff'), url('../../css/font/KangxiDictU9860.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
