@font-face {
    font-family: 'KangxiDictU9819';
    src: url('../../css/font/KangxiDictU9819.woff') format('woff'), url('../../css/font/KangxiDictU9819.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
