@font-face {
    font-family: 'KangxiDictU4F6D';
    src: url('../../css/font/KangxiDictU4F6D.woff') format('woff'), url('../../css/font/KangxiDictU4F6D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
