@font-face {
    font-family: 'KangxiDictU8389';
    src: url('../../css/font/KangxiDictU8389.woff') format('woff'), url('../../css/font/KangxiDictU8389.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
