@font-face {
    font-family: 'KangxiDictU7570';
    src: url('../../css/font/KangxiDictU7570.woff') format('woff'), url('../../css/font/KangxiDictU7570.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
