@font-face {
    font-family: 'KangxiDictU6308';
    src: url('../../css/font/KangxiDictU6308.woff') format('woff'), url('../../css/font/KangxiDictU6308.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
