@font-face {
    font-family: 'KangxiDictU8128';
    src: url('../../css/font/KangxiDictU8128.woff') format('woff'), url('../../css/font/KangxiDictU8128.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
