@font-face {
    font-family: 'KangxiDictU5BBB';
    src: url('../../css/font/KangxiDictU5BBB.woff') format('woff'), url('../../css/font/KangxiDictU5BBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
