@font-face {
    font-family: 'KangxiDictU693D';
    src: url('../../css/font/KangxiDictU693D.woff') format('woff'), url('../../css/font/KangxiDictU693D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
