@font-face {
    font-family: 'KangxiDictU6002';
    src: url('../../css/font/KangxiDictU6002.woff') format('woff'), url('../../css/font/KangxiDictU6002.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
