@font-face {
    font-family: 'KangxiDictU5348';
    src: url('../../css/font/KangxiDictU5348.woff') format('woff'), url('../../css/font/KangxiDictU5348.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
