@font-face {
    font-family: 'KangxiDictU557E';
    src: url('../../css/font/KangxiDictU557E.woff') format('woff'), url('../../css/font/KangxiDictU557E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
