@font-face {
    font-family: 'KangxiDictU6C93';
    src: url('../../css/font/KangxiDictU6C93.woff') format('woff'), url('../../css/font/KangxiDictU6C93.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
