@font-face {
    font-family: 'KangxiDictU9046';
    src: url('../../css/font/KangxiDictU9046.woff') format('woff'), url('../../css/font/KangxiDictU9046.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
