@font-face {
    font-family: 'KangxiDictU5850';
    src: url('../../css/font/KangxiDictU5850.woff') format('woff'), url('../../css/font/KangxiDictU5850.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
