@font-face {
    font-family: 'KangxiDictU691C';
    src: url('../../css/font/KangxiDictU691C.woff') format('woff'), url('../../css/font/KangxiDictU691C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
