@font-face {
    font-family: 'KangxiDictU9ABA';
    src: url('../../css/font/KangxiDictU9ABA.woff') format('woff'), url('../../css/font/KangxiDictU9ABA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
