@font-face {
    font-family: 'KangxiDictU9227';
    src: url('../../css/font/KangxiDictU9227.woff') format('woff'), url('../../css/font/KangxiDictU9227.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
