@font-face {
    font-family: 'KangxiDictU8FEA';
    src: url('../../css/font/KangxiDictU8FEA.woff') format('woff'), url('../../css/font/KangxiDictU8FEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
