@font-face {
    font-family: 'KangxiDictU9355';
    src: url('../../css/font/KangxiDictU9355.woff') format('woff'), url('../../css/font/KangxiDictU9355.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
