@font-face {
    font-family: 'KangxiDictU8590';
    src: url('../../css/font/KangxiDictU8590.woff') format('woff'), url('../../css/font/KangxiDictU8590.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
