@font-face {
    font-family: 'KangxiDictU6E26';
    src: url('../../css/font/KangxiDictU6E26.woff') format('woff'), url('../../css/font/KangxiDictU6E26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
