@font-face {
    font-family: 'KangxiDictU9649';
    src: url('../../css/font/KangxiDictU9649.woff') format('woff'), url('../../css/font/KangxiDictU9649.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
