@font-face {
    font-family: 'KangxiDictU5563';
    src: url('../../css/font/KangxiDictU5563.woff') format('woff'), url('../../css/font/KangxiDictU5563.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
