@font-face {
    font-family: 'KangxiDictU500A';
    src: url('../../css/font/KangxiDictU500A.woff') format('woff'), url('../../css/font/KangxiDictU500A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
