@font-face {
    font-family: 'KangxiDictU5015';
    src: url('../../css/font/KangxiDictU5015.woff') format('woff'), url('../../css/font/KangxiDictU5015.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
