@font-face {
    font-family: 'KangxiDictU8427';
    src: url('../../css/font/KangxiDictU8427.woff') format('woff'), url('../../css/font/KangxiDictU8427.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
