@font-face {
    font-family: 'KangxiDictU4F11';
    src: url('../../css/font/KangxiDictU4F11.woff') format('woff'), url('../../css/font/KangxiDictU4F11.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
