@font-face {
    font-family: 'KangxiDictU9AAE';
    src: url('../../css/font/KangxiDictU9AAE.woff') format('woff'), url('../../css/font/KangxiDictU9AAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
