@font-face {
    font-family: 'KangxiDictU5762';
    src: url('../../css/font/KangxiDictU5762.woff') format('woff'), url('../../css/font/KangxiDictU5762.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
