@font-face {
    font-family: 'KangxiDictU6314';
    src: url('../../css/font/KangxiDictU6314.woff') format('woff'), url('../../css/font/KangxiDictU6314.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
