@font-face {
    font-family: 'KangxiDictU5875';
    src: url('../../css/font/KangxiDictU5875.woff') format('woff'), url('../../css/font/KangxiDictU5875.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
