@font-face {
    font-family: 'KangxiDictU97C5';
    src: url('../../css/font/KangxiDictU97C5.woff') format('woff'), url('../../css/font/KangxiDictU97C5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
