@font-face {
    font-family: 'KangxiDictU9339';
    src: url('../../css/font/KangxiDictU9339.woff') format('woff'), url('../../css/font/KangxiDictU9339.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
