@font-face {
    font-family: 'KangxiDictU78E7';
    src: url('../../css/font/KangxiDictU78E7.woff') format('woff'), url('../../css/font/KangxiDictU78E7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
