@font-face {
    font-family: 'KangxiDictU7AAD';
    src: url('../../css/font/KangxiDictU7AAD.woff') format('woff'), url('../../css/font/KangxiDictU7AAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
