@font-face {
    font-family: 'KangxiDictU9B8F';
    src: url('../../css/font/KangxiDictU9B8F.woff') format('woff'), url('../../css/font/KangxiDictU9B8F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
