@font-face {
    font-family: 'KangxiDictU8FF2';
    src: url('../../css/font/KangxiDictU8FF2.woff') format('woff'), url('../../css/font/KangxiDictU8FF2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
