@font-face {
    font-family: 'KangxiDictU7FCA';
    src: url('../../css/font/KangxiDictU7FCA.woff') format('woff'), url('../../css/font/KangxiDictU7FCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
