@font-face {
    font-family: 'KangxiDictU8759';
    src: url('../../css/font/KangxiDictU8759.woff') format('woff'), url('../../css/font/KangxiDictU8759.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
