@font-face {
    font-family: 'KangxiDictU8548';
    src: url('../../css/font/KangxiDictU8548.woff') format('woff'), url('../../css/font/KangxiDictU8548.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
