@font-face {
    font-family: 'KangxiDictU6708';
    src: url('../../css/font/KangxiDictU6708.woff') format('woff'), url('../../css/font/KangxiDictU6708.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
