@font-face {
    font-family: 'KangxiDictU7269';
    src: url('../../css/font/KangxiDictU7269.woff') format('woff'), url('../../css/font/KangxiDictU7269.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
