@font-face {
    font-family: 'KangxiDictU53D4';
    src: url('../../css/font/KangxiDictU53D4.woff') format('woff'), url('../../css/font/KangxiDictU53D4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
