@font-face {
    font-family: 'KangxiDictU95E5';
    src: url('../../css/font/KangxiDictU95E5.woff') format('woff'), url('../../css/font/KangxiDictU95E5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
