@font-face {
    font-family: 'KangxiDictU9DD9';
    src: url('../../css/font/KangxiDictU9DD9.woff') format('woff'), url('../../css/font/KangxiDictU9DD9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
