@font-face {
    font-family: 'KangxiDictU6771';
    src: url('../../css/font/KangxiDictU6771.woff') format('woff'), url('../../css/font/KangxiDictU6771.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
