@font-face {
    font-family: 'KangxiDictU7403';
    src: url('../../css/font/KangxiDictU7403.woff') format('woff'), url('../../css/font/KangxiDictU7403.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
