@font-face {
    font-family: 'KangxiDictU9FE9';
    src: url('../../css/font/KangxiDictU9FE9.woff') format('woff'), url('../../css/font/KangxiDictU9FE9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
