@font-face {
    font-family: 'KangxiDictU7483';
    src: url('../../css/font/KangxiDictU7483.woff') format('woff'), url('../../css/font/KangxiDictU7483.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
