@font-face {
    font-family: 'KangxiDictU7924';
    src: url('../../css/font/KangxiDictU7924.woff') format('woff'), url('../../css/font/KangxiDictU7924.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
