@font-face {
    font-family: 'KangxiDictU53BC';
    src: url('../../css/font/KangxiDictU53BC.woff') format('woff'), url('../../css/font/KangxiDictU53BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
