@font-face {
    font-family: 'KangxiDictU6472';
    src: url('../../css/font/KangxiDictU6472.woff') format('woff'), url('../../css/font/KangxiDictU6472.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
