@font-face {
    font-family: 'KangxiDictU8D26';
    src: url('../../css/font/KangxiDictU8D26.woff') format('woff'), url('../../css/font/KangxiDictU8D26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
