@font-face {
    font-family: 'KangxiDictU758A';
    src: url('../../css/font/KangxiDictU758A.woff') format('woff'), url('../../css/font/KangxiDictU758A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
