@font-face {
    font-family: 'KangxiDictU7014';
    src: url('../../css/font/KangxiDictU7014.woff') format('woff'), url('../../css/font/KangxiDictU7014.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
