@font-face {
    font-family: 'KangxiDictU9018';
    src: url('../../css/font/KangxiDictU9018.woff') format('woff'), url('../../css/font/KangxiDictU9018.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
