@font-face {
    font-family: 'KangxiDictU7DEF';
    src: url('../../css/font/KangxiDictU7DEF.woff') format('woff'), url('../../css/font/KangxiDictU7DEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
