@font-face {
    font-family: 'KangxiDictU9F47';
    src: url('../../css/font/KangxiDictU9F47.woff') format('woff'), url('../../css/font/KangxiDictU9F47.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
