@font-face {
    font-family: 'KangxiDictU6CC0';
    src: url('../../css/font/KangxiDictU6CC0.woff') format('woff'), url('../../css/font/KangxiDictU6CC0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
