@font-face {
    font-family: 'KangxiDictU9939';
    src: url('../../css/font/KangxiDictU9939.woff') format('woff'), url('../../css/font/KangxiDictU9939.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
