@font-face {
    font-family: 'KangxiDictU8BF8';
    src: url('../../css/font/KangxiDictU8BF8.woff') format('woff'), url('../../css/font/KangxiDictU8BF8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
