@font-face {
    font-family: 'KangxiDictU8148';
    src: url('../../css/font/KangxiDictU8148.woff') format('woff'), url('../../css/font/KangxiDictU8148.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
