@font-face {
    font-family: 'KangxiDictU9463';
    src: url('../../css/font/KangxiDictU9463.woff') format('woff'), url('../../css/font/KangxiDictU9463.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
