@font-face {
    font-family: 'KangxiDictU6992';
    src: url('../../css/font/KangxiDictU6992.woff') format('woff'), url('../../css/font/KangxiDictU6992.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
