@font-face {
    font-family: 'KangxiDictU7AEF';
    src: url('../../css/font/KangxiDictU7AEF.woff') format('woff'), url('../../css/font/KangxiDictU7AEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
