@font-face {
    font-family: 'KangxiDictU9A07';
    src: url('../../css/font/KangxiDictU9A07.woff') format('woff'), url('../../css/font/KangxiDictU9A07.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
