@font-face {
    font-family: 'KangxiDictU54D9';
    src: url('../../css/font/KangxiDictU54D9.woff') format('woff'), url('../../css/font/KangxiDictU54D9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
