@font-face {
    font-family: 'KangxiDictU7421';
    src: url('../../css/font/KangxiDictU7421.woff') format('woff'), url('../../css/font/KangxiDictU7421.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
