@font-face {
    font-family: 'KangxiDictU5024';
    src: url('../../css/font/KangxiDictU5024.woff') format('woff'), url('../../css/font/KangxiDictU5024.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
