@font-face {
    font-family: 'KangxiDictU5578';
    src: url('../../css/font/KangxiDictU5578.woff') format('woff'), url('../../css/font/KangxiDictU5578.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
