@font-face {
    font-family: 'KangxiDictU8619';
    src: url('../../css/font/KangxiDictU8619.woff') format('woff'), url('../../css/font/KangxiDictU8619.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
