@font-face {
    font-family: 'KangxiDictU90DD';
    src: url('../../css/font/KangxiDictU90DD.woff') format('woff'), url('../../css/font/KangxiDictU90DD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
