@font-face {
    font-family: 'KangxiDictU7114';
    src: url('../../css/font/KangxiDictU7114.woff') format('woff'), url('../../css/font/KangxiDictU7114.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
