@font-face {
    font-family: 'KangxiDictU681E';
    src: url('../../css/font/KangxiDictU681E.woff') format('woff'), url('../../css/font/KangxiDictU681E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
