@font-face {
    font-family: 'KangxiDictU6FAD';
    src: url('../../css/font/KangxiDictU6FAD.woff') format('woff'), url('../../css/font/KangxiDictU6FAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
