@font-face {
    font-family: 'KangxiDictU7767';
    src: url('../../css/font/KangxiDictU7767.woff') format('woff'), url('../../css/font/KangxiDictU7767.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
