@font-face {
    font-family: 'KangxiDictU7409';
    src: url('../../css/font/KangxiDictU7409.woff') format('woff'), url('../../css/font/KangxiDictU7409.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
