@font-face {
    font-family: 'KangxiDictU8BE4';
    src: url('../../css/font/KangxiDictU8BE4.woff') format('woff'), url('../../css/font/KangxiDictU8BE4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
