@font-face {
    font-family: 'KangxiDictU5689';
    src: url('../../css/font/KangxiDictU5689.woff') format('woff'), url('../../css/font/KangxiDictU5689.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
