@font-face {
    font-family: 'KangxiDictU918B';
    src: url('../../css/font/KangxiDictU918B.woff') format('woff'), url('../../css/font/KangxiDictU918B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
