@font-face {
    font-family: 'KangxiDictUF947';
    src: url('../../css/font/KangxiDictUF947.woff') format('woff'), url('../../css/font/KangxiDictUF947.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
