@font-face {
    font-family: 'KangxiDictU7B46';
    src: url('../../css/font/KangxiDictU7B46.woff') format('woff'), url('../../css/font/KangxiDictU7B46.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
