@font-face {
    font-family: 'KangxiDictU7D89';
    src: url('../../css/font/KangxiDictU7D89.woff') format('woff'), url('../../css/font/KangxiDictU7D89.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
