@font-face {
    font-family: 'KangxiDictU65E8';
    src: url('../../css/font/KangxiDictU65E8.woff') format('woff'), url('../../css/font/KangxiDictU65E8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
