@font-face {
    font-family: 'KangxiDictU6BFA';
    src: url('../../css/font/KangxiDictU6BFA.woff') format('woff'), url('../../css/font/KangxiDictU6BFA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
