@font-face {
    font-family: 'KangxiDictU6281';
    src: url('../../css/font/KangxiDictU6281.woff') format('woff'), url('../../css/font/KangxiDictU6281.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
