@font-face {
    font-family: 'KangxiDictU6BD0';
    src: url('../../css/font/KangxiDictU6BD0.woff') format('woff'), url('../../css/font/KangxiDictU6BD0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
