@font-face {
    font-family: 'KangxiDictU8CFC';
    src: url('../../css/font/KangxiDictU8CFC.woff') format('woff'), url('../../css/font/KangxiDictU8CFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
