@font-face {
    font-family: 'KangxiDictU5093';
    src: url('../../css/font/KangxiDictU5093.woff') format('woff'), url('../../css/font/KangxiDictU5093.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
