@font-face {
    font-family: 'KangxiDictU7E08';
    src: url('../../css/font/KangxiDictU7E08.woff') format('woff'), url('../../css/font/KangxiDictU7E08.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
