@font-face {
    font-family: 'KangxiDictU5C9C';
    src: url('../../css/font/KangxiDictU5C9C.woff') format('woff'), url('../../css/font/KangxiDictU5C9C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
