@font-face {
    font-family: 'KangxiDictU80CB';
    src: url('../../css/font/KangxiDictU80CB.woff') format('woff'), url('../../css/font/KangxiDictU80CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
