@font-face {
    font-family: 'KangxiDictU7B20';
    src: url('../../css/font/KangxiDictU7B20.woff') format('woff'), url('../../css/font/KangxiDictU7B20.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
