@font-face {
    font-family: 'KangxiDictU5B27';
    src: url('../../css/font/KangxiDictU5B27.woff') format('woff'), url('../../css/font/KangxiDictU5B27.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
