@font-face {
    font-family: 'KangxiDictU8657';
    src: url('../../css/font/KangxiDictU8657.woff') format('woff'), url('../../css/font/KangxiDictU8657.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
