@font-face {
    font-family: 'KangxiDictU6BCA';
    src: url('../../css/font/KangxiDictU6BCA.woff') format('woff'), url('../../css/font/KangxiDictU6BCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
