@font-face {
    font-family: 'KangxiDictU9996';
    src: url('../../css/font/KangxiDictU9996.woff') format('woff'), url('../../css/font/KangxiDictU9996.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
