@font-face {
    font-family: 'KangxiDictU69AC';
    src: url('../../css/font/KangxiDictU69AC.woff') format('woff'), url('../../css/font/KangxiDictU69AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
