@font-face {
    font-family: 'KangxiDictU8942';
    src: url('../../css/font/KangxiDictU8942.woff') format('woff'), url('../../css/font/KangxiDictU8942.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
