@font-face {
    font-family: 'KangxiDictU5EAB';
    src: url('../../css/font/KangxiDictU5EAB.woff') format('woff'), url('../../css/font/KangxiDictU5EAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
