@font-face {
    font-family: 'KangxiDictU5687';
    src: url('../../css/font/KangxiDictU5687.woff') format('woff'), url('../../css/font/KangxiDictU5687.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
