@font-face {
    font-family: 'KangxiDictU6305';
    src: url('../../css/font/KangxiDictU6305.woff') format('woff'), url('../../css/font/KangxiDictU6305.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
