@font-face {
    font-family: 'KangxiDictU832F';
    src: url('../../css/font/KangxiDictU832F.woff') format('woff'), url('../../css/font/KangxiDictU832F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
