@font-face {
    font-family: 'KangxiDictU6B78';
    src: url('../../css/font/KangxiDictU6B78.woff') format('woff'), url('../../css/font/KangxiDictU6B78.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
