@font-face {
    font-family: 'KangxiDictU5880';
    src: url('../../css/font/KangxiDictU5880.woff') format('woff'), url('../../css/font/KangxiDictU5880.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
