@font-face {
    font-family: 'KangxiDictU6554';
    src: url('../../css/font/KangxiDictU6554.woff') format('woff'), url('../../css/font/KangxiDictU6554.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
