@font-face {
    font-family: 'KangxiDictU5FED';
    src: url('../../css/font/KangxiDictU5FED.woff') format('woff'), url('../../css/font/KangxiDictU5FED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
