@font-face {
    font-family: 'KangxiDictU9499';
    src: url('../../css/font/KangxiDictU9499.woff') format('woff'), url('../../css/font/KangxiDictU9499.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
