@font-face {
    font-family: 'KangxiDictUF9DC';
    src: url('../../css/font/KangxiDictUF9DC.woff') format('woff'), url('../../css/font/KangxiDictUF9DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
