@font-face {
    font-family: 'KangxiDictU93AC';
    src: url('../../css/font/KangxiDictU93AC.woff') format('woff'), url('../../css/font/KangxiDictU93AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
