@font-face {
    font-family: 'KangxiDictU942F';
    src: url('../../css/font/KangxiDictU942F.woff') format('woff'), url('../../css/font/KangxiDictU942F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
