@font-face {
    font-family: 'KangxiDictU7C20';
    src: url('../../css/font/KangxiDictU7C20.woff') format('woff'), url('../../css/font/KangxiDictU7C20.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
