@font-face {
    font-family: 'KangxiDictU8D03';
    src: url('../../css/font/KangxiDictU8D03.woff') format('woff'), url('../../css/font/KangxiDictU8D03.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
