@font-face {
    font-family: 'KangxiDictU7ABD';
    src: url('../../css/font/KangxiDictU7ABD.woff') format('woff'), url('../../css/font/KangxiDictU7ABD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
