@font-face {
    font-family: 'KangxiDictU9B63';
    src: url('../../css/font/KangxiDictU9B63.woff') format('woff'), url('../../css/font/KangxiDictU9B63.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
