@font-face {
    font-family: 'KangxiDictU749C';
    src: url('../../css/font/KangxiDictU749C.woff') format('woff'), url('../../css/font/KangxiDictU749C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
