@font-face {
    font-family: 'KangxiDictU6CB5';
    src: url('../../css/font/KangxiDictU6CB5.woff') format('woff'), url('../../css/font/KangxiDictU6CB5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
