@font-face {
    font-family: 'KangxiDictU8920';
    src: url('../../css/font/KangxiDictU8920.woff') format('woff'), url('../../css/font/KangxiDictU8920.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
