@font-face {
    font-family: 'KangxiDictU8860';
    src: url('../../css/font/KangxiDictU8860.woff') format('woff'), url('../../css/font/KangxiDictU8860.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
