@font-face {
    font-family: 'KangxiDictU5B16';
    src: url('../../css/font/KangxiDictU5B16.woff') format('woff'), url('../../css/font/KangxiDictU5B16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
