@font-face {
    font-family: 'KangxiDictU80F8';
    src: url('../../css/font/KangxiDictU80F8.woff') format('woff'), url('../../css/font/KangxiDictU80F8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
