@font-face {
    font-family: 'KangxiDictU6743';
    src: url('../../css/font/KangxiDictU6743.woff') format('woff'), url('../../css/font/KangxiDictU6743.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
