@font-face {
    font-family: 'KangxiDictU7480';
    src: url('../../css/font/KangxiDictU7480.woff') format('woff'), url('../../css/font/KangxiDictU7480.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
