@font-face {
    font-family: 'KangxiDictU9A8B';
    src: url('../../css/font/KangxiDictU9A8B.woff') format('woff'), url('../../css/font/KangxiDictU9A8B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
