@font-face {
    font-family: 'KangxiDictU7C1D';
    src: url('../../css/font/KangxiDictU7C1D.woff') format('woff'), url('../../css/font/KangxiDictU7C1D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
