@font-face {
    font-family: 'KangxiDictU6F92';
    src: url('../../css/font/KangxiDictU6F92.woff') format('woff'), url('../../css/font/KangxiDictU6F92.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
