@font-face {
    font-family: 'KangxiDictU8857';
    src: url('../../css/font/KangxiDictU8857.woff') format('woff'), url('../../css/font/KangxiDictU8857.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
