@font-face {
    font-family: 'KangxiDictU78CC';
    src: url('../../css/font/KangxiDictU78CC.woff') format('woff'), url('../../css/font/KangxiDictU78CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
