@font-face {
    font-family: 'KangxiDictU9CFB';
    src: url('../../css/font/KangxiDictU9CFB.woff') format('woff'), url('../../css/font/KangxiDictU9CFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
