@font-face {
    font-family: 'KangxiDictU5F78';
    src: url('../../css/font/KangxiDictU5F78.woff') format('woff'), url('../../css/font/KangxiDictU5F78.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
