@font-face {
    font-family: 'KangxiDictU7844';
    src: url('../../css/font/KangxiDictU7844.woff') format('woff'), url('../../css/font/KangxiDictU7844.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
