@font-face {
    font-family: 'KangxiDictU6158';
    src: url('../../css/font/KangxiDictU6158.woff') format('woff'), url('../../css/font/KangxiDictU6158.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
