@font-face {
    font-family: 'KangxiDictU5AFA';
    src: url('../../css/font/KangxiDictU5AFA.woff') format('woff'), url('../../css/font/KangxiDictU5AFA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
