@font-face {
    font-family: 'KangxiDictU9968';
    src: url('../../css/font/KangxiDictU9968.woff') format('woff'), url('../../css/font/KangxiDictU9968.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
