@font-face {
    font-family: 'KangxiDictU7C90';
    src: url('../../css/font/KangxiDictU7C90.woff') format('woff'), url('../../css/font/KangxiDictU7C90.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
