@font-face {
    font-family: 'KangxiDictU7881';
    src: url('../../css/font/KangxiDictU7881.woff') format('woff'), url('../../css/font/KangxiDictU7881.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
