@font-face {
    font-family: 'KangxiDictU4F61';
    src: url('../../css/font/KangxiDictU4F61.woff') format('woff'), url('../../css/font/KangxiDictU4F61.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
