@font-face {
    font-family: 'KangxiDictU6934';
    src: url('../../css/font/KangxiDictU6934.woff') format('woff'), url('../../css/font/KangxiDictU6934.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
