@font-face {
    font-family: 'KangxiDictU7098';
    src: url('../../css/font/KangxiDictU7098.woff') format('woff'), url('../../css/font/KangxiDictU7098.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
