@font-face {
    font-family: 'KangxiDictU6230';
    src: url('../../css/font/KangxiDictU6230.woff') format('woff'), url('../../css/font/KangxiDictU6230.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
