@font-face {
    font-family: 'KangxiDictU9FBB';
    src: url('../../css/font/KangxiDictU9FBB.woff') format('woff'), url('../../css/font/KangxiDictU9FBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
