@font-face {
    font-family: 'KangxiDictU70BF';
    src: url('../../css/font/KangxiDictU70BF.woff') format('woff'), url('../../css/font/KangxiDictU70BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
