@font-face {
    font-family: 'KangxiDictU674D';
    src: url('../../css/font/KangxiDictU674D.woff') format('woff'), url('../../css/font/KangxiDictU674D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
