@font-face {
    font-family: 'KangxiDictU6096';
    src: url('../../css/font/KangxiDictU6096.woff') format('woff'), url('../../css/font/KangxiDictU6096.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
