@font-face {
    font-family: 'KangxiDictU6360';
    src: url('../../css/font/KangxiDictU6360.woff') format('woff'), url('../../css/font/KangxiDictU6360.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
