@font-face {
    font-family: 'KangxiDictU5492';
    src: url('../../css/font/KangxiDictU5492.woff') format('woff'), url('../../css/font/KangxiDictU5492.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
