@font-face {
    font-family: 'KangxiDictU8FEF';
    src: url('../../css/font/KangxiDictU8FEF.woff') format('woff'), url('../../css/font/KangxiDictU8FEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
