@font-face {
    font-family: 'KangxiDictU61F6';
    src: url('../../css/font/KangxiDictU61F6.woff') format('woff'), url('../../css/font/KangxiDictU61F6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
