@font-face {
    font-family: 'KangxiDictU7330';
    src: url('../../css/font/KangxiDictU7330.woff') format('woff'), url('../../css/font/KangxiDictU7330.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
