@font-face {
    font-family: 'KangxiDictU54CF';
    src: url('../../css/font/KangxiDictU54CF.woff') format('woff'), url('../../css/font/KangxiDictU54CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
