@font-face {
    font-family: 'KangxiDictU963C';
    src: url('../../css/font/KangxiDictU963C.woff') format('woff'), url('../../css/font/KangxiDictU963C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
