@font-face {
    font-family: 'KangxiDictU8A66';
    src: url('../../css/font/KangxiDictU8A66.woff') format('woff'), url('../../css/font/KangxiDictU8A66.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
