@font-face {
    font-family: 'KangxiDictU8F5C';
    src: url('../../css/font/KangxiDictU8F5C.woff') format('woff'), url('../../css/font/KangxiDictU8F5C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
