@font-face {
    font-family: 'KangxiDictU84C2';
    src: url('../../css/font/KangxiDictU84C2.woff') format('woff'), url('../../css/font/KangxiDictU84C2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
