@font-face {
    font-family: 'KangxiDictU6DD0';
    src: url('../../css/font/KangxiDictU6DD0.woff') format('woff'), url('../../css/font/KangxiDictU6DD0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
