@font-face {
    font-family: 'KangxiDictU4FBB';
    src: url('../../css/font/KangxiDictU4FBB.woff') format('woff'), url('../../css/font/KangxiDictU4FBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
