@font-face {
    font-family: 'KangxiDictU7933';
    src: url('../../css/font/KangxiDictU7933.woff') format('woff'), url('../../css/font/KangxiDictU7933.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
