@font-face {
    font-family: 'KangxiDictU83FB';
    src: url('../../css/font/KangxiDictU83FB.woff') format('woff'), url('../../css/font/KangxiDictU83FB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
