@font-face {
    font-family: 'KangxiDictU9E2D';
    src: url('../../css/font/KangxiDictU9E2D.woff') format('woff'), url('../../css/font/KangxiDictU9E2D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
