@font-face {
    font-family: 'KangxiDictU5AA6';
    src: url('../../css/font/KangxiDictU5AA6.woff') format('woff'), url('../../css/font/KangxiDictU5AA6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
