@font-face {
    font-family: 'KangxiDictU6BF5';
    src: url('../../css/font/KangxiDictU6BF5.woff') format('woff'), url('../../css/font/KangxiDictU6BF5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
