@font-face {
    font-family: 'KangxiDictU6597';
    src: url('../../css/font/KangxiDictU6597.woff') format('woff'), url('../../css/font/KangxiDictU6597.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
