@font-face {
    font-family: 'KangxiDictU7816';
    src: url('../../css/font/KangxiDictU7816.woff') format('woff'), url('../../css/font/KangxiDictU7816.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
