@font-face {
    font-family: 'KangxiDictU6A38';
    src: url('../../css/font/KangxiDictU6A38.woff') format('woff'), url('../../css/font/KangxiDictU6A38.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
