@font-face {
    font-family: 'KangxiDictU6FD5';
    src: url('../../css/font/KangxiDictU6FD5.woff') format('woff'), url('../../css/font/KangxiDictU6FD5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
