@font-face {
    font-family: 'KangxiDictU9E33';
    src: url('../../css/font/KangxiDictU9E33.woff') format('woff'), url('../../css/font/KangxiDictU9E33.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
