@font-face {
    font-family: 'KangxiDictU9F16';
    src: url('../../css/font/KangxiDictU9F16.woff') format('woff'), url('../../css/font/KangxiDictU9F16.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
