@font-face {
    font-family: 'KangxiDictU76C6';
    src: url('../../css/font/KangxiDictU76C6.woff') format('woff'), url('../../css/font/KangxiDictU76C6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
