@font-face {
    font-family: 'KangxiDictU63C0';
    src: url('../../css/font/KangxiDictU63C0.woff') format('woff'), url('../../css/font/KangxiDictU63C0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
