@font-face {
    font-family: 'KangxiDictU6606';
    src: url('../../css/font/KangxiDictU6606.woff') format('woff'), url('../../css/font/KangxiDictU6606.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
