@font-face {
    font-family: 'KangxiDictU5AF0';
    src: url('../../css/font/KangxiDictU5AF0.woff') format('woff'), url('../../css/font/KangxiDictU5AF0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
