@font-face {
    font-family: 'KangxiDictU910C';
    src: url('../../css/font/KangxiDictU910C.woff') format('woff'), url('../../css/font/KangxiDictU910C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
