@font-face {
    font-family: 'KangxiDictU93FB';
    src: url('../../css/font/KangxiDictU93FB.woff') format('woff'), url('../../css/font/KangxiDictU93FB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
