@font-face {
    font-family: 'KangxiDictU6E95';
    src: url('../../css/font/KangxiDictU6E95.woff') format('woff'), url('../../css/font/KangxiDictU6E95.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
