@font-face {
    font-family: 'KangxiDictU9097';
    src: url('../../css/font/KangxiDictU9097.woff') format('woff'), url('../../css/font/KangxiDictU9097.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
