@font-face {
    font-family: 'KangxiDictU6958';
    src: url('../../css/font/KangxiDictU6958.woff') format('woff'), url('../../css/font/KangxiDictU6958.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
