@font-face {
    font-family: 'KangxiDictU694D';
    src: url('../../css/font/KangxiDictU694D.woff') format('woff'), url('../../css/font/KangxiDictU694D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
