@font-face {
    font-family: 'KangxiDictU8B33';
    src: url('../../css/font/KangxiDictU8B33.woff') format('woff'), url('../../css/font/KangxiDictU8B33.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
