@font-face {
    font-family: 'KangxiDictU695B';
    src: url('../../css/font/KangxiDictU695B.woff') format('woff'), url('../../css/font/KangxiDictU695B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
