@font-face {
    font-family: 'KangxiDictU6428';
    src: url('../../css/font/KangxiDictU6428.woff') format('woff'), url('../../css/font/KangxiDictU6428.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
