@font-face {
    font-family: 'KangxiDictU6C9A';
    src: url('../../css/font/KangxiDictU6C9A.woff') format('woff'), url('../../css/font/KangxiDictU6C9A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
