@font-face {
    font-family: 'KangxiDictU9906';
    src: url('../../css/font/KangxiDictU9906.woff') format('woff'), url('../../css/font/KangxiDictU9906.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
