@font-face {
    font-family: 'KangxiDictU9527';
    src: url('../../css/font/KangxiDictU9527.woff') format('woff'), url('../../css/font/KangxiDictU9527.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
