@font-face {
    font-family: 'KangxiDictUF966';
    src: url('../../css/font/KangxiDictUF966.woff') format('woff'), url('../../css/font/KangxiDictUF966.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
