@font-face {
    font-family: 'KangxiDictU8661';
    src: url('../../css/font/KangxiDictU8661.woff') format('woff'), url('../../css/font/KangxiDictU8661.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
