@font-face {
    font-family: 'KangxiDictU5381';
    src: url('../../css/font/KangxiDictU5381.woff') format('woff'), url('../../css/font/KangxiDictU5381.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
