@font-face {
    font-family: 'KangxiDictU7FB2';
    src: url('../../css/font/KangxiDictU7FB2.woff') format('woff'), url('../../css/font/KangxiDictU7FB2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
