@font-face {
    font-family: 'KangxiDictU6E3A';
    src: url('../../css/font/KangxiDictU6E3A.woff') format('woff'), url('../../css/font/KangxiDictU6E3A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
