@font-face {
    font-family: 'KangxiDictU7090';
    src: url('../../css/font/KangxiDictU7090.woff') format('woff'), url('../../css/font/KangxiDictU7090.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
