@font-face {
    font-family: 'KangxiDictU7335';
    src: url('../../css/font/KangxiDictU7335.woff') format('woff'), url('../../css/font/KangxiDictU7335.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
