@font-face {
    font-family: 'KangxiDictU7910';
    src: url('../../css/font/KangxiDictU7910.woff') format('woff'), url('../../css/font/KangxiDictU7910.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
