@font-face {
    font-family: 'KangxiDictU9605';
    src: url('../../css/font/KangxiDictU9605.woff') format('woff'), url('../../css/font/KangxiDictU9605.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
