@font-face {
    font-family: 'KangxiDictU7540';
    src: url('../../css/font/KangxiDictU7540.woff') format('woff'), url('../../css/font/KangxiDictU7540.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
