@font-face {
    font-family: 'KangxiDictU845C';
    src: url('../../css/font/KangxiDictU845C.woff') format('woff'), url('../../css/font/KangxiDictU845C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
