@font-face {
    font-family: 'KangxiDictU910D';
    src: url('../../css/font/KangxiDictU910D.woff') format('woff'), url('../../css/font/KangxiDictU910D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
