@font-face {
    font-family: 'KangxiDictU6EED';
    src: url('../../css/font/KangxiDictU6EED.woff') format('woff'), url('../../css/font/KangxiDictU6EED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
