@font-face {
    font-family: 'KangxiDictU743A';
    src: url('../../css/font/KangxiDictU743A.woff') format('woff'), url('../../css/font/KangxiDictU743A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
