@font-face {
    font-family: 'KangxiDictU6614';
    src: url('../../css/font/KangxiDictU6614.woff') format('woff'), url('../../css/font/KangxiDictU6614.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
