@font-face {
    font-family: 'KangxiDictU92CA';
    src: url('../../css/font/KangxiDictU92CA.woff') format('woff'), url('../../css/font/KangxiDictU92CA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
