@font-face {
    font-family: 'KangxiDictU5DC1';
    src: url('../../css/font/KangxiDictU5DC1.woff') format('woff'), url('../../css/font/KangxiDictU5DC1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
