@font-face {
    font-family: 'KangxiDictU59DC';
    src: url('../../css/font/KangxiDictU59DC.woff') format('woff'), url('../../css/font/KangxiDictU59DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
