@font-face {
    font-family: 'KangxiDictUF94D';
    src: url('../../css/font/KangxiDictUF94D.woff') format('woff'), url('../../css/font/KangxiDictUF94D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
