@font-face {
    font-family: 'KangxiDictU7214';
    src: url('../../css/font/KangxiDictU7214.woff') format('woff'), url('../../css/font/KangxiDictU7214.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
