@font-face {
    font-family: 'KangxiDictU64F7';
    src: url('../../css/font/KangxiDictU64F7.woff') format('woff'), url('../../css/font/KangxiDictU64F7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
