@font-face {
    font-family: 'KangxiDictU7466';
    src: url('../../css/font/KangxiDictU7466.woff') format('woff'), url('../../css/font/KangxiDictU7466.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
