@font-face {
    font-family: 'KangxiDictU5736';
    src: url('../../css/font/KangxiDictU5736.woff') format('woff'), url('../../css/font/KangxiDictU5736.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
