@font-face {
    font-family: 'KangxiDictU8AD2';
    src: url('../../css/font/KangxiDictU8AD2.woff') format('woff'), url('../../css/font/KangxiDictU8AD2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
