@font-face {
    font-family: 'KangxiDictU8602';
    src: url('../../css/font/KangxiDictU8602.woff') format('woff'), url('../../css/font/KangxiDictU8602.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
