@font-face {
    font-family: 'KangxiDictU9357';
    src: url('../../css/font/KangxiDictU9357.woff') format('woff'), url('../../css/font/KangxiDictU9357.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
