@font-face {
    font-family: 'KangxiDictU992F';
    src: url('../../css/font/KangxiDictU992F.woff') format('woff'), url('../../css/font/KangxiDictU992F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
