@font-face {
    font-family: 'KangxiDictU4E90';
    src: url('../../css/font/KangxiDictU4E90.woff') format('woff'), url('../../css/font/KangxiDictU4E90.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
