@font-face {
    font-family: 'KangxiDictU7823';
    src: url('../../css/font/KangxiDictU7823.woff') format('woff'), url('../../css/font/KangxiDictU7823.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
