@font-face {
    font-family: 'KangxiDictU9065';
    src: url('../../css/font/KangxiDictU9065.woff') format('woff'), url('../../css/font/KangxiDictU9065.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
