@font-face {
    font-family: 'KangxiDictU64B4';
    src: url('../../css/font/KangxiDictU64B4.woff') format('woff'), url('../../css/font/KangxiDictU64B4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
