@font-face {
    font-family: 'KangxiDictU8EEB';
    src: url('../../css/font/KangxiDictU8EEB.woff') format('woff'), url('../../css/font/KangxiDictU8EEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
