@font-face {
    font-family: 'KangxiDictU818D';
    src: url('../../css/font/KangxiDictU818D.woff') format('woff'), url('../../css/font/KangxiDictU818D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
