@font-face {
    font-family: 'KangxiDictU8535';
    src: url('../../css/font/KangxiDictU8535.woff') format('woff'), url('../../css/font/KangxiDictU8535.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
