@font-face {
    font-family: 'KangxiDictU9C6A';
    src: url('../../css/font/KangxiDictU9C6A.woff') format('woff'), url('../../css/font/KangxiDictU9C6A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
