@font-face {
    font-family: 'KangxiDictU6030';
    src: url('../../css/font/KangxiDictU6030.woff') format('woff'), url('../../css/font/KangxiDictU6030.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
