@font-face {
    font-family: 'KangxiDictU6FBA';
    src: url('../../css/font/KangxiDictU6FBA.woff') format('woff'), url('../../css/font/KangxiDictU6FBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
