@font-face {
    font-family: 'KangxiDictU5805';
    src: url('../../css/font/KangxiDictU5805.woff') format('woff'), url('../../css/font/KangxiDictU5805.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
