@font-face {
    font-family: 'KangxiDictU9848';
    src: url('../../css/font/KangxiDictU9848.woff') format('woff'), url('../../css/font/KangxiDictU9848.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
