@font-face {
    font-family: 'KangxiDictU7501';
    src: url('../../css/font/KangxiDictU7501.woff') format('woff'), url('../../css/font/KangxiDictU7501.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
