@font-face {
    font-family: 'KangxiDictU877C';
    src: url('../../css/font/KangxiDictU877C.woff') format('woff'), url('../../css/font/KangxiDictU877C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
