@font-face {
    font-family: 'KangxiDictU9EBA';
    src: url('../../css/font/KangxiDictU9EBA.woff') format('woff'), url('../../css/font/KangxiDictU9EBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
