@font-face {
    font-family: 'KangxiDictU9F05';
    src: url('../../css/font/KangxiDictU9F05.woff') format('woff'), url('../../css/font/KangxiDictU9F05.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
