@font-face {
    font-family: 'KangxiDictU91C9';
    src: url('../../css/font/KangxiDictU91C9.woff') format('woff'), url('../../css/font/KangxiDictU91C9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
