@font-face {
    font-family: 'KangxiDictU5BFD';
    src: url('../../css/font/KangxiDictU5BFD.woff') format('woff'), url('../../css/font/KangxiDictU5BFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
