@font-face {
    font-family: 'KangxiDictU769C';
    src: url('../../css/font/KangxiDictU769C.woff') format('woff'), url('../../css/font/KangxiDictU769C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
