@font-face {
    font-family: 'KangxiDictU8F69';
    src: url('../../css/font/KangxiDictU8F69.woff') format('woff'), url('../../css/font/KangxiDictU8F69.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
