@font-face {
    font-family: 'KangxiDictU5367';
    src: url('../../css/font/KangxiDictU5367.woff') format('woff'), url('../../css/font/KangxiDictU5367.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
