@font-face {
    font-family: 'KangxiDictU608A';
    src: url('../../css/font/KangxiDictU608A.woff') format('woff'), url('../../css/font/KangxiDictU608A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
