@font-face {
    font-family: 'KangxiDictU62CA';
    src: url('../../css/font/KangxiDictU62CA.woff') format('woff'), url('../../css/font/KangxiDictU62CA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
