@font-face {
    font-family: 'KangxiDictU7A14';
    src: url('../../css/font/KangxiDictU7A14.woff') format('woff'), url('../../css/font/KangxiDictU7A14.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
