@font-face {
    font-family: 'KangxiDictU8000';
    src: url('../../css/font/KangxiDictU8000.woff') format('woff'), url('../../css/font/KangxiDictU8000.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
