@font-face {
    font-family: 'KangxiDictU991F';
    src: url('../../css/font/KangxiDictU991F.woff') format('woff'), url('../../css/font/KangxiDictU991F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
