@font-face {
    font-family: 'KangxiDictU816F';
    src: url('../../css/font/KangxiDictU816F.woff') format('woff'), url('../../css/font/KangxiDictU816F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
