@font-face {
    font-family: 'KangxiDictU5A2D';
    src: url('../../css/font/KangxiDictU5A2D.woff') format('woff'), url('../../css/font/KangxiDictU5A2D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
