@font-face {
    font-family: 'KangxiDictU7E05';
    src: url('../../css/font/KangxiDictU7E05.woff') format('woff'), url('../../css/font/KangxiDictU7E05.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
