@font-face {
    font-family: 'KangxiDictU9187';
    src: url('../../css/font/KangxiDictU9187.woff') format('woff'), url('../../css/font/KangxiDictU9187.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
