@font-face {
    font-family: 'KangxiDictU5583';
    src: url('../../css/font/KangxiDictU5583.woff') format('woff'), url('../../css/font/KangxiDictU5583.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
