@font-face {
    font-family: 'KangxiDictU939C';
    src: url('../../css/font/KangxiDictU939C.woff') format('woff'), url('../../css/font/KangxiDictU939C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
