@font-face {
    font-family: 'KangxiDictU739B';
    src: url('../../css/font/KangxiDictU739B.woff') format('woff'), url('../../css/font/KangxiDictU739B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
