@font-face {
    font-family: 'KangxiDictU8BE5';
    src: url('../../css/font/KangxiDictU8BE5.woff') format('woff'), url('../../css/font/KangxiDictU8BE5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
