@font-face {
    font-family: 'KangxiDictU84EE';
    src: url('../../css/font/KangxiDictU84EE.woff') format('woff'), url('../../css/font/KangxiDictU84EE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
