@font-face {
    font-family: 'KangxiDictU9652';
    src: url('../../css/font/KangxiDictU9652.woff') format('woff'), url('../../css/font/KangxiDictU9652.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
