@font-face {
    font-family: 'KangxiDictU934C';
    src: url('../../css/font/KangxiDictU934C.woff') format('woff'), url('../../css/font/KangxiDictU934C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
