@font-face {
    font-family: 'KangxiDictU9CE7';
    src: url('../../css/font/KangxiDictU9CE7.woff') format('woff'), url('../../css/font/KangxiDictU9CE7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
