@font-face {
    font-family: 'KangxiDictU9522';
    src: url('../../css/font/KangxiDictU9522.woff') format('woff'), url('../../css/font/KangxiDictU9522.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
