@font-face {
    font-family: 'KangxiDictU6967';
    src: url('../../css/font/KangxiDictU6967.woff') format('woff'), url('../../css/font/KangxiDictU6967.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
