@font-face {
    font-family: 'KangxiDictU7A9D';
    src: url('../../css/font/KangxiDictU7A9D.woff') format('woff'), url('../../css/font/KangxiDictU7A9D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
