@font-face {
    font-family: 'KangxiDictU9415';
    src: url('../../css/font/KangxiDictU9415.woff') format('woff'), url('../../css/font/KangxiDictU9415.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
