@font-face {
    font-family: 'KangxiDictU943F';
    src: url('../../css/font/KangxiDictU943F.woff') format('woff'), url('../../css/font/KangxiDictU943F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
