@font-face {
    font-family: 'KangxiDictU9B86';
    src: url('../../css/font/KangxiDictU9B86.woff') format('woff'), url('../../css/font/KangxiDictU9B86.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
