@font-face {
    font-family: 'KangxiDictU6EBF';
    src: url('../../css/font/KangxiDictU6EBF.woff') format('woff'), url('../../css/font/KangxiDictU6EBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
