@font-face {
    font-family: 'KangxiDictU6815';
    src: url('../../css/font/KangxiDictU6815.woff') format('woff'), url('../../css/font/KangxiDictU6815.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
