@font-face {
    font-family: 'KangxiDictU8536';
    src: url('../../css/font/KangxiDictU8536.woff') format('woff'), url('../../css/font/KangxiDictU8536.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
