@font-face {
    font-family: 'KangxiDictU8BE8';
    src: url('../../css/font/KangxiDictU8BE8.woff') format('woff'), url('../../css/font/KangxiDictU8BE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
