@font-face {
    font-family: 'KangxiDictU7926';
    src: url('../../css/font/KangxiDictU7926.woff') format('woff'), url('../../css/font/KangxiDictU7926.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
