@font-face {
    font-family: 'KangxiDictU9103';
    src: url('../../css/font/KangxiDictU9103.woff') format('woff'), url('../../css/font/KangxiDictU9103.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
