@font-face {
    font-family: 'KangxiDictU7810';
    src: url('../../css/font/KangxiDictU7810.woff') format('woff'), url('../../css/font/KangxiDictU7810.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
