@font-face {
    font-family: 'KangxiDictU6669';
    src: url('../../css/font/KangxiDictU6669.woff') format('woff'), url('../../css/font/KangxiDictU6669.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
