@font-face {
    font-family: 'KangxiDictU7203';
    src: url('../../css/font/KangxiDictU7203.woff') format('woff'), url('../../css/font/KangxiDictU7203.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
