@font-face {
    font-family: 'KangxiDictU8CFD';
    src: url('../../css/font/KangxiDictU8CFD.woff') format('woff'), url('../../css/font/KangxiDictU8CFD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
