@font-face {
    font-family: 'KangxiDictUF92F';
    src: url('../../css/font/KangxiDictUF92F.woff') format('woff'), url('../../css/font/KangxiDictUF92F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
