@font-face {
    font-family: 'KangxiDictU5853';
    src: url('../../css/font/KangxiDictU5853.woff') format('woff'), url('../../css/font/KangxiDictU5853.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
