@font-face {
    font-family: 'KangxiDictU8B7B';
    src: url('../../css/font/KangxiDictU8B7B.woff') format('woff'), url('../../css/font/KangxiDictU8B7B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
