@font-face {
    font-family: 'KangxiDictU767B';
    src: url('../../css/font/KangxiDictU767B.woff') format('woff'), url('../../css/font/KangxiDictU767B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
