@font-face {
    font-family: 'KangxiDictU6DBD';
    src: url('../../css/font/KangxiDictU6DBD.woff') format('woff'), url('../../css/font/KangxiDictU6DBD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
