@font-face {
    font-family: 'KangxiDictU97E6';
    src: url('../../css/font/KangxiDictU97E6.woff') format('woff'), url('../../css/font/KangxiDictU97E6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
