@font-face {
    font-family: 'KangxiDictUFA89';
    src: url('../../css/font/KangxiDictUFA89.woff') format('woff'), url('../../css/font/KangxiDictUFA89.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
