@font-face {
    font-family: 'KangxiDictU99AE';
    src: url('../../css/font/KangxiDictU99AE.woff') format('woff'), url('../../css/font/KangxiDictU99AE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
