@font-face {
    font-family: 'KangxiDictU7806';
    src: url('../../css/font/KangxiDictU7806.woff') format('woff'), url('../../css/font/KangxiDictU7806.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
