@font-face {
    font-family: 'KangxiDictU9824';
    src: url('../../css/font/KangxiDictU9824.woff') format('woff'), url('../../css/font/KangxiDictU9824.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
