@font-face {
    font-family: 'KangxiDictU803A';
    src: url('../../css/font/KangxiDictU803A.woff') format('woff'), url('../../css/font/KangxiDictU803A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
