@font-face {
    font-family: 'KangxiDictU9643';
    src: url('../../css/font/KangxiDictU9643.woff') format('woff'), url('../../css/font/KangxiDictU9643.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
