@font-face {
    font-family: 'KangxiDictU6788';
    src: url('../../css/font/KangxiDictU6788.woff') format('woff'), url('../../css/font/KangxiDictU6788.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
