@font-face {
    font-family: 'KangxiDictU83B9';
    src: url('../../css/font/KangxiDictU83B9.woff') format('woff'), url('../../css/font/KangxiDictU83B9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
