@font-face {
    font-family: 'KangxiDictU5FFC';
    src: url('../../css/font/KangxiDictU5FFC.woff') format('woff'), url('../../css/font/KangxiDictU5FFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
