@font-face {
    font-family: 'KangxiDictU8C35';
    src: url('../../css/font/KangxiDictU8C35.woff') format('woff'), url('../../css/font/KangxiDictU8C35.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
