@font-face {
    font-family: 'KangxiDictU9642';
    src: url('../../css/font/KangxiDictU9642.woff') format('woff'), url('../../css/font/KangxiDictU9642.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
