@font-face {
    font-family: 'KangxiDictU9D49';
    src: url('../../css/font/KangxiDictU9D49.woff') format('woff'), url('../../css/font/KangxiDictU9D49.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
