@font-face {
    font-family: 'KangxiDictU8FD1';
    src: url('../../css/font/KangxiDictU8FD1.woff') format('woff'), url('../../css/font/KangxiDictU8FD1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
