@font-face {
    font-family: 'KangxiDictU5393';
    src: url('../../css/font/KangxiDictU5393.woff') format('woff'), url('../../css/font/KangxiDictU5393.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
