@font-face {
    font-family: 'KangxiDictUFA86';
    src: url('../../css/font/KangxiDictUFA86.woff') format('woff'), url('../../css/font/KangxiDictUFA86.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
