@font-face {
    font-family: 'KangxiDictU54D7';
    src: url('../../css/font/KangxiDictU54D7.woff') format('woff'), url('../../css/font/KangxiDictU54D7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
