@font-face {
    font-family: 'KangxiDictU7549';
    src: url('../../css/font/KangxiDictU7549.woff') format('woff'), url('../../css/font/KangxiDictU7549.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
