@font-face {
    font-family: 'KangxiDictU8C45';
    src: url('../../css/font/KangxiDictU8C45.woff') format('woff'), url('../../css/font/KangxiDictU8C45.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
