@font-face {
    font-family: 'KangxiDictU8BBF';
    src: url('../../css/font/KangxiDictU8BBF.woff') format('woff'), url('../../css/font/KangxiDictU8BBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
