@font-face {
    font-family: 'KangxiDictU76BE';
    src: url('../../css/font/KangxiDictU76BE.woff') format('woff'), url('../../css/font/KangxiDictU76BE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
