@font-face {
    font-family: 'KangxiDictU9998';
    src: url('../../css/font/KangxiDictU9998.woff') format('woff'), url('../../css/font/KangxiDictU9998.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
