@font-face {
    font-family: 'KangxiDictU9078';
    src: url('../../css/font/KangxiDictU9078.woff') format('woff'), url('../../css/font/KangxiDictU9078.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
