@font-face {
    font-family: 'KangxiDictU6CB7';
    src: url('../../css/font/KangxiDictU6CB7.woff') format('woff'), url('../../css/font/KangxiDictU6CB7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
