@font-face {
    font-family: 'KangxiDictU60E5';
    src: url('../../css/font/KangxiDictU60E5.woff') format('woff'), url('../../css/font/KangxiDictU60E5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
