@font-face {
    font-family: 'KangxiDictU54A0';
    src: url('../../css/font/KangxiDictU54A0.woff') format('woff'), url('../../css/font/KangxiDictU54A0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
