@font-face {
    font-family: 'KangxiDictU60BC';
    src: url('../../css/font/KangxiDictU60BC.woff') format('woff'), url('../../css/font/KangxiDictU60BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
