@font-face {
    font-family: 'KangxiDictU58C1';
    src: url('../../css/font/KangxiDictU58C1.woff') format('woff'), url('../../css/font/KangxiDictU58C1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
