@font-face {
    font-family: 'KangxiDictU9237';
    src: url('../../css/font/KangxiDictU9237.woff') format('woff'), url('../../css/font/KangxiDictU9237.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
