@font-face {
    font-family: 'KangxiDictU4E57';
    src: url('../../css/font/KangxiDictU4E57.woff') format('woff'), url('../../css/font/KangxiDictU4E57.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
