@font-face {
    font-family: 'KangxiDictU6A92';
    src: url('../../css/font/KangxiDictU6A92.woff') format('woff'), url('../../css/font/KangxiDictU6A92.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
