@font-face {
    font-family: 'KangxiDictU5479';
    src: url('../../css/font/KangxiDictU5479.woff') format('woff'), url('../../css/font/KangxiDictU5479.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
