@font-face {
    font-family: 'KangxiDictU5710';
    src: url('../../css/font/KangxiDictU5710.woff') format('woff'), url('../../css/font/KangxiDictU5710.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
