@font-face {
    font-family: 'KangxiDictU5718';
    src: url('../../css/font/KangxiDictU5718.woff') format('woff'), url('../../css/font/KangxiDictU5718.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
