@font-face {
    font-family: 'KangxiDictU8167';
    src: url('../../css/font/KangxiDictU8167.woff') format('woff'), url('../../css/font/KangxiDictU8167.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
