@font-face {
    font-family: 'KangxiDictU8DC6';
    src: url('../../css/font/KangxiDictU8DC6.woff') format('woff'), url('../../css/font/KangxiDictU8DC6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
