@font-face {
    font-family: 'KangxiDictU59B6';
    src: url('../../css/font/KangxiDictU59B6.woff') format('woff'), url('../../css/font/KangxiDictU59B6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
