@font-face {
    font-family: 'KangxiDictU600D';
    src: url('../../css/font/KangxiDictU600D.woff') format('woff'), url('../../css/font/KangxiDictU600D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
