@font-face {
    font-family: 'KangxiDictU8DC9';
    src: url('../../css/font/KangxiDictU8DC9.woff') format('woff'), url('../../css/font/KangxiDictU8DC9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
