@font-face {
    font-family: 'KangxiDictU8E85';
    src: url('../../css/font/KangxiDictU8E85.woff') format('woff'), url('../../css/font/KangxiDictU8E85.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
