@font-face {
    font-family: 'KangxiDictU7A2B';
    src: url('../../css/font/KangxiDictU7A2B.woff') format('woff'), url('../../css/font/KangxiDictU7A2B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
