@font-face {
    font-family: 'KangxiDictU6898';
    src: url('../../css/font/KangxiDictU6898.woff') format('woff'), url('../../css/font/KangxiDictU6898.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
