@font-face {
    font-family: 'KangxiDictU51CE';
    src: url('../../css/font/KangxiDictU51CE.woff') format('woff'), url('../../css/font/KangxiDictU51CE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
