@font-face {
    font-family: 'KangxiDictU8401';
    src: url('../../css/font/KangxiDictU8401.woff') format('woff'), url('../../css/font/KangxiDictU8401.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
