@font-face {
    font-family: 'KangxiDictU7785';
    src: url('../../css/font/KangxiDictU7785.woff') format('woff'), url('../../css/font/KangxiDictU7785.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
