@font-face {
    font-family: 'KangxiDictU9589';
    src: url('../../css/font/KangxiDictU9589.woff') format('woff'), url('../../css/font/KangxiDictU9589.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
