@font-face {
    font-family: 'KangxiDictU7E62';
    src: url('../../css/font/KangxiDictU7E62.woff') format('woff'), url('../../css/font/KangxiDictU7E62.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
