@font-face {
    font-family: 'KangxiDictU5A95';
    src: url('../../css/font/KangxiDictU5A95.woff') format('woff'), url('../../css/font/KangxiDictU5A95.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
