@font-face {
    font-family: 'KangxiDictU5E12';
    src: url('../../css/font/KangxiDictU5E12.woff') format('woff'), url('../../css/font/KangxiDictU5E12.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
