@font-face {
    font-family: 'KangxiDictU6C50';
    src: url('../../css/font/KangxiDictU6C50.woff') format('woff'), url('../../css/font/KangxiDictU6C50.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
