@font-face {
    font-family: 'KangxiDictU584E';
    src: url('../../css/font/KangxiDictU584E.woff') format('woff'), url('../../css/font/KangxiDictU584E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
