@font-face {
    font-family: 'KangxiDictU81AC';
    src: url('../../css/font/KangxiDictU81AC.woff') format('woff'), url('../../css/font/KangxiDictU81AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
