@font-face {
    font-family: 'KangxiDictU6DDB';
    src: url('../../css/font/KangxiDictU6DDB.woff') format('woff'), url('../../css/font/KangxiDictU6DDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
