@font-face {
    font-family: 'KangxiDictU8B66';
    src: url('../../css/font/KangxiDictU8B66.woff') format('woff'), url('../../css/font/KangxiDictU8B66.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
