@font-face {
    font-family: 'KangxiDictU9322';
    src: url('../../css/font/KangxiDictU9322.woff') format('woff'), url('../../css/font/KangxiDictU9322.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
