@font-face {
    font-family: 'KangxiDictUFAC8';
    src: url('../../css/font/KangxiDictUFAC8.woff') format('woff'), url('../../css/font/KangxiDictUFAC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
