@font-face {
    font-family: 'KangxiDictU7D38';
    src: url('../../css/font/KangxiDictU7D38.woff') format('woff'), url('../../css/font/KangxiDictU7D38.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
