@font-face {
    font-family: 'KangxiDictU8345';
    src: url('../../css/font/KangxiDictU8345.woff') format('woff'), url('../../css/font/KangxiDictU8345.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
