@font-face {
    font-family: 'KangxiDictU8140';
    src: url('../../css/font/KangxiDictU8140.woff') format('woff'), url('../../css/font/KangxiDictU8140.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
