@font-face {
    font-family: 'KangxiDictU7035';
    src: url('../../css/font/KangxiDictU7035.woff') format('woff'), url('../../css/font/KangxiDictU7035.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
