@font-face {
    font-family: 'KangxiDictU9BCB';
    src: url('../../css/font/KangxiDictU9BCB.woff') format('woff'), url('../../css/font/KangxiDictU9BCB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
