@font-face {
    font-family: 'KangxiDictU9DF5';
    src: url('../../css/font/KangxiDictU9DF5.woff') format('woff'), url('../../css/font/KangxiDictU9DF5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
