@font-face {
    font-family: 'KangxiDictU974D';
    src: url('../../css/font/KangxiDictU974D.woff') format('woff'), url('../../css/font/KangxiDictU974D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
