@font-face {
    font-family: 'KangxiDictU87A0';
    src: url('../../css/font/KangxiDictU87A0.woff') format('woff'), url('../../css/font/KangxiDictU87A0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
