@font-face {
    font-family: 'KangxiDictU6457';
    src: url('../../css/font/KangxiDictU6457.woff') format('woff'), url('../../css/font/KangxiDictU6457.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
