@font-face {
    font-family: 'KangxiDictU6DDE';
    src: url('../../css/font/KangxiDictU6DDE.woff') format('woff'), url('../../css/font/KangxiDictU6DDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
