@font-face {
    font-family: 'KangxiDictU823B';
    src: url('../../css/font/KangxiDictU823B.woff') format('woff'), url('../../css/font/KangxiDictU823B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
