@font-face {
    font-family: 'KangxiDictU8861';
    src: url('../../css/font/KangxiDictU8861.woff') format('woff'), url('../../css/font/KangxiDictU8861.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
