@font-face {
    font-family: 'KangxiDictU8E56';
    src: url('../../css/font/KangxiDictU8E56.woff') format('woff'), url('../../css/font/KangxiDictU8E56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
