@font-face {
    font-family: 'KangxiDictU543A';
    src: url('../../css/font/KangxiDictU543A.woff') format('woff'), url('../../css/font/KangxiDictU543A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
