@font-face {
    font-family: 'KangxiDictU5BBE';
    src: url('../../css/font/KangxiDictU5BBE.woff') format('woff'), url('../../css/font/KangxiDictU5BBE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
