@font-face {
    font-family: 'KangxiDictU6193';
    src: url('../../css/font/KangxiDictU6193.woff') format('woff'), url('../../css/font/KangxiDictU6193.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
