@font-face {
    font-family: 'KangxiDictU9886';
    src: url('../../css/font/KangxiDictU9886.woff') format('woff'), url('../../css/font/KangxiDictU9886.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
