@font-face {
    font-family: 'KangxiDictU8D86';
    src: url('../../css/font/KangxiDictU8D86.woff') format('woff'), url('../../css/font/KangxiDictU8D86.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
