@font-face {
    font-family: 'KangxiDictU6F59';
    src: url('../../css/font/KangxiDictU6F59.woff') format('woff'), url('../../css/font/KangxiDictU6F59.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
