@font-face {
    font-family: 'KangxiDictU9FBE';
    src: url('../../css/font/KangxiDictU9FBE.woff') format('woff'), url('../../css/font/KangxiDictU9FBE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
