@font-face {
    font-family: 'KangxiDictU877B';
    src: url('../../css/font/KangxiDictU877B.woff') format('woff'), url('../../css/font/KangxiDictU877B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
