@font-face {
    font-family: 'KangxiDictU5549';
    src: url('../../css/font/KangxiDictU5549.woff') format('woff'), url('../../css/font/KangxiDictU5549.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
