@font-face {
    font-family: 'KangxiDictU77FE';
    src: url('../../css/font/KangxiDictU77FE.woff') format('woff'), url('../../css/font/KangxiDictU77FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
