@font-face {
    font-family: 'KangxiDictU7A87';
    src: url('../../css/font/KangxiDictU7A87.woff') format('woff'), url('../../css/font/KangxiDictU7A87.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
