@font-face {
    font-family: 'KangxiDictU6129';
    src: url('../../css/font/KangxiDictU6129.woff') format('woff'), url('../../css/font/KangxiDictU6129.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
