@font-face {
    font-family: 'KangxiDictU5FEB';
    src: url('../../css/font/KangxiDictU5FEB.woff') format('woff'), url('../../css/font/KangxiDictU5FEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
