@font-face {
    font-family: 'KangxiDictU5259';
    src: url('../../css/font/KangxiDictU5259.woff') format('woff'), url('../../css/font/KangxiDictU5259.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
