@font-face {
    font-family: 'KangxiDictU7A65';
    src: url('../../css/font/KangxiDictU7A65.woff') format('woff'), url('../../css/font/KangxiDictU7A65.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
