@font-face {
    font-family: 'KangxiDictU95A1';
    src: url('../../css/font/KangxiDictU95A1.woff') format('woff'), url('../../css/font/KangxiDictU95A1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
