@font-face {
    font-family: 'KangxiDictU5EDA';
    src: url('../../css/font/KangxiDictU5EDA.woff') format('woff'), url('../../css/font/KangxiDictU5EDA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
