@font-face {
    font-family: 'KangxiDictU5A7D';
    src: url('../../css/font/KangxiDictU5A7D.woff') format('woff'), url('../../css/font/KangxiDictU5A7D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
