@font-face {
    font-family: 'KangxiDictU7893';
    src: url('../../css/font/KangxiDictU7893.woff') format('woff'), url('../../css/font/KangxiDictU7893.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
