@font-face {
    font-family: 'KangxiDictU91F6';
    src: url('../../css/font/KangxiDictU91F6.woff') format('woff'), url('../../css/font/KangxiDictU91F6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
