@font-face {
    font-family: 'KangxiDictU5006';
    src: url('../../css/font/KangxiDictU5006.woff') format('woff'), url('../../css/font/KangxiDictU5006.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
