@font-face {
    font-family: 'KangxiDictU8273';
    src: url('../../css/font/KangxiDictU8273.woff') format('woff'), url('../../css/font/KangxiDictU8273.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
