@font-face {
    font-family: 'KangxiDictU6FFF';
    src: url('../../css/font/KangxiDictU6FFF.woff') format('woff'), url('../../css/font/KangxiDictU6FFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
