@font-face {
    font-family: 'KangxiDictU5731';
    src: url('../../css/font/KangxiDictU5731.woff') format('woff'), url('../../css/font/KangxiDictU5731.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
