@font-face {
    font-family: 'KangxiDictU5199';
    src: url('../../css/font/KangxiDictU5199.woff') format('woff'), url('../../css/font/KangxiDictU5199.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
