@font-face {
    font-family: 'KangxiDictU9137';
    src: url('../../css/font/KangxiDictU9137.woff') format('woff'), url('../../css/font/KangxiDictU9137.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
