@font-face {
    font-family: 'KangxiDictU9AF0';
    src: url('../../css/font/KangxiDictU9AF0.woff') format('woff'), url('../../css/font/KangxiDictU9AF0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
