@font-face {
    font-family: 'KangxiDictU5799';
    src: url('../../css/font/KangxiDictU5799.woff') format('woff'), url('../../css/font/KangxiDictU5799.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
