@font-face {
    font-family: 'KangxiDictU6B92';
    src: url('../../css/font/KangxiDictU6B92.woff') format('woff'), url('../../css/font/KangxiDictU6B92.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
