@font-face {
    font-family: 'KangxiDictU62CF';
    src: url('../../css/font/KangxiDictU62CF.woff') format('woff'), url('../../css/font/KangxiDictU62CF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
