@font-face {
    font-family: 'KangxiDictU9452';
    src: url('../../css/font/KangxiDictU9452.woff') format('woff'), url('../../css/font/KangxiDictU9452.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
