@font-face {
    font-family: 'KangxiDictU7E40';
    src: url('../../css/font/KangxiDictU7E40.woff') format('woff'), url('../../css/font/KangxiDictU7E40.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
