@font-face {
    font-family: 'KangxiDictU77DC';
    src: url('../../css/font/KangxiDictU77DC.woff') format('woff'), url('../../css/font/KangxiDictU77DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
