@font-face {
    font-family: 'KangxiDictU562B';
    src: url('../../css/font/KangxiDictU562B.woff') format('woff'), url('../../css/font/KangxiDictU562B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
