@font-face {
    font-family: 'KangxiDictU5628';
    src: url('../../css/font/KangxiDictU5628.woff') format('woff'), url('../../css/font/KangxiDictU5628.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
