@font-face {
    font-family: 'KangxiDictU798F';
    src: url('../../css/font/KangxiDictU798F.woff') format('woff'), url('../../css/font/KangxiDictU798F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
