@font-face {
    font-family: 'KangxiDictU6582';
    src: url('../../css/font/KangxiDictU6582.woff') format('woff'), url('../../css/font/KangxiDictU6582.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
