@font-face {
    font-family: 'KangxiDictU9813';
    src: url('../../css/font/KangxiDictU9813.woff') format('woff'), url('../../css/font/KangxiDictU9813.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
