@font-face {
    font-family: 'KangxiDictU8DFF';
    src: url('../../css/font/KangxiDictU8DFF.woff') format('woff'), url('../../css/font/KangxiDictU8DFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
