@font-face {
    font-family: 'KangxiDictU9669';
    src: url('../../css/font/KangxiDictU9669.woff') format('woff'), url('../../css/font/KangxiDictU9669.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
