@font-face {
    font-family: 'KangxiDictU9623';
    src: url('../../css/font/KangxiDictU9623.woff') format('woff'), url('../../css/font/KangxiDictU9623.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
