@font-face {
    font-family: 'KangxiDictU7458';
    src: url('../../css/font/KangxiDictU7458.woff') format('woff'), url('../../css/font/KangxiDictU7458.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
