@font-face {
    font-family: 'KangxiDictU7AC8';
    src: url('../../css/font/KangxiDictU7AC8.woff') format('woff'), url('../../css/font/KangxiDictU7AC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
