@font-face {
    font-family: 'KangxiDictU5139';
    src: url('../../css/font/KangxiDictU5139.woff') format('woff'), url('../../css/font/KangxiDictU5139.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
