@font-face {
    font-family: 'KangxiDictU8943';
    src: url('../../css/font/KangxiDictU8943.woff') format('woff'), url('../../css/font/KangxiDictU8943.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
