@font-face {
    font-family: 'KangxiDictU6D17';
    src: url('../../css/font/KangxiDictU6D17.woff') format('woff'), url('../../css/font/KangxiDictU6D17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
