@font-face {
    font-family: 'KangxiDictU8279';
    src: url('../../css/font/KangxiDictU8279.woff') format('woff'), url('../../css/font/KangxiDictU8279.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
