@font-face {
    font-family: 'KangxiDictU6523';
    src: url('../../css/font/KangxiDictU6523.woff') format('woff'), url('../../css/font/KangxiDictU6523.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
