@font-face {
    font-family: 'KangxiDictU839B';
    src: url('../../css/font/KangxiDictU839B.woff') format('woff'), url('../../css/font/KangxiDictU839B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
