@font-face {
    font-family: 'KangxiDictU890C';
    src: url('../../css/font/KangxiDictU890C.woff') format('woff'), url('../../css/font/KangxiDictU890C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
