@font-face {
    font-family: 'KangxiDictU6599';
    src: url('../../css/font/KangxiDictU6599.woff') format('woff'), url('../../css/font/KangxiDictU6599.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
