@font-face {
    font-family: 'KangxiDictU8325';
    src: url('../../css/font/KangxiDictU8325.woff') format('woff'), url('../../css/font/KangxiDictU8325.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
