@font-face {
    font-family: 'KangxiDictU801B';
    src: url('../../css/font/KangxiDictU801B.woff') format('woff'), url('../../css/font/KangxiDictU801B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
