@font-face {
    font-family: 'KangxiDictU7752';
    src: url('../../css/font/KangxiDictU7752.woff') format('woff'), url('../../css/font/KangxiDictU7752.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
