@font-face {
    font-family: 'KangxiDictU5426';
    src: url('../../css/font/KangxiDictU5426.woff') format('woff'), url('../../css/font/KangxiDictU5426.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
