@font-face {
    font-family: 'KangxiDictU8DEB';
    src: url('../../css/font/KangxiDictU8DEB.woff') format('woff'), url('../../css/font/KangxiDictU8DEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
