@font-face {
    font-family: 'KangxiDictU6132';
    src: url('../../css/font/KangxiDictU6132.woff') format('woff'), url('../../css/font/KangxiDictU6132.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
