@font-face {
    font-family: 'KangxiDictU5F21';
    src: url('../../css/font/KangxiDictU5F21.woff') format('woff'), url('../../css/font/KangxiDictU5F21.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
