@font-face {
    font-family: 'KangxiDictU7760';
    src: url('../../css/font/KangxiDictU7760.woff') format('woff'), url('../../css/font/KangxiDictU7760.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
