@font-face {
    font-family: 'KangxiDictU7416';
    src: url('../../css/font/KangxiDictU7416.woff') format('woff'), url('../../css/font/KangxiDictU7416.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
