@font-face {
    font-family: 'KangxiDictU9133';
    src: url('../../css/font/KangxiDictU9133.woff') format('woff'), url('../../css/font/KangxiDictU9133.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
