@font-face {
    font-family: 'KangxiDictU6254';
    src: url('../../css/font/KangxiDictU6254.woff') format('woff'), url('../../css/font/KangxiDictU6254.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
