@font-face {
    font-family: 'KangxiDictU6198';
    src: url('../../css/font/KangxiDictU6198.woff') format('woff'), url('../../css/font/KangxiDictU6198.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
