@font-face {
    font-family: 'KangxiDictU5702';
    src: url('../../css/font/KangxiDictU5702.woff') format('woff'), url('../../css/font/KangxiDictU5702.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
