@font-face {
    font-family: 'KangxiDictU6299';
    src: url('../../css/font/KangxiDictU6299.woff') format('woff'), url('../../css/font/KangxiDictU6299.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
