@font-face {
    font-family: 'KangxiDictU773A';
    src: url('../../css/font/KangxiDictU773A.woff') format('woff'), url('../../css/font/KangxiDictU773A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
