@font-face {
    font-family: 'KangxiDictU5D52';
    src: url('../../css/font/KangxiDictU5D52.woff') format('woff'), url('../../css/font/KangxiDictU5D52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
