@font-face {
    font-family: 'KangxiDictUFA11';
    src: url('../../css/font/KangxiDictUFA11.woff') format('woff'), url('../../css/font/KangxiDictUFA11.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
