@font-face {
    font-family: 'KangxiDictU62BC';
    src: url('../../css/font/KangxiDictU62BC.woff') format('woff'), url('../../css/font/KangxiDictU62BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
