@font-face {
    font-family: 'KangxiDictU7D34';
    src: url('../../css/font/KangxiDictU7D34.woff') format('woff'), url('../../css/font/KangxiDictU7D34.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
