@font-face {
    font-family: 'KangxiDictU9461';
    src: url('../../css/font/KangxiDictU9461.woff') format('woff'), url('../../css/font/KangxiDictU9461.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
