@font-face {
    font-family: 'KangxiDictU667C';
    src: url('../../css/font/KangxiDictU667C.woff') format('woff'), url('../../css/font/KangxiDictU667C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
