@font-face {
    font-family: 'KangxiDictU8EEC';
    src: url('../../css/font/KangxiDictU8EEC.woff') format('woff'), url('../../css/font/KangxiDictU8EEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
