@font-face {
    font-family: 'KangxiDictU7CBF';
    src: url('../../css/font/KangxiDictU7CBF.woff') format('woff'), url('../../css/font/KangxiDictU7CBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
