@font-face {
    font-family: 'KangxiDictU58DA';
    src: url('../../css/font/KangxiDictU58DA.woff') format('woff'), url('../../css/font/KangxiDictU58DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
