@font-face {
    font-family: 'KangxiDictU8488';
    src: url('../../css/font/KangxiDictU8488.woff') format('woff'), url('../../css/font/KangxiDictU8488.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
