@font-face {
    font-family: 'KangxiDictU8D75';
    src: url('../../css/font/KangxiDictU8D75.woff') format('woff'), url('../../css/font/KangxiDictU8D75.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
