@font-face {
    font-family: 'KangxiDictU6AC8';
    src: url('../../css/font/KangxiDictU6AC8.woff') format('woff'), url('../../css/font/KangxiDictU6AC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
