@font-face {
    font-family: 'KangxiDictU939F';
    src: url('../../css/font/KangxiDictU939F.woff') format('woff'), url('../../css/font/KangxiDictU939F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
