@font-face {
    font-family: 'KangxiDictU8646';
    src: url('../../css/font/KangxiDictU8646.woff') format('woff'), url('../../css/font/KangxiDictU8646.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
