@font-face {
    font-family: 'KangxiDictU7FFF';
    src: url('../../css/font/KangxiDictU7FFF.woff') format('woff'), url('../../css/font/KangxiDictU7FFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
