@font-face {
    font-family: 'KangxiDictU6242';
    src: url('../../css/font/KangxiDictU6242.woff') format('woff'), url('../../css/font/KangxiDictU6242.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
