@font-face {
    font-family: 'KangxiDictU9ABD';
    src: url('../../css/font/KangxiDictU9ABD.woff') format('woff'), url('../../css/font/KangxiDictU9ABD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
