@font-face {
    font-family: 'KangxiDictU6216';
    src: url('../../css/font/KangxiDictU6216.woff') format('woff'), url('../../css/font/KangxiDictU6216.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
