@font-face {
    font-family: 'KangxiDictU6277';
    src: url('../../css/font/KangxiDictU6277.woff') format('woff'), url('../../css/font/KangxiDictU6277.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
