@font-face {
    font-family: 'KangxiDictU7C97';
    src: url('../../css/font/KangxiDictU7C97.woff') format('woff'), url('../../css/font/KangxiDictU7C97.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
