@font-face {
    font-family: 'KangxiDictU6379';
    src: url('../../css/font/KangxiDictU6379.woff') format('woff'), url('../../css/font/KangxiDictU6379.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
