@font-face {
    font-family: 'KangxiDictU6A41';
    src: url('../../css/font/KangxiDictU6A41.woff') format('woff'), url('../../css/font/KangxiDictU6A41.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
