@font-face {
    font-family: 'KangxiDictU7495';
    src: url('../../css/font/KangxiDictU7495.woff') format('woff'), url('../../css/font/KangxiDictU7495.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
