@font-face {
    font-family: 'KangxiDictU53DA';
    src: url('../../css/font/KangxiDictU53DA.woff') format('woff'), url('../../css/font/KangxiDictU53DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
