@font-face {
    font-family: 'KangxiDictU9741';
    src: url('../../css/font/KangxiDictU9741.woff') format('woff'), url('../../css/font/KangxiDictU9741.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
