@font-face {
    font-family: 'KangxiDictU8CA3';
    src: url('../../css/font/KangxiDictU8CA3.woff') format('woff'), url('../../css/font/KangxiDictU8CA3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
