@font-face {
    font-family: 'KangxiDictU750A';
    src: url('../../css/font/KangxiDictU750A.woff') format('woff'), url('../../css/font/KangxiDictU750A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
