@font-face {
    font-family: 'KangxiDictU7859';
    src: url('../../css/font/KangxiDictU7859.woff') format('woff'), url('../../css/font/KangxiDictU7859.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
