@font-face {
    font-family: 'KangxiDictU4FDC';
    src: url('../../css/font/KangxiDictU4FDC.woff') format('woff'), url('../../css/font/KangxiDictU4FDC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
