@font-face {
    font-family: 'KangxiDictU652C';
    src: url('../../css/font/KangxiDictU652C.woff') format('woff'), url('../../css/font/KangxiDictU652C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
