@font-face {
    font-family: 'KangxiDictU8198';
    src: url('../../css/font/KangxiDictU8198.woff') format('woff'), url('../../css/font/KangxiDictU8198.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
