@font-face {
    font-family: 'KangxiDictU781F';
    src: url('../../css/font/KangxiDictU781F.woff') format('woff'), url('../../css/font/KangxiDictU781F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
