@font-face {
    font-family: 'KangxiDictU7396';
    src: url('../../css/font/KangxiDictU7396.woff') format('woff'), url('../../css/font/KangxiDictU7396.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
