@font-face {
    font-family: 'KangxiDictU5F03';
    src: url('../../css/font/KangxiDictU5F03.woff') format('woff'), url('../../css/font/KangxiDictU5F03.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
