@font-face {
    font-family: 'KangxiDictU8678';
    src: url('../../css/font/KangxiDictU8678.woff') format('woff'), url('../../css/font/KangxiDictU8678.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
