@font-face {
    font-family: 'KangxiDictU8808';
    src: url('../../css/font/KangxiDictU8808.woff') format('woff'), url('../../css/font/KangxiDictU8808.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
