@font-face {
    font-family: 'KangxiDictU7494';
    src: url('../../css/font/KangxiDictU7494.woff') format('woff'), url('../../css/font/KangxiDictU7494.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
