@font-face {
    font-family: 'KangxiDictUF9BA';
    src: url('../../css/font/KangxiDictUF9BA.woff') format('woff'), url('../../css/font/KangxiDictUF9BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
