@font-face {
    font-family: 'KangxiDictU6043';
    src: url('../../css/font/KangxiDictU6043.woff') format('woff'), url('../../css/font/KangxiDictU6043.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
