@font-face {
    font-family: 'KangxiDictU930A';
    src: url('../../css/font/KangxiDictU930A.woff') format('woff'), url('../../css/font/KangxiDictU930A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
