@font-face {
    font-family: 'KangxiDictU8527';
    src: url('../../css/font/KangxiDictU8527.woff') format('woff'), url('../../css/font/KangxiDictU8527.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
