@font-face {
    font-family: 'KangxiDictU8411';
    src: url('../../css/font/KangxiDictU8411.woff') format('woff'), url('../../css/font/KangxiDictU8411.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
