@font-face {
    font-family: 'KangxiDictU808A';
    src: url('../../css/font/KangxiDictU808A.woff') format('woff'), url('../../css/font/KangxiDictU808A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
