@font-face {
    font-family: 'KangxiDictU815C';
    src: url('../../css/font/KangxiDictU815C.woff') format('woff'), url('../../css/font/KangxiDictU815C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
