@font-face {
    font-family: 'KangxiDictU879F';
    src: url('../../css/font/KangxiDictU879F.woff') format('woff'), url('../../css/font/KangxiDictU879F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
