@font-face {
    font-family: 'KangxiDictU6C95';
    src: url('../../css/font/KangxiDictU6C95.woff') format('woff'), url('../../css/font/KangxiDictU6C95.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
