@font-face {
    font-family: 'KangxiDictU51A0';
    src: url('../../css/font/KangxiDictU51A0.woff') format('woff'), url('../../css/font/KangxiDictU51A0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
