@font-face {
    font-family: 'KangxiDictU669A';
    src: url('../../css/font/KangxiDictU669A.woff') format('woff'), url('../../css/font/KangxiDictU669A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
