@font-face {
    font-family: 'KangxiDictU8DD2';
    src: url('../../css/font/KangxiDictU8DD2.woff') format('woff'), url('../../css/font/KangxiDictU8DD2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
