@font-face {
    font-family: 'KangxiDictU7D41';
    src: url('../../css/font/KangxiDictU7D41.woff') format('woff'), url('../../css/font/KangxiDictU7D41.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
