@font-face {
    font-family: 'KangxiDictU7078';
    src: url('../../css/font/KangxiDictU7078.woff') format('woff'), url('../../css/font/KangxiDictU7078.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
