@font-face {
    font-family: 'KangxiDictU994B';
    src: url('../../css/font/KangxiDictU994B.woff') format('woff'), url('../../css/font/KangxiDictU994B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
