@font-face {
    font-family: 'KangxiDictU6387';
    src: url('../../css/font/KangxiDictU6387.woff') format('woff'), url('../../css/font/KangxiDictU6387.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
