@font-face {
    font-family: 'KangxiDictU5127';
    src: url('../../css/font/KangxiDictU5127.woff') format('woff'), url('../../css/font/KangxiDictU5127.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
