@font-face {
    font-family: 'KangxiDictU9350';
    src: url('../../css/font/KangxiDictU9350.woff') format('woff'), url('../../css/font/KangxiDictU9350.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
