@font-face {
    font-family: 'KangxiDictU6532';
    src: url('../../css/font/KangxiDictU6532.woff') format('woff'), url('../../css/font/KangxiDictU6532.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
