@font-face {
    font-family: 'KangxiDictU624F';
    src: url('../../css/font/KangxiDictU624F.woff') format('woff'), url('../../css/font/KangxiDictU624F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
