@font-face {
    font-family: 'KangxiDictU7249';
    src: url('../../css/font/KangxiDictU7249.woff') format('woff'), url('../../css/font/KangxiDictU7249.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
