@font-face {
    font-family: 'KangxiDictU6810';
    src: url('../../css/font/KangxiDictU6810.woff') format('woff'), url('../../css/font/KangxiDictU6810.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
