@font-face {
    font-family: 'KangxiDictU5553';
    src: url('../../css/font/KangxiDictU5553.woff') format('woff'), url('../../css/font/KangxiDictU5553.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
