@font-face {
    font-family: 'KangxiDictU7225';
    src: url('../../css/font/KangxiDictU7225.woff') format('woff'), url('../../css/font/KangxiDictU7225.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
