@font-face {
    font-family: 'KangxiDictU6458';
    src: url('../../css/font/KangxiDictU6458.woff') format('woff'), url('../../css/font/KangxiDictU6458.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
