@font-face {
    font-family: 'KangxiDictU95CB';
    src: url('../../css/font/KangxiDictU95CB.woff') format('woff'), url('../../css/font/KangxiDictU95CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
