@font-face {
    font-family: 'KangxiDictU6270';
    src: url('../../css/font/KangxiDictU6270.woff') format('woff'), url('../../css/font/KangxiDictU6270.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
