@font-face {
    font-family: 'KangxiDictU7AD8';
    src: url('../../css/font/KangxiDictU7AD8.woff') format('woff'), url('../../css/font/KangxiDictU7AD8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
