@font-face {
    font-family: 'KangxiDictU9240';
    src: url('../../css/font/KangxiDictU9240.woff') format('woff'), url('../../css/font/KangxiDictU9240.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
