@font-face {
    font-family: 'KangxiDictU5788';
    src: url('../../css/font/KangxiDictU5788.woff') format('woff'), url('../../css/font/KangxiDictU5788.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
