@font-face {
    font-family: 'KangxiDictU594F';
    src: url('../../css/font/KangxiDictU594F.woff') format('woff'), url('../../css/font/KangxiDictU594F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
