@font-face {
    font-family: 'KangxiDictU7DDE';
    src: url('../../css/font/KangxiDictU7DDE.woff') format('woff'), url('../../css/font/KangxiDictU7DDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
