@font-face {
    font-family: 'KangxiDictU8625';
    src: url('../../css/font/KangxiDictU8625.woff') format('woff'), url('../../css/font/KangxiDictU8625.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
