@font-face {
    font-family: 'KangxiDictU965B';
    src: url('../../css/font/KangxiDictU965B.woff') format('woff'), url('../../css/font/KangxiDictU965B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
