@font-face {
    font-family: 'KangxiDictU7107';
    src: url('../../css/font/KangxiDictU7107.woff') format('woff'), url('../../css/font/KangxiDictU7107.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
