@font-face {
    font-family: 'KangxiDictU8454';
    src: url('../../css/font/KangxiDictU8454.woff') format('woff'), url('../../css/font/KangxiDictU8454.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
