@font-face {
    font-family: 'KangxiDictU9513';
    src: url('../../css/font/KangxiDictU9513.woff') format('woff'), url('../../css/font/KangxiDictU9513.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
