@font-face {
    font-family: 'KangxiDictU8354';
    src: url('../../css/font/KangxiDictU8354.woff') format('woff'), url('../../css/font/KangxiDictU8354.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
