@font-face {
    font-family: 'KangxiDictU7F32';
    src: url('../../css/font/KangxiDictU7F32.woff') format('woff'), url('../../css/font/KangxiDictU7F32.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
