@font-face {
    font-family: 'KangxiDictU6913';
    src: url('../../css/font/KangxiDictU6913.woff') format('woff'), url('../../css/font/KangxiDictU6913.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
