@font-face {
    font-family: 'KangxiDictU955E';
    src: url('../../css/font/KangxiDictU955E.woff') format('woff'), url('../../css/font/KangxiDictU955E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
