@font-face {
    font-family: 'KangxiDictU5C48';
    src: url('../../css/font/KangxiDictU5C48.woff') format('woff'), url('../../css/font/KangxiDictU5C48.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
