@font-face {
    font-family: 'KangxiDictU80ED';
    src: url('../../css/font/KangxiDictU80ED.woff') format('woff'), url('../../css/font/KangxiDictU80ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
