@font-face {
    font-family: 'KangxiDictU7779';
    src: url('../../css/font/KangxiDictU7779.woff') format('woff'), url('../../css/font/KangxiDictU7779.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
