@font-face {
    font-family: 'KangxiDictU7C58';
    src: url('../../css/font/KangxiDictU7C58.woff') format('woff'), url('../../css/font/KangxiDictU7C58.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
