@font-face {
    font-family: 'KangxiDictU7734';
    src: url('../../css/font/KangxiDictU7734.woff') format('woff'), url('../../css/font/KangxiDictU7734.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
