@font-face {
    font-family: 'KangxiDictUFAC4';
    src: url('../../css/font/KangxiDictUFAC4.woff') format('woff'), url('../../css/font/KangxiDictUFAC4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
