@font-face {
    font-family: 'KangxiDictU7332';
    src: url('../../css/font/KangxiDictU7332.woff') format('woff'), url('../../css/font/KangxiDictU7332.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
