@font-face {
    font-family: 'KangxiDictU93DE';
    src: url('../../css/font/KangxiDictU93DE.woff') format('woff'), url('../../css/font/KangxiDictU93DE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
