@font-face {
    font-family: 'KangxiDictU6B81';
    src: url('../../css/font/KangxiDictU6B81.woff') format('woff'), url('../../css/font/KangxiDictU6B81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
