@font-face {
    font-family: 'KangxiDictU5956';
    src: url('../../css/font/KangxiDictU5956.woff') format('woff'), url('../../css/font/KangxiDictU5956.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
