@font-face {
    font-family: 'KangxiDictU8941';
    src: url('../../css/font/KangxiDictU8941.woff') format('woff'), url('../../css/font/KangxiDictU8941.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
