@font-face {
    font-family: 'KangxiDictU7DCE';
    src: url('../../css/font/KangxiDictU7DCE.woff') format('woff'), url('../../css/font/KangxiDictU7DCE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
