@font-face {
    font-family: 'KangxiDictU8221';
    src: url('../../css/font/KangxiDictU8221.woff') format('woff'), url('../../css/font/KangxiDictU8221.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
