@font-face {
    font-family: 'KangxiDictU80A7';
    src: url('../../css/font/KangxiDictU80A7.woff') format('woff'), url('../../css/font/KangxiDictU80A7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
