@font-face {
    font-family: 'KangxiDictU8781';
    src: url('../../css/font/KangxiDictU8781.woff') format('woff'), url('../../css/font/KangxiDictU8781.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
