@font-face {
    font-family: 'KangxiDictU581B';
    src: url('../../css/font/KangxiDictU581B.woff') format('woff'), url('../../css/font/KangxiDictU581B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
