@font-face {
    font-family: 'KangxiDictU64E9';
    src: url('../../css/font/KangxiDictU64E9.woff') format('woff'), url('../../css/font/KangxiDictU64E9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
