@font-face {
    font-family: 'KangxiDictUF9ED';
    src: url('../../css/font/KangxiDictUF9ED.woff') format('woff'), url('../../css/font/KangxiDictUF9ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
