@font-face {
    font-family: 'KangxiDictU99A3';
    src: url('../../css/font/KangxiDictU99A3.woff') format('woff'), url('../../css/font/KangxiDictU99A3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
