@font-face {
    font-family: 'KangxiDictU5EBE';
    src: url('../../css/font/KangxiDictU5EBE.woff') format('woff'), url('../../css/font/KangxiDictU5EBE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
