@font-face {
    font-family: 'KangxiDictU8FDF';
    src: url('../../css/font/KangxiDictU8FDF.woff') format('woff'), url('../../css/font/KangxiDictU8FDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
