@font-face {
    font-family: 'KangxiDictU5902';
    src: url('../../css/font/KangxiDictU5902.woff') format('woff'), url('../../css/font/KangxiDictU5902.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
