@font-face {
    font-family: 'KangxiDictU7541';
    src: url('../../css/font/KangxiDictU7541.woff') format('woff'), url('../../css/font/KangxiDictU7541.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
