@font-face {
    font-family: 'KangxiDictU7C02';
    src: url('../../css/font/KangxiDictU7C02.woff') format('woff'), url('../../css/font/KangxiDictU7C02.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
