@font-face {
    font-family: 'KangxiDictU8867';
    src: url('../../css/font/KangxiDictU8867.woff') format('woff'), url('../../css/font/KangxiDictU8867.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
