@font-face {
    font-family: 'KangxiDictU5383';
    src: url('../../css/font/KangxiDictU5383.woff') format('woff'), url('../../css/font/KangxiDictU5383.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
