@font-face {
    font-family: 'KangxiDictU8FDD';
    src: url('../../css/font/KangxiDictU8FDD.woff') format('woff'), url('../../css/font/KangxiDictU8FDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
