@font-face {
    font-family: 'KangxiDictU893D';
    src: url('../../css/font/KangxiDictU893D.woff') format('woff'), url('../../css/font/KangxiDictU893D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
