@font-face {
    font-family: 'KangxiDictU6E83';
    src: url('../../css/font/KangxiDictU6E83.woff') format('woff'), url('../../css/font/KangxiDictU6E83.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
