@font-face {
    font-family: 'KangxiDictU9BA6';
    src: url('../../css/font/KangxiDictU9BA6.woff') format('woff'), url('../../css/font/KangxiDictU9BA6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
