@font-face {
    font-family: 'KangxiDictUF952';
    src: url('../../css/font/KangxiDictUF952.woff') format('woff'), url('../../css/font/KangxiDictUF952.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
