@font-face {
    font-family: 'KangxiDictU7355';
    src: url('../../css/font/KangxiDictU7355.woff') format('woff'), url('../../css/font/KangxiDictU7355.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
