@font-face {
    font-family: 'KangxiDictU6BF3';
    src: url('../../css/font/KangxiDictU6BF3.woff') format('woff'), url('../../css/font/KangxiDictU6BF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
