@font-face {
    font-family: 'KangxiDictU7037';
    src: url('../../css/font/KangxiDictU7037.woff') format('woff'), url('../../css/font/KangxiDictU7037.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
