@font-face {
    font-family: 'KangxiDictU8CA9';
    src: url('../../css/font/KangxiDictU8CA9.woff') format('woff'), url('../../css/font/KangxiDictU8CA9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
