@font-face {
    font-family: 'KangxiDictU9269';
    src: url('../../css/font/KangxiDictU9269.woff') format('woff'), url('../../css/font/KangxiDictU9269.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
