@font-face {
    font-family: 'KangxiDictU7E6E';
    src: url('../../css/font/KangxiDictU7E6E.woff') format('woff'), url('../../css/font/KangxiDictU7E6E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
