@font-face {
    font-family: 'KangxiDictU8844';
    src: url('../../css/font/KangxiDictU8844.woff') format('woff'), url('../../css/font/KangxiDictU8844.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
