@font-face {
    font-family: 'KangxiDictUF91D';
    src: url('../../css/font/KangxiDictUF91D.woff') format('woff'), url('../../css/font/KangxiDictUF91D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
