@font-face {
    font-family: 'KangxiDictU5462';
    src: url('../../css/font/KangxiDictU5462.woff') format('woff'), url('../../css/font/KangxiDictU5462.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
