@font-face {
    font-family: 'KangxiDictU9C07';
    src: url('../../css/font/KangxiDictU9C07.woff') format('woff'), url('../../css/font/KangxiDictU9C07.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
