@font-face {
    font-family: 'KangxiDictU8267';
    src: url('../../css/font/KangxiDictU8267.woff') format('woff'), url('../../css/font/KangxiDictU8267.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
