@font-face {
    font-family: 'KangxiDictU726A';
    src: url('../../css/font/KangxiDictU726A.woff') format('woff'), url('../../css/font/KangxiDictU726A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
