@font-face {
    font-family: 'KangxiDictU7A13';
    src: url('../../css/font/KangxiDictU7A13.woff') format('woff'), url('../../css/font/KangxiDictU7A13.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
