@font-face {
    font-family: 'KangxiDictU626F';
    src: url('../../css/font/KangxiDictU626F.woff') format('woff'), url('../../css/font/KangxiDictU626F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
