@font-face {
    font-family: 'KangxiDictU8014';
    src: url('../../css/font/KangxiDictU8014.woff') format('woff'), url('../../css/font/KangxiDictU8014.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
