@font-face {
    font-family: 'KangxiDictU6643';
    src: url('../../css/font/KangxiDictU6643.woff') format('woff'), url('../../css/font/KangxiDictU6643.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
