@font-face {
    font-family: 'KangxiDictU8068';
    src: url('../../css/font/KangxiDictU8068.woff') format('woff'), url('../../css/font/KangxiDictU8068.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
