@font-face {
    font-family: 'KangxiDictU5232';
    src: url('../../css/font/KangxiDictU5232.woff') format('woff'), url('../../css/font/KangxiDictU5232.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
