@font-face {
    font-family: 'KangxiDictU9ECE';
    src: url('../../css/font/KangxiDictU9ECE.woff') format('woff'), url('../../css/font/KangxiDictU9ECE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
