@font-face {
    font-family: 'KangxiDictU7723';
    src: url('../../css/font/KangxiDictU7723.woff') format('woff'), url('../../css/font/KangxiDictU7723.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
