@font-face {
    font-family: 'KangxiDictU8093';
    src: url('../../css/font/KangxiDictU8093.woff') format('woff'), url('../../css/font/KangxiDictU8093.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
