@font-face {
    font-family: 'KangxiDictU5432';
    src: url('../../css/font/KangxiDictU5432.woff') format('woff'), url('../../css/font/KangxiDictU5432.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
