@font-face {
    font-family: 'KangxiDictU4F83';
    src: url('../../css/font/KangxiDictU4F83.woff') format('woff'), url('../../css/font/KangxiDictU4F83.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
