@font-face {
    font-family: 'KangxiDictU6538';
    src: url('../../css/font/KangxiDictU6538.woff') format('woff'), url('../../css/font/KangxiDictU6538.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
