@font-face {
    font-family: 'KangxiDictU9EDD';
    src: url('../../css/font/KangxiDictU9EDD.woff') format('woff'), url('../../css/font/KangxiDictU9EDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
