@font-face {
    font-family: 'KangxiDictU8467';
    src: url('../../css/font/KangxiDictU8467.woff') format('woff'), url('../../css/font/KangxiDictU8467.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
