@font-face {
    font-family: 'KangxiDictU5203';
    src: url('../../css/font/KangxiDictU5203.woff') format('woff'), url('../../css/font/KangxiDictU5203.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
