@font-face {
    font-family: 'KangxiDictU5159';
    src: url('../../css/font/KangxiDictU5159.woff') format('woff'), url('../../css/font/KangxiDictU5159.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
