@font-face {
    font-family: 'KangxiDictU9EEC';
    src: url('../../css/font/KangxiDictU9EEC.woff') format('woff'), url('../../css/font/KangxiDictU9EEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
