@font-face {
    font-family: 'KangxiDictU99E1';
    src: url('../../css/font/KangxiDictU99E1.woff') format('woff'), url('../../css/font/KangxiDictU99E1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
