@font-face {
    font-family: 'KangxiDictU5AA5';
    src: url('../../css/font/KangxiDictU5AA5.woff') format('woff'), url('../../css/font/KangxiDictU5AA5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
