@font-face {
    font-family: 'KangxiDictU636A';
    src: url('../../css/font/KangxiDictU636A.woff') format('woff'), url('../../css/font/KangxiDictU636A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
