@font-face {
    font-family: 'KangxiDictU603E';
    src: url('../../css/font/KangxiDictU603E.woff') format('woff'), url('../../css/font/KangxiDictU603E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
