@font-face {
    font-family: 'KangxiDictU783F';
    src: url('../../css/font/KangxiDictU783F.woff') format('woff'), url('../../css/font/KangxiDictU783F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
