@font-face {
    font-family: 'KangxiDictU6396';
    src: url('../../css/font/KangxiDictU6396.woff') format('woff'), url('../../css/font/KangxiDictU6396.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
