@font-face {
    font-family: 'KangxiDictU6047';
    src: url('../../css/font/KangxiDictU6047.woff') format('woff'), url('../../css/font/KangxiDictU6047.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
