@font-face {
    font-family: 'KangxiDictU7990';
    src: url('../../css/font/KangxiDictU7990.woff') format('woff'), url('../../css/font/KangxiDictU7990.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
