@font-face {
    font-family: 'KangxiDictU6727';
    src: url('../../css/font/KangxiDictU6727.woff') format('woff'), url('../../css/font/KangxiDictU6727.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
