@font-face {
    font-family: 'KangxiDictU6D3E';
    src: url('../../css/font/KangxiDictU6D3E.woff') format('woff'), url('../../css/font/KangxiDictU6D3E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
