@font-face {
    font-family: 'KangxiDictU5FF6';
    src: url('../../css/font/KangxiDictU5FF6.woff') format('woff'), url('../../css/font/KangxiDictU5FF6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
