@font-face {
    font-family: 'KangxiDictUF9FA';
    src: url('../../css/font/KangxiDictUF9FA.woff') format('woff'), url('../../css/font/KangxiDictUF9FA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
