@font-face {
    font-family: 'KangxiDictU9BCD';
    src: url('../../css/font/KangxiDictU9BCD.woff') format('woff'), url('../../css/font/KangxiDictU9BCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
