@font-face {
    font-family: 'KangxiDictU570A';
    src: url('../../css/font/KangxiDictU570A.woff') format('woff'), url('../../css/font/KangxiDictU570A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
