@font-face {
    font-family: 'KangxiDictU5398';
    src: url('../../css/font/KangxiDictU5398.woff') format('woff'), url('../../css/font/KangxiDictU5398.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
