@font-face {
    font-family: 'KangxiDictU72FA';
    src: url('../../css/font/KangxiDictU72FA.woff') format('woff'), url('../../css/font/KangxiDictU72FA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
