@font-face {
    font-family: 'KangxiDictU5435';
    src: url('../../css/font/KangxiDictU5435.woff') format('woff'), url('../../css/font/KangxiDictU5435.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
