@font-face {
    font-family: 'KangxiDictU7020';
    src: url('../../css/font/KangxiDictU7020.woff') format('woff'), url('../../css/font/KangxiDictU7020.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
