@font-face {
    font-family: 'KangxiDictU9603';
    src: url('../../css/font/KangxiDictU9603.woff') format('woff'), url('../../css/font/KangxiDictU9603.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
