@font-face {
    font-family: 'KangxiDictU960B';
    src: url('../../css/font/KangxiDictU960B.woff') format('woff'), url('../../css/font/KangxiDictU960B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
