@font-face {
    font-family: 'KangxiDictU732A';
    src: url('../../css/font/KangxiDictU732A.woff') format('woff'), url('../../css/font/KangxiDictU732A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
