@font-face {
    font-family: 'KangxiDictU7440';
    src: url('../../css/font/KangxiDictU7440.woff') format('woff'), url('../../css/font/KangxiDictU7440.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
