@font-face {
    font-family: 'KangxiDictU8766';
    src: url('../../css/font/KangxiDictU8766.woff') format('woff'), url('../../css/font/KangxiDictU8766.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
