@font-face {
    font-family: 'KangxiDictU897C';
    src: url('../../css/font/KangxiDictU897C.woff') format('woff'), url('../../css/font/KangxiDictU897C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
