@font-face {
    font-family: 'KangxiDictUFA3D';
    src: url('../../css/font/KangxiDictUFA3D.woff') format('woff'), url('../../css/font/KangxiDictUFA3D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
