@font-face {
    font-family: 'KangxiDictU6298';
    src: url('../../css/font/KangxiDictU6298.woff') format('woff'), url('../../css/font/KangxiDictU6298.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
