@font-face {
    font-family: 'KangxiDictU8774';
    src: url('../../css/font/KangxiDictU8774.woff') format('woff'), url('../../css/font/KangxiDictU8774.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
