@font-face {
    font-family: 'KangxiDictU56BC';
    src: url('../../css/font/KangxiDictU56BC.woff') format('woff'), url('../../css/font/KangxiDictU56BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
