@font-face {
    font-family: 'KangxiDictU8CD8';
    src: url('../../css/font/KangxiDictU8CD8.woff') format('woff'), url('../../css/font/KangxiDictU8CD8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
