@font-face {
    font-family: 'KangxiDictU7F3C';
    src: url('../../css/font/KangxiDictU7F3C.woff') format('woff'), url('../../css/font/KangxiDictU7F3C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
