@font-face {
    font-family: 'KangxiDictU5043';
    src: url('../../css/font/KangxiDictU5043.woff') format('woff'), url('../../css/font/KangxiDictU5043.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
