@font-face {
    font-family: 'KangxiDictU5097';
    src: url('../../css/font/KangxiDictU5097.woff') format('woff'), url('../../css/font/KangxiDictU5097.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
