@font-face {
    font-family: 'KangxiDictU5D83';
    src: url('../../css/font/KangxiDictU5D83.woff') format('woff'), url('../../css/font/KangxiDictU5D83.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
