@font-face {
    font-family: 'KangxiDictU7241';
    src: url('../../css/font/KangxiDictU7241.woff') format('woff'), url('../../css/font/KangxiDictU7241.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
