@font-face {
    font-family: 'KangxiDictU5721';
    src: url('../../css/font/KangxiDictU5721.woff') format('woff'), url('../../css/font/KangxiDictU5721.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
