@font-face {
    font-family: 'KangxiDictU635F';
    src: url('../../css/font/KangxiDictU635F.woff') format('woff'), url('../../css/font/KangxiDictU635F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
