@font-face {
    font-family: 'KangxiDictU9D02';
    src: url('../../css/font/KangxiDictU9D02.woff') format('woff'), url('../../css/font/KangxiDictU9D02.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
