@font-face {
    font-family: 'KangxiDictU61AC';
    src: url('../../css/font/KangxiDictU61AC.woff') format('woff'), url('../../css/font/KangxiDictU61AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
