@font-face {
    font-family: 'KangxiDictU7748';
    src: url('../../css/font/KangxiDictU7748.woff') format('woff'), url('../../css/font/KangxiDictU7748.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
