@font-face {
    font-family: 'KangxiDictU5711';
    src: url('../../css/font/KangxiDictU5711.woff') format('woff'), url('../../css/font/KangxiDictU5711.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
