@font-face {
    font-family: 'KangxiDictU5506';
    src: url('../../css/font/KangxiDictU5506.woff') format('woff'), url('../../css/font/KangxiDictU5506.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
