@font-face {
    font-family: 'KangxiDictU7072';
    src: url('../../css/font/KangxiDictU7072.woff') format('woff'), url('../../css/font/KangxiDictU7072.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
