@font-face {
    font-family: 'KangxiDictU8BF6';
    src: url('../../css/font/KangxiDictU8BF6.woff') format('woff'), url('../../css/font/KangxiDictU8BF6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
