@font-face {
    font-family: 'KangxiDictU6653';
    src: url('../../css/font/KangxiDictU6653.woff') format('woff'), url('../../css/font/KangxiDictU6653.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
