@font-face {
    font-family: 'KangxiDictU6124';
    src: url('../../css/font/KangxiDictU6124.woff') format('woff'), url('../../css/font/KangxiDictU6124.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
