@font-face {
    font-family: 'KangxiDictU5834';
    src: url('../../css/font/KangxiDictU5834.woff') format('woff'), url('../../css/font/KangxiDictU5834.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
