@font-face {
    font-family: 'KangxiDictU7AF1';
    src: url('../../css/font/KangxiDictU7AF1.woff') format('woff'), url('../../css/font/KangxiDictU7AF1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
