@font-face {
    font-family: 'KangxiDictU59AB';
    src: url('../../css/font/KangxiDictU59AB.woff') format('woff'), url('../../css/font/KangxiDictU59AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
