@font-face {
    font-family: 'KangxiDictU5698';
    src: url('../../css/font/KangxiDictU5698.woff') format('woff'), url('../../css/font/KangxiDictU5698.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
