@font-face {
    font-family: 'KangxiDictU755F';
    src: url('../../css/font/KangxiDictU755F.woff') format('woff'), url('../../css/font/KangxiDictU755F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
