@font-face {
    font-family: 'KangxiDictU5500';
    src: url('../../css/font/KangxiDictU5500.woff') format('woff'), url('../../css/font/KangxiDictU5500.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
