@font-face {
    font-family: 'KangxiDictU5E77';
    src: url('../../css/font/KangxiDictU5E77.woff') format('woff'), url('../../css/font/KangxiDictU5E77.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
