@font-face {
    font-family: 'KangxiDictU8F76';
    src: url('../../css/font/KangxiDictU8F76.woff') format('woff'), url('../../css/font/KangxiDictU8F76.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
