@font-face {
    font-family: 'KangxiDictUFA47';
    src: url('../../css/font/KangxiDictUFA47.woff') format('woff'), url('../../css/font/KangxiDictUFA47.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
