@font-face {
    font-family: 'KangxiDictU8FFA';
    src: url('../../css/font/KangxiDictU8FFA.woff') format('woff'), url('../../css/font/KangxiDictU8FFA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
