@font-face {
    font-family: 'KangxiDictU5656';
    src: url('../../css/font/KangxiDictU5656.woff') format('woff'), url('../../css/font/KangxiDictU5656.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
