@font-face {
    font-family: 'KangxiDictU5338';
    src: url('../../css/font/KangxiDictU5338.woff') format('woff'), url('../../css/font/KangxiDictU5338.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
