@font-face {
    font-family: 'KangxiDictU9321';
    src: url('../../css/font/KangxiDictU9321.woff') format('woff'), url('../../css/font/KangxiDictU9321.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
