@font-face {
    font-family: 'KangxiDictU84CB';
    src: url('../../css/font/KangxiDictU84CB.woff') format('woff'), url('../../css/font/KangxiDictU84CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
