@font-face {
    font-family: 'KangxiDictU557F';
    src: url('../../css/font/KangxiDictU557F.woff') format('woff'), url('../../css/font/KangxiDictU557F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
