@font-face {
    font-family: 'KangxiDictU6C68';
    src: url('../../css/font/KangxiDictU6C68.woff') format('woff'), url('../../css/font/KangxiDictU6C68.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
