@font-face {
    font-family: 'KangxiDictU77DA';
    src: url('../../css/font/KangxiDictU77DA.woff') format('woff'), url('../../css/font/KangxiDictU77DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
