@font-face {
    font-family: 'KangxiDictU72AC';
    src: url('../../css/font/KangxiDictU72AC.woff') format('woff'), url('../../css/font/KangxiDictU72AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
