@font-face {
    font-family: 'KangxiDictU525A';
    src: url('../../css/font/KangxiDictU525A.woff') format('woff'), url('../../css/font/KangxiDictU525A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
