@font-face {
    font-family: 'KangxiDictU4EDF';
    src: url('../../css/font/KangxiDictU4EDF.woff') format('woff'), url('../../css/font/KangxiDictU4EDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
