@font-face {
    font-family: 'KangxiDictUF972';
    src: url('../../css/font/KangxiDictUF972.woff') format('woff'), url('../../css/font/KangxiDictUF972.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
