@font-face {
    font-family: 'KangxiDictU5723';
    src: url('../../css/font/KangxiDictU5723.woff') format('woff'), url('../../css/font/KangxiDictU5723.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
