@font-face {
    font-family: 'KangxiDictU6280';
    src: url('../../css/font/KangxiDictU6280.woff') format('woff'), url('../../css/font/KangxiDictU6280.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
