@font-face {
    font-family: 'KangxiDictU98DA';
    src: url('../../css/font/KangxiDictU98DA.woff') format('woff'), url('../../css/font/KangxiDictU98DA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
