@font-face {
    font-family: 'KangxiDictU7545';
    src: url('../../css/font/KangxiDictU7545.woff') format('woff'), url('../../css/font/KangxiDictU7545.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
