@font-face {
    font-family: 'KangxiDictUF968';
    src: url('../../css/font/KangxiDictUF968.woff') format('woff'), url('../../css/font/KangxiDictUF968.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
