@font-face {
    font-family: 'KangxiDictU864F';
    src: url('../../css/font/KangxiDictU864F.woff') format('woff'), url('../../css/font/KangxiDictU864F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
