@font-face {
    font-family: 'KangxiDictU5F7F';
    src: url('../../css/font/KangxiDictU5F7F.woff') format('woff'), url('../../css/font/KangxiDictU5F7F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
