@font-face {
    font-family: 'KangxiDictU6583';
    src: url('../../css/font/KangxiDictU6583.woff') format('woff'), url('../../css/font/KangxiDictU6583.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
