@font-face {
    font-family: 'KangxiDictU9661';
    src: url('../../css/font/KangxiDictU9661.woff') format('woff'), url('../../css/font/KangxiDictU9661.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
