@font-face {
    font-family: 'KangxiDictU9A23';
    src: url('../../css/font/KangxiDictU9A23.woff') format('woff'), url('../../css/font/KangxiDictU9A23.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
