@font-face {
    font-family: 'KangxiDictU513F';
    src: url('../../css/font/KangxiDictU513F.woff') format('woff'), url('../../css/font/KangxiDictU513F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
