@font-face {
    font-family: 'KangxiDictU806A';
    src: url('../../css/font/KangxiDictU806A.woff') format('woff'), url('../../css/font/KangxiDictU806A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
