@font-face {
    font-family: 'KangxiDictU7B65';
    src: url('../../css/font/KangxiDictU7B65.woff') format('woff'), url('../../css/font/KangxiDictU7B65.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
