@font-face {
    font-family: 'KangxiDictU59BC';
    src: url('../../css/font/KangxiDictU59BC.woff') format('woff'), url('../../css/font/KangxiDictU59BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
