@font-face {
    font-family: 'KangxiDictU6FEE';
    src: url('../../css/font/KangxiDictU6FEE.woff') format('woff'), url('../../css/font/KangxiDictU6FEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
