@font-face {
    font-family: 'KangxiDictU4FFB';
    src: url('../../css/font/KangxiDictU4FFB.woff') format('woff'), url('../../css/font/KangxiDictU4FFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
