@font-face {
    font-family: 'KangxiDictU5B19';
    src: url('../../css/font/KangxiDictU5B19.woff') format('woff'), url('../../css/font/KangxiDictU5B19.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
