@font-face {
    font-family: 'KangxiDictU5891';
    src: url('../../css/font/KangxiDictU5891.woff') format('woff'), url('../../css/font/KangxiDictU5891.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
