@font-face {
    font-family: 'KangxiDictU6549';
    src: url('../../css/font/KangxiDictU6549.woff') format('woff'), url('../../css/font/KangxiDictU6549.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
