@font-face {
    font-family: 'KangxiDictU5DAB';
    src: url('../../css/font/KangxiDictU5DAB.woff') format('woff'), url('../../css/font/KangxiDictU5DAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
