@font-face {
    font-family: 'KangxiDictU7A24';
    src: url('../../css/font/KangxiDictU7A24.woff') format('woff'), url('../../css/font/KangxiDictU7A24.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
