@font-face {
    font-family: 'KangxiDictU8219';
    src: url('../../css/font/KangxiDictU8219.woff') format('woff'), url('../../css/font/KangxiDictU8219.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
