@font-face {
    font-family: 'KangxiDictU9EE8';
    src: url('../../css/font/KangxiDictU9EE8.woff') format('woff'), url('../../css/font/KangxiDictU9EE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
