@font-face {
    font-family: 'KangxiDictU8DA1';
    src: url('../../css/font/KangxiDictU8DA1.woff') format('woff'), url('../../css/font/KangxiDictU8DA1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
