@font-face {
    font-family: 'KangxiDictU8D6B';
    src: url('../../css/font/KangxiDictU8D6B.woff') format('woff'), url('../../css/font/KangxiDictU8D6B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
