@font-face {
    font-family: 'KangxiDictU5818';
    src: url('../../css/font/KangxiDictU5818.woff') format('woff'), url('../../css/font/KangxiDictU5818.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
