@font-face {
    font-family: 'KangxiDictU96A8';
    src: url('../../css/font/KangxiDictU96A8.woff') format('woff'), url('../../css/font/KangxiDictU96A8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
