@font-face {
    font-family: 'KangxiDictU8897';
    src: url('../../css/font/KangxiDictU8897.woff') format('woff'), url('../../css/font/KangxiDictU8897.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
