@font-face {
    font-family: 'KangxiDictU531F';
    src: url('../../css/font/KangxiDictU531F.woff') format('woff'), url('../../css/font/KangxiDictU531F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
