@font-face {
    font-family: 'KangxiDictU9379';
    src: url('../../css/font/KangxiDictU9379.woff') format('woff'), url('../../css/font/KangxiDictU9379.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
