@font-face {
    font-family: 'KangxiDictU7837';
    src: url('../../css/font/KangxiDictU7837.woff') format('woff'), url('../../css/font/KangxiDictU7837.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
