@font-face {
    font-family: 'KangxiDictU6BC7';
    src: url('../../css/font/KangxiDictU6BC7.woff') format('woff'), url('../../css/font/KangxiDictU6BC7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
