@font-face {
    font-family: 'KangxiDictU6493';
    src: url('../../css/font/KangxiDictU6493.woff') format('woff'), url('../../css/font/KangxiDictU6493.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
