@font-face {
    font-family: 'KangxiDictU7932';
    src: url('../../css/font/KangxiDictU7932.woff') format('woff'), url('../../css/font/KangxiDictU7932.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
