@font-face {
    font-family: 'KangxiDictUF91A';
    src: url('../../css/font/KangxiDictUF91A.woff') format('woff'), url('../../css/font/KangxiDictUF91A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
