@font-face {
    font-family: 'KangxiDictU921E';
    src: url('../../css/font/KangxiDictU921E.woff') format('woff'), url('../../css/font/KangxiDictU921E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
