@font-face {
    font-family: 'KangxiDictU8229';
    src: url('../../css/font/KangxiDictU8229.woff') format('woff'), url('../../css/font/KangxiDictU8229.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
