@font-face {
    font-family: 'KangxiDictU864D';
    src: url('../../css/font/KangxiDictU864D.woff') format('woff'), url('../../css/font/KangxiDictU864D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
