@font-face {
    font-family: 'KangxiDictU7272';
    src: url('../../css/font/KangxiDictU7272.woff') format('woff'), url('../../css/font/KangxiDictU7272.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
