@font-face {
    font-family: 'KangxiDictU658C';
    src: url('../../css/font/KangxiDictU658C.woff') format('woff'), url('../../css/font/KangxiDictU658C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
