@font-face {
    font-family: 'KangxiDictU722A';
    src: url('../../css/font/KangxiDictU722A.woff') format('woff'), url('../../css/font/KangxiDictU722A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
