@font-face {
    font-family: 'KangxiDictU9621';
    src: url('../../css/font/KangxiDictU9621.woff') format('woff'), url('../../css/font/KangxiDictU9621.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
