@font-face {
    font-family: 'KangxiDictU5927';
    src: url('../../css/font/KangxiDictU5927.woff') format('woff'), url('../../css/font/KangxiDictU5927.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
