@font-face {
    font-family: 'KangxiDictU8237';
    src: url('../../css/font/KangxiDictU8237.woff') format('woff'), url('../../css/font/KangxiDictU8237.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
