@font-face {
    font-family: 'KangxiDictU4E97';
    src: url('../../css/font/KangxiDictU4E97.woff') format('woff'), url('../../css/font/KangxiDictU4E97.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
