@font-face {
    font-family: 'KangxiDictU5C81';
    src: url('../../css/font/KangxiDictU5C81.woff') format('woff'), url('../../css/font/KangxiDictU5C81.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
