@font-face {
    font-family: 'KangxiDictU8751';
    src: url('../../css/font/KangxiDictU8751.woff') format('woff'), url('../../css/font/KangxiDictU8751.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
