@font-face {
    font-family: 'KangxiDictU6274';
    src: url('../../css/font/KangxiDictU6274.woff') format('woff'), url('../../css/font/KangxiDictU6274.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
