@font-face {
    font-family: 'KangxiDictU5216';
    src: url('../../css/font/KangxiDictU5216.woff') format('woff'), url('../../css/font/KangxiDictU5216.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
