@font-face {
    font-family: 'KangxiDictU8038';
    src: url('../../css/font/KangxiDictU8038.woff') format('woff'), url('../../css/font/KangxiDictU8038.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
