@font-face {
    font-family: 'KangxiDictU6BA9';
    src: url('../../css/font/KangxiDictU6BA9.woff') format('woff'), url('../../css/font/KangxiDictU6BA9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
