@font-face {
    font-family: 'KangxiDictU7318';
    src: url('../../css/font/KangxiDictU7318.woff') format('woff'), url('../../css/font/KangxiDictU7318.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
