@font-face {
    font-family: 'KangxiDictU5837';
    src: url('../../css/font/KangxiDictU5837.woff') format('woff'), url('../../css/font/KangxiDictU5837.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
