@font-face {
    font-family: 'KangxiDictU84FD';
    src: url('../../css/font/KangxiDictU84FD.woff') format('woff'), url('../../css/font/KangxiDictU84FD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
