@font-face {
    font-family: 'KangxiDictU56F2';
    src: url('../../css/font/KangxiDictU56F2.woff') format('woff'), url('../../css/font/KangxiDictU56F2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
