@font-face {
    font-family: 'KangxiDictU7580';
    src: url('../../css/font/KangxiDictU7580.woff') format('woff'), url('../../css/font/KangxiDictU7580.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
