@font-face {
    font-family: 'KangxiDictU6884';
    src: url('../../css/font/KangxiDictU6884.woff') format('woff'), url('../../css/font/KangxiDictU6884.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
