@font-face {
    font-family: 'KangxiDictU5A30';
    src: url('../../css/font/KangxiDictU5A30.woff') format('woff'), url('../../css/font/KangxiDictU5A30.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
