@font-face {
    font-family: 'KangxiDictU4E86';
    src: url('../../css/font/KangxiDictU4E86.woff') format('woff'), url('../../css/font/KangxiDictU4E86.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
