@font-face {
    font-family: 'KangxiDictUFA92';
    src: url('../../css/font/KangxiDictUFA92.woff') format('woff'), url('../../css/font/KangxiDictUFA92.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
