@font-face {
    font-family: 'KangxiDictU9D65';
    src: url('../../css/font/KangxiDictU9D65.woff') format('woff'), url('../../css/font/KangxiDictU9D65.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
