@font-face {
    font-family: 'KangxiDictU5119';
    src: url('../../css/font/KangxiDictU5119.woff') format('woff'), url('../../css/font/KangxiDictU5119.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
