@font-face {
    font-family: 'KangxiDictU5D00';
    src: url('../../css/font/KangxiDictU5D00.woff') format('woff'), url('../../css/font/KangxiDictU5D00.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
