@font-face {
    font-family: 'KangxiDictU8286';
    src: url('../../css/font/KangxiDictU8286.woff') format('woff'), url('../../css/font/KangxiDictU8286.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
