@font-face {
    font-family: 'KangxiDictU5323';
    src: url('../../css/font/KangxiDictU5323.woff') format('woff'), url('../../css/font/KangxiDictU5323.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
