@font-face {
    font-family: 'KangxiDictU5446';
    src: url('../../css/font/KangxiDictU5446.woff') format('woff'), url('../../css/font/KangxiDictU5446.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
