@font-face {
    font-family: 'KangxiDictUF976';
    src: url('../../css/font/KangxiDictUF976.woff') format('woff'), url('../../css/font/KangxiDictUF976.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
