@font-face {
    font-family: 'KangxiDictU9ACF';
    src: url('../../css/font/KangxiDictU9ACF.woff') format('woff'), url('../../css/font/KangxiDictU9ACF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
