@font-face {
    font-family: 'KangxiDictUF9B3';
    src: url('../../css/font/KangxiDictUF9B3.woff') format('woff'), url('../../css/font/KangxiDictUF9B3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
