@font-face {
    font-family: 'KangxiDictU7976';
    src: url('../../css/font/KangxiDictU7976.woff') format('woff'), url('../../css/font/KangxiDictU7976.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
