@font-face {
    font-family: 'KangxiDictU6602';
    src: url('../../css/font/KangxiDictU6602.woff') format('woff'), url('../../css/font/KangxiDictU6602.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
