@font-face {
    font-family: 'KangxiDictU8581';
    src: url('../../css/font/KangxiDictU8581.woff') format('woff'), url('../../css/font/KangxiDictU8581.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
