@font-face {
    font-family: 'KangxiDictU6E24';
    src: url('../../css/font/KangxiDictU6E24.woff') format('woff'), url('../../css/font/KangxiDictU6E24.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
