@font-face {
    font-family: 'KangxiDictU5EEB';
    src: url('../../css/font/KangxiDictU5EEB.woff') format('woff'), url('../../css/font/KangxiDictU5EEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
