@font-face {
    font-family: 'KangxiDictU7D68';
    src: url('../../css/font/KangxiDictU7D68.woff') format('woff'), url('../../css/font/KangxiDictU7D68.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
