@font-face {
    font-family: 'KangxiDictU9E92';
    src: url('../../css/font/KangxiDictU9E92.woff') format('woff'), url('../../css/font/KangxiDictU9E92.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
