@font-face {
    font-family: 'KangxiDictU973F';
    src: url('../../css/font/KangxiDictU973F.woff') format('woff'), url('../../css/font/KangxiDictU973F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
