@font-face {
    font-family: 'KangxiDictUF917';
    src: url('../../css/font/KangxiDictUF917.woff') format('woff'), url('../../css/font/KangxiDictUF917.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
