@font-face {
    font-family: 'KangxiDictU8792';
    src: url('../../css/font/KangxiDictU8792.woff') format('woff'), url('../../css/font/KangxiDictU8792.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
