@font-face {
    font-family: 'KangxiDictU9333';
    src: url('../../css/font/KangxiDictU9333.woff') format('woff'), url('../../css/font/KangxiDictU9333.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
