@font-face {
    font-family: 'KangxiDictU7875';
    src: url('../../css/font/KangxiDictU7875.woff') format('woff'), url('../../css/font/KangxiDictU7875.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
