@font-face {
    font-family: 'KangxiDictU4E7E';
    src: url('../../css/font/KangxiDictU4E7E.woff') format('woff'), url('../../css/font/KangxiDictU4E7E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
