@font-face {
    font-family: 'KangxiDictU9512';
    src: url('../../css/font/KangxiDictU9512.woff') format('woff'), url('../../css/font/KangxiDictU9512.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
