@font-face {
    font-family: 'KangxiDictU9FFE';
    src: url('../../css/font/KangxiDictU9FFE.woff') format('woff'), url('../../css/font/KangxiDictU9FFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
