@font-face {
    font-family: 'KangxiDictU98FF';
    src: url('../../css/font/KangxiDictU98FF.woff') format('woff'), url('../../css/font/KangxiDictU98FF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
