@font-face {
    font-family: 'KangxiDictU9764';
    src: url('../../css/font/KangxiDictU9764.woff') format('woff'), url('../../css/font/KangxiDictU9764.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
