@font-face {
    font-family: 'KangxiDictU5BFE';
    src: url('../../css/font/KangxiDictU5BFE.woff') format('woff'), url('../../css/font/KangxiDictU5BFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
