@font-face {
    font-family: 'KangxiDictU7BAA';
    src: url('../../css/font/KangxiDictU7BAA.woff') format('woff'), url('../../css/font/KangxiDictU7BAA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
