@font-face {
    font-family: 'KangxiDictU6E8E';
    src: url('../../css/font/KangxiDictU6E8E.woff') format('woff'), url('../../css/font/KangxiDictU6E8E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
