@font-face {
    font-family: 'KangxiDictU4F30';
    src: url('../../css/font/KangxiDictU4F30.woff') format('woff'), url('../../css/font/KangxiDictU4F30.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
