@font-face {
    font-family: 'KangxiDictU612B';
    src: url('../../css/font/KangxiDictU612B.woff') format('woff'), url('../../css/font/KangxiDictU612B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
