@font-face {
    font-family: 'KangxiDictU7091';
    src: url('../../css/font/KangxiDictU7091.woff') format('woff'), url('../../css/font/KangxiDictU7091.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
