@font-face {
    font-family: 'KangxiDictU5AC4';
    src: url('../../css/font/KangxiDictU5AC4.woff') format('woff'), url('../../css/font/KangxiDictU5AC4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
