@font-face {
    font-family: 'KangxiDictU855E';
    src: url('../../css/font/KangxiDictU855E.woff') format('woff'), url('../../css/font/KangxiDictU855E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
