@font-face {
    font-family: 'KangxiDictU8600';
    src: url('../../css/font/KangxiDictU8600.woff') format('woff'), url('../../css/font/KangxiDictU8600.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
