@font-face {
    font-family: 'KangxiDictU4EAB';
    src: url('../../css/font/KangxiDictU4EAB.woff') format('woff'), url('../../css/font/KangxiDictU4EAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
