@font-face {
    font-family: 'KangxiDictU7898';
    src: url('../../css/font/KangxiDictU7898.woff') format('woff'), url('../../css/font/KangxiDictU7898.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
