@font-face {
    font-family: 'KangxiDictU5EEF';
    src: url('../../css/font/KangxiDictU5EEF.woff') format('woff'), url('../../css/font/KangxiDictU5EEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
