@font-face {
    font-family: 'KangxiDictUF9A0';
    src: url('../../css/font/KangxiDictUF9A0.woff') format('woff'), url('../../css/font/KangxiDictUF9A0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
