@font-face {
    font-family: 'KangxiDictU60E7';
    src: url('../../css/font/KangxiDictU60E7.woff') format('woff'), url('../../css/font/KangxiDictU60E7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
