@font-face {
    font-family: 'KangxiDictU570C';
    src: url('../../css/font/KangxiDictU570C.woff') format('woff'), url('../../css/font/KangxiDictU570C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
