@font-face {
    font-family: 'KangxiDictU8056';
    src: url('../../css/font/KangxiDictU8056.woff') format('woff'), url('../../css/font/KangxiDictU8056.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
