@font-face {
    font-family: 'KangxiDictU5EC0';
    src: url('../../css/font/KangxiDictU5EC0.woff') format('woff'), url('../../css/font/KangxiDictU5EC0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
