@font-face {
    font-family: 'KangxiDictU9180';
    src: url('../../css/font/KangxiDictU9180.woff') format('woff'), url('../../css/font/KangxiDictU9180.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
