@font-face {
    font-family: 'KangxiDictU6CBF';
    src: url('../../css/font/KangxiDictU6CBF.woff') format('woff'), url('../../css/font/KangxiDictU6CBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
