@font-face {
    font-family: 'KangxiDictU8592';
    src: url('../../css/font/KangxiDictU8592.woff') format('woff'), url('../../css/font/KangxiDictU8592.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
