@font-face {
    font-family: 'KangxiDictU7F28';
    src: url('../../css/font/KangxiDictU7F28.woff') format('woff'), url('../../css/font/KangxiDictU7F28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
