@font-face {
    font-family: 'KangxiDictU9DCB';
    src: url('../../css/font/KangxiDictU9DCB.woff') format('woff'), url('../../css/font/KangxiDictU9DCB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
