@font-face {
    font-family: 'KangxiDictU4EBC';
    src: url('../../css/font/KangxiDictU4EBC.woff') format('woff'), url('../../css/font/KangxiDictU4EBC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
