@font-face {
    font-family: 'KangxiDictU50BD';
    src: url('../../css/font/KangxiDictU50BD.woff') format('woff'), url('../../css/font/KangxiDictU50BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
