@font-face {
    font-family: 'KangxiDictU8982';
    src: url('../../css/font/KangxiDictU8982.woff') format('woff'), url('../../css/font/KangxiDictU8982.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
