@font-face {
    font-family: 'KangxiDictU746F';
    src: url('../../css/font/KangxiDictU746F.woff') format('woff'), url('../../css/font/KangxiDictU746F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
