@font-face {
    font-family: 'KangxiDictU511A';
    src: url('../../css/font/KangxiDictU511A.woff') format('woff'), url('../../css/font/KangxiDictU511A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
