@font-face {
    font-family: 'KangxiDictUFAF8';
    src: url('../../css/font/KangxiDictUFAF8.woff') format('woff'), url('../../css/font/KangxiDictUFAF8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
