@font-face {
    font-family: 'KangxiDictU619B';
    src: url('../../css/font/KangxiDictU619B.woff') format('woff'), url('../../css/font/KangxiDictU619B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
