@font-face {
    font-family: 'KangxiDictUF974';
    src: url('../../css/font/KangxiDictUF974.woff') format('woff'), url('../../css/font/KangxiDictUF974.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
