@font-face {
    font-family: 'KangxiDictU5101';
    src: url('../../css/font/KangxiDictU5101.woff') format('woff'), url('../../css/font/KangxiDictU5101.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
