@font-face {
    font-family: 'KangxiDictU9220';
    src: url('../../css/font/KangxiDictU9220.woff') format('woff'), url('../../css/font/KangxiDictU9220.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
