@font-face {
    font-family: 'KangxiDictUFA3B';
    src: url('../../css/font/KangxiDictUFA3B.woff') format('woff'), url('../../css/font/KangxiDictUFA3B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
