@font-face {
    font-family: 'KangxiDictU8107';
    src: url('../../css/font/KangxiDictU8107.woff') format('woff'), url('../../css/font/KangxiDictU8107.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
