@font-face {
    font-family: 'KangxiDictU4E09';
    src: url('../../css/font/KangxiDictU4E09.woff') format('woff'), url('../../css/font/KangxiDictU4E09.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
