@font-face {
    font-family: 'KangxiDictU9212';
    src: url('../../css/font/KangxiDictU9212.woff') format('woff'), url('../../css/font/KangxiDictU9212.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
