@font-face {
    font-family: 'KangxiDictU9CD1';
    src: url('../../css/font/KangxiDictU9CD1.woff') format('woff'), url('../../css/font/KangxiDictU9CD1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
