@font-face {
    font-family: 'KangxiDictU9B52';
    src: url('../../css/font/KangxiDictU9B52.woff') format('woff'), url('../../css/font/KangxiDictU9B52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
