@font-face {
    font-family: 'KangxiDictU9727';
    src: url('../../css/font/KangxiDictU9727.woff') format('woff'), url('../../css/font/KangxiDictU9727.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
