@font-face {
    font-family: 'KangxiDictU8770';
    src: url('../../css/font/KangxiDictU8770.woff') format('woff'), url('../../css/font/KangxiDictU8770.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
