@font-face {
    font-family: 'KangxiDictU6ED3';
    src: url('../../css/font/KangxiDictU6ED3.woff') format('woff'), url('../../css/font/KangxiDictU6ED3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
