@font-face {
    font-family: 'KangxiDictU7574';
    src: url('../../css/font/KangxiDictU7574.woff') format('woff'), url('../../css/font/KangxiDictU7574.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
