@font-face {
    font-family: 'KangxiDictU9413';
    src: url('../../css/font/KangxiDictU9413.woff') format('woff'), url('../../css/font/KangxiDictU9413.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
