@font-face {
    font-family: 'KangxiDictU6C83';
    src: url('../../css/font/KangxiDictU6C83.woff') format('woff'), url('../../css/font/KangxiDictU6C83.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
