@font-face {
    font-family: 'KangxiDictU6DEE';
    src: url('../../css/font/KangxiDictU6DEE.woff') format('woff'), url('../../css/font/KangxiDictU6DEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
