@font-face {
    font-family: 'KangxiDictU9746';
    src: url('../../css/font/KangxiDictU9746.woff') format('woff'), url('../../css/font/KangxiDictU9746.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
