@font-face {
    font-family: 'KangxiDictU9519';
    src: url('../../css/font/KangxiDictU9519.woff') format('woff'), url('../../css/font/KangxiDictU9519.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
