@font-face {
    font-family: 'KangxiDictU700B';
    src: url('../../css/font/KangxiDictU700B.woff') format('woff'), url('../../css/font/KangxiDictU700B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
