@font-face {
    font-family: 'KangxiDictU4EF3';
    src: url('../../css/font/KangxiDictU4EF3.woff') format('woff'), url('../../css/font/KangxiDictU4EF3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
