@font-face {
    font-family: 'KangxiDictU7080';
    src: url('../../css/font/KangxiDictU7080.woff') format('woff'), url('../../css/font/KangxiDictU7080.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
