@font-face {
    font-family: 'KangxiDictU8FFB';
    src: url('../../css/font/KangxiDictU8FFB.woff') format('woff'), url('../../css/font/KangxiDictU8FFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
