@font-face {
    font-family: 'KangxiDictUF96E';
    src: url('../../css/font/KangxiDictUF96E.woff') format('woff'), url('../../css/font/KangxiDictUF96E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
