@font-face {
    font-family: 'KangxiDictU598F';
    src: url('../../css/font/KangxiDictU598F.woff') format('woff'), url('../../css/font/KangxiDictU598F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
