@font-face {
    font-family: 'KangxiDictU9CE4';
    src: url('../../css/font/KangxiDictU9CE4.woff') format('woff'), url('../../css/font/KangxiDictU9CE4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
