@font-face {
    font-family: 'KangxiDictU7325';
    src: url('../../css/font/KangxiDictU7325.woff') format('woff'), url('../../css/font/KangxiDictU7325.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
