@font-face {
    font-family: 'KangxiDictU8940';
    src: url('../../css/font/KangxiDictU8940.woff') format('woff'), url('../../css/font/KangxiDictU8940.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
