@font-face {
    font-family: 'KangxiDictU9ECC';
    src: url('../../css/font/KangxiDictU9ECC.woff') format('woff'), url('../../css/font/KangxiDictU9ECC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
