@font-face {
    font-family: 'KangxiDictU93BA';
    src: url('../../css/font/KangxiDictU93BA.woff') format('woff'), url('../../css/font/KangxiDictU93BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
