@font-face {
    font-family: 'KangxiDictU98AA';
    src: url('../../css/font/KangxiDictU98AA.woff') format('woff'), url('../../css/font/KangxiDictU98AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
