@font-face {
    font-family: 'KangxiDictU7973';
    src: url('../../css/font/KangxiDictU7973.woff') format('woff'), url('../../css/font/KangxiDictU7973.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
