@font-face {
    font-family: 'KangxiDictU5247';
    src: url('../../css/font/KangxiDictU5247.woff') format('woff'), url('../../css/font/KangxiDictU5247.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
