@font-face {
    font-family: 'KangxiDictU896B';
    src: url('../../css/font/KangxiDictU896B.woff') format('woff'), url('../../css/font/KangxiDictU896B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
