@font-face {
    font-family: 'KangxiDictU5ADA';
    src: url('../../css/font/KangxiDictU5ADA.woff') format('woff'), url('../../css/font/KangxiDictU5ADA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
