@font-face {
    font-family: 'KangxiDictU510B';
    src: url('../../css/font/KangxiDictU510B.woff') format('woff'), url('../../css/font/KangxiDictU510B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
