@font-face {
    font-family: 'KangxiDictU846C';
    src: url('../../css/font/KangxiDictU846C.woff') format('woff'), url('../../css/font/KangxiDictU846C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
