@font-face {
    font-family: 'KangxiDictU8F63';
    src: url('../../css/font/KangxiDictU8F63.woff') format('woff'), url('../../css/font/KangxiDictU8F63.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
