@font-face {
    font-family: 'KangxiDictU60CB';
    src: url('../../css/font/KangxiDictU60CB.woff') format('woff'), url('../../css/font/KangxiDictU60CB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
