@font-face {
    font-family: 'KangxiDictU5659';
    src: url('../../css/font/KangxiDictU5659.woff') format('woff'), url('../../css/font/KangxiDictU5659.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
