@font-face {
    font-family: 'KangxiDictU7887';
    src: url('../../css/font/KangxiDictU7887.woff') format('woff'), url('../../css/font/KangxiDictU7887.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
