@font-face {
    font-family: 'KangxiDictU7974';
    src: url('../../css/font/KangxiDictU7974.woff') format('woff'), url('../../css/font/KangxiDictU7974.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
