@font-face {
    font-family: 'KangxiDictU86CD';
    src: url('../../css/font/KangxiDictU86CD.woff') format('woff'), url('../../css/font/KangxiDictU86CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
