@font-face {
    font-family: 'KangxiDictU9BAF';
    src: url('../../css/font/KangxiDictU9BAF.woff') format('woff'), url('../../css/font/KangxiDictU9BAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
