@font-face {
    font-family: 'KangxiDictU9A20';
    src: url('../../css/font/KangxiDictU9A20.woff') format('woff'), url('../../css/font/KangxiDictU9A20.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
