@font-face {
    font-family: 'KangxiDictU7765';
    src: url('../../css/font/KangxiDictU7765.woff') format('woff'), url('../../css/font/KangxiDictU7765.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
