@font-face {
    font-family: 'KangxiDictU876D';
    src: url('../../css/font/KangxiDictU876D.woff') format('woff'), url('../../css/font/KangxiDictU876D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
