@font-face {
    font-family: 'KangxiDictU86AA';
    src: url('../../css/font/KangxiDictU86AA.woff') format('woff'), url('../../css/font/KangxiDictU86AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
