@font-face {
    font-family: 'KangxiDictU8137';
    src: url('../../css/font/KangxiDictU8137.woff') format('woff'), url('../../css/font/KangxiDictU8137.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
