@font-face {
    font-family: 'KangxiDictU57FF';
    src: url('../../css/font/KangxiDictU57FF.woff') format('woff'), url('../../css/font/KangxiDictU57FF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
