@font-face {
    font-family: 'KangxiDictU624C';
    src: url('../../css/font/KangxiDictU624C.woff') format('woff'), url('../../css/font/KangxiDictU624C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
