@font-face {
    font-family: 'KangxiDictU841A';
    src: url('../../css/font/KangxiDictU841A.woff') format('woff'), url('../../css/font/KangxiDictU841A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
