@font-face {
    font-family: 'KangxiDictU9647';
    src: url('../../css/font/KangxiDictU9647.woff') format('woff'), url('../../css/font/KangxiDictU9647.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
