@font-face {
    font-family: 'KangxiDictU8629';
    src: url('../../css/font/KangxiDictU8629.woff') format('woff'), url('../../css/font/KangxiDictU8629.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
