@font-face {
    font-family: 'KangxiDictU8596';
    src: url('../../css/font/KangxiDictU8596.woff') format('woff'), url('../../css/font/KangxiDictU8596.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
