@font-face {
    font-family: 'KangxiDictU7031';
    src: url('../../css/font/KangxiDictU7031.woff') format('woff'), url('../../css/font/KangxiDictU7031.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
