@font-face {
    font-family: 'KangxiDictU79B7';
    src: url('../../css/font/KangxiDictU79B7.woff') format('woff'), url('../../css/font/KangxiDictU79B7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
