@font-face {
    font-family: 'KangxiDictU4FDA';
    src: url('../../css/font/KangxiDictU4FDA.woff') format('woff'), url('../../css/font/KangxiDictU4FDA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
