@font-face {
    font-family: 'KangxiDictU8235';
    src: url('../../css/font/KangxiDictU8235.woff') format('woff'), url('../../css/font/KangxiDictU8235.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
