@font-face {
    font-family: 'KangxiDictU5FAD';
    src: url('../../css/font/KangxiDictU5FAD.woff') format('woff'), url('../../css/font/KangxiDictU5FAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
