@font-face {
    font-family: 'KangxiDictU6FD0';
    src: url('../../css/font/KangxiDictU6FD0.woff') format('woff'), url('../../css/font/KangxiDictU6FD0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
