@font-face {
    font-family: 'KangxiDictU745A';
    src: url('../../css/font/KangxiDictU745A.woff') format('woff'), url('../../css/font/KangxiDictU745A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
