@font-face {
    font-family: 'KangxiDictU893C';
    src: url('../../css/font/KangxiDictU893C.woff') format('woff'), url('../../css/font/KangxiDictU893C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
