@font-face {
    font-family: 'KangxiDictU6470';
    src: url('../../css/font/KangxiDictU6470.woff') format('woff'), url('../../css/font/KangxiDictU6470.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
