@font-face {
    font-family: 'KangxiDictU6217';
    src: url('../../css/font/KangxiDictU6217.woff') format('woff'), url('../../css/font/KangxiDictU6217.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
