@font-face {
    font-family: 'KangxiDictU873B';
    src: url('../../css/font/KangxiDictU873B.woff') format('woff'), url('../../css/font/KangxiDictU873B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
