@font-face {
    font-family: 'KangxiDictU8276';
    src: url('../../css/font/KangxiDictU8276.woff') format('woff'), url('../../css/font/KangxiDictU8276.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
