@font-face {
    font-family: 'KangxiDictU9B02';
    src: url('../../css/font/KangxiDictU9B02.woff') format('woff'), url('../../css/font/KangxiDictU9B02.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
