@font-face {
    font-family: 'KangxiDictU9A09';
    src: url('../../css/font/KangxiDictU9A09.woff') format('woff'), url('../../css/font/KangxiDictU9A09.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
