@font-face {
    font-family: 'KangxiDictU8638';
    src: url('../../css/font/KangxiDictU8638.woff') format('woff'), url('../../css/font/KangxiDictU8638.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
