@font-face {
    font-family: 'KangxiDictU7C91';
    src: url('../../css/font/KangxiDictU7C91.woff') format('woff'), url('../../css/font/KangxiDictU7C91.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
