@font-face {
    font-family: 'KangxiDictU9535';
    src: url('../../css/font/KangxiDictU9535.woff') format('woff'), url('../../css/font/KangxiDictU9535.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
