@font-face {
    font-family: 'KangxiDictU63AA';
    src: url('../../css/font/KangxiDictU63AA.woff') format('woff'), url('../../css/font/KangxiDictU63AA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
