@font-face {
    font-family: 'KangxiDictU9052';
    src: url('../../css/font/KangxiDictU9052.woff') format('woff'), url('../../css/font/KangxiDictU9052.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
