@font-face {
    font-family: 'KangxiDictU6010';
    src: url('../../css/font/KangxiDictU6010.woff') format('woff'), url('../../css/font/KangxiDictU6010.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
