@font-face {
    font-family: 'KangxiDictU9F97';
    src: url('../../css/font/KangxiDictU9F97.woff') format('woff'), url('../../css/font/KangxiDictU9F97.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
