@font-face {
    font-family: 'KangxiDictU911A';
    src: url('../../css/font/KangxiDictU911A.woff') format('woff'), url('../../css/font/KangxiDictU911A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
