@font-face {
    font-family: 'KangxiDictU8141';
    src: url('../../css/font/KangxiDictU8141.woff') format('woff'), url('../../css/font/KangxiDictU8141.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
