@font-face {
    font-family: 'KangxiDictU80EB';
    src: url('../../css/font/KangxiDictU80EB.woff') format('woff'), url('../../css/font/KangxiDictU80EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
