@font-face {
    font-family: 'KangxiDictU6144';
    src: url('../../css/font/KangxiDictU6144.woff') format('woff'), url('../../css/font/KangxiDictU6144.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
