@font-face {
    font-family: 'KangxiDictU58E6';
    src: url('../../css/font/KangxiDictU58E6.woff') format('woff'), url('../../css/font/KangxiDictU58E6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
