@font-face {
    font-family: 'KangxiDictU7DEB';
    src: url('../../css/font/KangxiDictU7DEB.woff') format('woff'), url('../../css/font/KangxiDictU7DEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
