@font-face {
    font-family: 'KangxiDictU6A53';
    src: url('../../css/font/KangxiDictU6A53.woff') format('woff'), url('../../css/font/KangxiDictU6A53.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
