@font-face {
    font-family: 'KangxiDictU5D78';
    src: url('../../css/font/KangxiDictU5D78.woff') format('woff'), url('../../css/font/KangxiDictU5D78.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
