@font-face {
    font-family: 'KangxiDictU7937';
    src: url('../../css/font/KangxiDictU7937.woff') format('woff'), url('../../css/font/KangxiDictU7937.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
