@font-face {
    font-family: 'KangxiDictU9267';
    src: url('../../css/font/KangxiDictU9267.woff') format('woff'), url('../../css/font/KangxiDictU9267.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
