@font-face {
    font-family: 'KangxiDictU7538';
    src: url('../../css/font/KangxiDictU7538.woff') format('woff'), url('../../css/font/KangxiDictU7538.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
