@font-face {
    font-family: 'KangxiDictU7CDC';
    src: url('../../css/font/KangxiDictU7CDC.woff') format('woff'), url('../../css/font/KangxiDictU7CDC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
