@font-face {
    font-family: 'KangxiDictU9AAD';
    src: url('../../css/font/KangxiDictU9AAD.woff') format('woff'), url('../../css/font/KangxiDictU9AAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
