@font-face {
    font-family: 'KangxiDictU9EFB';
    src: url('../../css/font/KangxiDictU9EFB.woff') format('woff'), url('../../css/font/KangxiDictU9EFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
