@font-face {
    font-family: 'KangxiDictU5508';
    src: url('../../css/font/KangxiDictU5508.woff') format('woff'), url('../../css/font/KangxiDictU5508.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
