@font-face {
    font-family: 'KangxiDictU96B5';
    src: url('../../css/font/KangxiDictU96B5.woff') format('woff'), url('../../css/font/KangxiDictU96B5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
