@font-face {
    font-family: 'KangxiDictUF9AC';
    src: url('../../css/font/KangxiDictUF9AC.woff') format('woff'), url('../../css/font/KangxiDictUF9AC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
