@font-face {
    font-family: 'KangxiDictU8360';
    src: url('../../css/font/KangxiDictU8360.woff') format('woff'), url('../../css/font/KangxiDictU8360.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
