@font-face {
    font-family: 'KangxiDictU9B8E';
    src: url('../../css/font/KangxiDictU9B8E.woff') format('woff'), url('../../css/font/KangxiDictU9B8E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
