@font-face {
    font-family: 'KangxiDictU64EE';
    src: url('../../css/font/KangxiDictU64EE.woff') format('woff'), url('../../css/font/KangxiDictU64EE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
