@font-face {
    font-family: 'KangxiDictU5F74';
    src: url('../../css/font/KangxiDictU5F74.woff') format('woff'), url('../../css/font/KangxiDictU5F74.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
