@font-face {
    font-family: 'KangxiDictU90CD';
    src: url('../../css/font/KangxiDictU90CD.woff') format('woff'), url('../../css/font/KangxiDictU90CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
