@font-face {
    font-family: 'KangxiDictU693C';
    src: url('../../css/font/KangxiDictU693C.woff') format('woff'), url('../../css/font/KangxiDictU693C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
