@font-face {
    font-family: 'KangxiDictU9740';
    src: url('../../css/font/KangxiDictU9740.woff') format('woff'), url('../../css/font/KangxiDictU9740.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
