@font-face {
    font-family: 'KangxiDictU6024';
    src: url('../../css/font/KangxiDictU6024.woff') format('woff'), url('../../css/font/KangxiDictU6024.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
