@font-face {
    font-family: 'KangxiDictU7482';
    src: url('../../css/font/KangxiDictU7482.woff') format('woff'), url('../../css/font/KangxiDictU7482.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
