@font-face {
    font-family: 'KangxiDictU6623';
    src: url('../../css/font/KangxiDictU6623.woff') format('woff'), url('../../css/font/KangxiDictU6623.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
