@font-face {
    font-family: 'KangxiDictUFABB';
    src: url('../../css/font/KangxiDictUFABB.woff') format('woff'), url('../../css/font/KangxiDictUFABB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
