@font-face {
    font-family: 'KangxiDictU9EA8';
    src: url('../../css/font/KangxiDictU9EA8.woff') format('woff'), url('../../css/font/KangxiDictU9EA8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
