@font-face {
    font-family: 'KangxiDictU5569';
    src: url('../../css/font/KangxiDictU5569.woff') format('woff'), url('../../css/font/KangxiDictU5569.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
