@font-face {
    font-family: 'KangxiDictU5A2E';
    src: url('../../css/font/KangxiDictU5A2E.woff') format('woff'), url('../../css/font/KangxiDictU5A2E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
