@font-face {
    font-family: 'KangxiDictU9622';
    src: url('../../css/font/KangxiDictU9622.woff') format('woff'), url('../../css/font/KangxiDictU9622.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
