@font-face {
    font-family: 'KangxiDictU515B';
    src: url('../../css/font/KangxiDictU515B.woff') format('woff'), url('../../css/font/KangxiDictU515B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
