@font-face {
    font-family: 'KangxiDictU8D98';
    src: url('../../css/font/KangxiDictU8D98.woff') format('woff'), url('../../css/font/KangxiDictU8D98.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
