@font-face {
    font-family: 'KangxiDictU8025';
    src: url('../../css/font/KangxiDictU8025.woff') format('woff'), url('../../css/font/KangxiDictU8025.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
