@font-face {
    font-family: 'KangxiDictU5676';
    src: url('../../css/font/KangxiDictU5676.woff') format('woff'), url('../../css/font/KangxiDictU5676.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
