@font-face {
    font-family: 'KangxiDictU7BC1';
    src: url('../../css/font/KangxiDictU7BC1.woff') format('woff'), url('../../css/font/KangxiDictU7BC1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
