@font-face {
    font-family: 'KangxiDictU85BD';
    src: url('../../css/font/KangxiDictU85BD.woff') format('woff'), url('../../css/font/KangxiDictU85BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
