@font-face {
    font-family: 'KangxiDictU8946';
    src: url('../../css/font/KangxiDictU8946.woff') format('woff'), url('../../css/font/KangxiDictU8946.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
