@font-face {
    font-family: 'KangxiDictU9B5C';
    src: url('../../css/font/KangxiDictU9B5C.woff') format('woff'), url('../../css/font/KangxiDictU9B5C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
