@font-face {
    font-family: 'KangxiDictU7CFA';
    src: url('../../css/font/KangxiDictU7CFA.woff') format('woff'), url('../../css/font/KangxiDictU7CFA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
