@font-face {
    font-family: 'KangxiDictU6409';
    src: url('../../css/font/KangxiDictU6409.woff') format('woff'), url('../../css/font/KangxiDictU6409.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
