@font-face {
    font-family: 'KangxiDictU7056';
    src: url('../../css/font/KangxiDictU7056.woff') format('woff'), url('../../css/font/KangxiDictU7056.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
