@font-face {
    font-family: 'KangxiDictU7869';
    src: url('../../css/font/KangxiDictU7869.woff') format('woff'), url('../../css/font/KangxiDictU7869.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
