@font-face {
    font-family: 'KangxiDictU9705';
    src: url('../../css/font/KangxiDictU9705.woff') format('woff'), url('../../css/font/KangxiDictU9705.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
