@font-face {
    font-family: 'KangxiDictU4FAA';
    src: url('../../css/font/KangxiDictU4FAA.woff') format('woff'), url('../../css/font/KangxiDictU4FAA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
