@font-face {
    font-family: 'KangxiDictU68BA';
    src: url('../../css/font/KangxiDictU68BA.woff') format('woff'), url('../../css/font/KangxiDictU68BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
