@font-face {
    font-family: 'KangxiDictU9F17';
    src: url('../../css/font/KangxiDictU9F17.woff') format('woff'), url('../../css/font/KangxiDictU9F17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
