@font-face {
    font-family: 'KangxiDictU6A21';
    src: url('../../css/font/KangxiDictU6A21.woff') format('woff'), url('../../css/font/KangxiDictU6A21.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
