@font-face {
    font-family: 'KangxiDictU6570';
    src: url('../../css/font/KangxiDictU6570.woff') format('woff'), url('../../css/font/KangxiDictU6570.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
