@font-face {
    font-family: 'KangxiDictU8948';
    src: url('../../css/font/KangxiDictU8948.woff') format('woff'), url('../../css/font/KangxiDictU8948.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
