@font-face {
    font-family: 'KangxiDictU8ABA';
    src: url('../../css/font/KangxiDictU8ABA.woff') format('woff'), url('../../css/font/KangxiDictU8ABA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
