@font-face {
    font-family: 'KangxiDictU5EED';
    src: url('../../css/font/KangxiDictU5EED.woff') format('woff'), url('../../css/font/KangxiDictU5EED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
