@font-face {
    font-family: 'KangxiDictU94A9';
    src: url('../../css/font/KangxiDictU94A9.woff') format('woff'), url('../../css/font/KangxiDictU94A9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
