@font-face {
    font-family: 'KangxiDictU52AB';
    src: url('../../css/font/KangxiDictU52AB.woff') format('woff'), url('../../css/font/KangxiDictU52AB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
