@font-face {
    font-family: 'KangxiDictU5DD8';
    src: url('../../css/font/KangxiDictU5DD8.woff') format('woff'), url('../../css/font/KangxiDictU5DD8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
