@font-face {
    font-family: 'KangxiDictU7D31';
    src: url('../../css/font/KangxiDictU7D31.woff') format('woff'), url('../../css/font/KangxiDictU7D31.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
