@font-face {
    font-family: 'KangxiDictU7059';
    src: url('../../css/font/KangxiDictU7059.woff') format('woff'), url('../../css/font/KangxiDictU7059.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
