@font-face {
    font-family: 'KangxiDictU5428';
    src: url('../../css/font/KangxiDictU5428.woff') format('woff'), url('../../css/font/KangxiDictU5428.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
