@font-face {
    font-family: 'KangxiDictU7BD1';
    src: url('../../css/font/KangxiDictU7BD1.woff') format('woff'), url('../../css/font/KangxiDictU7BD1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
