@font-face {
    font-family: 'KangxiDictU6331';
    src: url('../../css/font/KangxiDictU6331.woff') format('woff'), url('../../css/font/KangxiDictU6331.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
