@font-face {
    font-family: 'KangxiDictU5877';
    src: url('../../css/font/KangxiDictU5877.woff') format('woff'), url('../../css/font/KangxiDictU5877.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
