@font-face {
    font-family: 'KangxiDictU5C32';
    src: url('../../css/font/KangxiDictU5C32.woff') format('woff'), url('../../css/font/KangxiDictU5C32.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
