@font-face {
    font-family: 'KangxiDictU5EEC';
    src: url('../../css/font/KangxiDictU5EEC.woff') format('woff'), url('../../css/font/KangxiDictU5EEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
