@font-face {
    font-family: 'KangxiDictU6C6C';
    src: url('../../css/font/KangxiDictU6C6C.woff') format('woff'), url('../../css/font/KangxiDictU6C6C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
