@font-face {
    font-family: 'KangxiDictU6625';
    src: url('../../css/font/KangxiDictU6625.woff') format('woff'), url('../../css/font/KangxiDictU6625.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
