@font-face {
    font-family: 'KangxiDictU7AB2';
    src: url('../../css/font/KangxiDictU7AB2.woff') format('woff'), url('../../css/font/KangxiDictU7AB2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
