@font-face {
    font-family: 'KangxiDictU8182';
    src: url('../../css/font/KangxiDictU8182.woff') format('woff'), url('../../css/font/KangxiDictU8182.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
