@font-face {
    font-family: 'KangxiDictU8306';
    src: url('../../css/font/KangxiDictU8306.woff') format('woff'), url('../../css/font/KangxiDictU8306.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
