@font-face {
    font-family: 'KangxiDictU5746';
    src: url('../../css/font/KangxiDictU5746.woff') format('woff'), url('../../css/font/KangxiDictU5746.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
