@font-face {
    font-family: 'KangxiDictU6498';
    src: url('../../css/font/KangxiDictU6498.woff') format('woff'), url('../../css/font/KangxiDictU6498.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
