@font-face {
    font-family: 'KangxiDictU9362';
    src: url('../../css/font/KangxiDictU9362.woff') format('woff'), url('../../css/font/KangxiDictU9362.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
