@font-face {
    font-family: 'KangxiDictU818F';
    src: url('../../css/font/KangxiDictU818F.woff') format('woff'), url('../../css/font/KangxiDictU818F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
