@font-face {
    font-family: 'KangxiDictU6370';
    src: url('../../css/font/KangxiDictU6370.woff') format('woff'), url('../../css/font/KangxiDictU6370.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
