@font-face {
    font-family: 'KangxiDictU690A';
    src: url('../../css/font/KangxiDictU690A.woff') format('woff'), url('../../css/font/KangxiDictU690A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
