@font-face {
    font-family: 'KangxiDictU9F57';
    src: url('../../css/font/KangxiDictU9F57.woff') format('woff'), url('../../css/font/KangxiDictU9F57.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
