@font-face {
    font-family: 'KangxiDictU8989';
    src: url('../../css/font/KangxiDictU8989.woff') format('woff'), url('../../css/font/KangxiDictU8989.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
