@font-face {
    font-family: 'KangxiDictU5246';
    src: url('../../css/font/KangxiDictU5246.woff') format('woff'), url('../../css/font/KangxiDictU5246.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
