@font-face {
    font-family: 'KangxiDictU749A';
    src: url('../../css/font/KangxiDictU749A.woff') format('woff'), url('../../css/font/KangxiDictU749A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
