@font-face {
    font-family: 'KangxiDictU773E';
    src: url('../../css/font/KangxiDictU773E.woff') format('woff'), url('../../css/font/KangxiDictU773E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
