@font-face {
    font-family: 'KangxiDictU9FF7';
    src: url('../../css/font/KangxiDictU9FF7.woff') format('woff'), url('../../css/font/KangxiDictU9FF7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
