@font-face {
    font-family: 'KangxiDictUFAE8';
    src: url('../../css/font/KangxiDictUFAE8.woff') format('woff'), url('../../css/font/KangxiDictUFAE8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
