@font-face {
    font-family: 'KangxiDictU8240';
    src: url('../../css/font/KangxiDictU8240.woff') format('woff'), url('../../css/font/KangxiDictU8240.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
