@font-face {
    font-family: 'KangxiDictUF977';
    src: url('../../css/font/KangxiDictUF977.woff') format('woff'), url('../../css/font/KangxiDictUF977.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
