@font-face {
    font-family: 'KangxiDictU6486';
    src: url('../../css/font/KangxiDictU6486.woff') format('woff'), url('../../css/font/KangxiDictU6486.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
