@font-face {
    font-family: 'KangxiDictU6676';
    src: url('../../css/font/KangxiDictU6676.woff') format('woff'), url('../../css/font/KangxiDictU6676.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
