@font-face {
    font-family: 'KangxiDictU8520';
    src: url('../../css/font/KangxiDictU8520.woff') format('woff'), url('../../css/font/KangxiDictU8520.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
