@font-face {
    font-family: 'KangxiDictU5CAF';
    src: url('../../css/font/KangxiDictU5CAF.woff') format('woff'), url('../../css/font/KangxiDictU5CAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
