@font-face {
    font-family: 'KangxiDictU5401';
    src: url('../../css/font/KangxiDictU5401.woff') format('woff'), url('../../css/font/KangxiDictU5401.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
