@font-face {
    font-family: 'KangxiDictU5121';
    src: url('../../css/font/KangxiDictU5121.woff') format('woff'), url('../../css/font/KangxiDictU5121.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
