@font-face {
    font-family: 'KangxiDictU6994';
    src: url('../../css/font/KangxiDictU6994.woff') format('woff'), url('../../css/font/KangxiDictU6994.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
