@font-face {
    font-family: 'KangxiDictU5029';
    src: url('../../css/font/KangxiDictU5029.woff') format('woff'), url('../../css/font/KangxiDictU5029.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
