@font-face {
    font-family: 'KangxiDictU7E53';
    src: url('../../css/font/KangxiDictU7E53.woff') format('woff'), url('../../css/font/KangxiDictU7E53.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
