@font-face {
    font-family: 'KangxiDictU5874';
    src: url('../../css/font/KangxiDictU5874.woff') format('woff'), url('../../css/font/KangxiDictU5874.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
