@font-face {
    font-family: 'KangxiDictU79BE';
    src: url('../../css/font/KangxiDictU79BE.woff') format('woff'), url('../../css/font/KangxiDictU79BE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
