@font-face {
    font-family: 'KangxiDictU6E0C';
    src: url('../../css/font/KangxiDictU6E0C.woff') format('woff'), url('../../css/font/KangxiDictU6E0C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
