@font-face {
    font-family: 'KangxiDictU9288';
    src: url('../../css/font/KangxiDictU9288.woff') format('woff'), url('../../css/font/KangxiDictU9288.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
