@font-face {
    font-family: 'KangxiDictU9351';
    src: url('../../css/font/KangxiDictU9351.woff') format('woff'), url('../../css/font/KangxiDictU9351.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
