@font-face {
    font-family: 'KangxiDictUF9D6';
    src: url('../../css/font/KangxiDictUF9D6.woff') format('woff'), url('../../css/font/KangxiDictUF9D6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
