@font-face {
    font-family: 'KangxiDictUF96C';
    src: url('../../css/font/KangxiDictUF96C.woff') format('woff'), url('../../css/font/KangxiDictUF96C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
