@font-face {
    font-family: 'KangxiDictU5CCF';
    src: url('../../css/font/KangxiDictU5CCF.woff') format('woff'), url('../../css/font/KangxiDictU5CCF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
