@font-face {
    font-family: 'KangxiDictU8282';
    src: url('../../css/font/KangxiDictU8282.woff') format('woff'), url('../../css/font/KangxiDictU8282.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
