@font-face {
    font-family: 'KangxiDictU5724';
    src: url('../../css/font/KangxiDictU5724.woff') format('woff'), url('../../css/font/KangxiDictU5724.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
