@font-face {
    font-family: 'KangxiDictU8FAD';
    src: url('../../css/font/KangxiDictU8FAD.woff') format('woff'), url('../../css/font/KangxiDictU8FAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
