@font-face {
    font-family: 'KangxiDictU6731';
    src: url('../../css/font/KangxiDictU6731.woff') format('woff'), url('../../css/font/KangxiDictU6731.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
