@font-face {
    font-family: 'KangxiDictU7125';
    src: url('../../css/font/KangxiDictU7125.woff') format('woff'), url('../../css/font/KangxiDictU7125.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
