@font-face {
    font-family: 'KangxiDictU98FC';
    src: url('../../css/font/KangxiDictU98FC.woff') format('woff'), url('../../css/font/KangxiDictU98FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
