@font-face {
    font-family: 'KangxiDictU5990';
    src: url('../../css/font/KangxiDictU5990.woff') format('woff'), url('../../css/font/KangxiDictU5990.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
