@font-face {
    font-family: 'KangxiDictU8303';
    src: url('../../css/font/KangxiDictU8303.woff') format('woff'), url('../../css/font/KangxiDictU8303.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
