@font-face {
    font-family: 'KangxiDictU7424';
    src: url('../../css/font/KangxiDictU7424.woff') format('woff'), url('../../css/font/KangxiDictU7424.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
