@font-face {
    font-family: 'KangxiDictU893E';
    src: url('../../css/font/KangxiDictU893E.woff') format('woff'), url('../../css/font/KangxiDictU893E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
