@font-face {
    font-family: 'KangxiDictU9995';
    src: url('../../css/font/KangxiDictU9995.woff') format('woff'), url('../../css/font/KangxiDictU9995.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
