@font-face {
    font-family: 'KangxiDictUF9EB';
    src: url('../../css/font/KangxiDictUF9EB.woff') format('woff'), url('../../css/font/KangxiDictUF9EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
