@font-face {
    font-family: 'KangxiDictU7EC8';
    src: url('../../css/font/KangxiDictU7EC8.woff') format('woff'), url('../../css/font/KangxiDictU7EC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
