@font-face {
    font-family: 'KangxiDictU7F93';
    src: url('../../css/font/KangxiDictU7F93.woff') format('woff'), url('../../css/font/KangxiDictU7F93.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
