@font-face {
    font-family: 'KangxiDictU8099';
    src: url('../../css/font/KangxiDictU8099.woff') format('woff'), url('../../css/font/KangxiDictU8099.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
