@font-face {
    font-family: 'KangxiDictU6224';
    src: url('../../css/font/KangxiDictU6224.woff') format('woff'), url('../../css/font/KangxiDictU6224.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
