@font-face {
    font-family: 'KangxiDictU91CC';
    src: url('../../css/font/KangxiDictU91CC.woff') format('woff'), url('../../css/font/KangxiDictU91CC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
