@font-face {
    font-family: 'KangxiDictU8CB0';
    src: url('../../css/font/KangxiDictU8CB0.woff') format('woff'), url('../../css/font/KangxiDictU8CB0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
