@font-face {
    font-family: 'KangxiDictU9BAC';
    src: url('../../css/font/KangxiDictU9BAC.woff') format('woff'), url('../../css/font/KangxiDictU9BAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
