@font-face {
    font-family: 'KangxiDictU9106';
    src: url('../../css/font/KangxiDictU9106.woff') format('woff'), url('../../css/font/KangxiDictU9106.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
