@font-face {
    font-family: 'KangxiDictU7654';
    src: url('../../css/font/KangxiDictU7654.woff') format('woff'), url('../../css/font/KangxiDictU7654.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
