@font-face {
    font-family: 'KangxiDictU6FEA';
    src: url('../../css/font/KangxiDictU6FEA.woff') format('woff'), url('../../css/font/KangxiDictU6FEA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
