@font-face {
    font-family: 'KangxiDictU6588';
    src: url('../../css/font/KangxiDictU6588.woff') format('woff'), url('../../css/font/KangxiDictU6588.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
