@font-face {
    font-family: 'KangxiDictU58D6';
    src: url('../../css/font/KangxiDictU58D6.woff') format('woff'), url('../../css/font/KangxiDictU58D6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
