@font-face {
    font-family: 'KangxiDictU5AFC';
    src: url('../../css/font/KangxiDictU5AFC.woff') format('woff'), url('../../css/font/KangxiDictU5AFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
