@font-face {
    font-family: 'KangxiDictU609A';
    src: url('../../css/font/KangxiDictU609A.woff') format('woff'), url('../../css/font/KangxiDictU609A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
