@font-face {
    font-family: 'KangxiDictU8196';
    src: url('../../css/font/KangxiDictU8196.woff') format('woff'), url('../../css/font/KangxiDictU8196.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
