@font-face {
    font-family: 'KangxiDictU5299';
    src: url('../../css/font/KangxiDictU5299.woff') format('woff'), url('../../css/font/KangxiDictU5299.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
