@font-face {
    font-family: 'KangxiDictU8029';
    src: url('../../css/font/KangxiDictU8029.woff') format('woff'), url('../../css/font/KangxiDictU8029.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
