@font-face {
    font-family: 'KangxiDictU7082';
    src: url('../../css/font/KangxiDictU7082.woff') format('woff'), url('../../css/font/KangxiDictU7082.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
