@font-face {
    font-family: 'KangxiDictU5DBA';
    src: url('../../css/font/KangxiDictU5DBA.woff') format('woff'), url('../../css/font/KangxiDictU5DBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
