@font-face {
    font-family: 'KangxiDictU55FE';
    src: url('../../css/font/KangxiDictU55FE.woff') format('woff'), url('../../css/font/KangxiDictU55FE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
