@font-face {
    font-family: 'KangxiDictUFA26';
    src: url('../../css/font/KangxiDictUFA26.woff') format('woff'), url('../../css/font/KangxiDictUFA26.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
