@font-face {
    font-family: 'KangxiDictU8736';
    src: url('../../css/font/KangxiDictU8736.woff') format('woff'), url('../../css/font/KangxiDictU8736.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
