@font-face {
    font-family: 'KangxiDictU8742';
    src: url('../../css/font/KangxiDictU8742.woff') format('woff'), url('../../css/font/KangxiDictU8742.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
