@font-face {
    font-family: 'KangxiDictU65DB';
    src: url('../../css/font/KangxiDictU65DB.woff') format('woff'), url('../../css/font/KangxiDictU65DB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
