@font-face {
    font-family: 'KangxiDictU993B';
    src: url('../../css/font/KangxiDictU993B.woff') format('woff'), url('../../css/font/KangxiDictU993B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
