@font-face {
    font-family: 'KangxiDictU6156';
    src: url('../../css/font/KangxiDictU6156.woff') format('woff'), url('../../css/font/KangxiDictU6156.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
