@font-face {
    font-family: 'KangxiDictUF985';
    src: url('../../css/font/KangxiDictUF985.woff') format('woff'), url('../../css/font/KangxiDictUF985.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
