@font-face {
    font-family: 'KangxiDictUF983';
    src: url('../../css/font/KangxiDictUF983.woff') format('woff'), url('../../css/font/KangxiDictUF983.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
