@font-face {
    font-family: 'KangxiDictU55ED';
    src: url('../../css/font/KangxiDictU55ED.woff') format('woff'), url('../../css/font/KangxiDictU55ED.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
