@font-face {
    font-family: 'KangxiDictU8232';
    src: url('../../css/font/KangxiDictU8232.woff') format('woff'), url('../../css/font/KangxiDictU8232.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
