@font-face {
    font-family: 'KangxiDictU7165';
    src: url('../../css/font/KangxiDictU7165.woff') format('woff'), url('../../css/font/KangxiDictU7165.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
