@font-face {
    font-family: 'KangxiDictU633B';
    src: url('../../css/font/KangxiDictU633B.woff') format('woff'), url('../../css/font/KangxiDictU633B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
