@font-face {
    font-family: 'KangxiDictU9733';
    src: url('../../css/font/KangxiDictU9733.woff') format('woff'), url('../../css/font/KangxiDictU9733.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
