@font-face {
    font-family: 'KangxiDictU51BD';
    src: url('../../css/font/KangxiDictU51BD.woff') format('woff'), url('../../css/font/KangxiDictU51BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
