@font-face {
    font-family: 'KangxiDictU8868';
    src: url('../../css/font/KangxiDictU8868.woff') format('woff'), url('../../css/font/KangxiDictU8868.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
