@font-face {
    font-family: 'KangxiDictU7FA5';
    src: url('../../css/font/KangxiDictU7FA5.woff') format('woff'), url('../../css/font/KangxiDictU7FA5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
