@font-face {
    font-family: 'KangxiDictU6145';
    src: url('../../css/font/KangxiDictU6145.woff') format('woff'), url('../../css/font/KangxiDictU6145.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
