@font-face {
    font-family: 'KangxiDictU6C0E';
    src: url('../../css/font/KangxiDictU6C0E.woff') format('woff'), url('../../css/font/KangxiDictU6C0E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
