@font-face {
    font-family: 'KangxiDictU7B50';
    src: url('../../css/font/KangxiDictU7B50.woff') format('woff'), url('../../css/font/KangxiDictU7B50.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
