@font-face {
    font-family: 'KangxiDictU7710';
    src: url('../../css/font/KangxiDictU7710.woff') format('woff'), url('../../css/font/KangxiDictU7710.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
