@font-face {
    font-family: 'KangxiDictU4EBA';
    src: url('../../css/font/KangxiDictU4EBA.woff') format('woff'), url('../../css/font/KangxiDictU4EBA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
