@font-face {
    font-family: 'KangxiDictU7A8F';
    src: url('../../css/font/KangxiDictU7A8F.woff') format('woff'), url('../../css/font/KangxiDictU7A8F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
