@font-face {
    font-family: 'KangxiDictU7781';
    src: url('../../css/font/KangxiDictU7781.woff') format('woff'), url('../../css/font/KangxiDictU7781.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
