@font-face {
    font-family: 'KangxiDictU9745';
    src: url('../../css/font/KangxiDictU9745.woff') format('woff'), url('../../css/font/KangxiDictU9745.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
