@font-face {
    font-family: 'KangxiDictU7899';
    src: url('../../css/font/KangxiDictU7899.woff') format('woff'), url('../../css/font/KangxiDictU7899.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
