@font-face {
    font-family: 'KangxiDictU7263';
    src: url('../../css/font/KangxiDictU7263.woff') format('woff'), url('../../css/font/KangxiDictU7263.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
