@font-face {
    font-family: 'KangxiDictU52FB';
    src: url('../../css/font/KangxiDictU52FB.woff') format('woff'), url('../../css/font/KangxiDictU52FB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
