@font-face {
    font-family: 'KangxiDictU7FDF';
    src: url('../../css/font/KangxiDictU7FDF.woff') format('woff'), url('../../css/font/KangxiDictU7FDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
