@font-face {
    font-family: 'KangxiDictU8FCD';
    src: url('../../css/font/KangxiDictU8FCD.woff') format('woff'), url('../../css/font/KangxiDictU8FCD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
