@font-face {
    font-family: 'KangxiDictU6528';
    src: url('../../css/font/KangxiDictU6528.woff') format('woff'), url('../../css/font/KangxiDictU6528.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
