@font-face {
    font-family: 'KangxiDictU6089';
    src: url('../../css/font/KangxiDictU6089.woff') format('woff'), url('../../css/font/KangxiDictU6089.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
