@font-face {
    font-family: 'KangxiDictU87BC';
    src: url('../../css/font/KangxiDictU87BC.woff') format('woff'), url('../../css/font/KangxiDictU87BC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
