@font-face {
    font-family: 'KangxiDictU70AE';
    src: url('../../css/font/KangxiDictU70AE.woff') format('woff'), url('../../css/font/KangxiDictU70AE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
