@font-face {
    font-family: 'KangxiDictU5279';
    src: url('../../css/font/KangxiDictU5279.woff') format('woff'), url('../../css/font/KangxiDictU5279.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
