@font-face {
    font-family: 'KangxiDictU9252';
    src: url('../../css/font/KangxiDictU9252.woff') format('woff'), url('../../css/font/KangxiDictU9252.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
