@font-face {
    font-family: 'KangxiDictU5572';
    src: url('../../css/font/KangxiDictU5572.woff') format('woff'), url('../../css/font/KangxiDictU5572.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
