@font-face {
    font-family: 'KangxiDictU5DDF';
    src: url('../../css/font/KangxiDictU5DDF.woff') format('woff'), url('../../css/font/KangxiDictU5DDF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
