@font-face {
    font-family: 'KangxiDictU9475';
    src: url('../../css/font/KangxiDictU9475.woff') format('woff'), url('../../css/font/KangxiDictU9475.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
