@font-face {
    font-family: 'KangxiDictU7595';
    src: url('../../css/font/KangxiDictU7595.woff') format('woff'), url('../../css/font/KangxiDictU7595.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
