@font-face {
    font-family: 'KangxiDictU8DAF';
    src: url('../../css/font/KangxiDictU8DAF.woff') format('woff'), url('../../css/font/KangxiDictU8DAF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
