@font-face {
    font-family: 'KangxiDictU934E';
    src: url('../../css/font/KangxiDictU934E.woff') format('woff'), url('../../css/font/KangxiDictU934E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
