@font-face {
    font-family: 'KangxiDictU7DDB';
    src: url('../../css/font/KangxiDictU7DDB.woff') format('woff'), url('../../css/font/KangxiDictU7DDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
