@font-face {
    font-family: 'KangxiDictU7FE1';
    src: url('../../css/font/KangxiDictU7FE1.woff') format('woff'), url('../../css/font/KangxiDictU7FE1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
