@font-face {
    font-family: 'KangxiDictU7672';
    src: url('../../css/font/KangxiDictU7672.woff') format('woff'), url('../../css/font/KangxiDictU7672.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
