@font-face {
    font-family: 'KangxiDictU8832';
    src: url('../../css/font/KangxiDictU8832.woff') format('woff'), url('../../css/font/KangxiDictU8832.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
