@font-face {
    font-family: 'KangxiDictU6CAC';
    src: url('../../css/font/KangxiDictU6CAC.woff') format('woff'), url('../../css/font/KangxiDictU6CAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
