@font-face {
    font-family: 'KangxiDictU9C54';
    src: url('../../css/font/KangxiDictU9C54.woff') format('woff'), url('../../css/font/KangxiDictU9C54.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
