@font-face {
    font-family: 'KangxiDictU6D15';
    src: url('../../css/font/KangxiDictU6D15.woff') format('woff'), url('../../css/font/KangxiDictU6D15.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
