@font-face {
    font-family: 'KangxiDictU6E94';
    src: url('../../css/font/KangxiDictU6E94.woff') format('woff'), url('../../css/font/KangxiDictU6E94.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
