@font-face {
    font-family: 'KangxiDictU8451';
    src: url('../../css/font/KangxiDictU8451.woff') format('woff'), url('../../css/font/KangxiDictU8451.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
