@font-face {
    font-family: 'KangxiDictU8782';
    src: url('../../css/font/KangxiDictU8782.woff') format('woff'), url('../../css/font/KangxiDictU8782.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
