@font-face {
    font-family: 'KangxiDictU5B55';
    src: url('../../css/font/KangxiDictU5B55.woff') format('woff'), url('../../css/font/KangxiDictU5B55.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
