@font-face {
    font-family: 'KangxiDictU7046';
    src: url('../../css/font/KangxiDictU7046.woff') format('woff'), url('../../css/font/KangxiDictU7046.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
