@font-face {
    font-family: 'KangxiDictU6A06';
    src: url('../../css/font/KangxiDictU6A06.woff') format('woff'), url('../../css/font/KangxiDictU6A06.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
