@font-face {
    font-family: 'KangxiDictUF94A';
    src: url('../../css/font/KangxiDictUF94A.woff') format('woff'), url('../../css/font/KangxiDictUF94A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
