@font-face {
    font-family: 'KangxiDictU907D';
    src: url('../../css/font/KangxiDictU907D.woff') format('woff'), url('../../css/font/KangxiDictU907D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
