@font-face {
    font-family: 'KangxiDictU55D7';
    src: url('../../css/font/KangxiDictU55D7.woff') format('woff'), url('../../css/font/KangxiDictU55D7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
