@font-face {
    font-family: 'KangxiDictU8020';
    src: url('../../css/font/KangxiDictU8020.woff') format('woff'), url('../../css/font/KangxiDictU8020.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
