@font-face {
    font-family: 'KangxiDictU7955';
    src: url('../../css/font/KangxiDictU7955.woff') format('woff'), url('../../css/font/KangxiDictU7955.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
