@font-face {
    font-family: 'KangxiDictU960A';
    src: url('../../css/font/KangxiDictU960A.woff') format('woff'), url('../../css/font/KangxiDictU960A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
