@font-face {
    font-family: 'KangxiDictU9532';
    src: url('../../css/font/KangxiDictU9532.woff') format('woff'), url('../../css/font/KangxiDictU9532.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
