@font-face {
    font-family: 'KangxiDictUFA1F';
    src: url('../../css/font/KangxiDictUFA1F.woff') format('woff'), url('../../css/font/KangxiDictUFA1F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
