@font-face {
    font-family: 'KangxiDictU7471';
    src: url('../../css/font/KangxiDictU7471.woff') format('woff'), url('../../css/font/KangxiDictU7471.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
