@font-face {
    font-family: 'KangxiDictU8968';
    src: url('../../css/font/KangxiDictU8968.woff') format('woff'), url('../../css/font/KangxiDictU8968.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
