@font-face {
    font-family: 'KangxiDictU6AFC';
    src: url('../../css/font/KangxiDictU6AFC.woff') format('woff'), url('../../css/font/KangxiDictU6AFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
