@font-face {
    font-family: 'KangxiDictU7181';
    src: url('../../css/font/KangxiDictU7181.woff') format('woff'), url('../../css/font/KangxiDictU7181.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
