@font-face {
    font-family: 'KangxiDictU9A0A';
    src: url('../../css/font/KangxiDictU9A0A.woff') format('woff'), url('../../css/font/KangxiDictU9A0A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
