@font-face {
    font-family: 'KangxiDictU7481';
    src: url('../../css/font/KangxiDictU7481.woff') format('woff'), url('../../css/font/KangxiDictU7481.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
