@font-face {
    font-family: 'KangxiDictU5695';
    src: url('../../css/font/KangxiDictU5695.woff') format('woff'), url('../../css/font/KangxiDictU5695.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
