@font-face {
    font-family: 'KangxiDictU6ADF';
    src: url('../../css/font/KangxiDictU6ADF.woff') format('woff'), url('../../css/font/KangxiDictU6ADF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
