@font-face {
    font-family: 'KangxiDictU7500';
    src: url('../../css/font/KangxiDictU7500.woff') format('woff'), url('../../css/font/KangxiDictU7500.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
