@font-face {
    font-family: 'KangxiDictU7814';
    src: url('../../css/font/KangxiDictU7814.woff') format('woff'), url('../../css/font/KangxiDictU7814.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
