@font-face {
    font-family: 'KangxiDictU8497';
    src: url('../../css/font/KangxiDictU8497.woff') format('woff'), url('../../css/font/KangxiDictU8497.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
