@font-face {
    font-family: 'KangxiDictU8F87';
    src: url('../../css/font/KangxiDictU8F87.woff') format('woff'), url('../../css/font/KangxiDictU8F87.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
