@font-face {
    font-family: 'KangxiDictU7EB4';
    src: url('../../css/font/KangxiDictU7EB4.woff') format('woff'), url('../../css/font/KangxiDictU7EB4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
