@font-face {
    font-family: 'KangxiDictU847E';
    src: url('../../css/font/KangxiDictU847E.woff') format('woff'), url('../../css/font/KangxiDictU847E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
