@font-face {
    font-family: 'KangxiDictU8D5E';
    src: url('../../css/font/KangxiDictU8D5E.woff') format('woff'), url('../../css/font/KangxiDictU8D5E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
