@font-face {
    font-family: 'KangxiDictU9E37';
    src: url('../../css/font/KangxiDictU9E37.woff') format('woff'), url('../../css/font/KangxiDictU9E37.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
