@font-face {
    font-family: 'KangxiDictU7931';
    src: url('../../css/font/KangxiDictU7931.woff') format('woff'), url('../../css/font/KangxiDictU7931.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
