@font-face {
    font-family: 'KangxiDictU7824';
    src: url('../../css/font/KangxiDictU7824.woff') format('woff'), url('../../css/font/KangxiDictU7824.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
