@font-face {
    font-family: 'KangxiDictU82D3';
    src: url('../../css/font/KangxiDictU82D3.woff') format('woff'), url('../../css/font/KangxiDictU82D3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
