@font-face {
    font-family: 'KangxiDictU7274';
    src: url('../../css/font/KangxiDictU7274.woff') format('woff'), url('../../css/font/KangxiDictU7274.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
