@font-face {
    font-family: 'KangxiDictU9E95';
    src: url('../../css/font/KangxiDictU9E95.woff') format('woff'), url('../../css/font/KangxiDictU9E95.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
