@font-face {
    font-family: 'KangxiDictU6FBD';
    src: url('../../css/font/KangxiDictU6FBD.woff') format('woff'), url('../../css/font/KangxiDictU6FBD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
