@font-face {
    font-family: 'KangxiDictUFA7F';
    src: url('../../css/font/KangxiDictUFA7F.woff') format('woff'), url('../../css/font/KangxiDictUFA7F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
