@font-face {
    font-family: 'KangxiDictU6559';
    src: url('../../css/font/KangxiDictU6559.woff') format('woff'), url('../../css/font/KangxiDictU6559.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
