@font-face {
    font-family: 'KangxiDictU7DD5';
    src: url('../../css/font/KangxiDictU7DD5.woff') format('woff'), url('../../css/font/KangxiDictU7DD5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
