@font-face {
    font-family: 'KangxiDictU4F98';
    src: url('../../css/font/KangxiDictU4F98.woff') format('woff'), url('../../css/font/KangxiDictU4F98.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
