@font-face {
    font-family: 'KangxiDictU8007';
    src: url('../../css/font/KangxiDictU8007.woff') format('woff'), url('../../css/font/KangxiDictU8007.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
