@font-face {
    font-family: 'KangxiDictU8B52';
    src: url('../../css/font/KangxiDictU8B52.woff') format('woff'), url('../../css/font/KangxiDictU8B52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
