@font-face {
    font-family: 'KangxiDictU9900';
    src: url('../../css/font/KangxiDictU9900.woff') format('woff'), url('../../css/font/KangxiDictU9900.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
