@font-face {
    font-family: 'KangxiDictU5270';
    src: url('../../css/font/KangxiDictU5270.woff') format('woff'), url('../../css/font/KangxiDictU5270.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
