@font-face {
    font-family: 'KangxiDictU8271';
    src: url('../../css/font/KangxiDictU8271.woff') format('woff'), url('../../css/font/KangxiDictU8271.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
