@font-face {
    font-family: 'KangxiDictU6076';
    src: url('../../css/font/KangxiDictU6076.woff') format('woff'), url('../../css/font/KangxiDictU6076.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
