@font-face {
    font-family: 'KangxiDictU8796';
    src: url('../../css/font/KangxiDictU8796.woff') format('woff'), url('../../css/font/KangxiDictU8796.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
