@font-face {
    font-family: 'KangxiDictU76E7';
    src: url('../../css/font/KangxiDictU76E7.woff') format('woff'), url('../../css/font/KangxiDictU76E7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
