@font-face {
    font-family: 'KangxiDictU6A64';
    src: url('../../css/font/KangxiDictU6A64.woff') format('woff'), url('../../css/font/KangxiDictU6A64.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
