@font-face {
    font-family: 'KangxiDictU9F41';
    src: url('../../css/font/KangxiDictU9F41.woff') format('woff'), url('../../css/font/KangxiDictU9F41.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
