@font-face {
    font-family: 'KangxiDictU9210';
    src: url('../../css/font/KangxiDictU9210.woff') format('woff'), url('../../css/font/KangxiDictU9210.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
