@font-face {
    font-family: 'KangxiDictU5640';
    src: url('../../css/font/KangxiDictU5640.woff') format('woff'), url('../../css/font/KangxiDictU5640.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
