@font-face {
    font-family: 'KangxiDictU83AF';
    src: url('../../css/font/KangxiDictU83AF.woff') format('woff'), url('../../css/font/KangxiDictU83AF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
