@font-face {
    font-family: 'KangxiDictU5FAE';
    src: url('../../css/font/KangxiDictU5FAE.woff') format('woff'), url('../../css/font/KangxiDictU5FAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
