@font-face {
    font-family: 'KangxiDictU8C46';
    src: url('../../css/font/KangxiDictU8C46.woff') format('woff'), url('../../css/font/KangxiDictU8C46.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
