@font-face {
    font-family: 'KangxiDictU6231';
    src: url('../../css/font/KangxiDictU6231.woff') format('woff'), url('../../css/font/KangxiDictU6231.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
