@font-face {
    font-family: 'KangxiDictU7BFE';
    src: url('../../css/font/KangxiDictU7BFE.woff') format('woff'), url('../../css/font/KangxiDictU7BFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
