@font-face {
    font-family: 'KangxiDictU8202';
    src: url('../../css/font/KangxiDictU8202.woff') format('woff'), url('../../css/font/KangxiDictU8202.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
