@font-face {
    font-family: 'KangxiDictU8703';
    src: url('../../css/font/KangxiDictU8703.woff') format('woff'), url('../../css/font/KangxiDictU8703.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
