@font-face {
    font-family: 'KangxiDictU5C56';
    src: url('../../css/font/KangxiDictU5C56.woff') format('woff'), url('../../css/font/KangxiDictU5C56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
