@font-face {
    font-family: 'KangxiDictU6766';
    src: url('../../css/font/KangxiDictU6766.woff') format('woff'), url('../../css/font/KangxiDictU6766.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
