@font-face {
    font-family: 'KangxiDictU8B12';
    src: url('../../css/font/KangxiDictU8B12.woff') format('woff'), url('../../css/font/KangxiDictU8B12.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
