@font-face {
    font-family: 'KangxiDictU8447';
    src: url('../../css/font/KangxiDictU8447.woff') format('woff'), url('../../css/font/KangxiDictU8447.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
