@font-face {
    font-family: 'KangxiDictUFA7B';
    src: url('../../css/font/KangxiDictUFA7B.woff') format('woff'), url('../../css/font/KangxiDictUFA7B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
