@font-face {
    font-family: 'KangxiDictU6A9C';
    src: url('../../css/font/KangxiDictU6A9C.woff') format('woff'), url('../../css/font/KangxiDictU6A9C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
