@font-face {
    font-family: 'KangxiDictU8E82';
    src: url('../../css/font/KangxiDictU8E82.woff') format('woff'), url('../../css/font/KangxiDictU8E82.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
