@font-face {
    font-family: 'KangxiDictU5118';
    src: url('../../css/font/KangxiDictU5118.woff') format('woff'), url('../../css/font/KangxiDictU5118.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
