@font-face {
    font-family: 'KangxiDictU56BA';
    src: url('../../css/font/KangxiDictU56BA.woff') format('woff'), url('../../css/font/KangxiDictU56BA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
