@font-face {
    font-family: 'KangxiDictU7567';
    src: url('../../css/font/KangxiDictU7567.woff') format('woff'), url('../../css/font/KangxiDictU7567.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
