@font-face {
    font-family: 'KangxiDictU6B28';
    src: url('../../css/font/KangxiDictU6B28.woff') format('woff'), url('../../css/font/KangxiDictU6B28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
