@font-face {
    font-family: 'KangxiDictU95F6';
    src: url('../../css/font/KangxiDictU95F6.woff') format('woff'), url('../../css/font/KangxiDictU95F6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
