@font-face {
    font-family: 'KangxiDictU6D79';
    src: url('../../css/font/KangxiDictU6D79.woff') format('woff'), url('../../css/font/KangxiDictU6D79.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
