@font-face {
    font-family: 'KangxiDictU5CC8';
    src: url('../../css/font/KangxiDictU5CC8.woff') format('woff'), url('../../css/font/KangxiDictU5CC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
