@font-face {
    font-family: 'KangxiDictU9F6E';
    src: url('../../css/font/KangxiDictU9F6E.woff') format('woff'), url('../../css/font/KangxiDictU9F6E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
