@font-face {
    font-family: 'KangxiDictU8D99';
    src: url('../../css/font/KangxiDictU8D99.woff') format('woff'), url('../../css/font/KangxiDictU8D99.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
