@font-face {
    font-family: 'KangxiDictU7885';
    src: url('../../css/font/KangxiDictU7885.woff') format('woff'), url('../../css/font/KangxiDictU7885.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
