@font-face {
    font-family: 'KangxiDictU68A3';
    src: url('../../css/font/KangxiDictU68A3.woff') format('woff'), url('../../css/font/KangxiDictU68A3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
