@font-face {
    font-family: 'KangxiDictU8A32';
    src: url('../../css/font/KangxiDictU8A32.woff') format('woff'), url('../../css/font/KangxiDictU8A32.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
