@font-face {
    font-family: 'KangxiDictUF94E';
    src: url('../../css/font/KangxiDictUF94E.woff') format('woff'), url('../../css/font/KangxiDictUF94E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
