@font-face {
    font-family: 'KangxiDictU945A';
    src: url('../../css/font/KangxiDictU945A.woff') format('woff'), url('../../css/font/KangxiDictU945A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
