@font-face {
    font-family: 'KangxiDictU9460';
    src: url('../../css/font/KangxiDictU9460.woff') format('woff'), url('../../css/font/KangxiDictU9460.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
