@font-face {
    font-family: 'KangxiDictU6FEF';
    src: url('../../css/font/KangxiDictU6FEF.woff') format('woff'), url('../../css/font/KangxiDictU6FEF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
