@font-face {
    font-family: 'KangxiDictU9D74';
    src: url('../../css/font/KangxiDictU9D74.woff') format('woff'), url('../../css/font/KangxiDictU9D74.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
