@font-face {
    font-family: 'KangxiDictU7387';
    src: url('../../css/font/KangxiDictU7387.woff') format('woff'), url('../../css/font/KangxiDictU7387.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
