@font-face {
    font-family: 'KangxiDictU6025';
    src: url('../../css/font/KangxiDictU6025.woff') format('woff'), url('../../css/font/KangxiDictU6025.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
