@font-face {
    font-family: 'KangxiDictU6B62';
    src: url('../../css/font/KangxiDictU6B62.woff') format('woff'), url('../../css/font/KangxiDictU6B62.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
