@font-face {
    font-family: 'KangxiDictU8772';
    src: url('../../css/font/KangxiDictU8772.woff') format('woff'), url('../../css/font/KangxiDictU8772.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
