@font-face {
    font-family: 'KangxiDictU6EE4';
    src: url('../../css/font/KangxiDictU6EE4.woff') format('woff'), url('../../css/font/KangxiDictU6EE4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
