@font-face {
    font-family: 'KangxiDictU956C';
    src: url('../../css/font/KangxiDictU956C.woff') format('woff'), url('../../css/font/KangxiDictU956C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
