@font-face {
    font-family: 'KangxiDictU9FFC';
    src: url('../../css/font/KangxiDictU9FFC.woff') format('woff'), url('../../css/font/KangxiDictU9FFC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
