@font-face {
    font-family: 'KangxiDictU5871';
    src: url('../../css/font/KangxiDictU5871.woff') format('woff'), url('../../css/font/KangxiDictU5871.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
