@font-face {
    font-family: 'KangxiDictU787E';
    src: url('../../css/font/KangxiDictU787E.woff') format('woff'), url('../../css/font/KangxiDictU787E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
