@font-face {
    font-family: 'KangxiDictU9835';
    src: url('../../css/font/KangxiDictU9835.woff') format('woff'), url('../../css/font/KangxiDictU9835.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
