@font-face {
    font-family: 'KangxiDictU871F';
    src: url('../../css/font/KangxiDictU871F.woff') format('woff'), url('../../css/font/KangxiDictU871F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
