@font-face {
    font-family: 'KangxiDictU879A';
    src: url('../../css/font/KangxiDictU879A.woff') format('woff'), url('../../css/font/KangxiDictU879A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
