@font-face {
    font-family: 'KangxiDictU6873';
    src: url('../../css/font/KangxiDictU6873.woff') format('woff'), url('../../css/font/KangxiDictU6873.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
