@font-face {
    font-family: 'KangxiDictU5258';
    src: url('../../css/font/KangxiDictU5258.woff') format('woff'), url('../../css/font/KangxiDictU5258.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
