@font-face {
    font-family: 'KangxiDictU7DB0';
    src: url('../../css/font/KangxiDictU7DB0.woff') format('woff'), url('../../css/font/KangxiDictU7DB0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
