@font-face {
    font-family: 'KangxiDictU9712';
    src: url('../../css/font/KangxiDictU9712.woff') format('woff'), url('../../css/font/KangxiDictU9712.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
