@font-face {
    font-family: 'KangxiDictU7535';
    src: url('../../css/font/KangxiDictU7535.woff') format('woff'), url('../../css/font/KangxiDictU7535.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
