@font-face {
    font-family: 'KangxiDictU71BD';
    src: url('../../css/font/KangxiDictU71BD.woff') format('woff'), url('../../css/font/KangxiDictU71BD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
