@font-face {
    font-family: 'KangxiDictU7B17';
    src: url('../../css/font/KangxiDictU7B17.woff') format('woff'), url('../../css/font/KangxiDictU7B17.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
