@font-face {
    font-family: 'KangxiDictU7067';
    src: url('../../css/font/KangxiDictU7067.woff') format('woff'), url('../../css/font/KangxiDictU7067.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
