@font-face {
    font-family: 'KangxiDictU5963';
    src: url('../../css/font/KangxiDictU5963.woff') format('woff'), url('../../css/font/KangxiDictU5963.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
