@font-face {
    font-family: 'KangxiDictU70B0';
    src: url('../../css/font/KangxiDictU70B0.woff') format('woff'), url('../../css/font/KangxiDictU70B0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
