@font-face {
    font-family: 'KangxiDictU939A';
    src: url('../../css/font/KangxiDictU939A.woff') format('woff'), url('../../css/font/KangxiDictU939A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
