@font-face {
    font-family: 'KangxiDictU6395';
    src: url('../../css/font/KangxiDictU6395.woff') format('woff'), url('../../css/font/KangxiDictU6395.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
