@font-face {
    font-family: 'KangxiDictU7890';
    src: url('../../css/font/KangxiDictU7890.woff') format('woff'), url('../../css/font/KangxiDictU7890.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
