@font-face {
    font-family: 'KangxiDictU707A';
    src: url('../../css/font/KangxiDictU707A.woff') format('woff'), url('../../css/font/KangxiDictU707A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
