@font-face {
    font-family: 'KangxiDictU743C';
    src: url('../../css/font/KangxiDictU743C.woff') format('woff'), url('../../css/font/KangxiDictU743C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
