@font-face {
    font-family: 'KangxiDictU5A68';
    src: url('../../css/font/KangxiDictU5A68.woff') format('woff'), url('../../css/font/KangxiDictU5A68.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
