@font-face {
    font-family: 'KangxiDictU7497';
    src: url('../../css/font/KangxiDictU7497.woff') format('woff'), url('../../css/font/KangxiDictU7497.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
