@font-face {
    font-family: 'KangxiDictU8C80';
    src: url('../../css/font/KangxiDictU8C80.woff') format('woff'), url('../../css/font/KangxiDictU8C80.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
