@font-face {
    font-family: 'KangxiDictUF9B0';
    src: url('../../css/font/KangxiDictUF9B0.woff') format('woff'), url('../../css/font/KangxiDictUF9B0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
