@font-face {
    font-family: 'KangxiDictU9441';
    src: url('../../css/font/KangxiDictU9441.woff') format('woff'), url('../../css/font/KangxiDictU9441.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
