@font-face {
    font-family: 'KangxiDictU9759';
    src: url('../../css/font/KangxiDictU9759.woff') format('woff'), url('../../css/font/KangxiDictU9759.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
