@font-face {
    font-family: 'KangxiDictU9BC5';
    src: url('../../css/font/KangxiDictU9BC5.woff') format('woff'), url('../../css/font/KangxiDictU9BC5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
