@font-face {
    font-family: 'KangxiDictU769E';
    src: url('../../css/font/KangxiDictU769E.woff') format('woff'), url('../../css/font/KangxiDictU769E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
