@font-face {
    font-family: 'KangxiDictU5291';
    src: url('../../css/font/KangxiDictU5291.woff') format('woff'), url('../../css/font/KangxiDictU5291.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
