@font-face {
    font-family: 'KangxiDictU579B';
    src: url('../../css/font/KangxiDictU579B.woff') format('woff'), url('../../css/font/KangxiDictU579B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
