@font-face {
    font-family: 'KangxiDictU7712';
    src: url('../../css/font/KangxiDictU7712.woff') format('woff'), url('../../css/font/KangxiDictU7712.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
