@font-face {
    font-family: 'KangxiDictU9633';
    src: url('../../css/font/KangxiDictU9633.woff') format('woff'), url('../../css/font/KangxiDictU9633.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
