@font-face {
    font-family: 'KangxiDictU5851';
    src: url('../../css/font/KangxiDictU5851.woff') format('woff'), url('../../css/font/KangxiDictU5851.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
