@font-face {
    font-family: 'KangxiDictU7047';
    src: url('../../css/font/KangxiDictU7047.woff') format('woff'), url('../../css/font/KangxiDictU7047.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
