@font-face {
    font-family: 'KangxiDictU7912';
    src: url('../../css/font/KangxiDictU7912.woff') format('woff'), url('../../css/font/KangxiDictU7912.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
