@font-face {
    font-family: 'KangxiDictUF9E5';
    src: url('../../css/font/KangxiDictUF9E5.woff') format('woff'), url('../../css/font/KangxiDictUF9E5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
