@font-face {
    font-family: 'KangxiDictU9386';
    src: url('../../css/font/KangxiDictU9386.woff') format('woff'), url('../../css/font/KangxiDictU9386.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
