@font-face {
    font-family: 'KangxiDictU7ADB';
    src: url('../../css/font/KangxiDictU7ADB.woff') format('woff'), url('../../css/font/KangxiDictU7ADB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
