@font-face {
    font-family: 'KangxiDictU8D35';
    src: url('../../css/font/KangxiDictU8D35.woff') format('woff'), url('../../css/font/KangxiDictU8D35.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
