@font-face {
    font-family: 'KangxiDictU6341';
    src: url('../../css/font/KangxiDictU6341.woff') format('woff'), url('../../css/font/KangxiDictU6341.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
