@font-face {
    font-family: 'KangxiDictU6BC9';
    src: url('../../css/font/KangxiDictU6BC9.woff') format('woff'), url('../../css/font/KangxiDictU6BC9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
