@font-face {
    font-family: 'KangxiDictUFA9A';
    src: url('../../css/font/KangxiDictUFA9A.woff') format('woff'), url('../../css/font/KangxiDictUFA9A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
