@font-face {
    font-family: 'KangxiDictU5DBB';
    src: url('../../css/font/KangxiDictU5DBB.woff') format('woff'), url('../../css/font/KangxiDictU5DBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
