@font-face {
    font-family: 'KangxiDictU9958';
    src: url('../../css/font/KangxiDictU9958.woff') format('woff'), url('../../css/font/KangxiDictU9958.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
