@font-face {
    font-family: 'KangxiDictU8AF6';
    src: url('../../css/font/KangxiDictU8AF6.woff') format('woff'), url('../../css/font/KangxiDictU8AF6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
