@font-face {
    font-family: 'KangxiDictU5B2F';
    src: url('../../css/font/KangxiDictU5B2F.woff') format('woff'), url('../../css/font/KangxiDictU5B2F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
