@font-face {
    font-family: 'KangxiDictU5473';
    src: url('../../css/font/KangxiDictU5473.woff') format('woff'), url('../../css/font/KangxiDictU5473.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
