@font-face {
    font-family: 'KangxiDictU7E03';
    src: url('../../css/font/KangxiDictU7E03.woff') format('woff'), url('../../css/font/KangxiDictU7E03.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
