@font-face {
    font-family: 'KangxiDictU5C64';
    src: url('../../css/font/KangxiDictU5C64.woff') format('woff'), url('../../css/font/KangxiDictU5C64.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
