@font-face {
    font-family: 'KangxiDictU8FBC';
    src: url('../../css/font/KangxiDictU8FBC.woff') format('woff'), url('../../css/font/KangxiDictU8FBC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
