@font-face {
    font-family: 'KangxiDictU8E61';
    src: url('../../css/font/KangxiDictU8E61.woff') format('woff'), url('../../css/font/KangxiDictU8E61.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
