@font-face {
    font-family: 'KangxiDictU819A';
    src: url('../../css/font/KangxiDictU819A.woff') format('woff'), url('../../css/font/KangxiDictU819A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
