@font-face {
    font-family: 'KangxiDictU50A6';
    src: url('../../css/font/KangxiDictU50A6.woff') format('woff'), url('../../css/font/KangxiDictU50A6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
