@font-face {
    font-family: 'KangxiDictU7357';
    src: url('../../css/font/KangxiDictU7357.woff') format('woff'), url('../../css/font/KangxiDictU7357.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
