@font-face {
    font-family: 'KangxiDictU9FEE';
    src: url('../../css/font/KangxiDictU9FEE.woff') format('woff'), url('../../css/font/KangxiDictU9FEE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
