@font-face {
    font-family: 'KangxiDictU7446';
    src: url('../../css/font/KangxiDictU7446.woff') format('woff'), url('../../css/font/KangxiDictU7446.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
