@font-face {
    font-family: 'KangxiDictU86DF';
    src: url('../../css/font/KangxiDictU86DF.woff') format('woff'), url('../../css/font/KangxiDictU86DF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
