@font-face {
    font-family: 'KangxiDictU6BD9';
    src: url('../../css/font/KangxiDictU6BD9.woff') format('woff'), url('../../css/font/KangxiDictU6BD9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
