@font-face {
    font-family: 'KangxiDictU9DEC';
    src: url('../../css/font/KangxiDictU9DEC.woff') format('woff'), url('../../css/font/KangxiDictU9DEC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
