@font-face {
    font-family: 'KangxiDictU949D';
    src: url('../../css/font/KangxiDictU949D.woff') format('woff'), url('../../css/font/KangxiDictU949D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
