@font-face {
    font-family: 'KangxiDictU7938';
    src: url('../../css/font/KangxiDictU7938.woff') format('woff'), url('../../css/font/KangxiDictU7938.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
