@font-face {
    font-family: 'KangxiDictU91A4';
    src: url('../../css/font/KangxiDictU91A4.woff') format('woff'), url('../../css/font/KangxiDictU91A4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
