@font-face {
    font-family: 'KangxiDictU7CEB';
    src: url('../../css/font/KangxiDictU7CEB.woff') format('woff'), url('../../css/font/KangxiDictU7CEB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
