@font-face {
    font-family: 'KangxiDictU5A56';
    src: url('../../css/font/KangxiDictU5A56.woff') format('woff'), url('../../css/font/KangxiDictU5A56.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
