@font-face {
    font-family: 'KangxiDictU6707';
    src: url('../../css/font/KangxiDictU6707.woff') format('woff'), url('../../css/font/KangxiDictU6707.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
