@font-face {
    font-family: 'KangxiDictU947D';
    src: url('../../css/font/KangxiDictU947D.woff') format('woff'), url('../../css/font/KangxiDictU947D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
