@font-face {
    font-family: 'KangxiDictU6468';
    src: url('../../css/font/KangxiDictU6468.woff') format('woff'), url('../../css/font/KangxiDictU6468.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
