@font-face {
    font-family: 'KangxiDictU54C2';
    src: url('../../css/font/KangxiDictU54C2.woff') format('woff'), url('../../css/font/KangxiDictU54C2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
