@font-face {
    font-family: 'KangxiDictU7354';
    src: url('../../css/font/KangxiDictU7354.woff') format('woff'), url('../../css/font/KangxiDictU7354.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
