@font-face {
    font-family: 'KangxiDictU4FC2';
    src: url('../../css/font/KangxiDictU4FC2.woff') format('woff'), url('../../css/font/KangxiDictU4FC2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
