@font-face {
    font-family: 'KangxiDictU99EA';
    src: url('../../css/font/KangxiDictU99EA.woff') format('woff'), url('../../css/font/KangxiDictU99EA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
