@font-face {
    font-family: 'KangxiDictU8FAC';
    src: url('../../css/font/KangxiDictU8FAC.woff') format('woff'), url('../../css/font/KangxiDictU8FAC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
