@font-face {
    font-family: 'KangxiDictU8DD3';
    src: url('../../css/font/KangxiDictU8DD3.woff') format('woff'), url('../../css/font/KangxiDictU8DD3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
