@font-face {
    font-family: 'KangxiDictU54DD';
    src: url('../../css/font/KangxiDictU54DD.woff') format('woff'), url('../../css/font/KangxiDictU54DD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
