@font-face {
    font-family: 'KangxiDictU9497';
    src: url('../../css/font/KangxiDictU9497.woff') format('woff'), url('../../css/font/KangxiDictU9497.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
