@font-face {
    font-family: 'KangxiDictU5603';
    src: url('../../css/font/KangxiDictU5603.woff') format('woff'), url('../../css/font/KangxiDictU5603.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
