@font-face {
    font-family: 'KangxiDictU7718';
    src: url('../../css/font/KangxiDictU7718.woff') format('woff'), url('../../css/font/KangxiDictU7718.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
