@font-face {
    font-family: 'KangxiDictU8019';
    src: url('../../css/font/KangxiDictU8019.woff') format('woff'), url('../../css/font/KangxiDictU8019.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
