@font-face {
    font-family: 'KangxiDictU8FA5';
    src: url('../../css/font/KangxiDictU8FA5.woff') format('woff'), url('../../css/font/KangxiDictU8FA5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
