@font-face {
    font-family: 'KangxiDictU60F0';
    src: url('../../css/font/KangxiDictU60F0.woff') format('woff'), url('../../css/font/KangxiDictU60F0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
