@font-face {
    font-family: 'KangxiDictU54DC';
    src: url('../../css/font/KangxiDictU54DC.woff') format('woff'), url('../../css/font/KangxiDictU54DC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
