@font-face {
    font-family: 'KangxiDictU6D07';
    src: url('../../css/font/KangxiDictU6D07.woff') format('woff'), url('../../css/font/KangxiDictU6D07.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
