@font-face {
    font-family: 'KangxiDictU5B98';
    src: url('../../css/font/KangxiDictU5B98.woff') format('woff'), url('../../css/font/KangxiDictU5B98.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
