@font-face {
    font-family: 'KangxiDictU55A9';
    src: url('../../css/font/KangxiDictU55A9.woff') format('woff'), url('../../css/font/KangxiDictU55A9.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
