@font-face {
    font-family: 'KangxiDictU5CFB';
    src: url('../../css/font/KangxiDictU5CFB.woff') format('woff'), url('../../css/font/KangxiDictU5CFB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
