@font-face {
    font-family: 'KangxiDictU8250';
    src: url('../../css/font/KangxiDictU8250.woff') format('woff'), url('../../css/font/KangxiDictU8250.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
