@font-face {
    font-family: 'KangxiDictU740D';
    src: url('../../css/font/KangxiDictU740D.woff') format('woff'), url('../../css/font/KangxiDictU740D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
