@font-face {
    font-family: 'KangxiDictU71B1';
    src: url('../../css/font/KangxiDictU71B1.woff') format('woff'), url('../../css/font/KangxiDictU71B1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
