@font-face {
    font-family: 'KangxiDictU4EFE';
    src: url('../../css/font/KangxiDictU4EFE.woff') format('woff'), url('../../css/font/KangxiDictU4EFE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
