@font-face {
    font-family: 'KangxiDictU9ABC';
    src: url('../../css/font/KangxiDictU9ABC.woff') format('woff'), url('../../css/font/KangxiDictU9ABC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
