@font-face {
    font-family: 'KangxiDictU7DB7';
    src: url('../../css/font/KangxiDictU7DB7.woff') format('woff'), url('../../css/font/KangxiDictU7DB7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
