@font-face {
    font-family: 'KangxiDictU83EB';
    src: url('../../css/font/KangxiDictU83EB.woff') format('woff'), url('../../css/font/KangxiDictU83EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
