@font-face {
    font-family: 'KangxiDictU88FB';
    src: url('../../css/font/KangxiDictU88FB.woff') format('woff'), url('../../css/font/KangxiDictU88FB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
