@font-face {
    font-family: 'KangxiDictU9976';
    src: url('../../css/font/KangxiDictU9976.woff') format('woff'), url('../../css/font/KangxiDictU9976.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
