@font-face {
    font-family: 'KangxiDictU7E02';
    src: url('../../css/font/KangxiDictU7E02.woff') format('woff'), url('../../css/font/KangxiDictU7E02.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
