@font-face {
    font-family: 'KangxiDictU6473';
    src: url('../../css/font/KangxiDictU6473.woff') format('woff'), url('../../css/font/KangxiDictU6473.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
