@font-face {
    font-family: 'KangxiDictU8109';
    src: url('../../css/font/KangxiDictU8109.woff') format('woff'), url('../../css/font/KangxiDictU8109.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
