@font-face {
    font-family: 'KangxiDictU5CE0';
    src: url('../../css/font/KangxiDictU5CE0.woff') format('woff'), url('../../css/font/KangxiDictU5CE0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
