@font-face {
    font-family: 'KangxiDictU537D';
    src: url('../../css/font/KangxiDictU537D.woff') format('woff'), url('../../css/font/KangxiDictU537D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
