@font-face {
    font-family: 'KangxiDictU5C09';
    src: url('../../css/font/KangxiDictU5C09.woff') format('woff'), url('../../css/font/KangxiDictU5C09.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
