@font-face {
    font-family: 'KangxiDictU8DBB';
    src: url('../../css/font/KangxiDictU8DBB.woff') format('woff'), url('../../css/font/KangxiDictU8DBB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
