@font-face {
    font-family: 'KangxiDictU8639';
    src: url('../../css/font/KangxiDictU8639.woff') format('woff'), url('../../css/font/KangxiDictU8639.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
