@font-face {
    font-family: 'KangxiDictU891A';
    src: url('../../css/font/KangxiDictU891A.woff') format('woff'), url('../../css/font/KangxiDictU891A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
