@font-face {
    font-family: 'KangxiDictU7BDC';
    src: url('../../css/font/KangxiDictU7BDC.woff') format('woff'), url('../../css/font/KangxiDictU7BDC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
