@font-face {
    font-family: 'KangxiDictU6235';
    src: url('../../css/font/KangxiDictU6235.woff') format('woff'), url('../../css/font/KangxiDictU6235.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
