@font-face {
    font-family: 'KangxiDictU7E52';
    src: url('../../css/font/KangxiDictU7E52.woff') format('woff'), url('../../css/font/KangxiDictU7E52.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
