@font-face {
    font-family: 'KangxiDictU9450';
    src: url('../../css/font/KangxiDictU9450.woff') format('woff'), url('../../css/font/KangxiDictU9450.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
