@font-face {
    font-family: 'KangxiDictUF9D5';
    src: url('../../css/font/KangxiDictUF9D5.woff') format('woff'), url('../../css/font/KangxiDictUF9D5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
