@font-face {
    font-family: 'KangxiDictU5ADF';
    src: url('../../css/font/KangxiDictU5ADF.woff') format('woff'), url('../../css/font/KangxiDictU5ADF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
