@font-face {
    font-family: 'KangxiDictU7310';
    src: url('../../css/font/KangxiDictU7310.woff') format('woff'), url('../../css/font/KangxiDictU7310.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
