@font-face {
    font-family: 'KangxiDictU7038';
    src: url('../../css/font/KangxiDictU7038.woff') format('woff'), url('../../css/font/KangxiDictU7038.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
