@font-face {
    font-family: 'KangxiDictU7C59';
    src: url('../../css/font/KangxiDictU7C59.woff') format('woff'), url('../../css/font/KangxiDictU7C59.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
