@font-face {
    font-family: 'KangxiDictU9378';
    src: url('../../css/font/KangxiDictU9378.woff') format('woff'), url('../../css/font/KangxiDictU9378.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
