@font-face {
    font-family: 'KangxiDictU954F';
    src: url('../../css/font/KangxiDictU954F.woff') format('woff'), url('../../css/font/KangxiDictU954F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
