@font-face {
    font-family: 'KangxiDictU8D54';
    src: url('../../css/font/KangxiDictU8D54.woff') format('woff'), url('../../css/font/KangxiDictU8D54.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
