@font-face {
    font-family: 'KangxiDictU56D1';
    src: url('../../css/font/KangxiDictU56D1.woff') format('woff'), url('../../css/font/KangxiDictU56D1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
