@font-face {
    font-family: 'KangxiDictU8AAE';
    src: url('../../css/font/KangxiDictU8AAE.woff') format('woff'), url('../../css/font/KangxiDictU8AAE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
