@font-face {
    font-family: 'KangxiDictU8981';
    src: url('../../css/font/KangxiDictU8981.woff') format('woff'), url('../../css/font/KangxiDictU8981.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
