@font-face {
    font-family: 'KangxiDictUFA87';
    src: url('../../css/font/KangxiDictUFA87.woff') format('woff'), url('../../css/font/KangxiDictUFA87.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
