@font-face {
    font-family: 'KangxiDictUF95D';
    src: url('../../css/font/KangxiDictUF95D.woff') format('woff'), url('../../css/font/KangxiDictUF95D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
