@font-face {
    font-family: 'KangxiDictUFA4D';
    src: url('../../css/font/KangxiDictUFA4D.woff') format('woff'), url('../../css/font/KangxiDictUFA4D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
