@font-face {
    font-family: 'KangxiDictU9561';
    src: url('../../css/font/KangxiDictU9561.woff') format('woff'), url('../../css/font/KangxiDictU9561.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
