@font-face {
    font-family: 'KangxiDictU807D';
    src: url('../../css/font/KangxiDictU807D.woff') format('woff'), url('../../css/font/KangxiDictU807D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
