@font-face {
    font-family: 'KangxiDictU8CAB';
    src: url('../../css/font/KangxiDictU8CAB.woff') format('woff'), url('../../css/font/KangxiDictU8CAB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
