@font-face {
    font-family: 'KangxiDictU7143';
    src: url('../../css/font/KangxiDictU7143.woff') format('woff'), url('../../css/font/KangxiDictU7143.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
