@font-face {
    font-family: 'KangxiDictU7624';
    src: url('../../css/font/KangxiDictU7624.woff') format('woff'), url('../../css/font/KangxiDictU7624.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
