@font-face {
    font-family: 'KangxiDictU7493';
    src: url('../../css/font/KangxiDictU7493.woff') format('woff'), url('../../css/font/KangxiDictU7493.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
