@font-face {
    font-family: 'KangxiDictU9081';
    src: url('../../css/font/KangxiDictU9081.woff') format('woff'), url('../../css/font/KangxiDictU9081.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
