@font-face {
    font-family: 'KangxiDictU6327';
    src: url('../../css/font/KangxiDictU6327.woff') format('woff'), url('../../css/font/KangxiDictU6327.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
