@font-face {
    font-family: 'KangxiDictU7295';
    src: url('../../css/font/KangxiDictU7295.woff') format('woff'), url('../../css/font/KangxiDictU7295.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
