@font-face {
    font-family: 'KangxiDictU8105';
    src: url('../../css/font/KangxiDictU8105.woff') format('woff'), url('../../css/font/KangxiDictU8105.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
