@font-face {
    font-family: 'KangxiDictU5418';
    src: url('../../css/font/KangxiDictU5418.woff') format('woff'), url('../../css/font/KangxiDictU5418.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
