@font-face {
    font-family: 'KangxiDictU8C98';
    src: url('../../css/font/KangxiDictU8C98.woff') format('woff'), url('../../css/font/KangxiDictU8C98.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
