@font-face {
    font-family: 'KangxiDictU6778';
    src: url('../../css/font/KangxiDictU6778.woff') format('woff'), url('../../css/font/KangxiDictU6778.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
