@font-face {
    font-family: 'KangxiDictU6EAD';
    src: url('../../css/font/KangxiDictU6EAD.woff') format('woff'), url('../../css/font/KangxiDictU6EAD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
