@font-face {
    font-family: 'KangxiDictU698F';
    src: url('../../css/font/KangxiDictU698F.woff') format('woff'), url('../../css/font/KangxiDictU698F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
