@font-face {
    font-family: 'KangxiDictU691D';
    src: url('../../css/font/KangxiDictU691D.woff') format('woff'), url('../../css/font/KangxiDictU691D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
