@font-face {
    font-family: 'KangxiDictU9722';
    src: url('../../css/font/KangxiDictU9722.woff') format('woff'), url('../../css/font/KangxiDictU9722.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
