@font-face {
    font-family: 'KangxiDictU7102';
    src: url('../../css/font/KangxiDictU7102.woff') format('woff'), url('../../css/font/KangxiDictU7102.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
