@font-face {
    font-family: 'KangxiDictU7957';
    src: url('../../css/font/KangxiDictU7957.woff') format('woff'), url('../../css/font/KangxiDictU7957.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
