@font-face {
    font-family: 'KangxiDictU665C';
    src: url('../../css/font/KangxiDictU665C.woff') format('woff'), url('../../css/font/KangxiDictU665C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
