@font-face {
    font-family: 'KangxiDictU8129';
    src: url('../../css/font/KangxiDictU8129.woff') format('woff'), url('../../css/font/KangxiDictU8129.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
