@font-face {
    font-family: 'KangxiDictU5074';
    src: url('../../css/font/KangxiDictU5074.woff') format('woff'), url('../../css/font/KangxiDictU5074.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
