@font-face {
    font-family: 'KangxiDictU8899';
    src: url('../../css/font/KangxiDictU8899.woff') format('woff'), url('../../css/font/KangxiDictU8899.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
