@font-face {
    font-family: 'KangxiDictU5FD6';
    src: url('../../css/font/KangxiDictU5FD6.woff') format('woff'), url('../../css/font/KangxiDictU5FD6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
