@font-face {
    font-family: 'KangxiDictU94F1';
    src: url('../../css/font/KangxiDictU94F1.woff') format('woff'), url('../../css/font/KangxiDictU94F1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
