@font-face {
    font-family: 'KangxiDictU92CD';
    src: url('../../css/font/KangxiDictU92CD.woff') format('woff'), url('../../css/font/KangxiDictU92CD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
