@font-face {
    font-family: 'KangxiDictU8366';
    src: url('../../css/font/KangxiDictU8366.woff') format('woff'), url('../../css/font/KangxiDictU8366.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
