@font-face {
    font-family: 'KangxiDictU8EC6';
    src: url('../../css/font/KangxiDictU8EC6.woff') format('woff'), url('../../css/font/KangxiDictU8EC6.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
