@font-face {
    font-family: 'KangxiDictU8A9E';
    src: url('../../css/font/KangxiDictU8A9E.woff') format('woff'), url('../../css/font/KangxiDictU8A9E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
