@font-face {
    font-family: 'KangxiDictU966E';
    src: url('../../css/font/KangxiDictU966E.woff') format('woff'), url('../../css/font/KangxiDictU966E.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
