@font-face {
    font-family: 'KangxiDictU9182';
    src: url('../../css/font/KangxiDictU9182.woff') format('woff'), url('../../css/font/KangxiDictU9182.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
