@font-face {
    font-family: 'KangxiDictU7745';
    src: url('../../css/font/KangxiDictU7745.woff') format('woff'), url('../../css/font/KangxiDictU7745.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
