@font-face {
    font-family: 'KangxiDictU8881';
    src: url('../../css/font/KangxiDictU8881.woff') format('woff'), url('../../css/font/KangxiDictU8881.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
