@font-face {
    font-family: 'KangxiDictUF936';
    src: url('../../css/font/KangxiDictUF936.woff') format('woff'), url('../../css/font/KangxiDictUF936.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
