@font-face {
    font-family: 'KangxiDictU6F36';
    src: url('../../css/font/KangxiDictU6F36.woff') format('woff'), url('../../css/font/KangxiDictU6F36.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
