@font-face {
    font-family: 'KangxiDictU5318';
    src: url('../../css/font/KangxiDictU5318.woff') format('woff'), url('../../css/font/KangxiDictU5318.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
