@font-face {
    font-family: 'KangxiDictU854C';
    src: url('../../css/font/KangxiDictU854C.woff') format('woff'), url('../../css/font/KangxiDictU854C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
