@font-face {
    font-family: 'KangxiDictU6890';
    src: url('../../css/font/KangxiDictU6890.woff') format('woff'), url('../../css/font/KangxiDictU6890.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
