@font-face {
    font-family: 'KangxiDictU6123';
    src: url('../../css/font/KangxiDictU6123.woff') format('woff'), url('../../css/font/KangxiDictU6123.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
