@font-face {
    font-family: 'KangxiDictU60E1';
    src: url('../../css/font/KangxiDictU60E1.woff') format('woff'), url('../../css/font/KangxiDictU60E1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
