@font-face {
    font-family: 'KangxiDictU5651';
    src: url('../../css/font/KangxiDictU5651.woff') format('woff'), url('../../css/font/KangxiDictU5651.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
