@font-face {
    font-family: 'KangxiDictU9CBF';
    src: url('../../css/font/KangxiDictU9CBF.woff') format('woff'), url('../../css/font/KangxiDictU9CBF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
