@font-face {
    font-family: 'KangxiDictU89B0';
    src: url('../../css/font/KangxiDictU89B0.woff') format('woff'), url('../../css/font/KangxiDictU89B0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
