@font-face {
    font-family: 'KangxiDictU6BF2';
    src: url('../../css/font/KangxiDictU6BF2.woff') format('woff'), url('../../css/font/KangxiDictU6BF2.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
