@font-face {
    font-family: 'KangxiDictU8347';
    src: url('../../css/font/KangxiDictU8347.woff') format('woff'), url('../../css/font/KangxiDictU8347.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
