@font-face {
    font-family: 'KangxiDictU9FFF';
    src: url('../../css/font/KangxiDictU9FFF.woff') format('woff'), url('../../css/font/KangxiDictU9FFF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
