@font-face {
    font-family: 'KangxiDictU7144';
    src: url('../../css/font/KangxiDictU7144.woff') format('woff'), url('../../css/font/KangxiDictU7144.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
