@font-face {
    font-family: 'KangxiDictU8DDD';
    src: url('../../css/font/KangxiDictU8DDD.woff') format('woff'), url('../../css/font/KangxiDictU8DDD.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
