@font-face {
    font-family: 'KangxiDictU7013';
    src: url('../../css/font/KangxiDictU7013.woff') format('woff'), url('../../css/font/KangxiDictU7013.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
