@font-face {
    font-family: 'KangxiDictU7529';
    src: url('../../css/font/KangxiDictU7529.woff') format('woff'), url('../../css/font/KangxiDictU7529.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
