@font-face {
    font-family: 'KangxiDictU7B4F';
    src: url('../../css/font/KangxiDictU7B4F.woff') format('woff'), url('../../css/font/KangxiDictU7B4F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
