@font-face {
    font-family: 'KangxiDictU9672';
    src: url('../../css/font/KangxiDictU9672.woff') format('woff'), url('../../css/font/KangxiDictU9672.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
