@font-face {
    font-family: 'KangxiDictU7206';
    src: url('../../css/font/KangxiDictU7206.woff') format('woff'), url('../../css/font/KangxiDictU7206.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
