@font-face {
    font-family: 'KangxiDictU7FDE';
    src: url('../../css/font/KangxiDictU7FDE.woff') format('woff'), url('../../css/font/KangxiDictU7FDE.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
