@font-face {
    font-family: 'KangxiDictU7E67';
    src: url('../../css/font/KangxiDictU7E67.woff') format('woff'), url('../../css/font/KangxiDictU7E67.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
