@font-face {
    font-family: 'KangxiDictU851A';
    src: url('../../css/font/KangxiDictU851A.woff') format('woff'), url('../../css/font/KangxiDictU851A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
