@font-face {
    font-family: 'KangxiDictU8AA5';
    src: url('../../css/font/KangxiDictU8AA5.woff') format('woff'), url('../../css/font/KangxiDictU8AA5.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
