@font-face {
    font-family: 'KangxiDictU7532';
    src: url('../../css/font/KangxiDictU7532.woff') format('woff'), url('../../css/font/KangxiDictU7532.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
