@font-face {
    font-family: 'KangxiDictU7D7B';
    src: url('../../css/font/KangxiDictU7D7B.woff') format('woff'), url('../../css/font/KangxiDictU7D7B.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
