@font-face {
    font-family: 'KangxiDictU52EB';
    src: url('../../css/font/KangxiDictU52EB.woff') format('woff'), url('../../css/font/KangxiDictU52EB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
