@font-face {
    font-family: 'KangxiDictU4ED1';
    src: url('../../css/font/KangxiDictU4ED1.woff') format('woff'), url('../../css/font/KangxiDictU4ED1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
