@font-face {
    font-family: 'KangxiDictU8163';
    src: url('../../css/font/KangxiDictU8163.woff') format('woff'), url('../../css/font/KangxiDictU8163.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
