@font-face {
    font-family: 'KangxiDictU8DA8';
    src: url('../../css/font/KangxiDictU8DA8.woff') format('woff'), url('../../css/font/KangxiDictU8DA8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
