@font-face {
    font-family: 'KangxiDictU5DDB';
    src: url('../../css/font/KangxiDictU5DDB.woff') format('woff'), url('../../css/font/KangxiDictU5DDB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
