@font-face {
    font-family: 'KangxiDictU6357';
    src: url('../../css/font/KangxiDictU6357.woff') format('woff'), url('../../css/font/KangxiDictU6357.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
