@font-face {
    font-family: 'KangxiDictU8003';
    src: url('../../css/font/KangxiDictU8003.woff') format('woff'), url('../../css/font/KangxiDictU8003.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
