@font-face {
    font-family: 'KangxiDictU8361';
    src: url('../../css/font/KangxiDictU8361.woff') format('woff'), url('../../css/font/KangxiDictU8361.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
