@font-face {
    font-family: 'KangxiDictU62FC';
    src: url('../../css/font/KangxiDictU62FC.woff') format('woff'), url('../../css/font/KangxiDictU62FC.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
