@font-face {
    font-family: 'KangxiDictU91D0';
    src: url('../../css/font/KangxiDictU91D0.woff') format('woff'), url('../../css/font/KangxiDictU91D0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
