@font-face {
    font-family: 'KangxiDictU912F';
    src: url('../../css/font/KangxiDictU912F.woff') format('woff'), url('../../css/font/KangxiDictU912F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
