@font-face {
    font-family: 'KangxiDictU6970';
    src: url('../../css/font/KangxiDictU6970.woff') format('woff'), url('../../css/font/KangxiDictU6970.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
