@font-face {
    font-family: 'KangxiDictU6578';
    src: url('../../css/font/KangxiDictU6578.woff') format('woff'), url('../../css/font/KangxiDictU6578.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
