@font-face {
    font-family: 'KangxiDictU7ECB';
    src: url('../../css/font/KangxiDictU7ECB.woff') format('woff'), url('../../css/font/KangxiDictU7ECB.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
