@font-face {
    font-family: 'KangxiDictU9E8C';
    src: url('../../css/font/KangxiDictU9E8C.woff') format('woff'), url('../../css/font/KangxiDictU9E8C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
