@font-face {
    font-family: 'KangxiDictU5EA0';
    src: url('../../css/font/KangxiDictU5EA0.woff') format('woff'), url('../../css/font/KangxiDictU5EA0.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
