@font-face {
    font-family: 'KangxiDictU6474';
    src: url('../../css/font/KangxiDictU6474.woff') format('woff'), url('../../css/font/KangxiDictU6474.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
