@font-face {
    font-family: 'KangxiDictU843F';
    src: url('../../css/font/KangxiDictU843F.woff') format('woff'), url('../../css/font/KangxiDictU843F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
