@font-face {
    font-family: 'KangxiDictU7561';
    src: url('../../css/font/KangxiDictU7561.woff') format('woff'), url('../../css/font/KangxiDictU7561.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
