@font-face {
    font-family: 'KangxiDictU4E60';
    src: url('../../css/font/KangxiDictU4E60.woff') format('woff'), url('../../css/font/KangxiDictU4E60.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
