@font-face {
    font-family: 'KangxiDictU6358';
    src: url('../../css/font/KangxiDictU6358.woff') format('woff'), url('../../css/font/KangxiDictU6358.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
