@font-face {
    font-family: 'KangxiDictU9B94';
    src: url('../../css/font/KangxiDictU9B94.woff') format('woff'), url('../../css/font/KangxiDictU9B94.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
