@font-face {
    font-family: 'KangxiDictU9347';
    src: url('../../css/font/KangxiDictU9347.woff') format('woff'), url('../../css/font/KangxiDictU9347.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
