@font-face {
    font-family: 'KangxiDictU5468';
    src: url('../../css/font/KangxiDictU5468.woff') format('woff'), url('../../css/font/KangxiDictU5468.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
