@font-face {
    font-family: 'KangxiDictU77A1';
    src: url('../../css/font/KangxiDictU77A1.woff') format('woff'), url('../../css/font/KangxiDictU77A1.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
