@font-face {
    font-family: 'KangxiDictU6655';
    src: url('../../css/font/KangxiDictU6655.woff') format('woff'), url('../../css/font/KangxiDictU6655.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
