@font-face {
    font-family: 'KangxiDictU6911';
    src: url('../../css/font/KangxiDictU6911.woff') format('woff'), url('../../css/font/KangxiDictU6911.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
