@font-face {
    font-family: 'KangxiDictU5047';
    src: url('../../css/font/KangxiDictU5047.woff') format('woff'), url('../../css/font/KangxiDictU5047.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
