@font-face {
    font-family: 'KangxiDictU952F';
    src: url('../../css/font/KangxiDictU952F.woff') format('woff'), url('../../css/font/KangxiDictU952F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
