@font-face {
    font-family: 'KangxiDictU95D8';
    src: url('../../css/font/KangxiDictU95D8.woff') format('woff'), url('../../css/font/KangxiDictU95D8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
