@font-face {
    font-family: 'KangxiDictU7015';
    src: url('../../css/font/KangxiDictU7015.woff') format('woff'), url('../../css/font/KangxiDictU7015.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
