@font-face {
    font-family: 'KangxiDictU9EC8';
    src: url('../../css/font/KangxiDictU9EC8.woff') format('woff'), url('../../css/font/KangxiDictU9EC8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
