@font-face {
    font-family: 'KangxiDictU791C';
    src: url('../../css/font/KangxiDictU791C.woff') format('woff'), url('../../css/font/KangxiDictU791C.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
