@font-face {
    font-family: 'KangxiDictU5870';
    src: url('../../css/font/KangxiDictU5870.woff') format('woff'), url('../../css/font/KangxiDictU5870.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
