@font-face {
    font-family: 'KangxiDictU5FE3';
    src: url('../../css/font/KangxiDictU5FE3.woff') format('woff'), url('../../css/font/KangxiDictU5FE3.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
