@font-face {
    font-family: 'KangxiDictU810A';
    src: url('../../css/font/KangxiDictU810A.woff') format('woff'), url('../../css/font/KangxiDictU810A.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
