@font-face {
    font-family: 'KangxiDictU5DCA';
    src: url('../../css/font/KangxiDictU5DCA.woff') format('woff'), url('../../css/font/KangxiDictU5DCA.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
