@font-face {
    font-family: 'KangxiDictU4ED8';
    src: url('../../css/font/KangxiDictU4ED8.woff') format('woff'), url('../../css/font/KangxiDictU4ED8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
