@font-face {
    font-family: 'KangxiDictU8F90';
    src: url('../../css/font/KangxiDictU8F90.woff') format('woff'), url('../../css/font/KangxiDictU8F90.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
