@font-face {
    font-family: 'KangxiDictU8217';
    src: url('../../css/font/KangxiDictU8217.woff') format('woff'), url('../../css/font/KangxiDictU8217.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
