@font-face {
    font-family: 'KangxiDictU7EA7';
    src: url('../../css/font/KangxiDictU7EA7.woff') format('woff'), url('../../css/font/KangxiDictU7EA7.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
