@font-face {
    font-family: 'KangxiDictU5FB8';
    src: url('../../css/font/KangxiDictU5FB8.woff') format('woff'), url('../../css/font/KangxiDictU5FB8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
