@font-face {
    font-family: 'KangxiDictU5235';
    src: url('../../css/font/KangxiDictU5235.woff') format('woff'), url('../../css/font/KangxiDictU5235.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
