@font-face {
    font-family: 'KangxiDictU5A37';
    src: url('../../css/font/KangxiDictU5A37.woff') format('woff'), url('../../css/font/KangxiDictU5A37.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
