@font-face {
    font-family: 'KangxiDictUFAA8';
    src: url('../../css/font/KangxiDictUFAA8.woff') format('woff'), url('../../css/font/KangxiDictUFAA8.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
