@font-face {
    font-family: 'KangxiDictU5040';
    src: url('../../css/font/KangxiDictU5040.woff') format('woff'), url('../../css/font/KangxiDictU5040.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
