@font-face {
    font-family: 'KangxiDictU7551';
    src: url('../../css/font/KangxiDictU7551.woff') format('woff'), url('../../css/font/KangxiDictU7551.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
