@font-face {
    font-family: 'KangxiDictU5A28';
    src: url('../../css/font/KangxiDictU5A28.woff') format('woff'), url('../../css/font/KangxiDictU5A28.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
