@font-face {
    font-family: 'KangxiDictUF940';
    src: url('../../css/font/KangxiDictUF940.woff') format('woff'), url('../../css/font/KangxiDictUF940.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
