@font-face {
    font-family: 'KangxiDictUFAB4';
    src: url('../../css/font/KangxiDictUFAB4.woff') format('woff'), url('../../css/font/KangxiDictUFAB4.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
