@font-face {
    font-family: 'KangxiDictU9650';
    src: url('../../css/font/KangxiDictU9650.woff') format('woff'), url('../../css/font/KangxiDictU9650.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
