@font-face {
    font-family: 'KangxiDictU56BF';
    src: url('../../css/font/KangxiDictU56BF.woff') format('woff'), url('../../css/font/KangxiDictU56BF.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
