@font-face {
    font-family: 'KangxiDictU894D';
    src: url('../../css/font/KangxiDictU894D.woff') format('woff'), url('../../css/font/KangxiDictU894D.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
