@font-face {
    font-family: 'KangxiDictU7A67';
    src: url('../../css/font/KangxiDictU7A67.woff') format('woff'), url('../../css/font/KangxiDictU7A67.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
