@font-face {
    font-family: 'KangxiDictU509F';
    src: url('../../css/font/KangxiDictU509F.woff') format('woff'), url('../../css/font/KangxiDictU509F.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
